
<div class="login-logo">
    <img src="assets/images/landing.png" />
</div>
<div class="container-flex">

    <div class="ui-g-4 ui-g-offset-4 ui-jumbotron">
        
        <form name="form" (ngSubmit)="recuperarPassword()" role="form">
            <div class="ui-g">
                    <h3>Ingrese su email de acceso al sistema</h3>
            </div>
            <div class="ui-g">
                    
                <div class="ui-inputgroup  ui-g-12">
                        <span class="ui-inputgroup-addon"><i class="fa fa-at"></i></span>
                        <input type="text" name="username" id="username" pInputText placeholder="Email" [(ngModel)]="email" required>         
                </div>
            </div>
            <div class="ui-g form-actions">
                       
                <div class="content pull-right ui-g-12">
                        <a routerLink="/login" label="Volver" pButton class="ui-button-secondary"></a>
                    <button type="submit" pButton class="ui-button-success" label="Acceder" [disabled]="!this.email || loading"></button>
                </div>
            </div>


        </form>

               <div *ngIf="mailEnviado">
            <h3 class="text-center" *ngIf="mailEnviado">
                Se ha enviado un email de recuperación a su casilla, por favor revise su correo.
            </h3>
            <a routerLink="/login" class="ui-button-secondar pull-right">Volver</a>
        </div>
    </div>
</div>
<div class="login-footer ">
    <div class="text-center">
        <a href="http://www.thinkup.com.ar" target="_blank">Powered By ThinkUp
        </a>
    </div>
</div>

