<div class="content has-header">
    
    <div class="ui-header">
        <h3>{{ titulo }}</h3>

    </div>

    <div class="ui-fluid" (keypress)="keyPressHandler($event)">
        <form #asientoForm="ngForm">
            <div class="ui-g ui-fluid">
                <div class="ui-g-8 ui-md-12">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-2 required">
                            <label for="fecha">Fecha</label>
                        </div>
                        <div class="ui-g-3">
                            <p-calendar [styleClass]="'print-hide'" tabindex="1" [showIcon]="true" [disabled]="!editable" [(ngModel)]="asiento.fecha" dateFormat="dd/mm/yy" name="fecha"></p-calendar>
                            <span class="print-only">{{asiento.fecha | date:'dd/MM/yyyy HH:mm'}}</span>
                        </div>
                        <div class="ui-g-2">
                            <label for="responsable">Responsable</label>
                        </div>
                        <div class="ui-g-3">
                            <input tabindex="3" [ngModel]="asiento.responsable" type="text" name="responsable" readonly pInputText> </div>

                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-2 required">
                            <label for="descripcion">Descripción</label>
                        </div>
                        <div class="ui-g-8">
                            <input tabindex="2" [disabled]="!editable" placeholder="Ingrese una descripción" [(ngModel)]="asiento.descripcion" type="text"
                                name="descripcion" pInputText required> </div>
                    </div>
                </div>

            </div>

           <div class="ui-g-12"  #container>
                <div class="ui-g ui-widget-header thead-default print-hide">
                    <div class="ui-g-2 label">
                        <h4>Operaciones</h4>
                    </div>
                    <div class=" ui-g-offset-8 ui-g-2 pull-right" tabindex="4" *ngIf="editable">
                        <button [disabled]="!editable" type="button" pButton class="" (click)="agregarNuevaOperacion()" label="Nueva operación"
                            icon="fa fa-plus"></button>
                    </div>
                </div>
                <p-dataTable [(value)]="asiento.operaciones"   [emptyMessage]="'Sin operaciones'">
                    <p-column [style]="{'width':'15%'}" field="centroCosto" header="Csto. *">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <p-autoComplete #autoFocus [dataKey]="'codigo'" field="descripcion" [dropdown]="true" [disabled]="!editable" placeholder="Elija un Centro"
                                [styleClass]="'print-hide'"
                                [ngModelOptions]="{standalone:true}" (completeMethod)="filtrarCentros($event)" (focusout)="autoselectCentro(op)"
                                (onSelect)=cambioCentro($event,op) pTooltip="{{op.centroCosto? op.centroCosto.descripcion : ''}}"
                                [appendTo]="container" [(ngModel)]="op.centroCosto" [suggestions]="centrosSugeridos" (onChange)="cambioCentro($event,op)"></p-autoComplete>
                                <span class="print-only" *ngIf="op.centroCosto">{{op.centroCosto.codigo}} </span>
                            </ng-template>
                        
                    </p-column>
                    <p-column [style]="{'width':'20%'}" field="cuenta" header="Cuenta *">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <p-autoComplete [dataKey]="'codigo'" field="descripcion" [dropdown]="true" [disabled]="!editable" placeholder="Elija una Cuenta"
                                *ngIf=" op.centroCosto" [ngModelOptions]="{standalone:true}" [(ngModel)]="op.cuenta" (completeMethod)="filtrarCuentas(op,$event)"
                                (focusout)="autoselectCuenta(op)" [suggestions]="cuentasSugeridas" pTooltip="{{op.cuenta? op.cuenta.descripcion : ''}}"
                                [appendTo]="container" [style]="{'width':'100%'}"
                                [styleClass]="'print-hide'"></p-autoComplete>
                                <span class="print-only" *ngIf="op.cuenta">{{op.cuenta.descripcion}} </span>
                        </ng-template>

                    </p-column>
                    <p-column [style]="{'width':'19%'}" header="Detalle *" field="descripcion">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <input class="print-hide" [disabled]="!editable" [(ngModel)]="op.descripcion" [ngModelOptions]="{standalone:true}" required/>
                            <span class="print-only">{{op.descripcion}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'center','width':'18%'}" header="Debe" field="debe">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <div class="ui-g  print-hide">
                                <div class="ui-g-1 ">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="ui-g-11">
                                    <input type="number" [(ngModel)]="op.debe" [disabled]="op.haber > 0 || !editable" [ngModelOptions]="{standalone:true}" />
                                </div>
                            </div>
                            <span *ngIf="op.debe > 0" class="print-only">{{op.debe | currency :'USD':'symbol-narrow'}} </span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'center','width':'18%'}" header="Haber">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <div class="ui-g  print-hide">
                                <div class="ui-g-1">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <div class="ui-g-11">
                                    <input type="number" [(ngModel)]="op.haber" [disabled]="op.debe > 0 || !editable" [ngModelOptions]="{standalone:true}" />
                                </div>
                            </div>
                            <span *ngIf="op.haber > 0" class="print-only">{{op.haber | currency :'USD':'symbol-narrow'}} </span>

                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'center','width':'15%'}" header="Comp.">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <input [disabled]="!editable" style="text-align:right" [(ngModel)]="op.comprobante" [ngModelOptions]="{standalone:true}"
                            />
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'center', 'width':'50px'}" [styleClass]="' print-hide'" >
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <button *ngIf="editable" pButton type="button" class="ui-button-danger" icon="fa-trash" (click)="asiento.quitarItem(item)"
                                title="Eliminar Operación"></button>
                        </ng-template>
                    </p-column>
                    <p-footerColumnGroup > 
                        <p-row >
                            <p-column [styleClass]="' print-hide'" footer="" colspan="3"></p-column>
                            <p-column [styleClass]="' print-hide'" footer="{{asiento.debe | currency :'USD':'symbol-narrow' }}"></p-column>
                            <p-column [styleClass]="' print-hide'" footer="{{asiento.haber | currency :'USD':'symbol-narrow' }}"></p-column>
                            <p-column [styleClass]="' print-hide'" footer="Diferencia: {{asiento.diferencia | currency :'USD':'symbol-narrow' }}" colspan="2"></p-column>
                        </p-row>
                    </p-footerColumnGroup>

                </p-dataTable>
            </div>



            <div class="ui-g-12 ui-fluid" style="margin-top:20px">
                <div class="ui-g-2 ui-g-offset-8 ">
                    <button pButton type="button" label="Cancelar" (click)='confirmarCancelar()' [disabled]="finalizado" class="ui-button-secondary"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton label="Guardar" type="button" [disabled]=" loading || finalizado" class="ui-button-success" (click)="guardarAsiento()"></button>
                </div>
            </div>
        </form>
    </div>

</div>
<p-confirmDialog header="Cancelar Asiento" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
