<div class="conflictos-alquiler">

    <div class="ui-g-12 conflicto" *ngFor="let conflicto of conflictos">

        <div class="ui-g-4 listados">
            <div class="ui-g-12 titulo">
                <span>Comparado</span>
            </div>

            <div class="listado comparado" [ngClass]="conflicto.tipo">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad titulo">
                        <span class="">{{conflicto.aComparar?.salon?.descripcion}} -
                            {{conflicto?.aComparar?.descripcion}}</span>
                    </div>
                    <div class="ui-g-12 ui-g-nopad periodo">
                        <span class="" *ngIf="conflicto?.accionATomar != 'M'">{{conflicto?.aComparar?.rango}}</span>
                    </div>


                </div>
                <!--div class="ui-g-12 ui-g-nopad precios">
                    <div class="precio ui-g ui-fluid" *ngFor="let p of conflicto?.aComparar?.precios">
                        <label class="producto" title="{{p.producto.descripcion}}">{{p.producto.descripcion}}</label>
                        <span class="valor">{{p.valor | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                    </div>

                </div-->
                <div class="ui-g-12 acciones" *ngIf="conflicto?.acciones">
                    <p-selectButton [options]="conflicto.acciones" [(ngModel)]="conflicto.accionATomar">
                    </p-selectButton>
                </div>

            </div>
        </div>
        <div class="ui-g-8 listados">
            <div class="ui-g-12 titulo"> <span>Conflictos</span></div>

            <div class="listado " *ngFor="let c of conflicto.conflictos">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad titulo">
                        <span class="">{{c.salon?.descripcion}} - {{c.descripcion}}</span>
                    </div>
                    <div class="ui-g-12 ui-g-nopad periodo">
                        <span class="">{{c.rango}}</span>
                    </div>

                </div>
                <!---div class="ui-g-12 ui-g-nopad precios">
                    <div class="precio ui-g ui-fluid" *ngFor="let p of c.precios">
                        <label class="producto" title="{{p.producto.descripcion}}">{{p.producto.descripcion}}</label>
                        <span class="valor">{{p.valor | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                    </div>

                </div>
                <div class="ui-g-12 dummy">

                </div-->

            </div>
        </div>
        <div class="ui-g-12 buttons">
            <button pButton label="Cancelar" (click)="cancelar()"></button><button pButton label="Procesar"
                (click)="procesarCambios()"></button>
        </div>
    </div>
</div>