<div class="impresion-alquiler">
    <div class="titulo ui-g-12" *ngIf="listado">
        <div class="ui-g-6 ui-g-nopad">
            <h3>{{listado.descripcion}}</h3>
        </div>
        <div class="ui-g-6  ui-g-nopad text-right">
            <h3>Vigentes desde el {{now | date : 'dd/MM/yyyy'}}</h3>
        </div>
    </div>
    <div class="contenido" *ngIf="listado">
        <div class="ui-g-12 year" *ngFor="let y of years">
            <div class="section" *ngIf="listado.getProductos('S').length >0">
                <div class="ui-g-12 year-header">
                    <span>Eventos Sociales y Corporativos</span>
                </div>
                <div class="ui-g-12 producto precios" *ngFor="let prod of listado.getProductos('S')">

                    <div class="text-center header-grilla">
                        <span>{{prod?.descripcion}}</span>
                    </div>
                    <div *ngFor="let precio of y.preciosSocial; let i = index "
                        [ngStyle]="{'grid-column': precio.col, 'grid-row': precio.row}" class="celda">

                        <div class="{{'celda-valor ' + precio.class}}">
                            <span *ngIf="precio.label">{{precio?.label}}</span>
                            <span *ngIf="!precio.label"
                                class="valores">{{precio.valor  | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                        </div>


                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <span class="dummy"></span>
            </div>
            <div class="section" *ngIf="listado.getProductos('J').length >0">
                <div class="ui-g-12 year-header">
                    <span>Jornadas de Trabajo - Días de Semana de 8 a 17 hs</span>
                </div>
                <div class="ui-g-12 producto precios jornada" *ngFor="let prod of listado.getProductos('J')"
                    [ngStyle]="{'grid-template-columns': y.colsTemplate}">

                    <div class="text-center header-grilla">
                        <span>{{prod?.descripcion}}</span>
                    </div>
                    <div *ngFor="let precio of y.preciosJornada; let i = index "
                        [ngStyle]="{'grid-column': precio.col, 'grid-row': precio.row}" class="celda">

                        <div class="{{'celda-valor ' + precio.class}}">
                            <span *ngIf="precio.label">{{precio?.label}}</span>
                            <span *ngIf="!precio.label"
                                class="valores">{{precio.valor  | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                        </div>


                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="ui-g-12 text-center" *ngIf="!listado">
        <span>No existe el listado buscado</span>
    </div>
</div>