<div class="content">
    <div class="ui-g-8 ui-g-nopad">
        <div class="ui-widget-header thead-default">
            <div class="ui-g">
                <div class="ui-g-10">
                    <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                </div>
                <div class="ui-g-2">
                    <button pButton label="Nuevo" icon="fa-plus" class="" (click)="nuevoItem()"></button>
                </div>
            </div>
        </div>

        <p-dataTable [value]="items" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" [responsive]="true"
            [globalFilter]="gb" [emptyMessage]="'Sin Escalas'">
        
            <p-column [style]="{'width':'25%', 'text-align':'center'}" field="centro.descripcion" header="Centro ">
                </p-column>
            
            <p-column [style]="{'width':'20%', 'text-align':'center'}" field="desde" header="Cantidad Cubiertos Desde ">
            </p-column>
            <p-column [style]="{'width':'20%', 'text-align':'center'}" field="hasta" header="Hasta">
            </p-column>
            <p-column [style]="{'width':'25%', 'text-align':'right'}" field="premio" header="Premio">
                <ng-template let-col let-item="rowData" pTemplate="codigo">
                    {{item.premio | currency : 'USD' : 'symbol-narrow'}}
                </ng-template>
            </p-column>

            <p-column [style]="{'width':'10%', 'text-align':'center'}" field="direccionCompleta" header="Acciones">
                <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                    <button pButton icon="fa-pencil" (click)="editarItem(item)" title="Editar"></button>
                    <button pButton class="ui-button-danger" icon="fa-trash" (click)="eliminar(item)" title="Borrar"></button>
                </ng-template>
            </p-column>
        </p-dataTable>


    </div>
</div>

<p-dialog header="Escala" [(visible)]="editandoItem" [width]="400" [appendTo]="'body'" [modal]="true">
    <div class="ui-g-12" *ngIf="itemEditado">
        <gestion-escala-comisiones [escalas]="items" [(item)]="itemEditado" [editable]="editandoItem" (onCancelar)="cancelarEdicionItem($event)" (onGuardar)="itemGuardado($event)"></gestion-escala-comisiones>
    </div>
</p-dialog>

<p-confirmDialog [key]="'cConf'" [appendTo]="'body'" header="Confirmar" icon="fa fa-question-circle" width="425" acceptLabel="Si"
    rejectLabel="No"></p-confirmDialog>