<div class="ui-fluid">
    <div class="ui-g ui-fluid">
        <div class="ui-g-1 required">
            <label for="vendedor">Vendedor</label>
        </div>
        <div class="ui-g-2">
            <descriptivo-selector name="vendedor" required [limpiable]=false [data]="vendedores" nombre="Vendedor"
                labelClass="hide" [(ngModel)]="contrato.vendedor" [editable]="editable && !contrato.esAprobado"></descriptivo-selector>
        </div>
        <div class="ui-g-2 required pull-right">
            <label for="numeroPresupuesto">N° Presupuesto</label>
        </div>
        <div class="ui-g-2">
            <input pInputText [disabled]="!editable || contrato.esAprobado" [(ngModel)]="contrato.numeroPresupuesto"
                name="numeroPresupuesto" />
        </div>

        <div class="ui-g-2 required pull-right">
            <label for="fechaContrato">Fecha Contratación</label>
        </div>
        <div class="ui-g-2">
            <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [disabled]="!editable || contrato.esAprobado"
                [(ngModel)]="contrato.fechaContratacion" name="fechaContratacion" required> </p-calendar>
        </div>

    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-1 required">
            <label for="cliente">Cliente</label>
        </div>
        <div class="ui-g-5">
            <descriptivo-selector name="cliente" required [limpiable]=false [data]="clientes" nombre="Cliente"
                labelClass="hide" [(ngModel)]="clienteSeleccionado"></descriptivo-selector>

        </div>
        <div class="ui-g-1">
            <label for="cliente">Agasajados</label>
        </div>
        <div class="ui-g-5">
            <!--[disabled]="!editable || contrato.esAprobado"*/-->
            <input pInputText type="text" [(ngModel)]="contrato.agasajados" name="agasajados" />
        </div>

    </div>
</div>
<div class="ui-fluid">
    <div class="ui-g-12">
        <vista-cliente [cliente]="contrato.cliente"> </vista-cliente>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-1"> <label for="">Observaciones</label> </div>
        <div class="ui-g-11">
            <textarea class="observaciones" name="observaciones" rows="4" [(ngModel)]="contrato.observaciones"></textarea>
        </div>
    </div>
</div>