<div class="content ">

    <div class="ui-header ui-g has-header">

        <div class="ui-g-6">
            <h3>{{ titulo }}</h3>
        </div>
        <div *ngIf="!editandoLiquidacionComisiones" class="ui-g-6 pull-right">
            <p-menubar [model]="acciones"></p-menubar>

        </div>


    </div>
    <div [hidden]="editandoLiquidacionComisiones">
        <div class="ui-g ui-fluid filtros">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-1 ">
                        <label for="centro">Centro</label>
                    </div>
                    <div class="ui-g-2">
                        <descriptivo-selector name="centros" required [limpiable]=false [data]="centros" nombre="Centro"
                            labelClass="hide" [(ngModel)]="filtro.centro"></descriptivo-selector>
                    </div>
                    <div class="ui-g-1 " *ngIf="mostrarFiltrosComisionista">
                        <label for="comisionista">Comisionista</label>
                    </div>
                    <div class="ui-g-2" *ngIf="mostrarFiltrosComisionista">
                        <descriptivo-selector name="Comisionistas" required [limpiable]=false [data]="comisionistas"
                            nombre="Comisionista" labelClass="hide" [(ngModel)]="filtro.comisionista"></descriptivo-selector>
                    </div>
                    <div class="ui-g-1 ">
                        <label for="salon">Salón</label>
                    </div>
                    <div class="ui-g-2">
                        <descriptivo-selector name="salones" required [limpiable]=false [data]="salones" nombre="Salón"
                            labelClass="hide" [(ngModel)]="filtro.salon"></descriptivo-selector>
                    </div>
                </div>

                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-1">
                        <label for="fechaDesde">Desde</label>
                    </div>
                    <div class="ui-g-2">
                        <p-calendar [showIcon]="true" [maxDate]="filtro.fechaHasta" [(ngModel)]="filtro.fechaDesde"
                            dateFormat="dd/mm/yy" name="fecha"></p-calendar>
                    </div>
                    <div class="ui-g-1">
                        <label for="fechaHasta"> Hasta</label>
                    </div>
                    <div class="ui-g-2">
                        <p-calendar [showIcon]="true" [minDate]="filtro.fechaDesde" [(ngModel)]="filtro.fechaHasta"
                            dateFormat="dd/mm/yy" name="fecha"></p-calendar>
                    </div>
                    <div class="ui-g-1">
                        <button [disabled]="!filtro" pButton icon="fa fa-search" (click)="updateLiquidaciones()"></button>
                    </div>
                </div>


            </div>
        </div>
        <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">


            <div class="ui-g">

                <div class="ui-g-7">
                    <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                </div>

                <div class="ui-g-5 filter">
                    <p-checkbox name="estados_g" label="Por Pagar" value="PP" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Pendiente" value="P" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Aprobado" value="A" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Rechazado" value="R" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                </div>

            </div>
        </div>
        <p-dataTable [styleClass]="'liquidaciones'" [value]="liquidaciones" [rows]=20 [emptyMessage]="'No se encontraron Liquidaciones'"
            [globalFilter]="gb" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single"
            [(selection)]="liquidacionSeleccionada" dataKey="id" sortMode="multiple">
            <p-column [style]="{'width':'40px', 'text-align':'center'}" field="estado" header="">
                <ng-template let-col let-liquidacion="rowData" let-ri="rowIndex" pTemplate="body">
                    <span title="{{liquidacion.estado.codigo}}">
                        <i class="fa {{liquidacion.estado.codigo}}"></i>
                    </span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'5%','text-align':'center'}" field="id" header="#"></p-column>
            <p-column [style]="{'width':'8%','text-align':'center'}" field="fecha" header="Fecha" [sortable]="true">
                    <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{op.fechaFormateada }}</span>
                        </ng-template>
            </p-column>
            <p-column [style]="{'width':'25%','text-align':'center'}" field="comisionista.descripcion" header="Comisionista"
                [sortable]="true"></p-column>
            <p-column [style]="{'text-align': 'center','width':'20%'}" field="descripcion" header="Descripcion"></p-column>
            <p-column [style]="{'text-align': 'center','width':'15%'}" field="responsable.descripcion" header="Responsable"></p-column>
            <p-column [style]="{'text-align': 'right','width':'10%'}" field="importe" header="Monto">
                <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                    <span>{{op.total | currency : 'USD' : 'symbol-narrow'}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'text-align': 'center', 'width':'160px'}">
                <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                    <button *ngIf="aprobable(op)" pButton class="ui-button-success" icon="fa-check" (click)="aprobar(op)"
                        title="Aprobar Liquidación"></button>
                    <button *ngIf="rechazable(op)" pButton class="ui-button-danger" icon="fa-close" (click)="rechazar(op)"
                        title="Rechazar Liquidación"></button>
                    <button *ngIf="esEditable(op)" pButton class="" icon="fa-pencil" (click)="editar(op)" title="Editar Liquidación"></button>
                    <button *ngIf="esVisualizable(op)" pButton class="" icon="fa-eye" (click)="visualizar(op)" title="Ver Liquidación"></button>
                    <button *ngIf="eliminable(op)" pButton class="ui-button-danger" icon="fa-trash" (click)="eliminar(op)"
                        title="Eliminar Liquidación"></button>
                </ng-template>
                
            </p-column>
            <p-column [style]="{'text-align': 'center','width':'8%'}" header="Fecha Pago" field="fechaPago" [sortable]="true">
                <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                    <span>{{item.fechaPago | date : 'dd/MM/yyyy'}}</span>
                </ng-template>
            </p-column>
            <p-footerColumnGroup>
                <p-row>
                    <p-column [style]="{'text-align':'right'}" footer="Total:" colspan="7"></p-column>
                    <p-column [style]="{'text-align':'right'}" footer="{{saldo}}">
                        <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="footer">
                            <span>{{saldo | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align':'right'}" footer="" colspan="1"></p-column>
                </p-row>
            </p-footerColumnGroup>
        </p-dataTable>

        <div *ngIf="itemsLiquidacion.length > 0" class="ui-g">
            <div>
                <h4>Comisiones liquidadas</h4>
            </div>
            <div class="ui-g-12">
                <p-dataTable [value]="itemsLiquidacion" [emptyMessage]="'No hay Comisiones'">
                    <p-column [style]="{'text-align': 'center','width':'7%'}" field="pagoComision.cantidadBase" header="Cant. / %"></p-column>
                    <p-column [style]="{'text-align': 'right','width':'10%'}" header="Precio Unitario">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{item.pagoComision.precioUnitario | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'center','width':'20%'}" field="pagoComision.nombreProducto"
                        header="Descripción"></p-column>
                    <p-column [style]="{'text-align': 'right','width':'7%'}" header="% Comisión">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{item.pagoComision.porcentajeComision}} %</span>
                        </ng-template>
                    </p-column>

                    <p-column [style]="{'text-align': 'right','width':'12%'}" header="Total Comisión">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{item.pagoComision.totalComision | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'right','width':'12%'}" header="Liquidado">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{item.importe | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'right','width':'12%'}" header="Liquidado">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{item.importe | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                   
                </p-dataTable>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="currentView === 'gestion-liquidacion'">
        <gestion-liquidacion [liquidacion]="liquidacionEditada" [centroCosto]="filtro.centro" [comisionista]="filtro.comisionista"
            [editable]="editable" (onSave)="onLiquidacionComisionesGuardada()" (onCancelar)="onEdicionCancelada()">
        </gestion-liquidacion>

    </div>
    <p-confirmDialog [key]="'liqConf'" [appendTo]="'body'" header="Cancelar Edición" icon="fa fa-question-circle" width="425"
        acceptLabel="Si" rejectLabel="No"></p-confirmDialog>