<div *ngIf="visible && ordenPago">
    <form #ordenPagoForm="ngForm" (ngSubmit)="guardar()" class="">
        <div class="ui-g ui-fluid">
            <div class="ui-g-2 required">
                <label for="proveedor">Proveedor</label>
            </div>
            <div class="ui-g-4 ui-md-3">
                <descriptivo-selector name="proveedores" required [limpiable]=false [data]="proveedores" [editable]="esModificable()"
                    nombre="Proveedor" labelClass="hide" [(ngModel)]="proveedor" (onSelect)="updateFacturas()"></descriptivo-selector>
            </div>

            <div class="ui-g-2 ui-md-1 required">
                <label for="centro">Centro Csto.</label>
            </div>
            <div class="ui-g-2">
                <descriptivo-selector name="centros" required [limpiable]=false [data]="centros" [editable]="esModificable()"
                    nombre="Centro" labelClass="hide" [(ngModel)]="centroCosto" (onSelect)="updateCentro()"></descriptivo-selector>
            </div>
        </div>
        <div class="ui-g ui-fluid">

            <div class="ui-g-2 required">
                <label for="fecha">Fecha </label>
            </div>
            <div class="ui-g-2">
                <p-calendar [disabled]="!esModificable()" [showIcon]="true" [(ngModel)]="ordenPago.fecha" placeholder="dd/mm/yyyy"
                    dateFormat="dd/mm/yy" name="fecha"></p-calendar>
            </div>


        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-2 ">
                <label for="descripcion">Descripción</label>
            </div>
            <div class="ui-g-5">
                <input [disabled]="!esModificable()" placeholder="Descripción de la Orden de Pago" title="Descripción de la Orden de Pago"
                    pInputText type="text" name="descripcion" [(ngModel)]="ordenPago.descripcion" />
            </div>

        </div>

        <div class="ui-g ui-fluid">
            <div class="ui-g-2 ">
                <label for="descripcion">Pago a Cuenta</label>
            </div>

            <div class="ui-g-1">
                <i class="fa fa-dollar"></i>
            </div>
            <div class="ui-g-4">
                <input [disabled]="!esModificable()" placeholder="Pago a cuenta" title="Pago que quedará a favor del proveedor"
                    pInputText type="number" name="pagoACuenta" [(ngModel)]="ordenPago.pagoACuenta" />
            </div>


        </div>


        <div class="ui-g-12 ui-md-8 ui-g-nopad" style="margin-top:20px">
            <div class="ui-widget-header thead-default ui-g-12 ui-g-nopad">

                <div class="ui-g-6 ui-md-3 label">
                    <h4>Facturas por pagar</h4>
                </div>
                <div class="ui-g-5 print-hide">
                    <input name="gb" autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..."
                        class="form-control">
                </div>
                <div class="ui-g-4 text-right" *ngIf="esModificable()">
                    <p-checkbox [binary]="true" name="filtrarSeleccionados" [(ngModel)]="soloSeleccionados" label="Solo seleccionados"></p-checkbox>
                </div>

            </div>
            <div class="ui-g-12 ui-g-nopad ui-fluid">
                <p-dataTable [value]="items" [(selection)]="ordenPago.items" [globalFilter]="gb" dataKey="cabeceraFactura.id"
                    [paginator]="true" [rows]="20" [headerCheckboxToggleAllPages]="true" [editable]="esModificable()">
                    <p-column *ngIf="esModificable()" [style]="{'width':'38px', 'text-align':'center'}" selectionMode="multiple"></p-column>
                    <p-column [style]="{'width':'15%','text-align':'center'}" field="cabeceraFactura.fechaFormateada"
                        header="Fecha" [sortable]="true"></p-column>
                    <p-column [style]="{'width':'20%','text-align':'center'}" field="cabeceraFactura.keyDocumento"
                        header="N°"></p-column>
                    <p-column [style]="{'text-align': 'center','width':'20%'}" field="cabeceraFactura.descripcion"
                        header="Descripción"></p-column>
                    <p-column [style]="{'text-align': 'right','width':'15%'}" header="Importe">
                        <ng-template let-col let-cf="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{cf.cabeceraFactura.importe| currency :'USD':'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'right','width':'15%'}" header="Saldo">
                        <ng-template let-col let-cf="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{cf.cabeceraFactura.saldo | currency :'USD':'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'right','width':'15%'}" [editable]="true" header="{{editable?'A Pagar' : 'Pagado'}}">
                        <ng-template pTemplate="editor" let-ri="rowIndex" let-cf="rowData">
                            <input type="number" max="cf.saldo" [(ngModel)]="cf.importe" (change)="updateImporte(cf)"
                                [disabled]="!editable && cf.esNotaCredito" name="{{'cf.importe' + ri}}" />
                        </ng-template>
                        <ng-template pTemplate="body" let-ri="rowIndex" let-cf="rowData">
                            <span>{{cf.importe | currency :'USD':'symbol-narrow'}}</span>
                            <span class="error-float-right" *ngIf="editable && (cf.cabeceraFactura.saldo < cf.importe)">El
                                valor tiene que ser menor al saldo</span>
                        </ng-template>
                    </p-column>
                    <p-footerColumnGroup>
                        <p-row>
                            <p-column *ngIf="esModificable()" [style]="{'text-align':'right'}" footer="Total a Pagar:" colspan="6"></p-column>
                            <p-column *ngIf="!esModificable()" [style]="{'text-align':'right'}" footer="Total:" colspan="5"></p-column>
                            <p-column [style]="{'text-align':'right'}">
                                <ng-template pTemplate="footer">
                                    <span>{{ordenPago.getTotalItems() | currency : 'USD' : 'symbol-narrow'}}</span>
                                </ng-template>
                            </p-column>


                        </p-row>
                    </p-footerColumnGroup>
                </p-dataTable>
            </div>


        </div>


        <div class="ui-g-12 ui-md-8 ui-g-nopad" #container style="margin-top:20px">
            <div class="ui-widget-header thead-default ui-g-12 ui-g-nopad">

                <div class="ui-g-6 ui-md-2 label">
                    <h4>Pagos</h4>
                </div>

                <div class=" ui-g-offset-8 ui-g-2 pull-right" tabindex="4" *ngIf="editable && ordenPago.centroCosto">
                    <button [disabled]="!editable" type="button" pButton class="" (click)="agregarNuevoPago()" label="Nuevo Pago"
                        icon="fa fa-plus"></button>
                </div>
                <div class="ui-g-6 ui-md-10" *ngIf="editable && !ordenPago.centroCosto">
                    <span class="error">Elija un centro de costo</span>
                </div>

            </div>
            <div class="ui-g-12 ui-g-nopad">
                <p-dataTable [editable]="editable" [(value)]="ordenPago.pagos" [emptyMessage]="'No hay pagos registrados'">

                    <p-column [style]="{'width':'17%'}" field="tipoOperacion" header="Tipo Pago*">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <div class="ui-g-12 ui-fluid" *ngIf="editable">
                                <p-dropdown [dataKey]="'codigo'" [disabled]="!editable" placeholder="Elija un tipo Pago"
                                    [ngModelOptions]="{standalone:true}" [(ngModel)]="op.tipoOperacion" (onChange)="updateTipoPago(op)"
                                    [options]="tiposPago" [autoWidth]="false"></p-dropdown>
                            </div>
                            <span *ngIf="!editable">{{op.tipoOperacion.descripcion}}</span>
                        </ng-template>


                    </p-column>

                    <p-column [style]="{'width':'30%'}" field="cuenta" header="Cuenta*">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <div class="ui-g-12 ui-fluid" *ngIf="editable">
                                <p-dropdown [dataKey]="'codigo'" [disabled]="!editable" placeholder="Elija una Cuenta"
                                    [ngModelOptions]="{standalone:true}" [(ngModel)]="op.cuenta" [options]="getCuentas(op.tipoOperacion)"
                                    [autoWidth]="false"></p-dropdown>

                            </div>
                            <span *ngIf="!editable">{{op.cuenta.descripcion}}</span>
                        </ng-template>

                    </p-column>

                    <p-column [style]="{'width':'40%'}" field="comprobante" header="Cheque">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <div class="ui-g ui-fluid" *ngIf="op.tipoOperacion.codigo != 'E'">
                                <div class="ui-g-12 ">
                                    <p-autoComplete *ngIf="editable" [dataKey]="'id'" field="descripcion" [dropdown]="true"
                                        placeholder="Elija un Cheque" [ngModelOptions]="{standalone:true}"
                                        (completeMethod)="filtrarCheques($event)" (focusout)="autoselectCheque(op)"
                                        (onSelect)="updateCheque(op)" pTooltip="{{op.comprobante? op.comprobante.descripcion : ''}}"
                                        [appendTo]="container" [(ngModel)]="op.comprobante" [suggestions]="chequesSugeridos | chequesByTipo:op.tipoOperacion.codigo"></p-autoComplete>
                                    <span *ngIf="!editable">{{op.comprobante.descripcion}}</span>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-6" *ngIf="op.comprobante">
                                        <p-calendar *ngIf="editable" [disabled]="!editable" [(ngModel)]="op.comprobante.fechaEmision"
                                            name="{{'cheque_fechaEmision_' + ri}}" placeholder="Fecha Emisión"
                                            dateFormat="dd/mm/yy" name="fecha"></p-calendar>
                                        <span *ngIf="!editable">Emisión {{op.comprobante.fechaEmision | date :
                                            'd/M/yy'}}</span>
                                    </div>
                                    <div class="ui-g-6" *ngIf="op.comprobante">
                                        <p-calendar *ngIf="editable" [disabled]="!editable" [(ngModel)]="op.comprobante.fechaPago"
                                            name="{{'cheque_fechaPago_' + ri}}" placeholder="Fecha Pago" dateFormat="dd/mm/yy"
                                            name="fecha"></p-calendar>
                                        <span *ngIf="!editable">Pago {{op.comprobante.fechaPago | date : 'd/M/yy'}}</span>
                                    </div>
                                </div>
                            </div>




                        </ng-template>

                    </p-column>
                    <p-column [style]="{'width':'15%', 'text-align':'right'}" header="Importe" [editable]="true">
                        <ng-template let-col let-op="rowData" pTemplate="body">
                            <span>{{op.monto | currency : 'USD':'symbol-narrow'}}</span>
                        </ng-template>
                        <ng-template let-col let-op="rowData" pTemplate="editor">
                            <input [disabled]="!editable || (op.comprobante && op.tipoOperacion.codigo !== 'P')"
                                pIntputText [(ngModel)]="op.monto" type="number" [ngModelOptions]="{standalone:true}" />
                        </ng-template>

                    </p-column>
                    <p-column [style]="{'text-align': 'center', 'width':'5%'}" *ngIf="editable">
                        <ng-template let-col let-pago="rowData" let-ri="rowIndex" pTemplate="body">
                            <button type="button" *ngIf="editable" pButton class="ui-button-danger" icon="fa-trash"
                                (click)="ordenPago.quitarPago(pago)" title="Eliminar Pago"></button>
                        </ng-template>
                    </p-column>
                    <p-footerColumnGroup>
                        <p-row>
                            <p-column [style]="{'text-align':'right'}" footer="Total Pagos:" colspan="3"></p-column>
                            <p-column *ngIf="!editable" [style]="{'text-align':'right'}" colspan="1">
                                <ng-template let-col let-op="rowData" pTemplate="footer">
                                    <span>{{ordenPago.totalPagos | currency : 'USD':'symbol-narrow'}}</span>
                                </ng-template>

                            </p-column>
                            <p-column *ngIf="editable" [style]="{'text-align':'right'}" colspan="2">
                                <ng-template let-col let-op="rowData" pTemplate="footer">
                                    <span>{{ordenPago.totalPagos | currency : 'USD':'symbol-narrow'}}</span>
                                </ng-template>

                            </p-column>
                        </p-row>
                    </p-footerColumnGroup>
                </p-dataTable>
            </div>
        </div>

        <div class="ui-g-12 ui-md-8 ui-widget-header thead-default totales  ui-g-nopad">

            <div class="ui-g-2 ui-g-offset-6 ">
                <h4>TOTAL</h4>
            </div>
            <div class="ui-g-4 pull-right importe">
                <h4>{{ordenPago.total | currency :'USD':'symbol-narrow' }}</h4>
                <span class="error" *ngIf="editable && !pagosValidos()">Los pagos no suman el total a pagar</span>
            </div>


        </div>
        <div class="ui-g-8 ui-g ui-fluid" style="margin-top:20px">
            <div class="ui-g-2 ui-g-offset-8 " *ngIf="editable">
                <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()'
                    class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-2 ui-g-offset-8 " *ngIf="!editable">
                <button pButton type="button" [disabled]="finalizado" label="Volver" (click)='volver()' class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-2">
                <button pButton label="Guardar" type="submit" [disabled]="!ordenPagoForm.form.valid || 
                    ordenPago.total < 0 || 
                    !pagosValidos() || 
                    finalizado || !editable"
                    class="ui-button-success"></button>
            </div>
        </div>
    </form>
</div>