<div class="content">

      
        <div class="ui-g-8 ui-g-nopad" >
            <div class="ui-widget-header thead-default">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                    </div>
                    <div class="ui-g-2">
                            <button pButton label="Nuevo" icon="fa-plus" class="" (click)="nuevoItem()"></button>
                    </div>
                </div>
            </div>
    
            <p-dataTable [value]="items" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" [responsive]="true"
                [globalFilter]="gb" [emptyMessage]="'Sin Items'">
                <p-column [style]="{'width':'10%', 'text-align':'center'}" field="estado" header="Estado">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <i class="fa fa-check ui-success" *ngIf="item.habilitado" title="Habilitado"></i>
                                <i class="fa fa-close ui-danger" *ngIf="!item.habilitado" title="Deshabilitado"></i>
                            </ng-template>
                </p-column>
                <p-column [style]="{'width':'20%', 'text-align':'center'}" field="codigo" header="Código" [sortable]="true">
                    <ng-template let-col let-item="rowData" pTemplate="codigo">
                        {{item.codigo}}
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'50%', 'text-align':'left'}" field="nombre" header="Descripción" [sortable]="true">
                    <ng-template let-col let-item="rowData" pTemplate="nombre">
                        {{item.descripcion}}
                    </ng-template>
                </p-column>
               
                <p-column [style]="{'width':'20%', 'text-align':'center'}" field="acciones" header="Acciones">
                    <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                        <button pButton icon="fa-pencil" (click)="editarItem(item)" title="Editar"></button>
                        <button pButton [disabled]="!item.habilitado || item.esSistema" class="ui-button-danger" icon="fa-trash" (click)="eliminar(item)" title="Borrar"></button>
                        <button pButton [disabled]="item.habilitado" class="ui-button-success" icon="fa-check-square" (click)="habilitar(item)" title="Habilitar"></button>
                    </ng-template>
                </p-column>
            </p-dataTable>
    
    
        </div>
    </div>
    <p-dialog header="Tipo de Evento" [(visible)]="editandoItem" [width]="400" [appendTo]="'body'" [modal]="true">
            <div class="ui-g-12" *ngIf="itemEditado">
                    <gestion-tipo-evento [(item)]="itemEditado" [editable]="editandoItem" (onCancelar)="cancelarEdicionItem($event)"
                        (onGuardar)="itemGuardado($event)"></gestion-tipo-evento>
                </div>
    </p-dialog>
    
    <p-confirmDialog [key] ="'teConf'" [appendTo]="'body'" header="Confirmar" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>