<div class="content has-header">
    
    <div class="ui-header ui-g">

        <div class="ui-g-6">
            <h3>{{ titulo }}</h3>
        </div>
        <div *ngIf="!editandoFactura" class="ui-g-6 pull-right">
            <button pButton label="Nueva Factura" icon="fa-plus" class="" (click)="nuevaFactura()"></button>
        </div>

    </div>
    <div [hidden] ="editandoFactura">
            <div class="ui-g ui-fluid filtros">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-1 " *ngIf="mostrarfiltrosProveedor">
                            <label for="proveedor">Proveedor</label>
                        </div>
                        <div class="ui-g-2" *ngIf="mostrarfiltrosProveedor">
                            <descriptivo-selector name="proveedores" required [limpiable]=false [data]="proveedores" nombre="Proveedor" labelClass="hide"
                                [(ngModel)]="filtro.proveedor"></descriptivo-selector>
                        </div>
                        <div class="ui-g-1 ">
                            <label for="centro">Centro</label>
                        </div>
                        <div class="ui-g-2">
                            <descriptivo-selector name="centros" required [limpiable]=false [data]="centros" nombre="Centro" labelClass="hide" [(ngModel)]="filtro.centro"></descriptivo-selector>
                        </div>
                        <div class="ui-g-1">
                            <label for="fechaDesde">Desde</label>
                        </div>
                        <div class="ui-g-1" style="width: 12%">
                            <p-calendar [showIcon]="true" [maxDate]="filtro.fechaHasta" [(ngModel)]="filtro.fechaDesde" dateFormat="dd/mm/yy" name="fecha"></p-calendar>
                        </div>
                        <div class="ui-g-1">
                            <label for="fechaHasta"> Hasta</label>
                        </div>
                        <div class="ui-g-1" style="width: 12%">
                            <p-calendar [showIcon]="true" [minDate]="filtro.fechaDesde"  [(ngModel)]="filtro.fechaHasta" dateFormat="dd/mm/yy"
                                name="fecha"></p-calendar>
                        </div>
                        <div class="ui-g-1">
                            <button [disabled]="!filtro.centro" pButton icon="fa fa-search" (click)="updateFacturas()"></button>
                        </div>
        
                    </div>
                </div>
        <div class="ui-widget-header  thead-default" style="padding:4px 10px;border-bottom: 0 none">
                <div class="ui-g">

                        <div class="ui-g-8">
                            <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                        </div>
        
                        <div class="ui-g-4 filter">
                            <p-checkbox name="estados_g" label="Pendiente" value="P" (onChange)="filtrar($event)" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                            <p-checkbox name="estados_g" label="Aprobado" value="A" (onChange)="filtrar($event)" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                            <p-checkbox name="estados_g" label="Rechazado" value="R" (onChange)="filtrar($event)" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                        </div>
        
                    </div>
        </div>
        <p-dataTable [value]="facturas" [rows]=20 [emptyMessage]="'No se encontraron facturas'" [globalFilter]="gb" [paginator]="true"
            [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" >
            <p-column [style]="{'width':'40px', 'text-align':'center'}" header="">
                <ng-template let-col let-factura="rowData" let-ri="rowIndex" pTemplate="body">
                    <span title="{{factura.tipoComprobante.descripcion}}">
                        <span >{{factura.tipoComprobante.codigo.substring(0,2)}}</span>
                    </span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'40px', 'text-align':'center'}" field="estado" header="">
                <ng-template let-col let-factura="rowData" let-ri="rowIndex" pTemplate="body">
                    <span title="{{factura.estado}}">
                        <i class="fa {{factura.estado}}"></i>
                    </span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'10%','text-align':'center'}" field="centro.codigo" header="Centro" [sortable]="true"></p-column>
            <p-column [style]="{'width':'15%','text-align':'center'}" field="proveedor.descripcion" header="Proveedor" [sortable]="true">
                <ng-template let-factura="rowData" pTemplate="body">
                    <div class="ui-g-12 overflow">
                        <span>{{factura.proveedor.descripcion}}</span>
                    </div>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'15%','text-align':'center'}" field="fecha" header="Fecha" [sortable]="true">
                <ng-template let-col let-factura="rowData" let-ri="rowIndex" pTemplate="body">
                    <span >{{factura.fechaFormateada}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'15%','text-align':'center'}" field="numero" header="N°"></p-column>
            <p-column [style]="{'text-align': 'center','width':'30%'}" field="descripcion" header="Descripción"></p-column>
            <p-column [style]="{'text-align': 'right','width':'15%'}" field="importe" header="Importe">
                <ng-template pTemplate="body" let-fact="rowData">
                    <span>{{fact.importe | currency :'USD':'symbol-narrow'}}</span>
                </ng-template>
            </p-column>
            <p-column  [style]="{'text-align': 'right','width':'15%'}" field="saldo" header="Pagos">
                <ng-template pTemplate="body" let-fact="rowData">
                    <span>{{fact.importe - fact.saldo | currency :'USD':'symbol-narrow'}}</span>
                </ng-template>
            </p-column>
            <p-column  [style]="{'text-align': 'right','width':'15%'}" field="saldo" header="Saldo">
                    <ng-template pTemplate="body" let-fact="rowData">
                        <span>{{fact.saldo | currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
            <p-column [style]="{'text-align': 'center', 'width':'160px'}">
                <ng-template let-col let-fact="rowData" let-ri="rowIndex" pTemplate="body">
                    <button *ngIf="aprobable(fact)" pButton class="ui-button-success" icon="fa-check" (click)="aprobar(fact)" title="Aprobar Factura"></button>
                    <button *ngIf="rechazable(fact)" pButton class="ui-button-danger" icon="fa-close" (click)="rechazar(fact)" title="Rechazar Factura"></button>
                    <button *ngIf="esEditable(fact)" pButton class="" icon="fa-pencil" (click)="editar(fact)" title="Editar Factura"></button>
                    <button *ngIf="esVisualizable(fact)" pButton class="" icon="fa-eye" (click)="editar(fact)" title="Ver Factura"></button>
                    <button *ngIf="eliminable(fact)" pButton class="ui-button-danger" icon="fa-trash" (click)="eliminar(fact)" title="Eliminar Factura"></button>
                </ng-template>
            </p-column>
            <p-footerColumnGroup>
                <p-row>
                    <p-column [style]="{'text-align':'right'}" footer="Total:" colspan="8"></p-column>
                    <p-column [style]="{'text-align':'right'}" >
                            <ng-template pTemplate="footer">
                                <span>{{pagosTotal | currency : 'USD':'symbol-narrow'}}</span>
                            </ng-template>
                        </p-column>
                    <p-column [style]="{'text-align':'right'}" >
                        <ng-template pTemplate="footer">
                            <span>{{saldo | currency : 'USD':'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align':'right'}" footer="" colspan="1"></p-column>
                </p-row>
            </p-footerColumnGroup>
        </p-dataTable>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="editandoFactura">
        <gestion-factura [cabeceraFactura]="facturaEditada" [proveedorSeleccionado]="filtro.proveedor" 
        [centroCosto] ="filtro.centro" [(visible)]="editandoFactura" (onFacturaGuardada)="onFacturaGuardada()"
            (onCancelar)="onEdicionCancelada()">
        </gestion-factura>
       
    </div>
    
    <p-confirmDialog [key]="'fConf'" [appendTo] ="'body'" header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>