<div class="content ">

    <div class="ui-header ui-g has-header">

        <div class="ui-g-6">
            <h3>{{ titulo }}</h3>
        </div>
        <div *ngIf="!editandoOrdenPago && currentView === 'ops-lista'" class="ui-g-6 pull-right">
            <button pButton label="Nueva Orden de Pago" icon="fa-plus" class="" (click)="nuevaOrdenPago()"></button>

        </div>
    </div>

    <div [hidden]="editandoOrdenPago  ||  currentView !=='ops-lista'">
        <div class="ui-g ui-fluid filtros">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-1 " *ngIf="mostrarfiltrosProveedor">
                    <label for="proveedor">Proveedor</label>
                </div>
                <div class="ui-g-2" *ngIf="mostrarfiltrosProveedor">
                    <descriptivo-selector name="proveedores" required [limpiable]=false [data]="proveedores" nombre="Proveedor" labelClass="hide"
                        [(ngModel)]="filtro.proveedor"></descriptivo-selector>
                </div>
                <div class="ui-g-1 ">
                    <label for="centro">Centro</label>
                </div>
                <div class="ui-g-2">
                    <descriptivo-selector name="centros" required [limpiable]=false [data]="centros" nombre="Centro" labelClass="hide" [(ngModel)]="filtro.centro"></descriptivo-selector>
                </div>
                <div class="ui-g-1">
                    <label for="fechaDesde">Desde</label>
                </div>
                <div class="ui-g-1" style="width: 12%">
                    <p-calendar [showIcon]="true" [maxDate]="filtro.fechaHasta" [(ngModel)]="filtro.fechaDesde" dateFormat="dd/mm/yy" name="fecha"></p-calendar>
                </div>
                <div class="ui-g-1">
                    <label for="fechaHasta"> Hasta</label>
                </div>
                <div class="ui-g-1" style="width: 12%">
                    <p-calendar [showIcon]="true" [minDate]="filtro.fechaDesde"  [(ngModel)]="filtro.fechaHasta" dateFormat="dd/mm/yy"
                        name="fecha"></p-calendar>
                </div>
                <div class="ui-g-1">
                    <button [disabled]="!filtro.centro" pButton icon="fa fa-search" (click)="updateOrdenPagos()"></button>
                </div>

            </div>
        </div>
        <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">


            <div class="ui-g">

                <div class="ui-g-6">
                    <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                </div>

                <div class="ui-g-5 filter">
                    <p-checkbox name="estados_g" label="Por Pagar" value="PP" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Pendiente" value="P" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Aprobado" value="A" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Rechazado" value="R" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                </div>

            </div>
        </div>
        <p-dataTable [styleClass]="'ordenes'" [value]="ordenesPago" [rows]=20 [emptyMessage]="'No se encontraron Ordenes de Pago'"
            [globalFilter]="gb" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="ordenSeleccionada"
            dataKey="id" sortMode="multiple">
            <p-column [style]="{'width':'40px', 'text-align':'center'}" field="estado" header="">
                <ng-template let-col let-ordenPago="rowData" let-ri="rowIndex" pTemplate="body">
                    <span title="{{ordenPago.estado}}">
                        <i class="fa {{ordenPago.estado}}"></i>
                    </span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'8%','text-align':'center'}" field="numero" header="#"></p-column>
            <p-column [style]="{'width':'10%','text-align':'center'}" field="centro.codigo" header="Centro" [sortable]="true"></p-column>
            <p-column [style]="{'width':'15%','text-align':'center'}" field="proveedor.descripcion" header="Proveedor" [sortable]="true"></p-column>
            <p-column [style]="{'width':'15%','text-align':'center'}" field="fecha" header="Fecha" [sortable]="true">
                <ng-template let-col let-ordenPago="rowData" let-ri="rowIndex" pTemplate="body">
                    <span >{{ordenPago .fechaFormateada}}</span>
                </ng-template>
            </p-column>
            
            <p-column [style]="{'text-align': 'center','width':'25%'}" field="descripcion" header="Descripcion"></p-column>
            <p-column [style]="{'text-align': 'center','width':'30%'}" field="responsable" header="Responsable"></p-column>
            <p-column [style]="{'text-align': 'right','width':'15%'}" field="importe" header="Importe">
                <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                    <span>{{op.importe | currency : 'USD' : 'symbol-narrow'}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'text-align': 'center', 'width':'160px'}">
                <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                    <button *ngIf="aprobable(op)" pButton class="ui-button-success" icon="fa-check" (click)="aprobar(op)" title="Aprobar Orden de Pago"></button>
                    <button *ngIf="rechazable(op)" pButton class="ui-button-danger" icon="fa-close" (click)="rechazar(op)" title="Rechazar Orden de Pago"></button>
                    <button *ngIf="esEditable(op)" pButton class="" icon="fa-pencil" (click)="editar(op)" title="Editar Orden de Pago"></button>
                    <button *ngIf="esVisualizable(op)" pButton class="" icon="fa-eye" (click)="editar(op)" title="Visualizar Orden de Pago"></button>
                    <button *ngIf="eliminable(op)" pButton class="ui-button-danger" icon="fa-trash" (click)="eliminar(op)" title="Eliminar Orden de Pago"></button>
                </ng-template>
            </p-column>
            <p-footerColumnGroup>
                <p-row>
                    <p-column [style]="{'text-align':'right'}" footer="Total:" colspan="7"></p-column>
                    <p-column [style]="{'text-align':'right'}" footer="{{saldo}}">
                        <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="footer">
                            <span>{{saldo | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align':'right'}" footer="" colspan="1"></p-column>
                </p-row>
            </p-footerColumnGroup>
        </p-dataTable>

        <div *ngIf="itemsOrden.length > 0" class="ui-g">
            <div>
                <h4>Facturas Imputadas</h4>
            </div>
            <div class="ui-g-12">
                <p-dataTable [value]="itemsOrden" [emptyMessage]="'No hay facturas'">
                    <p-column [style]="{'text-align': 'center','width':'10%'}" field="cabeceraFactura.keyDocumento" header="N°"></p-column>
                    <p-column [style]="{'text-align': 'center','width':'10%'}" field="cabeceraFactura.fechaFormateada" header="Fecha"></p-column>
                    <p-column [style]="{'text-align': 'center','width':'20%'}" field="cabeceraFactura.descripcion" header="Descripción"></p-column>
                    <p-column [style]="{'text-align': 'right','width':'15%'}" field="cabeceraFactura.importe" header="Importe">
                        <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{op.cabeceraFactura.importe | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'right','width':'15%'}" field="cabeceraFactura.saldo" header="Saldo">
                        <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{op.cabeceraFactura.saldo | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'right','width':'20%'}" field="importe" header="Importe Pagado">
                        <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{op.importe | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-g-nopad" *ngIf="editandoOrdenPago">
            <gestion-op [cabeceraOrdenPago]="ordenPagoEditada" [centroCosto]="filtro.centro" [proveedor]="filtro.proveedor" [(visible)]="editandoOrdenPago"
            (onOrdenPagoGuardada)="onOrdenPagoGuardada()" (onCancelar)="onEdicionCancelada()">
        </gestion-op>
       
    </div>
    <p-confirmDialog [key]="'opConf'" [appendTo] ="'body'" header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>