<label *ngIf="nombre" class="control-label {{labelClass}}">{{nombre}}</label>
<ng-content select="descriptivo-label"></ng-content>
<div  class="ds_default {{inputClass}}" *ngIf=!sinDatos>
        <button *ngIf="seleccionado && limpiable" 
        type="button" class="btn btn-xs ds_limpiar-dropdown" (click)="clear()">
        <strong><i title="Desasignar Responsable" class="fa fa-close"></i></strong></button>
    <p-autoComplete #autocomplete [disabled]="!editable" [size]="50" [suggestions]="recomendaciones" field="descripcion" (completeMethod)="filtrar($event)" [(ngModel)]="seleccionado"
        [dropdown]="true" [dataKey]="'codigo'" [appendTo]="appendTo" [ngClass]="{'ds_dropdown-limpiable': seleccionado && limpiable}" placeholder="Seleccionar..." (focusout)="autoselectOpcion()"
        (onFocus)="onFocus($event)" >
        <ng-template let-item pTemplate="item">
            <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                <div>{{item.descripcion}}</div>
            </div>
        </ng-template>
    </p-autoComplete>
    
</div>
<div class="{{inputClass}}" *ngIf=sinDatos>
    <label class="control-label">No se encontraron {{nombre}}</label>
</div>
