button.ds_limpiar-dropdown{
    background-color: transparent;
    color: darkslategray;
    border:none;
    width: 25px;
    float: right;
    vertical-align:middle;
    line-height: 2.5;

}

.ds_dropdown-limpiable{
    display: inline-block;
    width: 85%;
}

.hide{
    display: none;
}