@import "../../../app.variables.less";

.impresion-menu {
    font-family: Century-Gothic, Helvetica, Arial;
   
    .titulo {
        h3 {
            font-family: Century-Gothic, Helvetica, Arial;
            font-variant: small-caps;
            font-size: 12pt;
        }
        
        .text-right {
            text-align: right;
    
        }
    }

    .year {
        margin-top: 1.5em;

        .year-header {

            text-align: center;
            padding: 0.5em;
            background-color: #d8e4be;
            border: 1px solid black;
            border-bottom: none;
            font-weight: bold;
            font-variant: small-caps;

        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    .productos,
    .mes {
        min-width: 6em;
        border: 1px solid black;
        border-right: none;
        text-align: center;
        font-size: 10pt;
        flex-grow: 1;
        background-color: @main-light-contrast;

        &.baja {
            background-color: green;
        }

        &.alta {
            background-color: #dbe1df;
        }

        &:last-child {
            border-right: 1px solid black;
        }

        .producto,
        .precio {
            padding: 0.25em 0.5em;

            &.titulo {
                font-weight: bold;
                font-variant: small-caps;
            }



        }
    }

    .productos {
        width: 16em;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        background-color: #d8e4be;

        .producto {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}