<div class="impresion-menu">
    <div class="titulo ui-g-12" *ngIf="listado">
        <div class="ui-g-6 ui-g-nopad">
            <h3>{{listado.descripcion}}</h3>
        </div>
        <div class="ui-g-6  ui-g-nopad text-right">
            <h3>Vigentes desde el {{now | date : 'dd/MM/yyyy'}}</h3>
        </div>
    </div>
    <div class="contenido" *ngIf="listado">
        <div class="ui-g-z year" *ngFor="let y of precios">
            <div class="ui-g-12 year-header">
                <span>VALORES {{y.year}}</span>
            </div>
            <div class="ui-g-12  ui-g ui-fluid ui-g-nopad">
                <div class="productos">
                    <div class="producto titulo">
                        <span>Productos</span>
                    </div>
                    <div class="producto" *ngFor="let p of listado.precios">
                        <span>{{p.producto.nombre }}</span>
                    </div>
                </div>
                <div class="mes"
                    [ngClass]="{'baja': calculadora.esBaja(m.mes, y.year), 'alta':calculadora.esAlta(m.mes,y.year)}"
                    *ngFor="let m of y.meses">
                    <div class="precio titulo">
                        <span>{{m.mes}}</span>
                    </div>

                    <div class="precio" *ngFor="let p of m.precios">
                        <span *ngIf="p.precio">{{p.precio | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                        <span *ngIf="!p.precio"> - </span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="ui-g-12 text-center" *ngIf="!listado">
        <span>No existe el listado buscado</span>
    </div>

</div>