<div class="filtro ui-g ui-fluid" [ngClass]="{activo: verCompleto}">
    <i class="fa fa-filter action" (click)="toggleFiltro()" [ngClass]="{activo: verCompleto}"></i>
    <div class="filtro-content ui-g-12" [hidden]="!verCompleto" >
        <ng-content></ng-content>
    </div>
    <div class="ui-g-2 ui-md-offset-10 ui-sm-12 ui-fluid  ui-g-nopad" [hidden]="!verCompleto">
            <button pButton (click)="buscar()"  icon="fa fa-search"></button>
    </div>
    <div class="resumen ui-g-11" [hidden]="verCompleto">
        <span [innerHTML]="filtro.getResumen() | sanitizeHtml"></span>
    </div>
    <div class="resumen ui-g-1 ui-fluid" [hidden]="verCompleto">
            <button pButton (click)="buscar()" icon="fa fa-search"></button>
    </div>

</div>