@import "./../../app.variables.less";

.filtro {
    position: relative;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 6px gray;
    border-radius: 3px;
    padding: 0.25em 1.5em;
    
    transition: all 0.2s ease-in-out;
    max-height: 4em;
    .resumen{
        line-height: 2.5;
        span{
            font-size: 10pt;
            font-family:  Helvetica, sans-serif;
            strong{
                font-variant: small-caps;
            }

        }
        
    }
    &.activo {
        padding: 1em;
        max-height: 20em;
        .action {
            background-color: @main-dark;
            color: @main-light-contrast;

        }
    }

    .action {
        position: absolute;
        top: -1px;
        right: -1px;
        padding: 0.25em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;


    }
}