<div class="content ">
    <div class="has-header">
        <div class="ui-g-12 ui-header ">
            <div class="ui-g-10">
                <h3>Totales por Productos</h3>
            </div>

        </div>
    </div>
    <div class="ui-g-12 filtros">
        <div class="ui-g-12 ui-fluid ui-g-nopad">

            <div class="ui-g-1 ">
                <label for="centro">Centro</label>
            </div>
            <div class="ui-g-2">
                <descriptivo-selector name="centros" required [limpiable]=false [data]="centros" nombre="Centro"
                    labelClass="hide" [(ngModel)]="centro"></descriptivo-selector>
            </div>
            <div class="ui-g-1">
                <label for="fechaDesde">Desde</label>
            </div>
            <div class="ui-g-1" style="width: 12%">
                <p-calendar [showIcon]="true" [maxDate]="filtro.hasta" [(ngModel)]="filtro.desde" dateFormat="dd/mm/yy"
                    name="fechaDesde"></p-calendar>
            </div>
            <div class="ui-g-1">
                <label for="fechaHasta"> Hasta</label>
            </div>
            <div class="ui-g-1" style="width: 12%">
                <p-calendar [showIcon]="true" [minDate]="filtro.desde" [(ngModel)]="filtro.hasta" dateFormat="dd/mm/yy"
                    name="fechaHasta"></p-calendar>
            </div>

        </div>
        <div class="ui-g-12  ui-fluid ui-g-nopad">

            <div class="ui-g-1 ">
                <label for="centro">Categoría</label>
            </div>
            <div class="ui-g-2">
                <descriptivo-selector name="centros" required [limpiable]=false [data]="categorias" nombre="Categoria"
                    labelClass="hide" [(ngModel)]="categoria"></descriptivo-selector>
            </div>

            <div class="ui-g-1 ">
                <label for="centro">Producto</label>
            </div>
            <div class="ui-g-3" *ngIf="categoria">
                <descriptivo-selector name="centros" required [limpiable]=false [data]="productos" nombre="Producto"
                    labelClass="hide" [(ngModel)]="producto"></descriptivo-selector>
            </div>
            <div class="ui-g-1">
                <button pButton icon="fa fa-search" (click)="buscarItems()"></button>
            </div>

        </div>

    </div>
</div>
<div class="ui-g-12  ui-fluid searchbar" >
        <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
    </div>
<div class="ui-g-12 ui-g-nopad">
    <p-dataTable emptyMessage="No hay totales" class="form-group" [value]="items" [rows]="30" [paginator]="true"
        [responsive]="true" [globalFilter]="gb" sortField="categoria" rowGroupMode="rowspan" #tabla (onFilter)="onTableFilter($event)">
        <p-headerColumnGroup *ngIf="items && items.length > 0" >

            <p-row>
                <p-column header="Totales" [style]="{ 'text-align':'right'}" colspan="4"></p-column>
                <p-column [style]="{ 'text-align':'right'}">
                    <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                        <span>{{totalVentas | currency : 'USD' : 'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{ 'text-align':'right'}">
                    <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                        <span>{{totalCobros | currency : 'USD' : 'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{ 'text-align':'right'}">
                    <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                        <span>{{totalVentas - totalCobros | currency : 'USD' : 'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
            </p-row>
            <p-row>
                <p-column field="categoria" header="Categoría" [style]="{'width':'10%', 'text-align':'left'}"
                    [sortable]="true"></p-column>
                <p-column field="producto" header="Producto" [style]="{'width':'10%', 'text-align':'left'}" [sortable]="true"></p-column>
                <p-column field="cantidad" header="Cant. Vendidos" [style]="{'width':'8%', 'text-align':'right'}"
                    [sortable]="true"></p-column>
                <p-column field="cuPromedio" header="Promedio P.U." [style]="{'width':'8%', 'text-align':'right'}"
                    [sortable]="true"></p-column>
                <p-column field="ventas" header="Importe" [style]="{'width':'8%', 'text-align':'right'}" [sortable]="true"></p-column>
                <p-column field="cobros" header="Cobros" [style]="{'width':'8%', 'text-align':'right'}" [sortable]="true"></p-column>
                <p-column header="Saldo" [style]="{'width':'8%', 'text-align':'right'}" [sortable]="true"></p-column>

            </p-row>
        </p-headerColumnGroup>
        <p-column field="categoria" header="Categoría" [style]="{'width':'10%', 'text-align':'left'}" [sortable]="true"></p-column>
        <p-column field="producto" header="Producto" [style]="{'width':'10%', 'text-align':'left'}" [sortable]="true"></p-column>
        <p-column field="cantidad" header="Cant. Vendidos" [style]="{'width':'8%', 'text-align':'right'}" [sortable]="true"></p-column>
        <p-column field="cuPromedio" header="Promedio P.U." [style]="{'width':'8%', 'text-align':'right'}" [sortable]="true">
            <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{tt.cuPromedio | currency : 'USD' : 'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column field="ventas" header="Importe" [style]="{'width':'8%', 'text-align':'right'}" [sortable]="true">
            <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{tt.ventas | currency : 'USD' : 'symbol-narrow'}}</span>
            </ng-template>
        </p-column>

        <p-column field="cobros" header="Cobros" [style]="{'width':'8%', 'text-align':'right'}" [sortable]="true">
            <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{tt.cobros | currency : 'USD' : 'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Saldo" [style]="{'width':'8%', 'text-align':'right'}" [sortable]="true">
            <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{tt.ventas - tt.cobros | currency : 'USD' : 'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-footerColumnGroup *ngIf="items && items.length > 0">
            <p-row>
                <p-column footer="Totales" [style]="{ 'text-align':'right'}" colspan="4"></p-column>
                <p-column [style]="{'text-align':'right'}">
                    <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="footer">
                        <span>{{totalVentas | currency : 'USD' : 'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>

                <p-column [style]="{'text-align':'right'}">
                    <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="footer">
                        <span>{{totalCobros | currency : 'USD' : 'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align':'right'}">
                    <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="footer">
                        <span>{{totalVentas - totalCobros | currency : 'USD' : 'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
            </p-row>
        </p-footerColumnGroup>
    </p-dataTable>
</div>