<div class="ui-g-12  ui-g-nopad">

    <div class="ui-g-2" style="text-align: right">
        <label for="impMusica">SADAIC Y AADICAPIF</label>
    </div>
    <descriptivo-selector required [limpiable]=false name="centroSADAIC" *ngIf="sadaicSC && sadaicSC.producto" [data]="sadaicSC.producto.centros"
        nombre="Centro de Costo" labelClass="hide" inputClass="ui-g-2" [(ngModel)]="sadaicSC.centroCosto"></descriptivo-selector>

    <div class="ui-g-1" *ngIf="sadaicSC && sadaicSC.producto">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                <i class="fa fa-dollar"></i>
            </span>
            <input type="number" *ngIf="sadaicSC" pInputText name="impuestoMusica" [(ngModel)]="sadaicSC.costoUnitarioGral"
                placeholder="$" title="SADAIC Y AADICAPIF">
        </div>
    </div>
    <div class="ui-g-1" style="text-align: right">
        <label for="garantia">Garantía</label>
    </div>

    <descriptivo-selector required [limpiable]=false name="centroGarantia" *ngIf="garantiaSC && garantiaSC.producto"
        [data]="garantiaSC.producto.centros" nombre="Centro de Costo" labelClass="hide" inputClass="ui-g-2" [(ngModel)]="garantiaSC.centroCosto"></descriptivo-selector>
    <div class="ui-g-1" *ngIf="garantiaSC && garantiaSC.producto">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon">
                <i class="fa fa-dollar"></i>
            </span>
            <input *ngIf="garantiaSC" type="number" pInputText name="garantia" [(ngModel)]="garantiaSC.costoUnitarioGral"
                placeholder="$" title="Garantía">
        </div>
    </div>
    
</div>
<div class="ui-g-12  ui-g-nopad">


    <div class="ui-g-2  pull-right">
        <label for="esCongelado">Es Precio Congelado</label>
    </div>
    <div class="ui-g-1">
        <p-checkbox (onChange)="congeladoChangeGlobal($event)" name="esCongelado" [(ngModel)]="contrato.esCongelado"
            binary="true"></p-checkbox>

    </div>
    <div class="ui-g-1" style="text-align: right">
        <label for="cuotas">Cuotas</label>
    </div>
    <div class="ui-g-1">
        <input type="number" pInputText name="cuotas" [(ngModel)]="cantidadCuotas" placeholder="Cantidad Base de Cuotas"
            title="Cantidad Base de Cuotas" />
    </div>
    <div class="ui-g-2" style="text-align: right">
        <label for="fechaLimite">Fecha limite de pago</label>
    </div>
    <div class="ui-g-1">
        <p-calendar [(ngModel)]="fechaLimite" name="fechaLimite" dateFormat="dd/mm/yy" appendTo="body" placeholder="Fecha límite de pago"
            title="Fecha en la que debe estar todo pagado"></p-calendar>
    </div>
    <div class="ui-g-1">
        <button [disabled]="!editable || cantidadCuotas <= 0 && !fechaLimite" type="button" pButton class="small-button"
            (click)="recalcularCuotas()" icon="fa fa-calculator"></button>
    </div>
    <div class="ui-g-1  pull-right">
        <label for="ipMaximo">IP Máximo</label>
    </div>
    <div class="ui-g-1">
        <div class="ui-inputgroup">
            <input type="text" name="ipMaximo" title="Ip maximo sobre el total" [(ngModel)]="contrato.ipMaximo"
                pInputText placeholder="%">
            <span class="ui-inputgroup-addon">
                <i class="fa fa-percent"></i>
            </span>
        </div>
    </div>
    <div class="ui-g-1">
        <span class="display">{{contrato.ipTotal| currency :'USD':'symbol-narrow'}}</span>
    </div>

</div>
<div class="ui-g-12" *ngIf="contrato">
    <h3 *ngIf="contrato.servicios && contrato.servicios.length === 0">No hay productos seleccionados</h3>
    <p-treeTable *ngIf="contrato.servicios && contrato.servicios.length > 0" [value]="serviciosMuestra" [expandedIcon]="'fa-credit-card fa-bold expanded'"
        [collapsedIcon]="'fa-credit-card collapsed'">
        <p-header>
            <div class="ui-g print-hide">
                <div class="ui-g-2 label print-hide">
                    <h4>Servicios Contratados</h4>
                </div>

                <div class=" ui-g-offset-8 ui-g-2 pull-right print-hide" tabindex="4" *ngIf="editable">
                    <button [disabled]="!editable || !contrato" type="button" pButton class="" (click)="nuevoServicio()"
                        label="Nuevo Servicio" icon="fa fa-plus"></button>
                </div>
            </div>

        </p-header>

        <p-column expander="true" styleClass="col-icon" [style]="{'text-align':'center', width:'3%'}"></p-column>
        <p-column [editable]="true" header="Fecha Contrato" [style]="{'text-align':'center', width:'10%','overflow':'visible'}">
            <ng-template pTemplate="editor" let-ri="rowIndex" let-servicio="rowData">
                <p-calendar *ngIf="mostrarFechaContrato(servicio)" [(ngModel)]="servicio.fechaContrato" name="'fechaContratoServicio' + ri"
                    dateFormat="dd/mm/yy" appendTo="body"></p-calendar>

            </ng-template>
            <ng-template pTemplate="body" let-ri="rowIndex" let-servicio="rowData">
                <span>{{servicio.fechaContrato | date : 'dd/MM/yyyy'}}</span>
            </ng-template>
        </p-column>
        <p-column [editable]="false" field="centro" header="Centro" [style]="{'text-align':'center', width:'6%','overflow':'visible'}">
            <ng-template pTemplate="editor" let-servicio="rowData" let-ri="rowIndex">
                <div class="ui-g-12 ui-g-nopad drop-content" *ngIf="!servicio.leaf">
                    <p-dropdown name="'centro_' + ri" [options]="servicio.producto.centros" [dataKey]="'codigo'"
                        [(ngModel)]="servicio.centroCosto" optionLabel="codigo" placeholder="..."></p-dropdown>
                </div>
            </ng-template>
        </p-column>
        <p-column [editable]="true" field="cantidadStr" header="Cant / %" [style]="{'text-align':'right', width:'5%'}">
            <ng-template pTemplate="editor" let-servicio="rowData" let-ri="rowIndex">
                <div [ngClass]="{'error': !servicio.esCantidadOk}" *ngIf="servicio.leaf">
                    <input type="number" pInputText [(ngModel)]="servicio.cantidadStr" name="'CantidadServicio' + ri" />

                </div>
                <div [ngClass]="{'error': !servicio.esCantidadOk}" *ngIf="!servicio.leaf">
                    <span>{{servicio.cantidadStr}}</span>

                </div>
            </ng-template>
        </p-column>
        <p-column field="descripcion" header="Descripción del Servicio" [style]="{'text-align':'right', width:'20%'}">
            <ng-template pTemplate="body" let-servicio="rowData" let-ri="rowIndex">
                <span *ngIf="!servicio.leaf || (servicio.leaf && servicio.parent && servicio.parent.descripcion !== servicio.descripcion)">{{servicio.descripcion}}</span>
            </ng-template>
        </p-column>
        <p-column field="" header="Fecha Vencimiento" [style]="{'text-align':'center', width:'10%'}">
            <ng-template pTemplate="editor" let-ri="rowIndex" let-cuota="rowData">
                <p-calendar *ngIf="cuota.leaf" [(ngModel)]="cuota.fechaVencimiento" name="'fechaVencimientoCuota' + ri + servicio.codigo"
                    dateFormat="dd/mm/yy" appendTo="body" (onSelect)="updateVencimiento(cuota)"></p-calendar>
            </ng-template>
        </p-column>
        <p-column field="" header="Fecha Estimada Pago" [style]="{'text-align':'center', width:'10%'}" *ngIf="contrato.id">
            <ng-template pTemplate="editor" let-ri="rowIndex" let-cuota="rowData">
                <p-calendar *ngIf="cuota.leaf" [(ngModel)]="cuota.fechaEstimadaPago" name="'fechaEstimadaPagoCuota' + ri + servicio.codigo"
                    dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
            </ng-template>
        </p-column>
        <p-column *ngIf="!contrato.esCongelado" header="% Incr." [style]="{'text-align':'center', width:'5%'}">
            <ng-template let-col let-cuota="rowData" let-ri="rowIndex" pTemplate="body">
                <input type="number" pInputText [(ngModel)]="cuota.incremento100" name="'incremento'+ri+servicio.codigo">

            </ng-template>
        </p-column>
        <p-column [editable]="true" header="Costo unitario" [style]="{'text-align':'right', width:'10%'}">

            <ng-template let-col let-servicio="rowData" let-ri="rowIndex" pTemplate="body">
                <input type="number" pInputText [(ngModel)]="servicio.costoUnitarioGral" name="'costoUnitarioGral' + ri" />
            </ng-template>

        </p-column>
        <p-column header="Total" [style]="{'text-align':'right', width:'10%'}">
            <ng-template let-col let-servicio="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{servicio.total | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column [style]="{'text-align': 'center', 'width':'7%'}">
            <ng-template let-col let-servicio="rowData" let-ri="rowIndex" pTemplate="body">
                <div class="table-buttons">
                    <button *ngIf="editable && !servicio.leaf " pButton type="button" class="small-button white" icon="fa-calculator"
                        (click)="recalcularServicio(servicio)" title="Recalcular Servicio"></button>
                    <button *ngIf="editable && !servicio.leaf" pButton type="button" class="small-button white" icon="fa-plus"
                        (click)="agregarCuota(servicio)" title="Agregar Cuota"></button>
                    <button *ngIf="editable && esEliminable(servicio)" pButton type="button" class="ui-button-danger small-button"
                        icon="fa-trash" (click)="quitarServicio(servicio)" title="Eliminar Servicio"></button>

                </div>
            </ng-template>
        </p-column>
    </p-treeTable>
</div>


<p-dialog [(visible)]="displayNuevoServicio" [width]="700" [minHeight]="400" [contentStyle]="{'overflow':'visible'}"
    [appendTo]="'body'" [modal]="true" [responsive]="false" [resizable]="false">
    <p-header>
        <h4 class="text-overflow">Nuevo Servicio</h4>
    </p-header>
    <form [formGroup]="nuevoServicioForm" class="form-horizontal">
        <div class="ui-fluid ui-g-12">
            <label for="fechaContrato" class="control-label ui-g-3 required ">Fecha Contrato</label>
            <div class="ui-g-9">
                <p-calendar required [showIcon]="true" dateFormat="dd/mm/yy" required formControlName="fechaContrato"></p-calendar>
            </div>
        </div>

        <div class="ui-fluid ui-g-12">
            <descriptivo-selector required [limpiable]=false [data]="productosSinInternos" nombre="Producto" labelClass="ui-g-3 required"
                inputClass="ui-g-3" formControlName="producto" (onSelect)="productoChange($event)"></descriptivo-selector>
            <descriptivo-selector *ngIf="centroEditable" [limpiable]=false name="centro" [data]="centrosProducto"
                nombre="Centro de Costo" labelClass="ui-g-3 required" inputClass="ui-g-3" formControlName="centro"></descriptivo-selector>

        </div>
        <div class="ui-g-12 ui-fluid">
            <div class="ui-g-3">
                <label for="" class="control-label ui-g-2">Descripción</label>
            </div>
            <div class="ui-g-9">
                <input pInputText type="text" formControlName="descripcion" placeholder="" />
            </div>
        </div>
        <div class="ui-fluid ui-g-12">
            <div class="ui-fluid ui-g-12" *ngIf="productoSeleccionado && productoSeleccionado.codigo && productoSeleccionado.divisible ">
                <div class="ui-g-2">
                    <label for="" class="control-label ui-g-2">Distribución</label>
                </div>
                
                <div class="ui-g-10 ui-nopad">
                    <div class="ui-g ui-nopad ui-fluid distribucion">
                        <label for="adultos" class="control-label">Adultos</label>
                        <div class="smal-imput">
                            <input pInputText type="number" formControlName="adultos" placeholder="" />
                        </div>
                        <label for="adolescentes" class="control-label ">Adolesc.</label>
                        <div class="smal-imput">
                            <input pInputText type="number" formControlName="adolescentes" placeholder="" />
                        </div>
                        <label for="menores" class="control-label ">Menores</label>
                        <div class="smal-imput">
                            <input pInputText type="number" formControlName="menores" placeholder="" />
                        </div>
                        <label for="bebes" class="control-label ">Bebes</label>
                        <div class="smal-imput">
                            <input pInputText type="number" formControlName="bebes" placeholder="" />
                        </div>
                    </div>
                </div>


            </div>
            <label for="" class="control-label ui-g-2" *ngIf="productoSeleccionado && productoSeleccionado.codigo && !productoSeleccionado.divisible">Cantidad</label>
            <div class="ui-g-2" *ngIf="productoSeleccionado && productoSeleccionado.codigo && !productoSeleccionado.divisible">
                <input pInputText type="number" formControlName="cantidad" placeholder="" />
            </div>
            <label for="valorUnitario" class="control-label ui-g-2 required ">Valor Unitario</label>
            <div class="ui-g-2">
                <input required pInputText type="number" formControlName="valorUnitario" placeholder="Costo unitario negociado" />
            </div>
            <label for="cuotas" class="control-label ui-g-2 required ">Cant. Cuotas</label>
            <div class="ui-g-2">
                <input required pInputText type="number" formControlName="cuotas" placeholder="Cantidad de cuotas pautadas" />
            </div>
        </div>

        <div class="ui-fluid ui-g-12">

        </div>
    </form>
    <p-footer>
        <button [disabled]="!nuevoServicioForm.valid || loading" pButton (click)="agregarServicio()" label="Agregar"
            type="button"></button>
        <button pButton type="button" (click)="displayNuevoServicio = false" label="Cancelar"></button>
    </p-footer>

</p-dialog>