@import "./../../../app/app.variables.less";

:host /deep/ .ui-treetable-tablewrapper{
    thead{
        tr{
            border: 1px solid gray;
        }
    }
}
:host /deep/ .ui-treetable-row{
    background-color: @main-brand-light;
    color: @main-light-1;

    .small-button,
    .small-button:hover,
    .small-button:focus{
        background-color: transparent;
    }
    
    
    input{
        color: @main-light-1;
        &:focus{
            color:@main-light-1;
            background-color: @main-selected;
        }
    }
    .collapsed{
        color: @main-light-1;
    }
    .expanded{
        color:@main-selected;
        
    }
    .table-buttons{
        .small-button{
            border:none;
            color: @main-brand-light;
            padding: 1px 8px;
                margin: 1px 0px;
                font-size: 1.25em;
                &.ui-button-success{
                    background-color: @success;
                }
                 &.ui-button-danger{
                    background-color: @danger;
                }
                &.white{
                    color: white;
                }
        }
        
    }
    
    .ui-treetable-child-table-container{
        input{
            color: @main-dark;
            &:focus{
                color:@main-light-1;
                background-color: @main-selected;
            }
        }
        border:none;
        .ui-treetable-row{
            background-color: @main-light-1;
            color: @main-dark;
            border: none;
        }

        .small-button.ui-button-danger,
        .small-button.ui-button-success{
            background-color: transparent;
            border:none;
            color: @danger;
            padding: 2px;
            font-size: 1.5em;
        }
        
        
    }
    p-calendar{
        .ui-calendar{
            border: none;
            outline: 0 none;
            background-color: transparent;
            border-bottom: @main-dark;
            input{
                border: none;
                border-bottom: 1px solid #83ae33;
                background-color: transparent;
            }
        }
    }
    
}
span.display{
    display: block;
    box-sizing: border-box;
    padding: 0.5em;
    font-size: 10pt;
    background-color: @main-light-1;
}
.ui-inputgroup{
    font-size: 10pt;
}
:host /deep/  .drop-content{
    .ui-dropdown{
        width: 100% !important;
        color: black;
        .ui-dropdown-label{
            text-align: left;
        }
    }
}
.distribucion{
    justify-content: space-between;
    label{
      width: 13%;  
      padding: 0 1em;
    }
    .smal-imput{
        width: 12%;
    }
}
