<div class="nuevo-precio-adicionales">
    <div class="data" [hidden]="verConflictos">


        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-sm-12 ui-g-nopad">
                <div class="ui-g-6  ui-g-nopad">
                    <div class="ui-g-2"> <label for="dateRange">Periodo</label></div>
                    <div class="ui-g-5">
                        <p-calendar [(ngModel)]="fechaDesde" required dateFormat="dd/mm/yy" [showIcon]="true"
                            [readonlyInput]="true" [locale]="locale.es" placeholder="Valido Desde" title="Valido Desde">
                        </p-calendar>
                    </div>

                    <div class="ui-g-5">
                        <p-calendar [(ngModel)]="fechaHasta" required dateFormat="dd/mm/yy" [showIcon]="true"
                            [readonlyInput]="false" [locale]="locale.es" placeholder="Valido Hasta" title="Valido Desde"
                            [minDate]="fechaDesde"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-sm-12">

                <p-dataTable [value]="productosSeleccionados"  [editable]="true"
                    [emptyMessage]="'Sin Productos seleccionados'" #tabla [(selection)]="productosMarcados">
                    <p-headerColumnGroup>
                        <p-row>
                            <p-column colspan="4">
                                <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                                    <div class="ui-g-2 ui-g-offset-10 ui-g-nopad">
                                        <div class="ui-g-6 text-center"><button pButton (click)="agregarProductos()"
                                                class="ui-small-button" icon="fa fa-plus"
                                                title="Agregar Productos"></button></div>
                                        <div class="ui-g-6 text-center"> <button pButton
                                                (click)="eliminarItems(productosMarcados)" class="ui-small-button"
                                                title="Quitar Productos" icon="fa fa-trash"
                                                [disabled]="productosSeleccionados?.length <= 0"></button></div>


                                    </div>

                                </ng-template>
                            </p-column>

                        </p-row>
                        <p-row>
                            <p-column colspan="1" [style]="{'width':'5%'}" header=""> </p-column>
                            <p-column colspan="1" header="Producto" [style]="{'width':'70%', 'text-align':'left'}">
                            </p-column>
                            <p-column colspan="1" header="Base" [style]="{'width':'20%', 'text-align':'right'}"></p-column>
                            <p-column colspan="1" header="" [style]="{'width':'5%'}"></p-column>
                        </p-row>
                    </p-headerColumnGroup>
                    <p-column selectionMode="multiple"></p-column>
                    <p-column field="codProd" header="Nombre" [sortable]="true">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <span>{{item?.producto?.codigo}} - {{item?.producto?.nombre}}</span>
                        </ng-template>
                    </p-column>
                    <p-column field="base" header="Precio" editable="true"
                        [style]="{'width':'70%', 'text-align':'right'}">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{item?.base | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                        <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="editor">
                            <input type="number" style="text-align: right;" [(ngModel)]="precio.base"
                                name="{{'valor_' + ri}}" min="0" (focusin)="onFocus($event)">
                        </ng-template>
                    </p-column>
                    <p-column header="Acciones" field="busqueda" [style]="{'width':'20%', 'text-align':'center'}">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <button pButton class="ui-button-danger" icon="fa-trash" (click)="eliminarItem(item)"
                                title="Borrar precio"></button>
                        </ng-template>

                    </p-column>
                </p-dataTable>

            </div>
            <div class="ui-g-12 ui-sm-12">
                <div class="seccion">
                    <div class="ui-g-3">
                        <p-checkbox [(ngModel)]="todosListados" [binary]="true" label="Todos los Tipos de Listado">
                        </p-checkbox>
                    </div>
                    <div class="ui-g-9 opciones">
                        <div class="salon" *ngFor="let t of tListados; index as i ">
                            <p-checkbox name="{{'tLista' + i}}" [value]="t.codigo" [(ngModel)]="tListadoSeleccionados"
                                [label]="t.descripcion"></p-checkbox>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="ui-g-12 footer-acciones" [hidden]="verConflictos">
        <button pButton label="Cancelar" (click)="cancelar()"></button>
        <button pButton label="Guardar" (click)="generarPrecios()"></button>
    </div>

    <div class="ui-g-12" *ngIf="verConflictos">
        <conflicto-adicionales [conflictos]="conflictos" (finConflictos)="finConflictos($event)"
            (onCancelarConflictos)="cancelarConflictos()"></conflicto-adicionales>
    </div>
</div>

<p-dialog header="Selección de Productos" [(visible)]="mostrarProductos" (onHide)="updateSeleccionados()">
    <div class="ui-g-12 ui-g ui-fluid">
        <p-pickList [source]="productosBase" [target]="productosSeleccionados" [responsive]="true"
            sourceHeader="Disponibles" targetHeader="Seleccionados" filterBy="descripcion"  [showSourceControls]="false"
            [showTargetControls]="false">
            <ng-template let-precio pTemplate="item">
                <div class="ui-helper-clearfix">
                    <span>{{precio.descripcion}}</span>
                </div>
            </ng-template>
        </p-pickList>
    </div>
</p-dialog>