<div class="content has-header">
    
    <div class="ui-header">
        <div class="ui-g">
            <div class="ui-g-4">
                <h3>{{ titulo }}</h3>
            </div>
            <div  class="ui-g-2 ">
                <h4>Saldo de Cuenta: </h4>
            </div>
            <div  class="ui-g-2 text-right">
                <h4>{{saldo | currency : 'USD':'symbol-narrow'}}</h4>
            </div>
        </div>


    </div>

    <div class="ui-fluid" *ngIf="paginaVisible === 'DATOS'">
        <form #proveedorForm="ngForm" (ngSubmit)="guardarProveedor()">
            <div class="ui-g-8">
                <div class="ui-g">
                    <div class="ui-g-2 required">
                        <label for="tipoProveedor">Tipo Proveedor</label>
                    </div>
                    <div class="ui-g-2">
                        <p-dropdown [dataKey]="'codigo'" placeholder="Seleccione uno..." [style]="{'width':'100%'}" name="tipoProveedor" [options]="tiposProveedor"
                            [(ngModel)]="proveedor.tipoProveedor" required (onChange)="updateTipoProveedor($event)"></p-dropdown>
                    </div>
                    <div class="ui-g-2">
                        <p-dropdown [dataKey]="'codigo'" placeholder="Tipo de Cuenta..." [style]="{'width':'100%'}" name="tipoCuenta" [options]="tiposCuenta"
                            [(ngModel)]="proveedor.tipoCuenta" required (onChange)="updateTipoCuenta($event)" required></p-dropdown>
                    </div>
                    <div class="ui-g-1 required">
                        <label for="tipoProveedor">Nombre</label>
                    </div>
                    <div class="ui-g-5">
                        <input [disabled]="!editable" [(ngModel)]="proveedor.nombreProveedor" type="text" name="nombreProveedor" pInputText required> </div>
                </div>

                <div class="ui-g">
                    <div class="ui-g-2 required">
                        <label for="nombreContacto">Contacto</label>
                    </div>
                    <div class="ui-g-4">
                        <input placeholder="Nombre Contacto" title="Nombre de Contacto" [disabled]="!editable" [(ngModel)]="proveedor.nombreContacto"
                            type="text" name="nombreContacto" pInputText>
                    </div>
                    <div class="ui-g-2">
                        <input placeholder="Teléfono" title="Teléfono" [disabled]="!editable" [(ngModel)]="proveedor.telefono" type="phone" name="telefono"
                            pInputText>
                    </div>
                    <div class="ui-g-2">
                        <input placeholder="Celular" title="Celular" [disabled]="!editable" [(ngModel)]="proveedor.celular" type="phone" name="celular"
                            pInputText>
                    </div>
                    <div class="ui-g-2">
                        <input placeholder="Email" title="Email" [disabled]="!editable" [(ngModel)]="proveedor.email" type="email" name="email" pInputText>
                    </div>

                </div>
                <div class="ui-g">
                    <div class="ui-g-3 ui-g-offset-2">
                        <input placeholder="Localidad" title="Localidad" [disabled]="!editable" [(ngModel)]="proveedor.localidad" type="text" name="localidad"
                            pInputText>
                    </div>
                    <div class="ui-g-7">
                        <input placeholder="Domicilio" title="Domicilio" [disabled]="!editable" [(ngModel)]="proveedor.domicilio" type="text" name="domicilio"
                            pInputText> </div>
                </div>

                <div class="ui-g" *ngIf="proveedor.tipoProveedor.codigo === 'I'">
                    <div class="ui-g-2 required">
                        <label for="nombreContacto">Datos Facturación</label>
                    </div>
                    <div class="ui-g-4">
                        <input placeholder="Razón Social" title="Razón Social" [disabled]="!editable" [(ngModel)]="proveedor.razonSocial" type="text"
                            name="razonSocial" pInputText>
                    </div>
                    <div class="ui-g-2">
                        <p-inputMask mask="99-99999999-9" title="CUIT" [disabled]="!editable" [(ngModel)]="proveedor.cuit" type="text" name="cuit"
                            placeholder="__-________-_" required></p-inputMask>
                    </div>
                    <div class="ui-g-4">
                        <p-dropdown [dataKey]="'codigo'" placeholder="Categoría IVA" [style]="{'width':'100%'}" name="iva" [options]="tipoIVA" [(ngModel)]="proveedor.iva"
                            required></p-dropdown>
                    </div>


                    <div class="ui-g-3 ui-g-offset-2">
                        <input placeholder="Localidad Facturación" title="Localidad Facturación" [disabled]="!editable" [(ngModel)]="proveedor.localidadFacturacion"
                            type="text" name="localidad" pInputText>
                    </div>
                    <div class="ui-g-7">
                        <input placeholder="Domicilio Facturación" title="Domicilio Facturación" [disabled]="!editable" [(ngModel)]="proveedor.domicilioFacturacion"
                            type="text" name="domicilioFacturacion" pInputText>
                    </div>


                </div>
                <!--div class="ui-g">
                    <div class="ui-g-2">
                        <label for="tipoCuenta">Configuración Cuentas</label>
                    </div>
                    <div class="ui-g-10">
                        <p-dataTable [value]="proveedor.imputacionCuentaConfigs" [rows]=20 [emptyMessage]="'No se encontraron configuraciones'">
                            <p-column [style]="{'width':'15%','text-align':'center'}" field="centroCosto.descripcion" header="Centro de Costo" ></p-column>
                            <p-column [style]="{'width':'15%','text-align':'center'}" field="tipoImputacion.descripcion" header="Tipo Cuenta"></p-column>
                            <p-column [style]="{'text-align': 'left','width':'30%'}"  header="Cuenta">
                                <ng-template  let-col let-conf="rowData" let-ri="rowIndex" pTemplate="body">
                                    <p-dropdown *ngIf="conf.centroCosto" placeholder="Elija una Cuenta..." 
                                        [dataKey]="'codigo'" [disabled]="!editable" 
                                        name="{{conf.centroCosto.codigo + conf.tipoImputacion.codigo}}"
                                        [(ngModel)]="conf.cuentaAplicacion" [options]="getCuentas(conf.centroCosto)"
                                        [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
                                </ng-template>
                            </p-column>

                        </p-dataTable>
                    </div>
                </div -->
            </div>


            <div class="ui-g-8 ui-fluid" style="margin-top:20px">
                <div class="ui-g-2 ui-g-offset-8 ">
                    <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton label="Guardar" type="submit" [disabled]="!proveedorForm.form.valid || finalizado || !editable" class="ui-button-success"></button>
                </div>
            </div>
        </form>
    </div>
</div>




<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>