<div class="content has-header">
  
  <div class="ui-header">
    <div class="ui-g">
      <div class="ui-g-10">
        <h3>{{ titulo }}</h3>
      </div>
      <div class="ui-g-2" style="text-align: right">
        <p-menubar [model]="acciones"></p-menubar>
      </div>


    </div>
  </div>
  <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">
    <div class="ui-g">
      <div class="ui-g-10">
        <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
      </div>

    </div>

  </div>
  <p-dataTable [value]="centros"   [globalFilter]="gb" [emptyMessage]="'No hay Centros de Costo'">
    <p-column [style]="{'width':'30%'}" field="descripcion" header="Nombre"></p-column>
    <p-column [style]="{'text-align': 'center','width':'15%'}" field="cuit" header="CUIT"></p-column>
    <p-column [style]="{'text-align': 'center','width':'15%'}" field="iibb" header="IIBB"></p-column>
    <p-column [style]="{'width':'30%'}" field="domicilioFiscal" header="Domicilio"></p-column>
    <p-column [style]="{'text-align': 'center', 'width':'10%'}">
      <ng-template let-col let-centro="rowData" let-ri="rowIndex" pTemplate="body">
        <button pButton class="" icon="fa-pencil" (click)="editCentroCosto(centro.codigo)" title="Editar centro"></button>
        <button pButton class="ui-button-danger" icon="fa-trash" (click)='confirmDelete(centro)' title="Borrar centro"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>

<p-confirmDialog header="Eliminar Centro" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>