@import "./../../../app/app.variables.less";

:host /deep/ .ui-datatable{
    tr{
        input:focus{
            color: @main-light-1;
        }
    }
}
span.display{
    display: block;
    box-sizing: border-box;
    padding: 0.5em;
    font-size: 10pt;
    background-color: @main-light-1;
}
.ui-inputgroup{
    font-size: 10pt;
}
:host /deep/  .drop-content{
    .ui-dropdown{
        width: 100% !important;
        color: black;
        .ui-dropdown-label{
            text-align: left;
        }
    }
}