<div class="ui-g-12" *ngIf="contrato">
    <p-dataTable *ngIf="contrato" [value]="contrato.comisiones" sortField="comisionistaStr"
        rowGroupMode="rowspan" [editable]="true">
        <p-header>
            <div class="ui-g print-hide">
                <div class="ui-g-2 label print-hide">
                    <h4>Comisiones</h4>
                </div>

                <div class=" ui-g-offset-8 ui-g-2 pull-right print-hide" tabindex="4" *ngIf="editable">
                    <button [disabled]="!editable || !contrato" type="button" pButton class="" (click)="nuevaComision()" label="Modificar Comisiones"
                        icon="fa fa-plus"></button>
                </div>
            </div>
        </p-header>
        <p-column header="Comisionista" field="comisionistaStr" [style]="{'text-align':'left', width:'15%'}"></p-column>
        <p-column header="Producto" field="productoStr" [style]="{'text-align':'left', width:'15%'}"></p-column>
        <p-column header="Centro" [style]="{'text-align':'left', width:'7%'}">
            <ng-template pTemplate="body" let-comision="rowData" let-ri="rowIndex">
                <div class="ui-g-12 ui-g-nopad drop-content" >
                    <p-dropdown name="'centro_' + ri" [options]="centros" [dataKey]="'codigo'" [(ngModel)]="comision.centro"
                        optionLabel="codigo" placeholder="..."></p-dropdown>
                </div>
            </ng-template>
        </p-column>
        <p-column header="Porc." field="porcentajeComision" [style]="{'text-align':'center', width:'5%','overflow':'visible'}">
            <ng-template pTemplate="body" let-comision="rowData" let-ri="rowIndex">
                <div [hidden]="!editable">
                    <input type="number" pInputText [(ngModel)]="comision.porcentajeComision" name="'comisionPorcentaje_' + ri" (focusin)="onFocus($event)"/>

                </div>
                <span [hidden]="editable">{{comision.porcentajeComision}} %</span>
            </ng-template>
        </p-column>
        <p-column header="Tipo Comision" [style]="{'text-align':'center', width:'15%','overflow':'visible'}">
            <ng-template pTemplate="body" let-comision="rowData" let-ri="rowIndex">
                <div class="ui-g-12 ui-g-nopad drop-content" [hidden]="!editable">
                    <p-dropdown name="'tipoComision_' + ri" [options]="tiposComision" [dataKey]="'codigo'" [(ngModel)]="comision.tipoComision"
                        optionLabel="descripcion" placeholder="Seleccione.."></p-dropdown>
                </div>
                <span *ngIf="!editable && comision.tipoComision">{{comision.tipoComision.descripcion}}</span>
            </ng-template>
        </p-column>
        <p-column header="Momento de Cobro" [style]="{'text-align':'left', width:'45%','overflow':'visible'}">
            <ng-template pTemplate="body" let-comision="rowData" let-ri="rowIndex">
                <div class="ui-g-12">
                    <div class="ui-g-4  ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-8 ui-g-nopad"><p-checkbox [disabled]="!editable" [binary]="true" [(ngModel)]="comision.cobraAlInicio" label="Adelanto"></p-checkbox></div>
                            <div class="ui-g-3 ui-g-nopad"><input type="number" pInputText [(ngModel)]="comision.porcentajeAdelanto" name="'comisionAdelanto_' + ri" (focusin)="onFocus($event)" /></div>
                        </div>
                        
                    </div>
                    <div class="ui-g-4 ui-g-nopad">
                        <p-checkbox [disabled]="!editable" [binary]="true" [(ngModel)]="comision.cobraPorCobro" label="Por Cobranza"></p-checkbox>
                    </div>
                    <div class="ui-g-4 ui-g-nopad">
                        <p-checkbox [disabled]="!editable" [binary]="true" [(ngModel)]="comision.cobraAlLiquidar" label="Al liquidar Contrato"></p-checkbox>
                    </div>




                </div>
            </ng-template>
        </p-column>
        <p-column header="Total de Comisión" [style]="{'text-align':'right', width:'10%','overflow':'visible'}">
            <ng-template pTemplate="body" let-comision="rowData" let-ri="rowIndex">
                <span>{{comision.updateTotalComision(contrato.getServicio(comision.producto.codigo), contrato) | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>


<p-dialog [(visible)]="mostrarConfigComision && configComision" [width]="700" [minHeight]="400" [contentStyle]="{'overflow':'visible'}" [appendTo]="'body'"
    [modal]="true" [responsive]="false" [resizable]="false">
    <p-header>
        <h4 class="text-overflow">Comisionies</h4>
    </p-header>
    <div class="ui-g-10 ui-g-offset-1 ui-fluid" *ngIf="configComision">
        <descriptivo-selector required [limpiable]=false [data]="comisionistas" nombre="Comisionista" labelClass="ui-g-3 required" inputClass="ui-g-7"
        [(ngModel)]="configComision.comisionista" (onSelect)="comisionistaSeleccionado($event)"></descriptivo-selector>
     </div>
     <div class="ui-g-12 ui-g-offset-2" *ngIf="configComision">
        <p-pickList [source]="productosSeleccionables" [target]="configComision.productos"
        sourceHeader="Disponibles" targetHeader="Seleccionados">
            <ng-template let-prod pTemplate="item">
                <div class="ui-helper-clearfix">
                   <span>{{prod.descripcion}}</span>
                </div>
            </ng-template>
        </p-pickList>
     </div>
    <p-footer>
        <div class="ui-g-12">
                <button [disabled]="!configComision.valid || loading" pButton (click)="guardarConfigComision()" label="Guardar" type="button"></button>
                <button pButton type="button" (click)="mostrarConfigComision = false" label="Cancelar"></button>
        </div>
        
    </p-footer>

</p-dialog>