<div class="ui-fluid">
    <form #itemForm="ngForm" (ngSubmit)="guardarItem()">

        <div class="ui-g-12">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-4">
                    <label for="premio">Centro</label>
                </div>

                <descriptivo-selector name="centro" required [limpiable]=false [data]="centros" nombre="Centro"
                    labelClass="hide" [(ngModel)]="item.centro" inputClass="ui-g-8"></descriptivo-selector>

            </div>

            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-4">
                    <label for="float-input">Cubiertos Desde</label>
                </div>
                <div class="ui-g-3">
                    <input title="Cantidad de cubiertos mínima de la escala" [disabled]="!editable" [(ngModel)]="item.desde"
                        type="number" name="desde" pInputText required>

                </div>
                <div class="ui-g-2">
                    <label for="float-input">Hasta</label>
                </div>
                <div class="ui-g-3">
                    <input title="Cantidad de cubiertos máxima de la escala" [disabled]="!editable" [(ngModel)]="item.hasta"
                        type="number" name="hasta" pInputText required>

                </div>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-4">
                    <label for="premio">Premio</label>
                </div>
                <div class="ui-g-8">
                    <div class="ui-inputgroup">

                        <span class="ui-inputgroup-addon">$</span>
                        <input title="Premio por la escala" [disabled]="!editable" [(ngModel)]="item.premio" type="number"
                            name="premio" pInputText required>

                    </div>
                </div>
            </div>
        </div>


        <div class="ui-g-12 ui-fluid" style="margin-top:20px">
            <div class="ui-g-4 ui-g-offset-4 ">
                <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()'
                    class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-4">
                <button pButton label="Guardar" type="submit" [disabled]="!itemForm.form.valid || finalizado || !editable"
                    class="ui-button-success"></button>
            </div>
        </div>



    </form>

</div>



<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>