
<div class="ui-fluid" *ngIf="cliente">
    <div class="ui-g" *ngIf="cliente.tipoCliente.codigo === 'SO'">
        <div class="ui-g-1 ">
            <label for="nombreCliente">Nombre Completo</label>
        </div>
        <div class="ui-g-5">
            <input [disabled]="!esEditable" [(ngModel)]="cliente.nombreCliente" type="text" name="nombreCliente" pInputText>
        </div>
        <div class="ui-g-1 ">
            <label for="dni">DNI</label>
        </div>
        <div class="ui-g-2">
            <input [disabled]="!esEditable"  [(ngModel)]="cliente.dniFirmante" type="text" name="dniFirmante" pInputText>
        </div>

    </div>
    <div class="ui-g" *ngIf="cliente.tipoCliente.codigo !== 'SO'">
            <div class="ui-g-1 ">
                <label for="razonSocial">Razón Social</label>
            </div>
            <div class="ui-g-5">
                <input [disabled]="!esEditable" [(ngModel)]="cliente.razonSocial" type="text" name="razonSocial" pInputText>
            </div>
            <div class="ui-g-1 ">
                <label for="cuit">CUIT</label>
            </div>
            <div class="ui-g-2">
                <input [disabled]="!esEditable" [(ngModel)]="cliente.cuit" type="text" name="cuit" pInputText>
            </div>
    
        </div>
    <div class="ui-g">
        <div class="ui-g-1 ">
            <label for="nombreCliente">Domicilio</label>
        </div>
        <div class="ui-g-5">
            <input [disabled]="!esEditable" [(ngModel)]="cliente.domicilio" type="text" name="domicilio" pInputText>
        </div>
        <div class="ui-g-1 ">
            <label for="email">Email</label>
        </div>
        <div class="ui-g-2">
            <input [disabled]="!esEditable" [(ngModel)]="cliente.email" type="text" name="email" pInputText>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-1 ">
            <label for="telefono">Teléfono</label>
        </div>
        <div class="ui-g-2">
            <input [disabled]="!esEditable" [(ngModel)]="cliente.telefono" type="text" name="telefono" pInputText>
        </div>
        <div class="ui-g-1 ">
            <label for="celular">Celular</label>
        </div>
        <div class="ui-g-2">
            <input [disabled]="!esEditable" [(ngModel)]="cliente.celular" type="text" name="celular" pInputText>
        </div>
        

    </div>

</div>
