<div class="ui-fluid">
    <form #itemForm="ngForm" (ngSubmit)="guardarItem()">

        <div class="ui-g-12">
            <div class="ui-g-12 ui-g-nopad">
                <descriptivo-selector name="grupo" [limpiable]=false [data]="grupos" nombre="Grupo de Producto"
                    labelClass="hide" [(ngModel)]="item.grupo" inputClass="ui-g-12 ui-g-nopad"></descriptivo-selector>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2"><label for="peso">Peso</label></div>
                <div class="ui-g-2">
                    <input placeholder="Peso de Orden" title="Indicador de orden en listados" [disabled]="!editable"
                        [(ngModel)]="item.peso" type="number" name="peso" pInputText required [step]="1">
                </div>
                <div class="ui-g-8">
                    <input placeholder="Descripción" title="Descripción" [disabled]="!editable"
                        [(ngModel)]="item.descripcion" type="text" name="descripcion" pInputText required>
                </div>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2"><label for="">Items</label></div>
                <div class="ui-g-10">
                    	<p-chips addOnTab="true" [(ngModel)]="item.itemsDetalle" name="itemDetalle"></p-chips>
                </div>

            </div>
        </div>


        <div class="ui-g-12 ui-fluid" style="margin-top:20px">
            <div class="ui-g-4 ui-g-offset-4 ">
                <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()'
                    class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-4">
                <button pButton label="Guardar" type="submit"
                    [disabled]="!itemForm.form.valid || finalizado || !editable" class="ui-button-success"></button>
            </div>
        </div>



    </form>

</div>



<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No">
</p-confirmDialog>