<div class="ui-fluid">
    <form #itemForm="ngForm" (ngSubmit)="guardarItem()">

        <div class="ui-g-12">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-4">
                    <input placeholder="Código" title="Código" [disabled]="!editable || item.esSistema" [(ngModel)]="item.codigo" type="text" name="codigo" pInputText
                            required>
                </div>
                <div class="ui-g-8">
                        <input placeholder="Descripción" title="Descripción" [disabled]="!editable" [(ngModel)]="item.descripcion" type="text" name="descripcion"
                            pInputText required>
                </div>
            </div>
        </div>


        <div class="ui-g-12 ui-fluid" style="margin-top:20px">
            <div class="ui-g-4 ui-g-offset-4 ">
                <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-4">
                <button pButton label="Guardar" type="submit" [disabled]="!itemForm.form.valid || finalizado || !editable" class="ui-button-success"></button>
            </div>
        </div>



    </form>

</div>



<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>