@import "./../../app.variables.less";

.required {
    width: 95%;
}

.configuracion {
    height: 20em;

}
.subproductos{
    input:active,input:focus{
        color:white;
    }
    button.floating-right{
        position: fixed;
        top:0.25em;
        right: 0.25em;
    }
}
:host /deep/ .ui-datatable{
    tr{
        line-height: 1;
        td{
            padding: 0 0.5em;
        }
    }
    .ui-datatable-header{
        text-align: right;
        button{
            width: auto;   
           
            background-color: @main-light-1;
            color:@main-brand; 
           
            border: none;
            padding: 2px;
            margin: 0.5em;
            &:hover,&:focus{
                background-color: transparent;
                color:@main-light-1;
                border: 1px solid @main-light-1;
            }
        }
    }
    
}
:host /deep/ .ui-tabview-panels {
    display: block;
    height: 22em;
    overflow: hidden;
    overflow-y: auto;
    .ui-tabview-panel {
        border-width: 0;
        padding: 0.25em 0;
        background: 0;
        position: relative;
        display: block;
    }


}

.selector-marca{
    display: flex;
    flex-wrap: nowrap;
  
    button{
        width: 30px;
        margin:0 0.25em;
        height: 32px;
    }
}
