<div class="content">

  <div class="ui-fluid">
    <form #productoForm="ngForm" (ngSubmit)="guardarProducto()">

      <div class='ui-g'>
        <div class="ui-g-12">
          <div class="ui-g-4 ui-g-nopad marca text-center" *ngIf="tieneMarca()">
            <div class="ui-g-12" style="height: 10em">
              <img
                [src]="producto.marca && producto.marca.imagenUrl? producto.marca.imagenUrl : 'assets/images/sin_imagen.png'"
                style="width:100%;height: auto; max-height:10em; display:block;align-self: center" />
            </div>
            <div class="ui-g-12 selector-marca">
              <p-autoComplete #marcas [(ngModel)]="producto.marca" [suggestions]="marcasFiltradas"
                (completeMethod)="filtrarMarcas($event)" name="marca" placeholder="Seleccione una marca"
                [dropdown]="true" appendTo="body" [dataKey]="'codigo'" field="descripcion">
                <ng-template let-marca pTemplate="item">
                  <div class="ui-helper-clearfix ui-g">
                    <img [src]="marca.imagenUrl"
                      style="width:100px;max-height: 50px; display:inline-block;align-self: center" />
                    <div style="font-size:12px;align-self: center;margin-left:auto;">
                      <span>{{marca.descripcion}}</span>
                    </div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <button pButton icon="fa fa-trash" class="ui-button-small" (click)="producto.marca = null"
                *ngIf="producto?.marca?.codigo"></button>


            </div>

          </div>
          <div class='ui-g-8 ui-g-nopad ui-fluid'>
            <!--div class="ui-g-2">
              <label for="sector">Código</label>
            </div>
            <div class="ui-g-2">
              <input placeholder="codigo" title="Código" [disabled]="!editable" [(ngModel)]="producto.codigo" type="text"
                name="Código" pInputText required>
            </div-->
            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-2">
                <label for="sector">Nombre</label>
              </div>
              <div class="ui-g-10 ">
                <input placeholder="Nombre" title="Nombre" [disabled]="!editable" [(ngModel)]="producto.nombre"
                  type="text" name="nombre" pInputText required>
              </div>
            </div>
            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-2">
                <label for="sector">Unidad</label>
              </div>

              <descriptivo-selector name="unidad" required [limpiable]=false [data]="unidades" nombre="Unidad"
                labelClass="hide" [(ngModel)]="producto.unidad" inputClass="ui-g-4"></descriptivo-selector>

              <div class="ui-g-2">
                <label for="sector">Categoría</label>
              </div>
              <descriptivo-selector name="categoria" required [limpiable]=false [data]="categorias" nombre="Categoría" 
                 labelClass="hide" [(ngModel)]="producto.categoria" (onSelect)="cambioCategoria($event) " inputClass="ui-g-4"></descriptivo-selector>
            </div>
            <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-2">
                <label for="">Agrupador</label>
              </div>
              <div class="ui-g-4">
                  <descriptivo-selector name="agrupador" [limpiable]=true [data]="agrupadores" nombre="Agrupadores"
                  labelClass="hide" [autoselect]="false" [(ngModel)]="producto.agrupador" inputClass="ui-g-12 ui-g-nopad" ></descriptivo-selector>
              </div>
              <div class="ui-g-2">
                <label for="">Detalle </label>
              </div>
              <div class="ui-g-4"><input type="text" [(ngModel)]="producto.detalleItem"
                  [title]="producto.detalleItem? producto.detalleItem: 'Se utiliza para mostrar un detalle del item en impresiones'"
                  name="detalleItem" [disabled]="!editable" pInputText></div>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2">
                    <label for="">Notas</label>
                  </div>
                  <div class="ui-g-10">
                    <input type="text" [(ngModel)]="producto.notas"
                      [title]="producto.notas? producto.notas : 'Se utiliza para agregar notas del producto'"
                      [disabled]="!editable" pInputText name="notas">
                  </div>
            </div>
            <div class="ui-g-4 ui-g-offset-2  ui-g-nopad">
              <p-checkbox label="Imputa IVA" [(ngModel)]="producto.imputaIVA" name="imputaIVA" binary="true">
              </p-checkbox>
            </div>
            <div class="ui-g-4 ui-g-offset-2 ui-g-nopad">
              <p-checkbox label="Divisible" [(ngModel)]="producto.divisible" name="divide" binary="true"></p-checkbox>
            </div>
          </div>

        </div>

        <div class="ui-g-nopad ui-g-12" *ngIf="producto.divisible">
          <div class="ui-g-2"><label for="adol">Adolescente</label></div>
          <div class="ui-g-2">
            <div class="ui-inputgroup">
              <input name="adolescenteProp" type="number" step="1" pInputText [(ngModel)]="producto.adolescenteProp">
              <span class="ui-inputgroup-addon">%</span>
            </div>
          </div>
          <div class="ui-g-2"><label for="">Menor</label></div>
          <div class="ui-g-2">
            <div class="ui-inputgroup">
              <input name="menorProp" type="number" step="1" pInputText [(ngModel)]="producto.menorProp">
              <span class="ui-inputgroup-addon">%</span>
            </div>
          </div>
          <div class="ui-g-2"><label for="">Bebe</label></div>
          <div class="ui-g-2">
            <div class="ui-inputgroup">
              <input name="bebeProp" type="number" step="1" pInputText [(ngModel)]="producto.bebeProp">
              <span class="ui-inputgroup-addon">%</span>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-12 configuracion ui-fluid">
        <p-tabView>
          <p-tabPanel header="Cuentas Aplicación">
            <div class="tab-content">
              <div class="ui-g-12 ui-g-nopad">


                <descriptivo-selector *ngIf="esMenu()" name="tipoMenu" required [limpiable]=false [data]="tiposMenu"
                  nombre="Tipo Menu" labelClass="ui-g-2 ui-g-offset-3 " [(ngModel)]="producto.tipoMenu"
                  inputClass="ui-g-4">
                </descriptivo-selector>

              </div>
              <div class="ui-g-12 ui-g-nopad">
                <p-dataTable [value]="producto.cuentas" [rows]="10" [responsive]="true"
                  [emptyMessage]="'No hay centros configurados'">
                  <p-column [style]="{'width':'20%', 'text-align':'left'}" field="nombre" header="Centro Costo"
                    [sortable]="true">
                    <ng-template let-col let-ri="rowIndex" let-item="rowData" pTemplate="body">
                      {{item.centroCosto.descripcion}}
                    </ng-template>
                  </p-column>
                  <p-column [style]="{'width':'20%', 'text-align':'left'}" field="nombre" header="Cuenta Imputación"
                    [sortable]="true">
                    <ng-template let-col let-ri="rowIndex" let-item="rowData" pTemplate="body">
                      <div class="ui-g-12 ui-g-nopad" *ngIf="item.centroCosto">
                        <descriptivo-selector [ngModelOptions]="{standalone:true}" required [limpiable]=true
                          [data]="getCuentasAplicacion(item)" nombre="Cuenta Aplicación" labelClass="hide"
                          [(ngModel)]="item.cuentaAplicacion" inputClass="ui-g-12"></descriptivo-selector>
                      </div>

                    </ng-template>
                  </p-column>
                  <p-column [style]="{'width':'20%', 'text-align':'center'}" field="nombre" header="Habilitado">
                    <ng-template let-col let-item="rowData" pTemplate="body" let-ri="rowIndex">
                      <div class="ui-g-6 ui-g-offset-3 ui-fluid">
                        <p-toggleButton [(ngModel)]="item.habilitado" [ngModelOptions]="{standalone:true}" onLabel="SI"
                          offLabel="NO"></p-toggleButton>
                      </div>

                    </ng-template>
                  </p-column>
                </p-dataTable>
              </div>

            </div>

          </p-tabPanel>
          <p-tabPanel header="Subproductos">
            <div class="ui-g-12 ui-g-nopad">
              <p-dataTable [value]="producto.subproductos" scrollable="true" scrollHeight="14em" [responsive]="true"
                [sortField]="'peso'" [editable]="true" [emptyMessage]="'No hay subproductos'">
                <p-header>
                  <button type="button" pButton class="float-right" icon="fa fa-plus"
                    (click)="nuevoSubproducto()"></button>

                </p-header>
                <p-column [style]="{'width':'13%', 'text-align':'center'}" field="peso" header="Orden" [sortable]="true"
                  [editable]="true">
                  <ng-template let-col let-ri="rowIndex" let-item="rowData" pTemplate="body">
                    <span>{{item.peso}}</span>
                  </ng-template>
                  <ng-template let-col let-ri="rowIndex" let-item="rowData" pTemplate="editor">
                    <div class="ui-g-12">
                      <input type="number" step="1" pInputText [(ngModel)]="item.peso"
                        [ngModelOptions]="{standalone:true}" (focusin)="onFocus($event)">
                    </div>
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'67%', 'text-align':'left'}" field="nombre" header="Subproducto"
                  [sortable]="true" [editable]="true">
                  <ng-template let-col let-ri="rowIndex" let-item="rowData" pTemplate="body">
                    <span>{{item.descripcion}}</span>
                  </ng-template>
                  <ng-template let-col let-ri="rowIndex" let-item="rowData" pTemplate="editor">
                    <div class="ui-g-12">
                      <input type="text" pInputText [(ngModel)]="item.descripcion" [ngModelOptions]="{standalone:true}"
                        (focusin)="onFocus($event)">
                    </div>
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'20%', 'text-align':'center'}" field="nombre" header="Habilitado">
                  <ng-template let-col let-item="rowData" pTemplate="body" let-ri="rowIndex">
                    <div class="ui-g-4 ui-g-offset-4">
                      <button type="button" pButton (click)="quitarSubproducto(item)" icon="fa fa-trash"
                        class="ui-button-danger"></button>
                    </div>

                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </p-tabPanel>

        </p-tabView>
      </div>




      <div class="ui-g-12 ui-fluid" style="margin-top:15px">
        <div class="ui-g-2 ui-g-offset-8 ">
          <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()'
            class="ui-button-secondary"></button>
        </div>
        <div class="ui-g-2">
          <button pButton label="Guardar" type="submit" [disabled]="!productoForm.form.valid || finalizado || !editable"
            class="ui-button-success"></button>
        </div>
      </div>


    </form>

  </div>