<div class="content has-header">
    
    <div class="ui-header">
        <h3>{{ titulo }}</h3>

    </div>
    <div class="ui-fluid">
        <form #chequeForm="ngForm" (ngSubmit)="guardarCheque()" *ngIf="chequeEditado">
            <div class="ui-g-12">
                <div class="ui-g">
                    <div class="first-label required">
                        <label for="tipoCheque">Tipo Cheque</label>
                    </div>
                    <div class="ui-g-2">
                        <descriptivo-selector name="tiposCheque" required [limpiable]=false [data]="tiposCheque" nombre="Tipos Cheque" labelClass="hide"
                            [(ngModel)]="chequeEditado.tipoCheque" (onSelect)="updateTipoCheque($event)"></descriptivo-selector>
                    </div>
                    <div class="ui-g-1  required middle-label">
                            <label for="tipoCheque">Estado</label>
                        </div>
                        <div class="ui-g-2">
                                <descriptivo-selector name="estados" required [limpiable]=false [data]="estados" nombre="Estados" labelClass="hide"
                                [(ngModel)]="estadoCheque"></descriptivo-selector>
                         
                        </div>
                    <div class="ui-g-2 middle-label ">
                        <label for="esDiferido">Es diferido</label>
                    </div>
                    <div class="ui-g-1">
                        <p-inputSwitch [(ngModel)]="chequeEditado.esDiferido" name="esDiferido" onLabel="Si" offLabel="No"></p-inputSwitch>
                    </div>
                </div>
                <div class="ui-g" *ngIf=" chequeEditado.tipoCheque.codigo !== 'P'">

                    <div class="first-label required ">
                        <label for="banco">Banco</label>
                    </div>
                    <div class="ui-g-2">
                        <input pInputText name="banco" [(ngModel)]="chequeEditado.banco" placeholder="Banco emisor del Cheque" />
                    </div>
                    <div class="ui-g-1  required middle-label">
                        <label for="numeroCuenta">N° Cuenta</label>
                    </div>
                    <div class="ui-g-2">
                        <input required pInputText name="numeroCuenta" [(ngModel)]="chequeEditado.numeroCuenta" placeholder="Número de cuenta" />
                    </div>
                    <div class="ui-g-1 required middle-label">
                        <label for="numeroCheque">N° Cheque</label>
                    </div>
                    <div class="ui-g-2">
                        <input pInputText name="numeroCheque" [(ngModel)]="chequeEditado.numero" placeholder="Número de cheque" />
                    </div>

                </div>
                <div class="ui-g" *ngIf=" chequeEditado.tipoCheque.codigo !== 'P'">

                    <div class="first-label required ">
                        <label for="fechaIngreso">Fecha Ingreso</label>
                    </div>
                    <div class="ui-g-2">
                            <p-calendar required [showIcon]="true" name="fechaIngreso" [(ngModel)]="chequeEditado.fechaIngreso" dateFormat="dd/mm/yy" name="fecha"></p-calendar>
                        
                    </div>
                    <div class="ui-g-1  middle-label">
                        <label for="numeroRecibo">N° Recibo</label>
                    </div>
                    <div class="ui-g-2">
                        <input pInputText type="text" name="numeroRecibo" placeholder="N° del Recibo" [(ngModel)]="chequeEditado.numeroRecibo"/>
                    </div>
                    <div class="ui-g-1 required middle-label">
                            <label for="origen">Origen</label>
                        </div>
                        <div class="ui-g-2">
                            <input pInputText required type="text" name="origen" placeholder="Origen del cheque" [(ngModel)]="chequeEditado.origen"/>
                        </div>

                </div>
                <div class="ui-g" *ngIf=" chequeEditado.tipoCheque.codigo !== 'P'">

                    <div class="first-label required ">
                        <label for="titular">Titular</label>
                    </div>
                    <div class="ui-g-2">
                        <input pInputText name="titularCuenta" [(ngModel)]="chequeEditado.titularCuenta" placeholder="Titular de la cuenta bancaria"
                        />
                    </div>
                    <div class="ui-g-1  required middle-label">
                        <label for="cuit">CUIT</label>
                    </div>
                    <div class="ui-g-2">
                        <p-inputMask mask="99-99999999-9" title="CUIT" [(ngModel)]="chequeEditado.cuit" type="text" name="cuit" placeholder="Cuit de titular de la cuenta"
                            required></p-inputMask>
                    </div>

                </div>

                <div class="ui-g" *ngIf=" chequeEditado.tipoCheque.codigo === 'P'">

                    <div class="first-label required ">
                        <label for="cuentaBancaria">Cuenta Bancaria</label>
                    </div>
                    <div class="ui-g-3">
                        <p-dropdown [dataKey]="'id'" placeholder="Seleccione una..." [style]="{'width':'100%'}" name="cuentaBancaria" [options]="cuentasBancarias"
                            [(ngModel)]="chequeEditado.cuentaBancaria" [ngModelOptions]="{standalone: true}" required [disabled]="!editable"></p-dropdown>
                    </div>
                    <div class="ui-g-1 required  middle-label">
                        <label for="cuentaBancaria">N° Cheque</label>
                    </div>
                    <div class="ui-g-3">
                        <input pInputText name="numero" [(ngModel)]="chequeEditado.numero" placeholder="Número de cheque" />
                    </div>

                </div>
                <div class="ui-g">


                    <div class="first-label ">
                        <label for="fecha">Fecha Emisión</label>
                    </div>
                    <div class="ui-g-2">
                        <p-calendar [showIcon]="true" name="fechaEmision" [(ngModel)]="chequeEditado.fechaEmision" dateFormat="dd/mm/yy" ></p-calendar>
                    </div>
                    <div class="ui-g-1   middle-label">
                        <label for="fecha">Fecha Pago</label>
                    </div>
                    <div class="ui-g-2">
                        <p-calendar [showIcon]="true" name="fechaPago" [(ngModel)]="chequeEditado.fechaPago" dateFormat="dd/mm/yy" ></p-calendar>
                    </div>

                </div>
                <div class="ui-g">
                    <div class="first-label ">
                        <label for="fecha">Importe</label>
                    </div>
                    <div class="ui-g-3">
                        <input pInputText name="importe" class="money" [(ngModel)]="chequeEditado.importe" 
                        [disabled]=" (chequeEditado.estado && chequeEditado.estado.codigo != 'D')"
                            placeholder="Importe del cheque" />
                    </div>
                
                
                </div>
                <div class="ui-g">
                        <div class="first-label ">
                            <label for="destino">Destino</label>
                        </div>
                        <div class="ui-g-3">
                            <input pInputText name="destino" [(ngModel)]="chequeEditado.destino" [disabled]="chequeEditado.pago"
                                placeholder="Destino del Cheque" />
                        </div>
                        <div class="ui-g-2 middle-label"  *ngIf="chequeEditado.pago">
                                <label for="ordenPago">Orden de Pago</label>
                            </div>
                            <div class="ui-g-3" *ngIf="chequeEditado.pago">
                                <input pInputText name="ordenPago" [(ngModel)]="chequeEditado.pago.codigo" [disabled]="true" />
                            </div>
                    
                    
                    </div>
            </div>
            <div class="ui-g-8 ui-fluid" style="margin-top:20px">
                <div class="ui-g-2 ui-g-offset-8 ">
                    <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton label="Guardar" type="submit" [disabled]="!chequeForm.form.valid || finalizado" class="ui-button-success"></button>
                </div>
            </div>
        </form>
    </div>
</div>
<p-confirmDialog header="Confirmar" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
