:host /deep/ .lista-marcas{
    .tabla-contenido{
        .imagen{
            width: 100%;
            height: 9em;
            overflow: hidden;
            background-color: white;
            img{
                width: 100%;
                max-height: 100%;
            }
        }
    }
}