
.loading-panel{
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    transition: easy-in 200ms;
    p{
        position: relative;
        text-align: center;
        font-size: 22pt;
        top: 50%;
        
    }
}