<div class="content has-header">

  <div class="ui-header">
    <div class="ui-g">
      <div class="ui-g-10">
        <h3>{{ titulo }}</h3>
      </div>
      <div class="ui-g-2" style="text-align: right" [hidden]="currentView !== 'lista-comisionistas'">
        <p-menubar [model]="acciones"></p-menubar>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad" [hidden]="currentView !== 'lista-comisionistas'">
    <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">
      <div class="ui-g">
        <div class="ui-g-10">
          <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
        </div>

      </div>

    </div>
    <p-dataTable [value]="listaComisionistas"   [globalFilter]="gb" [paginator]="true"
      [rows]="15" [emptyMessage]="'No hay Comisionistas'" sortMode="multiple">

      <p-column [style]="{'width':'5%', 'text-align':'center'}" field="id" header="#"></p-column>
      <p-column [style]="{'width':'10%', 'text-align':'center'}" field="tipoComisionistaStr" header="Tipo Comisionista" [sortable]="true"></p-column>
      <p-column [style]="{'width':'20%', 'text-align':'left'}" field="nombre" header="Nombre" [sortable]="true"></p-column>
      <p-column [style]="{'text-align': 'left','width':'60%'}" field="contacto" header="Contacto" >
        <ng-template pTemplate="body" let-col let-comisionista="rowData" let-ri="rowIndex">
          <div class="ui-g">
            <div class="ui-g-3 overflow">
              <span title="Nombre de Contacto: {{comisionista.contacto}}">
                <i class="fa  fa-user-o"></i> {{comisionista.contacto}} </span>
            </div>
            <div class="ui-g-4 overflow">
              <i class="fa fa-envelope-o "></i>
              <a target="_blank" href="mailto:{{comisionista.email}}" title="Email: {{comisionista.email}}"> {{comisionista.email}} </a>
            </div>
            <div class="ui-g-3 overflow">
              <span title="Celular: {{comisionista.celular}}">
                <i class="fa fa-mobile fa-2"></i> {{comisionista.celular}} </span>
            </div>
            <div class="ui-g-2 overflow">
              <span title="Teléfono: {{comisionista.telefono}}">
                <i class="fa fa-phone "></i> {{comisionista.telefono}} </span>
            </div>
          </div>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align': 'right','width':'10%'}" header="Saldo">
        <ng-template let-col let-comisionista="rowData" let-ri="rowIndex" pTemplate="body">
          <span>{{comisionista.saldo | currency : 'USD':'symbol-narrow'}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align': 'center', 'width':'50px'}" *ngIf="esAuditor">
        <ng-template let-col let-comisionista="rowData" let-ri="rowIndex" pTemplate="body">
          <button pButton class="small" icon="fa-cog" (click)="mostrarAcciones($event, comisionista)" title="Mostrar Acciones"></button>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align': 'center', 'width':'20%'}" field="mensaje" *ngIf="!esAuditor"></p-column>
    </p-dataTable>
  </div>
  <div class="ui-g-12 ui-g-nopad" *ngIf="currentView === 'gestion-comisionista'">
    <gestion-comisionista [(comisionista)]="comisionistaEditado"  [editable]="true"
    (onCancelar)="cancelarEdicion()" (onGuardar)="comisionistaGuardado($event)"></gestion-comisionista>
  </div>
</div>

<p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"></p-menu>