<div class="content has-header vista-listados">

    <div class="ui-header ui-g" [hidden]="currentView =='impresion'">

        <div class="ui-g-6">
            <h3>Lista de Precios - {{grupoSeleccionado?.descripcion}}</h3>
        </div>

    </div>
    <div class="ui-g-12 filtros">
        <div class="ui-g-6 ui-sm-8 ui-g-nopad">
            <div class="ui-g-5 ui-g-nopad ui-fluid">
                <div class="ui-g-8">
                    <p-calendar [(ngModel)]="filtro.fechaVigencia" dateFormat="dd/mm/yy" [showIcon]="true"
                        [readonlyInput]="true" [locale]="locale.es" placeholder="Vigencia"
                        title="Fecha de Vigencia de la lista de precios." ></p-calendar>
                </div>
                <div class="ui-g-4">
                    <button pButton label="HOY" (click)="hoy()"></button>
                </div>
            </div>
            <div class="ui-g-4">
                    <button pButton label="Nueva" icon="fa fa-plus" (click)="crearNueva()"></button>
            </div>
        </div>
    </div>
    <div class="cuadricula ui-g-12">
        <div class="ui-g-fluid ui-g">
            <div class="ui-g-3 vista ui-sm-12 comando" (click)="verTodos()">
                <div class="ui-g-12 vista-content">
                    <span>Ver Todos</span>
                </div>
            </div>
            <div class="ui-g-3 vista ui-sm-12" *ngFor="let vista of vistas" (click)="ver(vista)">
                <div class="ui-g-12 vista-content">
                    <div class="ui-g-12">
                        <span class="titulo">{{vista?.descripcion}}</span>
                    </div>

                    <div class="ui-g-12 botonera ui-g">
                        <button pButton icon="fa fa-print" (click)="imprimir(vista)"
                            title="Vista de Impresión de Listado"></button>
                        <button pButton icon="fa fa-eye" (click)="ver(vista)" title="Ver Listado"></button>
                        <button pButton icon="fa fa-pencil" (click)="editar(vista)" title="Editar Listado"></button>
                        <button pButton icon="fa fa-copy" (click)="copiar(vista)" title="Copiar Listado"></button>
                        <button pButton icon="fa fa-trash" (click)="borrar(vista)" title="Borrar Listado"></button>
                    </div>
                </div>

            </div>
            <div class="ui-g-3 vista ui-sm-12 comando nuevo" (click)="crearNueva()">
                <div class="ui-g-12 vista-content">
                    <span><i class="fa fa-plus"></i> </span>
                </div>
            </div>
        </div>

    </div>

</div>


<p-dialog header="Lista de Precios" [(visible)]="nuevoListado" [width]="400" [appendTo]="'body'" [modal]="true">
    <div class="ui-g-12" *ngIf="nuevoListado">
            <gestion-lista-precios [editable]="nuevoListado" (onCancelar)="nuevoListado = false" [grupo]="grupoSeleccionado"
                                    (onGuardar)="nuevoGuardado($event)"></gestion-lista-precios>
        </div>
</p-dialog>