@import "./../../app.variables.less";

.vista-listados {
    .cuadricula {
        .vista {
            min-height: 6em;
            cursor: pointer;
            font-variant:small-caps;
            &.comando {
                span {
                    align-self: center;
                    margin: 0 auto;
                    font-size: 14pt;
                    color:@main-brand-text;
                }

            }
            &.nuevo{
                i{
                    font-size: 1.5em;
                }
            }

            .vista-content {
                position: relative;
                border-radius: 5px;
                padding: 0.25em 0.75em;
                border: 1px solid gray;
                background-color: white;
                height: 100%;
                box-shadow: 2px 2px 4px lightgray;
                display: flex;
                flex-wrap: wrap;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

                .titulo {
                    font-size: 12pt;
                    
                    color: @main-brand;
                }

                .botonera {
                    display: flex;

                    button {
                        flex-grow: 1;
                    }
                }
            }
        }
    }

}