@import "./../../../app.variables.less";
.error{
    padding: 0.5em;
    background-color: #f8e4e4;
    border: 1p solid @error;
    border-radius: 3px;
    margin: 2px auto;
    
    span{
        display: block;
        color:@error;
        font-weight: bold;
    }
}