<div class="ui-fluid">
    <form #itemForm="ngForm" (ngSubmit)="guardarItem()">

        <descriptivo-selector name="grupo" [limpiable]=false [data]="grupos" nombre="Grupo" *ngIf="!grupo"
            labelClass="ui-g-4" [(ngModel)]="item.grupo" inputClass="ui-g-8 ui-g-nopad" appendTo="body"></descriptivo-selector>

        <div class="ui-g-12">
            <input placeholder="Descripción" title="Descripción" [disabled]="!editable" [(ngModel)]="item.descripcion"
                type="text" name="descripcion" pInputText required (change)="onInputChange($event)" [ngClass]="{error: invalidInput}">
                <div class="ui-g-12 ui-g-nopad error" *ngIf="invalidInput">
                    <span class=""><i class="fa fa-close"></i>Ya existe un Listado con el mismo nombre</span>
                    
                </div>  
        </div>


        <div class="ui-g-12 ui-fluid" style="margin-top:20px">
            <div class="ui-g-4 ui-g-offset-4 ">
                <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()'
                    class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-4">
                <button pButton label="Guardar" type="submit"
                    [disabled]="!itemForm.form.valid || finalizado || !editable || invalidInput"  class="ui-button-success"></button>
            </div>
        </div>



    </form>

</div>



<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No">
</p-confirmDialog>