
<div class="login-logo">
    <img src="assets/images/logo.png" />
</div>
<div class="container-flex">
    <div class="ui-g-4 ui-g-offset-4 ui-jumbotron">

        <form name="form" (ngSubmit)="login()" role="form">
            <div class="ui-g">
                <div class="ui-inputgroup  ui-g-12">
                        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                        <input type="text" name="username" id="username" pInputText placeholder="Usuario" [(ngModel)]="username" required>         
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-inputgroup ui-g-12 ">
                        <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                        <input type="password" name="password" id="password" pInputText placeholder="Contraseña" [(ngModel)]="password" required>         
                </div>

                
            </div>
            <div class="ui-g form-actions">
                <div class="ui-g-8">
                    <a routerLink="/public/olvido-su-password">¿Olvidó su contraseña?</a>
                </div>                
                <div class="ui-g-4 pull-right">
                    <button type="submit" pButton class="" label="Acceder" [disabled]="loading"></button>
                </div>
            </div>


        </form>
    </div>
</div>
<div class="login-footer ">
    <div class="text-center">
        <a href="http://www.thinkup.com.ar" target="_blank"> Powered by ThinkUp </a>
    </div>
</div>
