<div  *ngIf="visible && ordenCobranza">
    <form #ordenCobranzaForm="ngForm" (ngSubmit)="guardar()" class="">
        <div class="ui-g-12 ui-md-10 ui-fluid">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2 ui-md-1 required">
                    <label for="cliente" required>Cliente</label>
                </div>
                <div class="ui-g-3">
                    <descriptivo-selector name="clientes" required [limpiable]=false [data]="clientes" nombre="Cliente" labelClass="hide" [(ngModel)]="cliente"
                         [editable]="editable"></descriptivo-selector>
                </div>
                <div class="ui-g-2 ui-md-1 required">
                    <label for="centro" required>Evento</label>
                </div>
                <div class="ui-g-5" *ngIf=" cliente && ordenCobranza">
                    <descriptivo-selector name="eventos" required [limpiable]=false [data]="eventos" nombre="Evento" labelClass="hide" [(ngModel)]="contrato"
                         [editable]="editable"></descriptivo-selector>
                </div>
                <div class="ui-g-5" *ngIf="!cliente">
                    <span class="error-message">Seleccione un cliente</span>
                </div>

            </div>
        </div>
        <div class="ui-g-12 ui-md-10 ui-fluid">
            <div class="ui-g-2 ui-md-1 required"><label for="centro">Centro</label></div>
            <div class="ui-g-3">
                <descriptivo-selector [editable]="editable" name="centros" required [limpiable]=false [data]="centros" nombre="Centro" labelClass="hide"
                                [(ngModel)]="ordenCobranza.centroCosto"></descriptivo-selector>
            </div>
            <div class="ui-g-2 ui-md-1 required">
                <label for="fecha">Fecha</label>
            </div>
            <div class="ui-g-3">
                <p-calendar [disabled]="!editable" [showIcon]="true" [(ngModel)]="ordenCobranza.fecha" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"
                    name="fecha"></p-calendar>
            </div>
        </div>
        <div class="ui-g-12 ui-md-10 ui-fluid">
            <div class="ui-g-12 ui-g-nopad">

               
                <div class="ui-g-2 ui-md-1 ">
                        <label for="descripcion">Comprobante</label>
                    </div>
                    <div class="ui-g-4">
                        <input [disabled]="!editable" placeholder="Comprobante de la Cobranza" title="Comrpobante" pInputText type="text" name="comprobante"
                            [(ngModel)]="ordenCobranza.numeroComprobante" />
                    </div>

            </div>
        </div>
        <div class="ui-g-12 ui-md-10 ui-fluid">

            <div class="ui-g-2 ui-md-1 ">
                <label for="descripcion">Descripción</label>
            </div>
            <div class="ui-g-3">
                <input [disabled]="!editable" placeholder="Descripción de la Cobranza" title="Descripción de la Cobranza" pInputText type="text"
                    name="descripcion" [(ngModel)]="ordenCobranza.descripcion" />
            </div>
            <div class="ui-g-2 ui-md-1">
                    <label for="observaciones">Observaciones</label>
                </div>
                <div class="ui-g-3">
                    <input [disabled]="!editable" placeholder="Observaciones de la Cobranza" title="Observaciones de la Cobranza" pInputText
                        type="text" name="observaciones" [(ngModel)]="ordenCobranza.observaciones" />
                </div>
           

        </div>
        <div class="ui-g-12 ui-md-10 ui-fluid">
            
        </div>


        <div class="ui-g-12 ui-md-10 ui-fluid ui-g-nopad" style="margin-top:1em">

            <div class="ui-widget-header thead-default print-hide">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-2 label">
                        <h4>Cuotas por pagar</h4>
                    </div>
                    <div class="ui-g-6" [hidden]="!editable ||  !cliente || !ordenCobranza.contrato">
                        <input name="gbItem" autocomple="off" #gbItem type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                    </div>
                    <div class="ui-g-4 text-right" [hidden]="!editable ||  !cliente || !ordenCobranza.contrato">
                        <p-checkbox [binary]="true" name="filtrarSeleccionados" [(ngModel)]="soloSeleccionadosItems" label="Solo seleccionados"></p-checkbox>
                    </div>
                    <div class="ui-g-10" [hidden]="!editable || (cliente && ordenCobranza.contrato)">
                        <span class="error-message light">Seleccione Cliente y Evento </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-10 ui-fluid ui-g-nopad" [hidden]=" !cliente ||  !ordenCobranza.contrato">
            <p-dataTable [value]="itemsFiltrados" [(selection)]="ordenCobranza.items" [globalFilter]="gbItem" dataKey="cuotaServicio.id" [paginator]="true"
                [rows]="20" [headerCheckboxToggleAllPages]="true" [editable]="editable && ordenCobranza.estado !== 'PP'" [emptyMessage]="'No hay cuotas'">
                <p-column [styleClass]="'print-hide'" *ngIf="editable" [style]="{'width':'38px', 'text-align':'center'}" selectionMode="multiple"></p-column>
                <p-column [style]="{'width':'15%','text-align':'center'}" field="cuotaServicio.fechaVencimientoStr" header="Fecha" [sortable]="true"></p-column>
                <p-column [style]="{'width':'10%','text-align':'center'}" field="cuotaServicio.cantidadFormateada" header="Cant."></p-column>
                <p-column [style]="{'text-align': 'center','width':'20%'}" field="cuotaServicio.producto.descripcion" header="Descripción"></p-column>
                <p-column [style]="{'text-align': 'right','width':'15%'}" header="Importe">
                    <ng-template let-col let-cf="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{cf.cuotaServicio.total| currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align': 'right','width':'15%'}" header="Saldo">
                    <ng-template let-col let-cf="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{cf.cuotaServicio.saldo | currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align': 'right','width':'25%'}" [editable]="true" header="{{editable?'A Pagar' : 'Pagado'}}">
                    <ng-template pTemplate="editor" let-ri="rowIndex" let-cf="rowData">
                        <input type="number" max="cf.saldo" [(ngModel)]="cf.importeValidado" [disabled]="!editable && cf.esNotaCredito" name="{{'cf.importeValidado' + ri}}"
                        />

                    </ng-template>
                    <ng-template pTemplate="body" let-ri="rowIndex" let-cf="rowData">
                        <span>{{cf.importeValidado| currency :'USD':'symbol-narrow'}}</span>
                        <span class="error-float-right" *ngIf=" editable && (cf.cuotaServicio.saldo < cf.importeValidado)">El valor tiene que ser menor al saldo</span>
                    </ng-template>
                </p-column>
                <p-footerColumnGroup>
                    <p-row>
                        <p-column [styleClass]="'print-hide'" *ngIf="editable" [style]="{'text-align':'right'}" footer="Total a Pagar:" colspan="6"></p-column>
                        <p-column [styleClass]="'print-hide'" *ngIf="!editable" [style]="{'text-align':'right'}" footer="Total:" colspan="5"></p-column>
                        <p-column [styleClass]="'print-only'" [style]="{'text-align':'right'}" footer="Total:" colspan="5"></p-column>
                        <p-column [style]="{'text-align':'right'}">
                            <ng-template pTemplate="footer">
                                <span>{{ordenCobranza.totalItems | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                        </p-column>


                    </p-row>
                </p-footerColumnGroup>
            </p-dataTable>

        </div>

        <div class="ui-g-12 ui-md-10 ui-fluid ui-g-nopad" style="margin-top:1em">

                <div class="ui-widget-header thead-default print-hide">
                    <div class="ui-g ui-fluid">
                        <div class="ui-g-2 label">
                            <h4>Impuestos</h4>
                        </div>
                        <div class="ui-g-6" [hidden]="!editable ||  !cliente || !ordenCobranza.contrato">
                            <input name="gbI" autocomple="off" #gbI type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                        </div>
                        <div class="ui-g-4 text-right" [hidden]="!editable ||  !cliente || !ordenCobranza.contrato">
                            <p-checkbox [binary]="true" name="filtrarSeleccionados" [(ngModel)]="soloSeleccionadosImpuestos" label="Solo seleccionados"></p-checkbox>
                        </div>
                        <div class="ui-g-10" [hidden]="!editable || (cliente && ordenCobranza.contrato)">
                            <span class="error-message light">Seleccione Cliente y Evento </span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="ui-g-12 ui-md-10 ui-fluid ui-g-nopad" [hidden]="!cliente || !ordenCobranza.contrato">
                <p-dataTable [value]="impuestosFiltrados" [(selection)]="ordenCobranza.items" [globalFilter]="gbI" dataKey="cuotaServicio.id" [paginator]="true"
                [rows]="20" [headerCheckboxToggleAllPages]="true" [editable]="editable && ordenCobranza.estado !== 'PP'" [emptyMessage]="'No hay impuestos'">
                <p-column [styleClass]="'print-hide'" *ngIf="editable" [style]="{'width':'38px', 'text-align':'center'}" selectionMode="multiple"></p-column>
                <p-column [style]="{'width':'15%','text-align':'center'}" field="cuotaServicio.fechaVencimientoStr" header="Fecha" [sortable]="true"></p-column>
                <p-column [style]="{'width':'10%','text-align':'center'}" field="cuotaServicio.cantidadFormateada" header="Cant."></p-column>
                <p-column [style]="{'text-align': 'center','width':'20%'}" field="cuotaServicio.producto.descripcion" header="Descripción"></p-column>
                <p-column [style]="{'text-align': 'right','width':'15%'}" header="Importe">
                    <ng-template let-col let-cf="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{cf.cuotaServicio.total| currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align': 'right','width':'15%'}" header="Saldo">
                    <ng-template let-col let-cf="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{cf.cuotaServicio.saldo | currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align': 'right','width':'25%'}" [editable]="true" header="{{editable?'A Pagar' : 'Pagado'}}">
                    <ng-template pTemplate="editor" let-ri="rowIndex" let-cf="rowData">
                        <input type="number" max="cf.saldo" [(ngModel)]="cf.importeValidado" [disabled]="!editable && cf.esNotaCredito" name="{{'cf.importeValidado' + ri}}"
                        />

                    </ng-template>
                    <ng-template pTemplate="body" let-ri="rowIndex" let-cf="rowData">
                        <span>{{cf.importeValidado| currency :'USD':'symbol-narrow'}}</span>
                        <span class="error-float-right" *ngIf=" editable && (cf.cuotaServicio.saldo < cf.importeValidado)">El valor tiene que ser menor al saldo</span>
                    </ng-template>
                </p-column>
                <p-footerColumnGroup>
                    <p-row>
                        <p-column [styleClass]="'print-hide'" *ngIf="editable" [style]="{'text-align':'right'}" footer="Total a Pagar:" colspan="6"></p-column>
                        <p-column [styleClass]="'print-hide'" *ngIf="!editable" [style]="{'text-align':'right'}" footer="Total:" colspan="5"></p-column>
                        <p-column [styleClass]="'print-only'" [style]="{'text-align':'right'}" footer="Total:" colspan="5"></p-column>
                        <p-column [style]="{'text-align':'right'}">
                            <ng-template pTemplate="footer">
                                <span>{{ordenCobranza.totalImpuestos | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                        </p-column>


                    </p-row>
                </p-footerColumnGroup>
            </p-dataTable>
        </div>

        <div class="ui-g-12 ui-md-10 ui-fluid ui-g-nopad" style="margin-top:2em">

            <div class="ui-widget-header thead-default print-hide">
                <div class="ui-g ui-fluid ui-g-nopad">
                    <div class="ui-g-2 label">
                        <h4>Valores</h4>
                    </div>

                    <div class=" ui-g-offset-8 ui-g-2 pull-right" tabindex="4" *ngIf="editable">
                        <button [disabled]="!editable" type="button" pButton class="" (click)="agregarNuevoCobro()" label="Nuevo Cobro" icon="fa fa-plus"></button>

                    </div>
                

                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-md-10 ui-fluid ui-g-nopad" #container >
            <p-dataTable [editable]="editable" [(value)]="ordenCobranza.cobros"   [emptyMessage]="'No hay cobros registrados'">

                <p-column [style]="{'width':'7%'}" field="tipoOperacion" header="Tipo Cobro*">
                    <ng-template let-col let-cobro="rowData" let-ri ="rowIndex" pTemplate="body">
                        <p-dropdown [dataKey]="'codigo'" [disabled]="!editable" placeholder="Elija un tipo Cobro" name="{{'cobro.tipo' + ri}}" 
                            [(ngModel)]="cobro.tipoOperacion" (onChange)="updateTipoCobro(cobro)" [options]="tiposCobro" [autoWidth]="false"></p-dropdown>
                    </ng-template>

                </p-column>
                <p-column [style]="{'width':'10%'}" field="centro" header="Centro*">
                    <ng-template let-col let-cobro="rowData" let-ri ="rowIndex" pTemplate="body">
                            <descriptivo-selector [editable]="editable" name="{{'cobro.centro' + ri}}"  required [limpiable]=false [data]="centros" nombre="Centro" labelClass="hide"
                                [(ngModel)]="cobro.centroCosto"></descriptivo-selector>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'10%'}" field="cuenta" header="Cuenta*">
                    <ng-template let-col let-cobro="rowData" let-ri ="rowIndex" pTemplate="body">
                        <p-dropdown *ngIf="cobro.centroCosto" [dataKey]="'codigo'" [disabled]="!editable" placeholder="Elija una Cuenta" name="{{'cobro.cuenta' + ri}}" 
                            [(ngModel)]="cobro.cuenta" [options]="getCuentas(cobro)" [autoWidth]="false"></p-dropdown>
                    </ng-template>

                </p-column>

                <p-column [style]="{'width':'30%'}" field="comprobante" header="Cheque">
                    <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                        <div class="ui-g ui-fluid" *ngIf="op.tipoOperacion.codigo === 'C'">
                            <div class="ui-g-6 ui-g-nopad">
                                <input type="text" name="{{'banco' + ri}}" [(ngModel)]="op.comprobante.banco" placeholder="Banco emisor">
                            </div>
                            <div class="ui-g-6 ui-g-nopad">
                                <input type="text" name="{{'numero' + ri}}" [(ngModel)]="op.comprobante.numero" placeholder="N° Cheque">
                            </div>
                            <div class="ui-g-6 ui-g-nopad">
                                <input type="text" name="{{'titular' + ri}}" [(ngModel)]="op.comprobante.titularCuenta" placeholder="Titular de la Cuenta">
                            </div>
                            <div class="ui-g-6 ui-g-nopad">
                                <input type="text" name="{{'cuenta' + ri}}" [(ngModel)]="op.comprobante.numeroCuenta" placeholder="N° Cuenta">
                            </div>
                            <div class="ui-g-4 ui-g-nopad">
                                <p-inputMask mask="99-99999999-9" title="CUIT" [(ngModel)]="op.comprobante.cuit" type="text" name="{{'cuit' + ri}}" placeholder="__-________-_"></p-inputMask>
                            </div>
                            <div class="ui-g-4" *ngIf="op.comprobante">
                                <p-calendar [disabled]="!editable" [(ngModel)]="op.comprobante.fechaEmision" placeholder="Fecha Emisión" dateFormat="dd/mm/yy"
                                    name="fechaEmision" name="{{'cobro.fechaEmision' + ri}}" ></p-calendar>
                            </div>
                            <div class="ui-g-4" *ngIf="op.comprobante">
                                <p-calendar [disabled]="!editable"  name="{{'cobro.fechaPago' + ri}}" [(ngModel)]="op.comprobante.fechaPago" placeholder="Fecha Pago" dateFormat="dd/mm/yy"
                                    name="fechaPago"></p-calendar>
                            </div>

                        </div>


                    </ng-template>

                </p-column>
                <p-column [style]="{'width':'10%', 'text-align':'right'}" header="Importe" [editable]="true">
                    <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{op.monto | currency : 'USD':'symbol-narrow'}}</span>
                    </ng-template>
                    <ng-template let-col let-op="rowData" pTemplate="editor">
                        <input [disabled]="!editable" pIntputText [(ngModel)]="op.monto" type="number"  name="{{'cobro.importe' + ri}}"/>
                    </ng-template>

                </p-column>
                <p-column [style]="{'text-align': 'center', 'width':'30px'}">
                    <ng-template let-col let-cobro="rowData" let-ri="rowIndex" pTemplate="body">
                        <button type="button" *ngIf="editable" pButton class="ui-button-danger" icon="fa-trash" (click)="ordenCobranza.quitarCobro(cobro)"
                            title="Eliminar Cobro"></button>
                    </ng-template>
                </p-column>
                <p-footerColumnGroup>
                    <p-row>
                        <p-column [style]="{'text-align':'right'}" footer="Total Cobros:" colspan="4"></p-column>
                        <p-column [style]="{'text-align':'right'}" colspan="1">
                            <ng-template let-col let-op="rowData" pTemplate="footer">
                                <span>{{ordenCobranza.totalCobros | currency : 'USD':'symbol-narrow'}}</span>
                            </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'right'}" footer="" colspan="1"></p-column>
                    </p-row>
                </p-footerColumnGroup>
            </p-dataTable>

        </div>

        <div class="ui-g-12 ui-md-10 ui-widget-header thead-default totales  ui-g-nopad">

            <div class="ui-g-2 ui-g-offset-6 ">
                <h4>TOTAL</h4>
            </div>
            <div class="ui-g-4 pull-right importe">
                <h4>{{ordenCobranza.total | currency :'USD':'symbol-narrow' }}</h4>
                <span class="error" *ngIf="editable && !cobrosValidos()">Los cobros no suman el total a pagar</span>
            </div>


        </div>
        <div class="ui-g-12 ui-md-10 ui-fluid  ui-g-nopad" style="margin-top:20px">
            <div class="ui-g-2 ui-g-offset-8 " *ngIf="editable">
                <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-2 ui-g-offset-8 " *ngIf="!editable">
                <button pButton type="button" [disabled]="finalizado" label="Volver" (click)='volver()' class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-2">
                <button pButton label="Guardar" type="submit" [disabled]="!ordenCobranzaForm.form.valid || 
                    ordenCobranza.total === 0 || 
                    !cobrosValidos() || 
                    finalizado || !editable" class="ui-button-success"></button>
            </div>
        </div>
    </form>
</div>