<div class="impresion-lista-bebidas">
    <table>
        <thead>
            <tr>
                <td>
                    <div class="page-header">
                        <img class="luviam-logo" src="assets/images/logo_negro.png" alt="">
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="content">
                        <div class="precios">
                            <div class="categoria ui-g-12 primera">
                                <h2>{{titulo}}</h2>
                                <span class="subheader">Valores contemplados por persona adulta</span>
                            </div>
                            <div class="marca-wrap ui-g-12" *ngFor="let marca of marcas">

                                <div class="marca">
                                    <div class="productos">
                                        <div class="agrupado ui-g-12" *ngFor="let ag of marca.agrupadores; index as i">
                                            <div class="ui-g-12 ui-g-nopad ui-fluid" *ngIf="ag?.agrupador">
                                                <div class="ui-g ui-g-12 ui-g ui-fluid ui-g-nopad header-marca">
                                                    <div class=" ui-g-8 ui-g-nopad agrupadores">
                                                        <span class="agrupador"
                                                            *ngIf="ag?.getSubproductos().length === 0">{{ ag?.agrupador?.descripcion}}</span>
                                                        <span class="agrupador"
                                                            *ngFor="let item of ag?.getSubproductos(); index as i">
                                                            {{i === 0? ag?.agrupador?.descripcion + ' - ' + item : item}}</span>
                                                    </div>
                                                    <div class="ui-g-4 ui-g-nopad text-rigth" *ngIf="i === 0">
                                                        <div class="marca-content text-right" *ngIf="marca?.marca">
                                                            <img [src]="marca?.marca?.imagenUrl" alt="Sin Logo">
                                                        </div>
                                                    </div>
                                                </div>





                                                <div class="producto ui-g-12 ui-g ui-fluid"
                                                    *ngFor="let p of ag?.precios; index as i">
                                                  
                                                    <div class="ui-g-4 ui-g-offset-3  ui-g-nopad text-left opcion">
                                                        <span>{{p.getDescripcion()}}</span>
                                                    </div>
                                                    <div class="ui-g-5  ui-g-nopad text-left precio">
                                                        <span>{{p?.valor |  currency :'USD':'symbol-narrow': '1.0'}}.-</span>
                                                        <span class="notas">{{p?.producto?.notas}}</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui-g-12  ui-g-nopad ui-fluid" *ngIf="!ag?.agrupador">
                                                <div class="producto ui-g-12  ui-g-nopad" *ngFor="let p of ag?.precios">
                                                    <div class="ui-g-7 text-left">
                                                        <span>{{p.getDescripcion()}}</span>
                                                    </div>
                                                    <div class="ui-g-5 text-left precio ">
                                                        <span>{{p?.valor |  currency :'USD':'symbol-narrow': '1.0'}}.-</span>
                                                        <span class="notas">{{p?.producto?.notas}}</span>

                                                    </div>
                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="page-break"></div>
                            <div class="categoria marca-wrap ui-g-12 text-center" *ngIf="barras?.length > 0">
                                <h2>Barras de Tragos</h2>
                                <span class="subheader">Contemplado para todo el evento</span>
                            </div>
                            <div class="marca-wrap barra ui-g-12" *ngFor="let barra of barras">
                                <div class="marca ">
                                    <div class="ui-g-4 big  ui-g-nopad">
                                        <span class="titulo">{{barra.descripcion}}:</span>
                                    </div>
                                    <div class="ui-g-8 big  ui-g-nopad">
                                        <span class="precio">{{barra.valor |  currency :'USD':'symbol-narrow'}}.-
                                        </span> <span class="notas" *ngIf="barra.notas">{{barra.notas}} </span>
                                    </div>

                                    <div class="incluidos">
                                        <div class="incluido ui-g-12 ui-g-nopad" *ngFor="let inc of barra.incluidos">
                                            <span>{{inc.descripcion}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="propuesta ui-g-12" *ngIf="barras?.length > 0">
                                <div class="ui-g-12 ui-g-nopad"><span class="titulo">Nuestra Propuesta Incluye</span>
                                </div>
                                <div class="ui-g-12 ui-g-nopad"><span class="item">Azúcar, jugo de limón</span></div>
                                <div class="ui-g-12 ui-g-nopad"><span class="item">Revolvedores</span></div>
                                <div class="ui-g-12 ui-g-nopad"><span class="item">Sorbetes, hielo escamado</span></div>
                                <div class="ui-g-12 ui-g-nopad"><span class="item">Vajilla</span></div>
                                <div class="ui-g-12 ui-g-nopad"><span class="item">Personal</span></div>
                                <div class="ui-g-12 ui-g-nopad"><span class="item">Nuestro Personal Cuenta con Art.,
                                        Libreta Sanitaria</span></div>
                                <div class="ui-g-12 ui-g-nopad"><span class="item">&nbsp;</span></div>
                                <div class="ui-g-12 ui-g-nopad"><span class="item aclaracion">*Consulte otras
                                        Bodegas</span></div>
                                <!--div class="ui-g-12 ui-g-nopad"><span class="item aclaracion">**Los valores no incluyen
                                        IVA</span></div-->

                            </div>

                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="page-footer">
                        <div class="footer-space nota"><span><b>Nota:</b> Los valores aquí expresados no incluyen
                                IVA</span></div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>


</div>