@import "./../../../../app.variables.less";
.cubierto-promedio {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    .titulo{
        label{
            font-size: 1vw;
            color: @main-brand-light;
            font-weight: bold;
            font-variant: small-caps;
        }
    }
    .no-data{
        flex:100%;
        align-self: center;
        svg{
            text{
                font-size: 2vw;
                color: @main-brand-light;
                font-variant: small-caps;
                text-align: center;
            }
            
        }
       
      

    }
    .subs{
        align-self: flex-end;
        margin-bottom: 1em;
        svg text{
            fill: @main-brand-light;
            font-weight: bold;
            font-variant: small-caps;
            font-size: 0.5vw;
        
        }
        .numero{
            
            text-align: center;
            font-weight: bold;
            font-size: 10pt;
            padding: 2px;
        }
    }

    .principal{
        flex:100%;
        align-self: center;
        label{
            font-size: 1vw;
            
        }
        .numero{
            border-radius: 50px;
            font-size:1.5vw;
            font-weight: bold;
            width: 100%;
            height: auto;
            padding: 20px 8px;
            border: 2px solid @main-brand-light;
            text-align: center;
            
            background-color: @main-brand-light;
            text-align: center;
            margin: auto;
            svg{
                text{
                    fill: @main-light-1;
                }
            }
        
        }
    }
}