<div class="ui-g-12 filters ui-fluid" [ngClass]="{'show':mostrarFiltros}" >
    <div class="ui-g-12 ui-g-nopad" [hidden]="!mostrarFiltros">

        <div class="ui-g-3">
            <label for="centro">Centro</label>
        </div>
        <div class="ui-g-9">
            <descriptivo-selector [appendTo]="'body'" name="centros" required [limpiable]=false [data]="globalData.centros" nombre="Centro"
                labelClass="hide" [(ngModel)]="filtro.centro"></descriptivo-selector>
        </div>
    </div>
    <div class="ui-g-12  ui-g-nopad" [hidden]="!mostrarFiltros">
        <div class="ui-g-3">
            <label for="centro">Periodo</label>
        </div>
        <div class="ui-g-9">
                <descriptivo-selector [appendTo]="'body'" name="periodo" required [limpiable]=false [data]="globalData.periodos" nombre="Periodo"
                labelClass="hide" [(ngModel)]="filtro.periodo" ></descriptivo-selector>
        </div>
        
        <div class="ui-g-12" *ngIf="filtro.periodo && filtro.periodo.codigo ==='R'">
            <p-calendar [(ngModel)]="filtro.rangeDate" selectionMode="range" [readonlyInput]="true" [appendTo]="'body'"></p-calendar>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" [hidden]="!mostrarFiltros">
        <div class="ui-g-3 ">
            <label for="centro">Producto</label>
        </div>
        <div class="ui-g-7">
            <descriptivo-selector name="productos" required [limpiable]=false [data]="globalData.productos" nombre="Producto"
                labelClass="hide" [(ngModel)]="filtro.producto"></descriptivo-selector>
        </div>
        <div class="ui-g-2">
            <button pButton icon="fa fa-search" (click)="buscarItem()"></button>
        </div>

    </div>

</div>
<div class="cubierto-promedio ui-g-12" >
    <div class="ui-g-12 no-data" *ngIf="!data" >
        <svg viewBox="0 0 320 150">
                <text  text-anchor="middle"  x="160" y="125">Sin Información</text>
        </svg>
    </div>
    <div class="ui-g-12 ui-g-nopad titulo" *ngIf="data" >
            <label>Promedio de {{data.producto.descripcion}}</label>
        </div>
    <div class="ui-g-12 principal" *ngIf="data">
       
        <div class="ui-g-12 ui-g-nopad numero">

                <svg viewBox="0 0 320 75" >
                        <text text-anchor="middle" x="160" y="50">{{data.promedio | currency : 'USD' : 'symbol-narrow'}}</text>
                </svg>
        </div>


    </div>
   
    <div class="ui-g-12 subs" *ngIf="data" >
        <div class="ui-g-3" >
                <svg viewBox="0 0 50 20" >
                        <text text-anchor="middle" x="25" y="10">Menor PU</text>
                </svg>
        </div>
        <div class="ui-g-3">
                <svg viewBox="0 0 50 20" >
                        <text text-anchor="middle" x="25" y="10">{{data.minimo | currency : 'USD' : 'symbol-narrow'}}</text>
                </svg>
            
        </div>

        <div class="ui-g-3">
                <svg viewBox="0 0 50 20" >
                        <text text-anchor="middle" x="25" y="10">Mayor PU</text>
                </svg>
        </div>
        <div class="ui-g-3">
                <svg viewBox="0 0 50 20" >
                        <text text-anchor="middle" x="25" y="10">{{data.maximo | currency : 'USD' : 'symbol-narrow'}}</text>
                </svg>
        </div>
    </div>

</div>