<div class="content has-header">
    
    <div class="ui-header ui-g">
        <div class="ui-g-6">
            <h3>{{ titulo }}</h3>
        </div>
        <div  class="ui-g-6 pull-right">
            <button pButton label="Nuevo asiento" icon="fa-plus" class="" (click)="nuevoAsiento()"></button>
        </div>

    </div>

    <div class="ui-g ui-fluid filtros">
        <div class="ui-g-1 ">
            <label for="fechaDesde">Fecha Desde</label>
        </div>
        <div class="ui-g-2">
            <p-calendar [showIcon]="true" [maxDate]="filtro.fechaHasta" [(ngModel)]="filtro.fechaDesde" dateFormat="dd/mm/yy" name="fecha"></p-calendar>
        </div>
        <div class="ui-g-1 ">
            <label for="fechaHasta"> Hasta</label>
        </div>
        <div class="ui-g-2">
            <p-calendar [showIcon]="true" [minDate]="filtro.fechaDesde" [maxDate]="fechaMaxima" [(ngModel)]="filtro.fechaHasta" dateFormat="dd/mm/yy"
                name="fecha"></p-calendar>
        </div>
        <div class="ui-g-4">
            <button pButton label="Buscar" icon="fa fa-search" (click)="buscarAsientos()"></button>
        </div>

    </div>

    <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">
        <div class="ui-g">
            <div class="ui-g-7">
                <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
            </div>
            <div class="ui-g-1 ">
                <p-checkbox name="estados_g" label="Pendiente" value="P"  (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
            </div>

            <div class="ui-g-1 ">
                <p-checkbox name="estados_g" label="Aprobado" value="A"  (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
            </div>

            <div class="ui-g-1 ">
                <p-checkbox name="estados_g" label="Rechazado" value="R"  (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
            </div>

          
        </div>
    </div>
    <p-dataTable [value]="asientos"   [globalFilter]="gb" [rows]="15" [paginator]="true"
        [pageLinks]="3" [rowsPerPageOptions]="[5,15,25]" [emptyMessage]="'No hay asientos'">
        
        <p-column [style]="{'width':'40px', 'text-align':'center'}" field="estado" header="">
            <ng-template let-col let-asiento="rowData" let-ri="rowIndex" pTemplate="body">
                <span title="{{asiento.estado.descripcion}} {{asiento.mensaje}}">
                    <i class="fa {{asiento.estado.codigo}}"></i>
                </span>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'10%', 'text-align':'center'}" field="numeroAsiento" header="N° Asiento" [sortable]="true"></p-column>
        <p-column [style]="{'width':'10%','text-align':'center'}" field="fecha" header="Fecha" [sortable]="true" >
                <ng-template let-col let-asiento="rowData" let-ri="rowIndex" pTemplate="body">
                    <span>{{asiento.fechaFormateada}}</span>
                </ng-template>
        </p-column>
        <p-column [style]="{'text-align': 'left','width':'40%'}" field="descripcion" header="Descripcion" [sortable]="true"></p-column>
        <p-column [style]="{'text-align': 'center','width':'20%'}" field="responsable" header="Responsable"></p-column>
        <p-column [style]="{'text-align': 'center', 'width':'110px'}" *ngIf="esAuditor">
            <ng-template let-col let-asiento="rowData" let-ri="rowIndex" pTemplate="body">
                <button pButton icon="fa-pencil" (click)="editarAsiento(asiento.id)" title="Editar asiento"></button>
                <button pButton *ngIf="asiento.estado.codigo !== 'A'" class="ui-button-success" icon="fa-check" (click)="confirmarAsiento(asiento)"
                    title="Confirmar asiento"></button>
                <button pButton *ngIf="asiento.estado.codigo === 'P'" class="ui-button-danger" icon="fa-close" (click)="rechazarAsiento(asiento)"
                    title="Rechazar asiento"></button>
                <button pButton *ngIf="asiento.estado.codigo !== 'A'" class="ui-button-danger" icon="fa-trash" (click)="eliminarAsiento(asiento)"
                    title="Eliminar asiento"></button>
            </ng-template>
        </p-column>
        <p-column [style]="{'text-align': 'left', 'width':'20%'}" field="mensaje" *ngIf="!esAuditor"></p-column>
    </p-dataTable>
</div>

<p-confirmDialog header="Cancelar Asiento" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
