<div class="content has-header">
    <div>
        <p-tabView>
            <p-tabPanel header="Grupo de Producto">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-grupo-producto></lista-grupo-producto>
                    </div>
                </ng-template>

            </p-tabPanel>
            <p-tabPanel header="Categorías">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-categoria></lista-categoria>
                    </div>
                </ng-template>

            </p-tabPanel>

            <p-tabPanel header="Marcas">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-marca></lista-marca>
                    </div>
                </ng-template>

            </p-tabPanel>
            <p-tabPanel header="Agrupadores">
                    <ng-template pTemplate="content">
                        <div class="ui-g-12">
                            <lista-agrupador></lista-agrupador>
                        </div>
                    </ng-template>
    
                </p-tabPanel>
            <p-tabPanel header="Tipo L. Precios">
                    <ng-template pTemplate="content">
                        <div class="ui-g-12">
                            <lista-lista-precios></lista-lista-precios>
                        </div>
                    </ng-template>
    
                </p-tabPanel>
            <p-tabPanel header="Tipos de Evento">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-parametrico [idParametro]="'tipoEvento'" [nombre]="'Tipo de Evento'"></lista-parametrico>
                    </div>
                </ng-template>

            </p-tabPanel>
            <p-tabPanel header="Unidades de Producto">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-parametrico [idParametro]="'unidadproducto'" [nombre]="'Unidades'"></lista-parametrico>
                    </div>
                </ng-template>

            </p-tabPanel>
            <p-tabPanel header="Tipos de Empleado">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-parametrico [idParametro]="'tipoempleado'" [nombre]="'Tipo Empleado'">
                        </lista-parametrico>
                    </div>
                </ng-template>

            </p-tabPanel>
            <p-tabPanel header="Tipos de IVA">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-parametrico [idParametro]="'tipoiva'" [nombre]="'Tipo IVA'"></lista-parametrico>
                    </div>
                </ng-template>

            </p-tabPanel>
            <p-tabPanel header="Tipos de Comisionista">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-tipo-comisionista></lista-tipo-comisionista>
                    </div>
                </ng-template>

            </p-tabPanel>
            <p-tabPanel header="Escala de Premios">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-escala-comisiones></lista-escala-comisiones>
                    </div>
                </ng-template>

            </p-tabPanel>
            <p-tabPanel header="Tipos de Menú">
                <ng-template pTemplate="content">
                    <div class="ui-g-12">
                        <lista-parametrico [idParametro]="'tipomenu'" [nombre]="'Tipos Menú'"></lista-parametrico>
                    </div>
                </ng-template>

            </p-tabPanel>


        </p-tabView>
    </div>
</div>