@import "./../../app.variables.less";

span.subtitle{
    font-size: 10pt;
    display: inline-block;
    padding: 1em;
}

:host /deep/ .unidades{
    .ui-button.ui-togglebutton{
        float:left;
        width: 2em;
        background-color: transparent;
        color:@main-brand-opaque;
        opacity: 0.25;
        &.ui-state-active{
            color: @main-light-1;
            background-color: @main-selected;
            opacity: 1;
        }
    }
    
}