<div class="content has-header">

  <div class="ui-header">
    <div class="ui-g">
      <div class="ui-g-4">
        <h3>{{ titulo }}</h3>
      </div>
    </div>
  </div>

  <div class="ui-fluid">
    <form #empleadoForm="ngForm" (ngSubmit)="guardarSalon()">

      <div class="ui-g">

        <div class="ui-g-1">
          <span class="subtitle">Salón</span>
        </div>

        <div class="ui-g-8">
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-building"></i>
                </span>
                <input placeholder="Nombre" title="Nombre" [disabled]="!editable" [(ngModel)]="salon.nombre" type="text" name="nombre" pInputText
                  required>
              </div>
            </div>
            <div class="ui-g-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-phone"></i>
                </span>
                <input placeholder="Teléfono" title="telefono" [disabled]="!editable" [(ngModel)]="salon.telefono" type="text" name="telefono"
                  pInputText required>
              </div>

            </div>
            <div class="ui-g-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-map"></i>
                </span>
                <input placeholder="Dirección" title="Dirección" [disabled]="!editable" [(ngModel)]="salon.direccion" type="text" name="direccion"
                  pInputText required>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="ui-g">

        <div class="ui-g-1">
          <span class="subtitle">Contacto</span>
        </div>

        <div class="ui-g-8">
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-address-card"></i>
                </span>
                <input placeholder="Nombre Contacto" title="Nombre Contacto" [disabled]="!editable" [(ngModel)]="salon.nombreContacto" type="text"
                  name="nombreContacto" pInputText>
              </div>
            </div>

            <div class="ui-g-4">
              <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">
                  <i class="fa fa-at"></i>
                </span>
                <input placeholder="email" title="email" [disabled]="!editable" [(ngModel)]="salon.email" type="text" name="email" pInputText>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g">

        <div class="ui-g-1">
          <span class="subtitle">Producto Asociado</span>
        </div>

        <div class="ui-g-8">
          <div class="ui-g-12 ui-g-nopad">
            <descriptivo-selector *ngIf="editable" name="producto" required [limpiable]=false [data]="productos" nombre="Producto" inputClass="ui-g-4"
              labelClass="hide" [(ngModel)]="salon.productoAlquiler"></descriptivo-selector>
              <div class="ui-g-2">
                <p-checkbox [binary]="true" label="Es Comisionista" [(ngModel)]="salon.esComisionista" name="comisionista"></p-checkbox>
              </div>
          </div>
        </div>
      </div>
      <div class="ui-g-12">
       <div class="ui-g-1"><label for="observaciones">Observaciones</label></div>
       <div class="ui-g-9">
         <textarea name="observaciones" id="" style="width:100%" rows="5" [(ngModel)]="salon.observaciones"></textarea>
       </div>
      </div>

      <div class="ui-g-10 ui-fluid" style="margin-top:20px">
        <div class="ui-g-2 ui-g-offset-8 ">
          <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
        </div>
        <div class="ui-g-2">
          <button pButton label="Guardar" type="submit" [disabled]="!empleadoForm.form.valid || finalizado || !editable" class="ui-button-success"></button>
        </div>
      </div>



    </form>

  </div>



  <p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>