.impresion-lista-bebidas {
    .page-header {
        position: relative;
        margin: 0 auto;
        width: 100%;
        text-align: right;

        img.luviam-logo {
            width: 150px;
            height: auto;
            margin: 0 auto;
        }
    }

    .precios {

        .categoria {
            h2 {
                font-size: 1.25em;
                margin: 0;
                padding: 0;
                padding-top: 1em;
                font-weight: bold;
            }

            span.subheader {
                font-size: 0.8em;
                font-style: italic;
            }

            padding-bottom: 0.5em;
        }

        .marca-wrap {
            padding: 0.25em 0.5em 0.25em 0.5em;
            border-top: 1px solid black;
            position: relative;

            &.barra {
                border-top: none;
            }

          

            .marca {
                position: relative;
                .header-marca{
                    .agrupadores{
                        margin-top:2em;
                    }
                }
                .big {
                    line-height: 3;
                }

                .titulo {
                    font-weight: bold;
                    text-decoration: underline;
                }

                .precio {
                    font-weight: bold;
                }

              
                span.notas{
                    font-weight: normal;
                    font-style: italic;
                    font-size: 10pt;
                    margin-left: 0.5em;
                }

                .marca-content {
                    width: auto;
                    height: 65px;
                    text-align: right;
                  
    
                    img {
                        height: 100%;
                        width: auto;
                    }
                }


                .productos {
                    padding-left: 2em;
                    padding-right: 2em;

                    span {
                        font-weight: bold;
                        &.notas{
                            font-weight: normal;
                        }
                      

                        &.agrupador {
                            display: block;
                            font-weight: normal;
                            font-size: 10pt;
                            font-family: Century-Gothic, Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            //font-variant: small-caps;
                        }
                    }

                    .producto{
                        .opcion{
                          padding-left: 5em;
                        }
                      }
                }

            }
        }

        .propuesta {
            font-size: 10pt;
            margin-top: 1em;
            border-top: 1px solid black;

            .titulo {
                font-weight: bold;
                text-decoration: underline;
                font-style: italic;
            }

            .item {
                display: block;
            }

            .aclaracion {
                font-style: italic;
                font-weight: bold;
            }
        }
    }

    .footer-space.nota {
        font-size: 10pt;
        border-top: 1px solid black
    }

}