@import "./../../../app/app.variables.less";
:host /deep/ .small-row{
    .ui-datatable tr, .ui-treetable-tablewrapper tr{
        line-height: 1;
    }
    padding: 0.2em;
    .ui-g-1, .ui-g-2, .ui-g-3, .ui-g-4, .ui-g-5, .ui-g-6, .ui-g-7, .ui-g-8, .ui-g-9, .ui-g-10, .ui-g-11, .ui-g-12{
        padding: 0.3em;
    }
    span, input{
        width: 100%;
        padding: 0.2em 5px;
        border-radius: 2px;
        box-sizing: border-box;
        line-height: 1;
    }
}
.small-row.display-row{
    span, input{
        font-size: 10pt;
        background-color: #fafbfa;
        border: 1px solid #c2cbc3;
        display: inline-block;
    }
}
:host /deep/ .ui-datatable{
    tfoot{
        td.normal{
            background-color: @main-light-1;
            color:@main-dark;
            border:1px solid lightgray;
        }
    }
    
    tr.ui-datatable-odd.ui-widget-content,
    tr.ui-datatable-even.ui-widget-content{
        
        &.leaf{
            background-color: @main-light-1;
            color:@main-dark;
            border:1px solid lightgray;
            
        }
        &.parent{
            background-color: @main-brand-opaque;
            color:@main-light-1;
            border:1px solid  @main-brand-light;
        }
    }
    
}
.cabecera-evento{
    span,input{
        font-size: 8pt;
        padding: 0.5em;
        background: #f1eedd;
        width: 100%;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        min-height: 2em;
    }
    label{
        float: right;
        padding: 0.5em;
        line-height: 1;
        font-size: 9pt;

    }
    .row-cabecera{
        line-height: 1;
        padding:0;
        > .ui-g-1, > .ui-g-2, > .ui-g-3, > .ui-g-4, > .ui-g-5, > .ui-g-6, 
        > .ui-g-7, > .ui-g-8, > .ui-g-9, > .ui-g-10, > .ui-g-11, > .ui-g-12{
            padding: 0.1em 0.25em;
        }
        .warning{
            float: right;
            color:@warning;
        }
        input:disabled{
            border:none;
            color:black;
        }
       
    }
}

.observaciones{
    width: 100%;
    box-sizing: border-box;
    background-color: #f1eedd;
    border: none;
    resize: none;
    overflow: auto;
}
    .aclaracion{
        font-size: 8pt;
        font-variant: all-small-caps;
        font-style: italic;
        margin-right: 3em;

}