<div class="cabecera-evento">
    <div class="ui-g-12 row-cabecera">
        <div class="ui-g-1 ">
            <label for="vendedor">Vendedor</label>
        </div>
        <div class="ui-g-3 " *ngIf="contrato.vendedor">
            <span>{{contrato.vendedor.descripcion}}</span>
        </div>

        <div class="ui-g-2 ">
            <label for="vendedor">Presupuesto</label>
        </div>
        <div class="ui-g-2 ">
            <span>{{contrato.numeroPresupuesto}}</span>
        </div>

        <div class="ui-g-2 pull-right ">
            <label for="fechaContrato">Contratación</label>
        </div>
        <div class="ui-g-2">
            <span>{{contrato.fechaContratacion | date : 'dd/MM/yyyy'}}</span>
        </div>
    </div>
    <div class="ui-g-12 row-cabecera">
        <div class="ui-g-1 ">
            <label for="salon">Salon</label>
        </div>
        <div class="ui-g-5 " *ngIf="contrato.salon && !contrato.salon.esOtros">
            <span>{{contrato.salon.descripcion}}</span>
        </div>

        <div class="ui-g-2 " *ngIf="contrato.salon && contrato.salon.esOtros">
            <span>{{contrato.salon.descripcion}}</span>
        </div>
        <div class="ui-g-2 " *ngIf="contrato.salon && contrato.salon.esOtros">
            <span>{{contrato.salon.direccion}}</span>
        </div>
        <div class="ui-g-1 " *ngIf="contrato.salon && contrato.salon.esOtros">
            <span>{{contrato.salon.telefono}}</span>
        </div>
        <div class="ui-g-1 ">
            <label for="fechaContrato">Horario</label>
        </div>
        <div class="ui-g-1" *ngIf="contrato.horario">
            <span>{{contrato.horario.descripcion}}</span>
        </div>

        <div class="ui-g-2  ">
            <label for="fechaEvento">Evento</label>
        </div>
        <div class="ui-g-2">
            <span>{{contrato.fechaEvento | date : 'dd/MM/yyyy'}}</span>
        </div>
    </div>
    <div class="ui-g-12 row-cabecera">
        <div class="ui-g-1 ">
            <label for="fechaContrato">Tipo</label>
        </div>
        <div class="ui-g-3" *ngIf="contrato.tipoEvento">
            <span>{{contrato.tipoEvento.descripcion}}</span>
        </div>
        <div class="ui-g-1">
            <label for="nombre">Agasajados</label>
        </div>
        <div class="ui-g-3">
            <span>{{contrato.agasajados}}</span>
        </div>

        <div class="ui-g-2  ">
            <label for="base">Base</label>
        </div>
        <div class="ui-g-2">
            <span>{{contrato.baseInvitados}}</span>
        </div>
    </div>
    <div class="ui-g-12 row-cabecera">

        <div class="ui-g-1">
            <label for="nombre">Nombre</label>
        </div>
        <div class="ui-g-5">
            <span>{{contrato.cliente.nombreCliente}}</span>
        </div>
        <div class="ui-g-1">
            <label for="dni">DNI</label>
        </div>
        <div class="ui-g-1">
            <span>{{contrato.cliente.dniFirmante}}</span>
        </div>
        <div class="ui-g-3">
            <label for="adultos">Adultos</label>
        </div>
        <div class="ui-g-1">
                <input type="number" (focusin)="onFocus($event)" [(ngModel)]="contrato.adultos" [disabled]="!editable">
        
        </div>
    </div>
    <div class="ui-g-12 row-cabecera">
        <div class="ui-g-1">
            <label for="nombre">Domicilio</label>
        </div>
        <div class="ui-g-7">
            <span>{{contrato.cliente.domicilio}}</span>
        </div>
        <div class="ui-g-3">
            <label for="adolescentes">Adolescentes</label>
        </div>
        <div class="ui-g-1">
                <input type="number" (focusin)="onFocus($event)" [(ngModel)]="contrato.adolescentes" [disabled]="!editable">
        </div>
    </div>
    <div class="ui-g-12 row-cabecera">
        <div class="ui-g-1">
            <label for="telefono">Tel / Cel</label>
        </div>
        <div class="ui-g-7">
            <span>{{contrato.cliente.telefono}}</span>
        </div>
        <div class="ui-g-3">
            <label for="menores">Menores</label>
        </div>
        <div class="ui-g-1">
            <input type="number" (focusin)="onFocus($event)" [(ngModel)]="contrato.menores" [disabled]="!editable">
            
        </div>
    </div>
    <div class="ui-g-12 row-cabecera">
        <div class="ui-g-1">
            <label for="email">Email</label>
        </div>
        <div class="ui-g-7">
            <span>{{contrato.cliente.email}}</span>
        </div>
        <div class="ui-g-3">
            <label for="total">Total</label>
        </div>
        <div class="ui-g-1">
            <span>{{contrato.totalInvitados}} <i  title="El total no coincide con la cantidad de menú vendido" *ngIf="totalInvitadosNoValido"class="warning print-hide fa fa-warning"></i></span>
            
        </div>
      
       
    </div>
    <div class="ui-g-12 row-cabecera">
        <div class="ui-g-1">
            <label for="razonSocial">R. Social</label>
        </div>
        <div class="ui-g-4">
            <span>{{contrato.cliente.razonSocial}}</span>
        </div>
        <div class="ui-g-1">
            <label for="dni">CUIT</label>
        </div>
        <div class="ui-g-2">
            <span>{{contrato.cliente.cuit}}</span>
        </div>
        <div class="ui-g-3">
            <label for="bebes">Bebes</label>
        </div>
        <div class="ui-g-1">
                <input type="number" (focusin)="onFocus($event)" [(ngModel)]="contrato.bebes" [disabled]="!editable">
        </div>
        
    </div>
    <div class="ui-g-12 row-cabecera" *ngIf="!verAgrupado">
        <div class="ui-g-1"><label for="">Observaciones</label></div>
        <div class="ui-g-7"><textarea name="observaciones" [ngModel]="contrato.observaciones" [disabled]="true" class="observaciones"
                rows="5"></textarea></div>
    </div>
</div>
<div class="ui-g-12 small-row" style="margin-top: 2em">
    <p-dataTable *ngIf="serviciosMostrar && serviciosMostrar.length > 0" [value]="serviciosMostrar " [rowStyleClass]="tableFormat">
        <p-column header="Contratación" [style]="{'text-align':'center', width:'10%','overflow':'visible'}">
            <ng-template pTemplate="body" let-ri="rowIndex" let-servicio="rowData">
                <span *ngIf="mostrarFechaContrato(servicio)">{{servicio.fechaContrato | date : 'dd/MM/yyyy'}}</span>
            </ng-template>
        </p-column>
        <p-column field="cantidadStr" header="Cant/%" [style]="{'text-align':'right', width:'7%'}">
            <ng-template pTemplate="body" let-servicio="rowData" let-ri="rowIndex">
                <span>{{servicio.cantidadStr}}</span>
            </ng-template>
        </p-column>
        <p-column field="descripcion" header="Producto" [style]="{'text-align':'right', width:'17%'}">
            <ng-template pTemplate="body" let-servicio="rowData" let-ri="rowIndex">
                <span *ngIf="mostrarDescripcion(servicio)">{{servicio.descripcion}}</span>
            </ng-template>
        </p-column>
        <p-column field="" header="Vencimiento" [style]="{'text-align':'center', width:'10%'}">
            <ng-template pTemplate="body" let-ri="rowIndex" let-cuota="rowData">
                <span *ngIf="cuota.leaf">{{cuota.fechaVencimiento | date : 'dd/MM/yyyy'}}</span>
            </ng-template>
        </p-column>
        <p-column field="" header="Estimada Pago" [style]="{'text-align':'center', width:'10%'}" *ngIf="contrato.id">
            <ng-template pTemplate="body" let-ri="rowIndex" let-cuota="rowData">
                <span *ngIf="cuota.leaf">{{cuota.fechaEstimadaPago | date : 'dd/MM/yyyy'}}</span>
            </ng-template>
        </p-column>
        <p-column *ngIf="!contrato.esCongelado" header="% Inc Acordado" [style]="{'text-align':'center', width:'10%'}">
            <ng-template let-col let-cuota="rowData" let-ri="rowIndex" pTemplate="body">
                <span *ngIf="cuota.leaf">{{(cuota.pIncremento*100) | number:'1.2-2'}}%</span>
            </ng-template>
        </p-column>
        <p-column [editable]="true" header="Costo unitario" [style]="{'text-align':'right', width:'10%'}">
            <ng-template let-col let-servicio="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{servicio.costoUnitarioGral | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Total" [style]="{'text-align':'right', width:'10%'}">
            <ng-template let-col let-servicio="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{servicio.total | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-footerColumnGroup>
            <p-row>
                <p-column [style]="{'text-align':'right'}" footer="Total Neto:" colspan="{{largoVisualizacion}}"></p-column>
                <p-column [style]="{'text-align':'right'}" footer="{{contrato.importeNeto | currency :'USD':'symbol-narrow'}}"></p-column>
            </p-row>
            <p-row *ngIf="contrato.sadaic.total > 0">
                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" footer="SADAIC Y AADICAPIF:" colspan="{{largoVisualizacion}}"></p-column>
                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" footer="{{contrato.sadaic.total | currency :'USD':'symbol-narrow'}}"></p-column>
            </p-row>
            <p-row>

                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" colspan="{{largoVisualizacion}}">
                    <ng-template pTemplate="footer">

                        <span *ngIf="!verAgrupado && verCalculadoSobre" class="aclaracion">calculado sobre {{contrato.importeNetoIP |
                            currency :'USD':'symbol-narrow'}}</span>
                        <span>IP Máximo:</span>

                    </ng-template>
                </p-column>

                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" footer="{{impuestosTotal | currency :'USD':'symbol-narrow'}}"></p-column>
            </p-row>
            <p-row *ngIf="contrato.garantia.total > 0">
                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" footer="Garantía:" colspan="{{largoVisualizacion}}"></p-column>

                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" footer="{{contrato.garantia.total | currency :'USD':'symbol-narrow'}}"></p-column>
            </p-row>
            <p-row *ngIf="contrato.devolucion.cobrado">
                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" footer="Devolución Garantía:"
                    colspan="{{largoVisualizacion}}"></p-column>
                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" footer="{{contrato.devolucion.cobrado | currency :'USD':'symbol-narrow'}}"></p-column>
            </p-row>
            <p-row>
                <p-column [style]="{'text-align':'right'}" footer="Total:" colspan="{{largoVisualizacion}}"></p-column>

                <p-column [style]="{'text-align':'right'}" footer="{{total | currency :'USD':'symbol-narrow'}}"></p-column>
            </p-row>
            <p-row>
                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" footer="Total cobros según detalle:" colspan="{{largoVisualizacion}}"></p-column>

                <p-column [styleClass]="'normal'" [style]="{'text-align':'right'}" footer="{{totalCobranzas | currency :'USD':'symbol-narrow'}}"></p-column>
            </p-row>
            <p-row>
                <p-column [style]="{'text-align':'right'}" footer="Saldo:" colspan="{{largoVisualizacion}}"></p-column>

                <p-column [style]="{'text-align':'right'}" footer="{{total - totalCobranzas | currency :'USD':'symbol-narrow'}}"></p-column>
            </p-row>
        </p-footerColumnGroup>
    </p-dataTable>
</div>
<div class="ui-g-12 small-row" style="margin-top: 1em">
    <p-dataTable [value]="impuestos" emptyMessage="No hay impuestos">
        <p-header>


            <div class="ui-g">
                <div class="ui-g-2 label">
                    <h4>Impuestos</h4>
                </div>

            </div>

        </p-header>
        <p-column header="Contrato" [style]="{'text-align':'center', width:'10%','overflow':'visible'}">
            <ng-template pTemplate="body" let-ri="rowIndex" let-impuesto="rowData">
                <span>{{impuesto.fechaContrato | date : 'dd/MM/yyyy'}}</span>
            </ng-template>
        </p-column>
        <p-column field="descripcion" header="Impuesto" [style]="{'text-align':'right', width:'17%'}">
            <ng-template pTemplate="body" let-impuesto="rowData" let-ri="rowIndex">
                <span>{{impuesto.descripcion}}</span>
            </ng-template>
        </p-column>
        <p-column header="Total" [style]="{'text-align':'right', width:'20%'}">
            <ng-template let-col let-impuesto="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{impuesto.total | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Cobrado" [style]="{'text-align':'right', width:'20%'}">
            <ng-template let-col let-impuesto="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{impuesto.cobros | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Saldo" [style]="{'text-align':'right', width:'20%'}">
            <ng-template let-col let-impuesto="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{impuesto.saldo | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>

    </p-dataTable>
</div>
<div class="ui-g-12 small-row" style="margin-top: 1em">
    <p-dataTable *ngIf="cobranzas && cobranzas.length > 0" [value]="cobranzas" emptyMessage="No hay cobros registrados">
        <p-header>

            <div class="ui-g">
                <div class="ui-g-2 label">
                    <h4>Cobranzas</h4>
                </div>

            </div>

        </p-header>
        <p-column header="Fecha" [style]="{'text-align':'center', width:'10%','overflow':'visible'}">
            <ng-template pTemplate="body" let-ri="rowIndex" let-cobranza="rowData">
                <span>{{cobranza.fecha | date : 'dd/MM/yyyy'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Descripción" [style]="{'text-align':'center', width:'20%','overflow':'visible'}">
            <ng-template pTemplate="body" let-ri="rowIndex" let-cobranza="rowData">
                <span>{{cobranza.descripcion}}</span>
            </ng-template>
        </p-column>
        <p-column header="Responsable" [style]="{'text-align':'center', width:'20%','overflow':'visible'}">
            <ng-template pTemplate="body" let-ri="rowIndex" let-cobranza="rowData">
                <span>{{cobranza.responsable}}</span>
            </ng-template>
        </p-column>
        <p-column header="Importe Neto" [style]="{'text-align':'right', width:'15%','overflow':'visible'}">
            <ng-template pTemplate="body" let-ri="rowIndex" let-cobranza="rowData">
                <span>{{cobranza.importeNeto | currency : 'USD' :'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Impuestos" [style]="{'text-align':'right', width:'15%','overflow':'visible'}">
            <ng-template pTemplate="body" let-ri="rowIndex" let-cobranza="rowData">
                <span>{{cobranza.ivaCobrado | currency : 'USD' :'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Total" [style]="{'text-align':'right', width:'15%','overflow':'visible'}">
            <ng-template pTemplate="body" let-ri="rowIndex" let-cobranza="rowData">
                <span>{{cobranza.total | currency : 'USD' :'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-footerColumnGroup>
            <p-row>
                <p-column [style]="{'text-align':'right'}" footer="Total:" colspan="3"></p-column>
                <p-column [style]="{'text-align':'right'}" footer="{{importeCobranzas | currency :'USD':'symbol-narrow'}}"></p-column>
                <p-column [style]="{'text-align':'right'}" footer="{{ivaCobranzas | currency :'USD':'symbol-narrow'}}"></p-column>
                <p-column [style]="{'text-align':'right'}" footer="{{totalCobranzas | currency :'USD':'symbol-narrow'}}"></p-column>
            </p-row>
        </p-footerColumnGroup>
    </p-dataTable>
</div>
<div class="ui-g-12 small-row" style="margin-top: 1em" *ngIf="mostrarComisiones">
    <p-dataTable [value]="comisiones" emptyMessage="No hay comisiones">
        <p-header>


            <div class="ui-g">
                <div class="ui-g-2 label">
                    <h4>Comisiones</h4>
                </div>

            </div>
        </p-header>

        <p-column header="Comisionista" field="comisionista.descripcion" [style]="{'text-align':'right', width:'40%'}">
            <ng-template let-col let-comision="rowData" let-ri="rowIndex" pTemplate="body">

                <span>{{comision.comisionista.descripcion}}</span>

            </ng-template>
        </p-column>
        <p-column header="Total a Comisionar" [style]="{'text-align':'right', width:'20%'}">
            <ng-template let-col let-comision="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{comision.totalAComisionar | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Ya Comisionado" [style]="{'text-align':'right', width:'20%'}">
            <ng-template let-col let-comision="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{comision.totalLiquidado | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column header="Saldo" [style]="{'text-align':'right', width:'20%'}">
            <ng-template let-col let-comision="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{comision.totalAComisionar - comision.totalLiquidado | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
<div class="ui-g-12">

</div>