<div class="gestion-contacto" *ngIf="contacto"> 


    <form [formGroup]="contactoForm" (ngSubmit)="guardarContacto()">

        <div class="ui-g-12 form-group ui-g-nopad">
            <label for="relacionContacto" class="control-label ui-g-2">Relacion:</label>
            <div class="ui-g-4">
                <input  autocomple="off" pInputText type="text" name="relacion" formControlName="relacionContacto" placeholder="Relacion" class="form-control"
                /> </div>

            <label for="nombre" class="control-label ui-g-2">Nombre y Apellido:</label>
            <div class="ui-g-4">
                <input  autocomple="off" pInputText type="text" name="nombre" formControlName="nombre" placeholder="Nombre" class="form-control" /> </div>
        </div>
        <div class="ui-g-12 form-group ui-g-nopad">
            <label for="telefono" class="control-label ui-g-2">Teléfono:</label>
            <div class="ui-g-4">
                <input  autocomple="off" pInputText type="text" name="telefono" formControlName="telefono" placeholder="1155554444" class="form-control" /> </div>
            <label for="celular" class="control-label ui-g-2">Celular:</label>
            <div class="ui-g-4">
                <input  autocomple="off" pInputText type="text" name="celular" formControlName="celular" placeholder="1155554444" class="form-control" /> </div>
        </div>
        <div class="ui-g-12 form-group ui-g-nopad">
            <label for="email" class="control-label ui-g-2">Email:</label>
            <div class="ui-g-4">
                <input autocomple="off" pInputText type="text" name="celular" formControlName="email" placeholder="juanperez@dominio.com" class="form-control"
                />
            </div>
            <label for="email" class="control-label ui-g-2">DNI:</label>
            <div class="ui-g-4">
                <input autocomple="off" pInputText type="text" name="dni" formControlName="numeroDocumento" placeholder="99999999" class="form-control"
                   />
            </div>
        </div>
        <div class="ui-g-12 form-group ui-g-nopad">
            <label for="facebook" class="control-label ui-g-2">Facebook:</label>
            <div class="ui-g-4">
                <input autocomple="off" pInputText type="text" name="facebook" formControlName="facebook" placeholder="https://www.facebook.com/tu_usuario"
                  class="form-control" />
            </div>
            <label for="instagram" class="control-label ui-g-2">Instagram: </label>
            <div class="ui-g-4">
                <input autocomple="off" pInputText type="text" name="instagram" formControlName="instagram" placeholder="https://www.instagram.com/tu_usuario"
                   class="form-control" />
            </div>
        </div>
        <div class="ui-g-12 form-group ui-g-nopad buttons-footer" >
            <div class="ui-g-2  ">
                <button pButton type="button"  label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-2">
                <button pButton label="Guardar" type="submit" [disabled]="!contactoForm.valid || finalizado || !editable" class="ui-button-success"></button>
            </div>
        </div>
    </form>
   

</div>
<p-confirmDialog appendTo="body" [key]="'confContacto'" header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>