<div class="content ">
        <div class="has-header">
            <div class="ui-g-12 ui-header ">
                <div class="ui-g-10">
                    <h3>Totales por Gastos</h3>
                </div>
    
            </div>
        </div>
        <div class="ui-g-12 filtros">
            <div class="ui-g-12 ui-fluid ui-g-nopad">
    
                <div class="ui-g-1 ">
                    <label for="centro">Centro</label>
                </div>
                <div class="ui-g-2">
                    <descriptivo-selector name="centros" required [limpiable]=false [data]="centros" nombre="Centro"
                        labelClass="hide" [(ngModel)]="centro"></descriptivo-selector>
                </div>
                <div class="ui-g-1">
                    <label for="fechaDesde">Desde</label>
                </div>
                <div class="ui-g-1" style="width: 12%">
                    <p-calendar [showIcon]="true" [maxDate]="filtro.fechaHasta" [(ngModel)]="filtro.fechaDesde" dateFormat="dd/mm/yy"
                        name="fecha"></p-calendar>
                </div>
                <div class="ui-g-1">
                    <label for="fechaHasta"> Hasta</label>
                </div>
                <div class="ui-g-1" style="width: 12%">
                    <p-calendar [showIcon]="true" [minDate]="filtro.fechaDesde" [(ngModel)]="filtro.fechaHasta" dateFormat="dd/mm/yy"
                        name="fecha"></p-calendar>
                </div>
    
            </div>
            <div class="ui-g-12  ui-fluid ui-g-nopad">
    
                <div class="ui-g-1 ">
                    <label for="centro">Grupo</label>
                </div>
                <div class="ui-g-2">
                    <descriptivo-selector name="grupos" required [limpiable]=false [data]="grupos" nombre="Grupos"
                        labelClass="hide" [(ngModel)]="grupo"></descriptivo-selector>
                </div>
    
                <div class="ui-g-1 ">
                    <label for="centro">Sub Grupo</label>
                </div>
                <div class="ui-g-3" >
                    <descriptivo-selector name="subgrupos" required [limpiable]=false [data]="subGrupos" nombre="SubGrupos"
                        labelClass="hide" [(ngModel)]="subGrupo"></descriptivo-selector>
                </div>
                <div class="ui-g-1">
                    <button pButton icon="fa fa-search" (click)="buscarItems()"></button>
                </div>
    
            </div>
    
        </div>
    </div>
    <div class="ui-g-12  ui-fluid searchbar" >
            <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
        </div>
    <div class="ui-g-12 ui-g-nopad">
        <p-dataTable emptyMessage="No hay totales" class="form-group" [value]="items" [rows]="30" [paginator]="true"
            [responsive]="true" [globalFilter]="gb" sortField="grupo" rowGroupMode="rowspan" #tabla [loading]="tableLoading" loadingIcon="fa-spinner">
            <p-headerColumnGroup >
    
                <p-row *ngIf="items && items.length > 0">
                    <p-column header="Totales" [style]="{ 'text-align':'right'}" colspan="3"></p-column>
                    <p-column [style]="{ 'text-align':'right'}">
                        <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                            <span>{{totalGastos | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                </p-row>
                <p-row>
                    <p-column field="grupo" header="Grupo" [style]="{'width':'10%', 'text-align':'left'}"
                        [sortable]="true"></p-column>
                    <p-column field="subGrupo" header="Sub Grupo" [style]="{'width':'10%', 'text-align':'left'}" [sortable]="true"></p-column>
                    <p-column field="cuenta" header="Gasto" [style]="{'width':'10%', 'text-align':'left'}" [sortable]="true"></p-column>
                    <p-column header="Importe" [style]="{'width':'8%', 'text-align':'right'}" [sortable]="true"></p-column>
    
                </p-row>
            </p-headerColumnGroup>
            <p-column field="grupo"  [style]="{'width':'10%', 'text-align':'left'}" [sortable]="true"></p-column>
            <p-column field="subGrupo"  [style]="{'width':'10%', 'text-align':'left'}" [sortable]="true"></p-column>
            <p-column field="cuenta"  [style]="{'width':'10%', 'text-align':'left'}" [sortable]="true"></p-column>
             <p-column [style]="{'width':'8%', 'text-align':'right'}" >
                <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="body">
                    <span>{{tt.debe - tt.haber | currency : 'USD' : 'symbol-narrow'}}</span>
                </ng-template>
            </p-column>
            <p-footerColumnGroup *ngIf="items && items.length > 0">
                <p-row>
                    <p-column footer="Totales" [style]="{ 'text-align':'right'}" colspan="3"></p-column>
                    <p-column [style]="{'text-align':'right'}">
                        <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="footer">
                            <span>{{totalGastos | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                </p-row>
            </p-footerColumnGroup>
        </p-dataTable>
    </div>