<div class="content">
        <div class="ui-g-8 ui-g-nopad ui-g-offset-2">
            <div class="ui-widget-header thead-default">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                    </div>
                    <div class="ui-g-2">
                            <button pButton label="Nuevo" icon="fa-plus" class="" (click)="nuevoItem()"></button>
                    </div>
                </div>
            </div>
    
            <p-dataTable [value]="items" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" [responsive]="true"
                [globalFilter]="gb" [emptyMessage]="'Sin Items'">
                <p-column [style]="{'width':'7%', 'text-align':'center'}" field="estado" header="Estado">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <i class="fa fa-check ui-success" *ngIf="item.habilitado" title="Habilitado"></i>
                            <i class="fa fa-close ui-danger" *ngIf="!item.habilitado" title="Deshabilitado"></i>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'width':'7%', 'text-align':'center'}" field="esAdicional" header="Adic.">
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <i class="fa fa-check ui-success" *ngIf="item.esAdicional" title="Es Adicional"></i>
                            <i class="fa fa-close ui-danger" *ngIf="!item.esAdicional" title="No Adicional"></i>
                        </ng-template>
                    </p-column>
                <p-column [style]="{'width':'7%', 'text-align':'center'}" field="peso" header="Peso" [sortable]="true">
                    <ng-template let-col let-item="rowData" pTemplate="body">
                        {{item.peso}}
                    </ng-template>
                </p-column>
                <!--p-column [style]="{'width':'20%', 'text-align':'center'}" field="codigo" header="Código" [sortable]="true">
                    <ng-template let-col let-item="rowData" pTemplate="body">
                        {{item.codigo}}
                    </ng-template>
                </p-column-->
                <p-column [style]="{'width':'65%', 'text-align':'left'}" field="nombre" header="Descripción" [sortable]="true">
                    <ng-template let-col let-item="rowData" pTemplate="body">
                        {{item.codigo}} - {{item.descripcion}}
                    </ng-template>
                </p-column>
                
                <p-column [style]="{'width':'14%', 'text-align':'center'}" field="direccionCompleta" header="Acciones">
                    <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                        <button pButton icon="fa-pencil" (click)="editarItem(item)" title="Editar"></button>
                        <button pButton [disabled]="!item.habilitado || item.esSistema" class="ui-button-danger" icon="fa-trash" (click)="eliminar(item)" title="Borrar"></button>
                        <button pButton [disabled]="item.habilitado" class="ui-button-success" icon="fa-check-square" (click)="habilitar(item)" title="Habilitar"></button>   </ng-template>
                </p-column>
            </p-dataTable>
    
    
        </div>
    </div>

    <p-dialog header="Grupo de Producto" [(visible)]="editandoItem" [width]="400" [appendTo]="'body'" [modal]="true">
            <div class="ui-g-12" *ngIf="itemEditado">
                    <gestion-grupo-producto [(item)]="itemEditado" [editable]="editandoItem" (onCancelar)="cancelarEdicionItem($event)"
                        (onGuardar)="itemGuardado($event)"></gestion-grupo-producto>
                </div>
    </p-dialog>
     
    <p-confirmDialog [key] ="'grupoConf'" [appendTo]="'body'"  header="Confirmar" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>