
@import "../../../app.variables.less";
.conflictos-menu {
   

    .listados {
        padding: 0.5em;
        border-left: 2px solid lightgray;
        display: flex;
        &:first-child{
            border-left: none;
        }
        
        .titulo {
            text-align: center;
            font-family: Helvetica, Arial;
            font-weight: bold;
            font-variant: small-caps;
            margin-bottom: 1em;
        }
        .listado {
            .titulo{
                text-align: left;
                margin: 0;
            }
            &:first-child{
                margin-top: 1.5em;
            }
            padding: 0.5em;
            width: auto;
            max-width: calc(50% - 0.5em);
            flex-grow: 1;
            max-height: 100%;
            .periodo{
                padding: 1em 0.5em;
            }
            .precios{
                margin: 0 0 1em 0;
            }
            &.comparado {
                width: calc(100% - 0.5em);
                max-width: 100%;
                &.error{
                    border: 2px solid @error;
                }
                &.warning{
                    border: 2px solid @warning;
                }
                &.ok{
                    border: 2px solid @success;
                }
            }
            .acciones{
                text-align: center;
                .ui-button{
                    margin: 0 0.5em;
                    border:none;

                }
            }
            
        }

        .dummy {
            padding:1.5em;
        }
    }
    .buttons{
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        padding: 2em;
        .ui-button{
        }
    }
}

:host /deep/ .ui-selectbutton.ui-buttonset{
    .ui-button{
        background-color: transparent;
        color: @main-brand-text;
        margin: 0 0.25em;
        &:hover{
            opacity: 0.7;
        }
        &.ui-state-active, &:hover{
            color:@main-light-contrast;
            border:1px solid @main-brand-text;
            background-color: @main-brand-text;
        }
    }
}