
<div class="login-logo">
    <img src="assets/images/landing.png" />
</div>
<div class="container-flex">

    <div class="ui-g-4 ui-g-offset-4 ui-jumbotron" *ngIf="validToken">

        <form name="form" (ngSubmit)="cambiarPassword()" role="form">
            <div class="ui-g">
                <h3>Ingrese su nueva contraseña</h3>
            </div>

            <div class="ui-g">
                <div class="ui-inputgroup  ui-g-12">
                    <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                    <input type="password"  pInputText name="password" id="password" class="form-control" placeholder="Nueva Contraseña" [(ngModel)]="password" required />
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-inputgroup  ui-g-12">
                    <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                    <input type="password" pInputText name="password2" id="password2" placeholder="Repita la contraseña" class="form-control" [(ngModel)]="password2" required />
                </div>
            </div>
            <div class="ui-g form-actions">
                    
             <div class="content pull-right ui-g-12">
                 <button type="submit" pButton class="ui-button-success" label="Guardar" [disabled]="!this.email || loading"></button>
             </div>
         </div>
        </form>
    </div>
    <div class="ui-g-4 ui-g-offset-4 ui-jumbotron" *ngIf="!validToken && chequeoRealizado">
            <div class="ui-g">
                <h3 >El código verificador ingresado no es válido</h3>
            </div>
    </div>
</div>
<div class="login-footer ">
    <div class="text-center">
        <a href="http://www.thinkup.com.ar" target="_blank">Powered By ThinkUp
        </a>
    </div>
</div>
