<div class="content has-header">
    
    <div class="ui-header">
        <h3>{{ titulo }}</h3>

    </div>
    <div class="ui-g ui-fluid filtros">
        <div class="ui-g-1 "><label for="Centro">Centro Csto.</label></div>
        <div class="ui-g-3">
            <p-dropdown placeholder="Elija un Centro" [style]="{'width':'100%'}" name="centro" [options]="centros" [(ngModel)]="filtro.centro"></p-dropdown>
        </div>
        <div class="ui-g-1 "><label for="fechaDesde">Fecha Desde</label></div>
        <div class="ui-g-2">
            <p-calendar [showIcon]="true" [maxDate]="filtro.fechaHasta" [(ngModel)]="filtro.fechaDesde" dateFormat="dd/mm/yy" 
                name="fecha"></p-calendar>
        </div>
        <div class="ui-g-1 "><label for="fechaHasta"> Hasta</label></div>
        <div class="ui-g-2">
            <p-calendar [showIcon]="true" [minDate]="filtro.fechaDesde" [maxDate]="fechaMaxima" [(ngModel)]="filtro.fechaHasta" dateFormat="dd/mm/yy"
                 name="fecha"></p-calendar>
        </div>
        <div class="ui-g-2">
            <button pButton label="Buscar" [disabled]="!filtro.centro" icon="fa fa-search" (click)="buscarBalance()"></button>
        </div>

    </div>
    <div class="ui-fluid">

        <div class="ui-g">
            <p-treeTable [value]="cuentas" (onNodeExpand)="nodeExpand($event)">

                <p-column field="cuenta" header="Cuenta" [style]="{'width':'30%'}"></p-column>
                <p-column field="fechaFormateada" header="Fecha" [style]="{'width':'10%', 'text-align':'center'}"></p-column>
                <p-column header="Debe"  [style]="{'width':'10%', 'text-align':'right', 'padding-right': '20px'}">
                    <ng-template  let-col let-cuenta="rowData" let-ri="rowIndex" pTemplate="body">
                        <span *ngIf="cuenta.esCuentaAplicacion && cuenta.debe != 0">{{cuenta.debe | currency :'USD':'symbol-narrow'}}</span>
                        <span *ngIf="!cuenta.esCuentaAplicacion && cuenta.total >= 0">{{cuenta.total | currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column  header="Haber" [style]="{'width':'10%', 'text-align':'right', 'padding-right': '20px'}">
                    <ng-template  let-col let-cuenta="rowData" let-ri="rowIndex" pTemplate="body">
                        <span *ngIf="cuenta.esCuentaAplicacion && cuenta.haber != 0">{{cuenta.haber | currency :'USD':'symbol-narrow'}}</span>
                        <span *ngIf="!cuenta.esCuentaAplicacion && cuenta.total <= 0">{{-1*cuenta.total | currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column  header="Total"  [style]="{'width':'10%', 'text-align':'right', 'padding-right': '20px'}">
                    <ng-template let-col let-cuenta="rowData" let-ri="rowIndex" pTemplate="body">
                        <span *ngIf="cuenta.total != 0 && cuenta.esCuentaAplicacion">{{cuenta.total | currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
            </p-treeTable>
        </div>
    </div>



</div>


<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>