@import "./../app.variables.less";
.filtros{
    
    margin: 1em 0 1em 0;
}

.fa{
    &.A:before {
        content: "\F00C";
        color: @success;
    }
    &.R:before{
        content: "\F00D";
        color: @error-dark;
    }
    &.P:before{
        content: "\F128";
        color: @warning;
    }
}