
@import "./../../app.variables.less";
:host /deep/ .ui-menuitem-icon,
:host /deep/ .ui-submenu-icon{
    color : @main-dark;
    font-size: 14pt;
}

.sub-title {
    color : @main-dark;
    font-size: 10pt;
    display: block;
    font-weight: bold;
    line-height: 2em;
    
}
.nueva-alta{
    textarea{
        resize: none;
        width: 100%;
    }
}