<div class="content has-header">

    <div class="ui-header">
        <div class="ui-g">
            <div class="ui-g-4">
                <h3>{{ titulo }}</h3>
            </div>
        </div>
    </div>

    <div class="ui-fluid">
        <form #empleadoForm="ngForm" (ngSubmit)="guardarEmpleado()">
            <!-- <p-tabView>
                <p-tabPanel header="Datos personales"> -->
            <div class="ui-g-10">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-2">
                        <span class="sub-title">Datos Personales</span>
                    </div>
                    <div class="ui-g-10 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-2 required">
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="ui-g-4">
                                <input [disabled]="!editable" [(ngModel)]="empleado.nombre" type="text" name="nombre" pInputText required>
                            </div>

                            <div class="ui-g-1 required">
                                <label for="tipoJornada">Centro</label>
                            </div>
                            <div class="ui-g-2">
                                <p-dropdown [dataKey]="'codigo'" placeholder="Seleccione..." [style]="{'width':'100%'}" name="centro" [options]="centros"
                                    [(ngModel)]="empleado.centro" required></p-dropdown>
                            </div>
                            <div class="ui-g-1">
                                <label for="tipoJornada">Rubro</label>
                            </div>
                            <div class="ui-g-2">
                                <p-dropdown [dataKey]="'codigo'" placeholder="Tipo Empleado..." [style]="{'width':'100%'}" name="tipoEmpleado" [options]="tiposEmpleado"
                                    [(ngModel)]="empleado.tipoEmpleado"></p-dropdown>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-2 ">
                                <label for="email">Email</label>
                            </div>
                            <div class="ui-g-4">
                                <input [disabled]="!editable" [(ngModel)]="empleado.email" type="email" name="email" pInputText>
                            </div>
                            <div class="ui-g-2 ">
                                <label for="telefono">Teléfono</label>
                            </div>
                            <div class="ui-g-4">
                                <input [disabled]="!editable" [(ngModel)]="empleado.telefono" type="phone" name="telefono" pInputText>
                            </div>

                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-2 required">
                                <label for="cuil">Cuil</label>
                            </div>
                            <div class="ui-g-2">
                                <p-inputMask mask="99-99999999-9" title="CUIL" [disabled]="!editable" [(ngModel)]="empleado.cuil" type="text" name="cuil"
                                    placeholder="__-________-_" required></p-inputMask>
                            </div>
                            <div class="ui-g-2 required">
                                <label for="fecha">Fecha de Nacimiento</label>
                            </div>
                            <div class="ui-g-2">
                                <p-calendar tabindex="1" [showIcon]="true" [disabled]="!editable" [(ngModel)]="empleado.fechaNacimiento" dateFormat="dd/mm/yy"
                                    name="fechaNacimiento"></p-calendar>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-2 required">
                                <label for="domicilio">Domicilio</label>
                            </div>
                            <div class="ui-g-10">
                                <input placeholder="Domicilio" title="Domicilio" [disabled]="!editable" [(ngModel)]="empleado.domicilio" type="text" name="domicilio"
                                    pInputText>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <div class="ui-g-10">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-2">
                        <span class="sub-title">Documentación</span>
                    </div>
                    <div class="ui-g-10 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-12 ui-g-nopad">
                                <div class="ui-g-3">
                                    <p-checkbox label="Preocupacional OK" [(ngModel)]="empleado.preocupacionalOk" binary="true" name="preocupacionalOK">
                                    </p-checkbox>
                                </div>
                                <div class="ui-g-2">
                                    <label for="fecha">Fecha preocupacional:</label>
                                </div>
                                <div class="ui-g-3">
                                    <p-calendar tabindex="1" [showIcon]="true" [disabled]="!editable" [(ngModel)]="empleado.fechaRealizacionPreocupacional" dateFormat="dd/mm/yy"
                                        name="fechaRealizacionPreocupacional"></p-calendar>
                                </div>
                            </div>
                            <div class="ui-g-4">
                                <p-checkbox label="Tenemos el CV" [(ngModel)]="empleado.cvOk" binary="true" name="cvOK">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-4">
                                <p-checkbox label="Tenemos el DNI" [(ngModel)]="empleado.dniOK" binary="true" name="dniOK">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-4">
                                <p-checkbox label="Constancia CUIL" [(ngModel)]="empleado.cuilOK" binary="true" name="cuilOK">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-4">
                                <p-checkbox label="Constancia domicilio" [(ngModel)]="empleado.constanciaDomicilioOK" binary="true" name="constanciaDomicilioOK">
                                </p-checkbox>
                            </div>
                            <div class="ui-g-4">
                                <p-checkbox label="Seguro" [(ngModel)]="empleado.seguroOK" binary="true" name="seguroOK">
                                </p-checkbox>

                            </div>
                            <div class="ui-g-4">
                                <p-checkbox label="ART" [(ngModel)]="empleado.artOK" binary="true" name="artOK">
                                </p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-10">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-2">
                        <span class="sub-title">Datos laborales</span>
                    </div>
                    <div class="ui-g-10 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-2 ">
                                <label for="remuneracion">Remuneración</label>
                            </div>
                            <div class="ui-g-2">
                                <input [(ngModel)]="empleado.remuneracion" type="number" step="any" step="1" name="remuneracion" pInputText required>
                            </div>

                            <div class="ui-g-2">
                                <label for="tipoJornada">Tipo Jornada</label>
                            </div>
                            <div class="ui-g-2">
                                <p-dropdown [dataKey]="'codigo'" placeholder="Seleccione..." [style]="{'width':'100%'}" name="tipoJornada" [options]="tiposJornada"
                                    [(ngModel)]="empleado.tipoJornada"></p-dropdown>
                            </div>
                            <div class="ui-g-1 ">
                                <label for="sector">Sector</label>
                            </div>
                            <div class="ui-g-3">
                                <p-dropdown [dataKey]="'codigo'" placeholder="Seleccione un sector..." [style]="{'width':'100%'}" name="sectores" [options]="sectores"
                                    [(ngModel)]="empleado.sector"></p-dropdown>
                            </div>
                            <div class="ui-g-12 ui-g-nopad">
                                <div class="ui-g-2 ">
                                    <label for="nombre">Funcion</label>
                                </div>
                                <div class="ui-g-10">
                                    <textarea rows="3" cols="30" pInputTextarea autoResize="autoResize" [(ngModel)]="empleado.funcion" type="text" name="funcion">
                                    </textarea>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-g-nopad">
                                <div class="ui-g-2">
                                    <label for="responsabilidades">Responsabilidades</label>
                                </div>
                                <div class="ui-g-10">
                                    <textarea rows="3" cols="30" pInputTextarea autoResize="autoResize" [(ngModel)]="empleado.responsabilidades" type="text"
                                        name="funcion"></textarea>
                                </div>
                            </div>
                            <div class='ui-g-12 ui-g-nopad'>
                                <div class="ui-g-2">
                                        <label for="altas">Altas Laborales</label> 
                                </div>
                                <div class='ui-g-8'>
                                    <p-dataTable [value]="empleado.altas"   emptyMessage="No se registraron Altas">
                                        <p-column [style]="{'width':'30%', 'text-align':'center'}" field="fechaDesdeStr" header="Desde"></p-column>
                                        <p-column [style]="{'width':'30%', 'text-align':'center'}" field="fechaHastaStr" header="Hasta"></p-column>
                                        <p-column [style]="{'width':'40%', 'text-align':'center'}" field="observacion" header="Observaciones"></p-column>
                                        <p-column [style]="{'width':'10%', 'text-align':'center'}" header="">
                                            <ng-template pTemplate="header">
                                                        <button  type="button"  title="Nueva Alta" class="ui-button" pButton icon="fa-plus"(click)="nuevaAlta()"></button>
                                                    </ng-template>
                                            <ng-template let-col let-alta="rowData" let-ri="rowIndex" pTemplate="body">
                                                    <button type="button" pButton icon="fa-pencil" title="Editar Alta" (click)="editarAlta(alta)"></button>
                                            </ng-template>
                                        </p-column>
                                    </p-dataTable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 ui-fluid" style="margin-top:20px">
                <div class="ui-g-2 ui-g-offset-8 ">
                    <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton label="Guardar" type="submit" [disabled]="!empleadoForm.form.valid || finalizado || !editable" class="ui-button-success"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<p-dialog header="{{tituloDialogo}}" [(visible)]="mostrarAlta" [width]="400"  [appendTo]="'body'" [modal]="true"
         [contentStyle]="{'overflow':'visible'}">
        <div class="ui-g-12 nueva-alta" *ngIf="altaEditada">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-4">
                    <label for="fechaAlta">Fecha Alta</label>
                </div>
                <div class="ui-g-8">
                    <p-calendar tabindex="1" [showIcon]="true" [disabled]="!editable" [appendTo]="'body'"
                    [(ngModel)]="altaEditada.fechaAlta" dateFormat="dd/mm/yy" [maxDate]="altaEditada.fechaBaja"
                    name="fechaAlta"></p-calendar>
                </div>
            </div>
            <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-4">
                        <label for="fechaBaja">Fecha Baja</label>
                    </div>
                    <div class="ui-g-8">
                        <p-calendar tabindex="1" [showIcon]="true" [disabled]="!editable" [appendTo]="'body'"
                        [(ngModel)]="altaEditada.fechaBaja" dateFormat="dd/mm/yy" [minDate]="altaEditada.fechaAlta"
                        name="fechaBaja"></p-calendar>
                    </div>
                </div>
            <div class="ui-g-12 ui-g-nopad">
                <textarea name="observaciones" placeholder="Observaciones" [(ngModel)]="altaEditada.observacion" rows="5"></textarea>
            </div>    
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2 ui-g-offset-8">
                    <button pButton label="Guardar" type="button" [disabled]="!editable" class="ui-button-success" (click)="guardarAlta()"></button>
                </div>
            </div>    
        </div>
</p-dialog>

<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>