<div class="content has-header">
    
    <div class="ui-header">
        <h3>{{ titulo }}</h3>

    </div>

    <div class="ui-fluid">
        <form #planCuentaForm="ngForm" (ngSubmit)="guardarPlan()">
            <div class="ui-g">
                <div class=" ui-g-offset-2 ui-g-8">
                    <p-treeTable [value]="planCuenta" selectionMode="single" [(selection)]="cuentaSeleccionada" [contextMenu]="cm">
                        <p-column field="codigo" header="Código" [style]="{'width':'20%', 'padding':'10px'}">
                            <ng-template let-col let-cuenta="rowData" pTemplate="body">

                                <input [disabled]=" !editable" type="text" required pInputText [(ngModel)]="cuenta.codigo" [ngModelOptions]="{standalone:true}"
                                />

                            </ng-template>
                        </p-column>
                        <p-column field="descripcion" header="Nombre" [style]="{'width':'75%', 'padding':'10px'}">
                            <ng-template let-col let-cuenta="rowData" pTemplate="body">
                                <input [disabled]=" !editable" type="text" required pInputText [(ngModel)]="cuenta.descripcion" [ngModelOptions]="{standalone:true}"
                                />
                            </ng-template>
                        </p-column>
                        <p-column [style]="{'width':'5%', 'padding':'5px'}">
                            <ng-template let-col let-cuenta="rowData" pTemplate="body">
                                <button pButton type="button" class="ui-button-danger" icon="fa-trash" (click)='confirmDelete(cuenta)' title="Borrar cuenta" *ngIf="cuenta.esEliminable" ></button>
                            </ng-template>
                        </p-column>

                    </p-treeTable>
                </div>
            </div>

            <div class="ui-g ui-fluid" style="margin-top:20px">
                <div class="ui-g-2 ui-g-offset-6 ">
                    <button pButton type="button" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton label="Guardar" type="submit" [disabled]="!planCuentaForm.form.valid ||  !editable" class="ui-button-success"></button>
                </div>
            </div>
        </form>
    </div>
</div>

<p-contextMenu #cm [model]="menuItems">

</p-contextMenu>
<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>