@import "./../../app.variables.less";

:host /deep/ .conflicto {
    
    .datos {
        tr.conflicto td:first-child {
            border: none;
        }

        tr.conflicto td:nth-child(2) {
            border: none;
            span.nombre {
                margin-left: 1.5em;
                display: block;
            }
        }
        tr.conflicto.ui-datatable-even, tr.conflicto.ui-datatable-odd{
            background-color: white;
        }
        tr.precio {
            .dia{
                border-radius: 50%;
                background-color: transparent;
                width: 2em;
                height: 2em;
                display: inline-block;
                padding: 0;;
                line-height: 2;
                text-align: center;
                border: 1px solid @main-light-3;
                box-shadow: 2px 2px 4px lightgrey;
                margin: 0 0.25em;
                cursor: pointer;
                &.selected{
                    background-color: @main-light-3;
                    color: @main-light-contrast;
                }
                &.global{
                    box-shadow: none;
                    background-color: white; 
                    color:@main-brand;
                    &.selected{
                        color:@main-brand;
                        background-color: @main-selected;
                    }
                }
               
            }
            background-color: #eaf1ea;
            &.error {
                color: black;
                td:first-child {
                    color: white;
                    background-color: @error;
                }
                .ui-selectbutton.ui-buttonset {
                    .ui-button{
                        &.ui-state-active{
                            color: white;
                            background-color: @error;
                            border-color:black;
                        }
                        &:hover{
                            background-color: @error;
                            color: white;
                        }
                    }
                }
            }

            &.ok {
                color: black;
                td:first-child {
                    color: white;
                    background-color: @success;
                }
                .ui-selectbutton.ui-buttonset {
                    .ui-button{
                        &.ui-state-active{
                            color: white;
                            background-color: @success;
                            border-color:black;
                        }
                        &:hover{
                            background-color: @success;
                            color: white;
                        }
                    }
                }
            }

            &.warning {
               color: black;
                td:first-child {
                    color: white;
                    background-color: @warning;
                }
                .ui-selectbutton.ui-buttonset {
                    .ui-button{
                        &.ui-state-active{
                            color: white;
                            background-color: @warning;
                            border-color:black;
                        }
                        &:hover{
                            background-color: @warning;
                            color: white;
                        }
                    }
                }
            }
        }

    }
}