<div class="conflicto">

    <div class="ui-g-12" *ngIf="conflictos?.length ==0">
        <span>No hay conflictos</span>
    </div>
    <div class="ui-g ui-fluid ui-g-12" *ngIf="conflictos?.length >0">
        <p-dataTable [value]="preciosAMostrar" [responsive]="true" [emptyMessage]="'No hay conflictos'" dataKey="id"
            editable="false" [rowStyleMap]="styleMap" [rowStyleClass]="getRowStyle" styleClass="datos">
            <p-column [style]="{'width':'5%', 'text-align':'center'}">
                <ng-template let-col let-precio="rowData" pTemplate="body">
                    <span><i class="fa" [ngClass]="{'fa-check': precio.tipo === 'precio ok', 'fa-close': precio.tipo === 'precio error', 'fa-warning': precio.tipo === 'precio warning'}"></i></span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'15%', 'text-align':'left'}" field="codProd" header="Nombre">
                <ng-template let-col let-precio="rowData" pTemplate="body">
                    <span class="nombre">{{precio.precio.producto.codigo}} - {{precio.precio.producto.descripcion}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'12%', 'text-align':'center'}" field="fechaDesde" header="Vigencia Desde">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span *ngIf="precio.accionATomar!='M'">{{precio.precio.fechaDesde | date : 'dd/MM/yyyy'}} </span>
                    <div class="ui-g-12 ui-g-nopad ui-g ui-fluid" *ngIf="precio.accionATomar==='M'">
                        <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="precio.copia.fechaDesde" name="{{'fecha_desde' + ri}}"
                            [locale]="locale.es" appendTo="body"></p-calendar>
                    </div>
                </ng-template>

            </p-column>
            <p-column [style]="{'width':'12%', 'text-align':'center'}" field="fechaHasta" header="Hasta">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span *ngIf="precio.precio.fechaHasta && precio.accionATomar!='M'">{{precio.precio.fechaHasta |
                        date : 'dd/MM/yyyy'}}</span>
                    <span *ngIf="!precio.precio.fechaHasta && precio.accionATomar!='M'">En adelante</span>
                    <div class="ui-g-12 ui-g-nopad ui-g ui-fluid" *ngIf="precio.accionATomar==='M'">
                        <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="precio.copia.fechaHasta" name="{{'fecha_hasta' + ri}}"
                            [locale]="locale.es" appendTo="body"></p-calendar>
                    </div>

                </ng-template>

            </p-column>
            <p-column [style]="{'width':'15%', 'text-align':'left', 'overflow':'hidden', 'text-overflow':'ellipsis'}"
                field="listaPrecio" header="Tipo Listado">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span *ngIf="precio.accionATomar !=='M'" [title]="tipoListadoResumen(precio.precio)">{{tipoListadoResumen(precio.precio)}}</span>
                    <div class="ui-g-12 ui-g-nopad" *ngIf="precio.accionATomar==='M'">
                            <descriptivo-selector name="listaPrecios" [appendTo]="'body'" required [limpiable]=true [data]="listaPrecios" nombre="Tipo de Listado" labelClass="hide"
                            [(ngModel)]="precio.copia.listaPrecio" inputClass=" "></descriptivo-selector>
                    </div>
                </ng-template>

            </p-column>
            <p-column [style]="{'width':'16%', 'text-align':'left', 'overflow':'hidden', 'text-overflow':'ellipsis'}"
                field="diasSemana" header="Días">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span *ngIf="precio.accionATomar!='M'" [title]="diasResumen(precio.precio)">{{diasResumen(precio.precio)}}</span>
                    <div class="ui-g-12 ui-g-nopad ui-g ui-fluid" *ngIf="precio.accionATomar==='M'">

                        <div class="dia" *ngFor="let dia of locale.es.dayNamesMin; index as i " [ngClass]="{'selected': precio.precio.tieneDia(i+1)}"
                            (click)="precio.precio.toggleDia(i+1)">
                            <span>{{dia}}</span>
                        </div>
                    </div>


                </ng-template>


            </p-column>

            <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaAlta" header="Ultima Modificación">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span *ngIf="precio.tipo ==='conflicto'">{{precio.precio.fechaAlta | date : 'dd/MM/yyyy'}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'10%', 'text-align':'right'}" field="fechaDesde" header="Precio">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span *ngIf="precio.accionATomar!=='M'">{{precio.precio.valor | currency : 'USD' :
                        'symbol-narrow'}}</span>
                    <input type="number" style="text-align: right;" *ngIf="precio.accionATomar==='M'" [(ngModel)]="precio.copia.valor"
                        name="{{'valor_' + ri}}" min="0" (focusin)="onFocus($event)">
                </ng-template>

            </p-column>
            <p-column [style]="{'width':'12%', 'text-align':'right'}" header="Acciones">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <p-selectButton [options]="precio.acciones" [(ngModel)]="precio.accionATomar"></p-selectButton>
                </ng-template>
            </p-column>
        </p-dataTable>
        <div class="ui-g-12 ui-fluid ui-g">
            <div class="ui-g-2 ui-sm-12 ui-md-offset-10">
                <button (click)="procesarCambios()" pButton label="Reprocesar" icon="fa fa-check"></button>
                <button (click)="cancelarConflictos()" pButton label="Cancelar" icon="fa fa-ban"></button>
            </div>
        </div>
    </div>
</div>