<div class="gestion-precio-bebida">

    <div class="ui-g ui-fluid tabla-edicion" *ngIf="precios.length > 0" [hidden]="verConflictos">
        <p-dataTable [value]="precios" [responsive]="true" [globalFilter]="gb" [emptyMessage]="'Sin Selección'"
            sortField="codProd" dataKey="id" rowGroupMode="rowspan" editable="true" [rows]="10" [paginator]="true"
            [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [emptyMessage]="'Sin Precios'">
            <p-headerColumnGroup>
                <p-row *ngIf="precios && precios.length > 0">

                    <p-column header="Ajustes globales" [style]="{ 'text-align':'right'}" colspan="1"></p-column>

                    <p-column [style]="{ 'text-align':'center'}" colspan="1">
                        <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                            <div class="ui-g-12 ui-fluid">
                                <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="fechaDesde" name="nuevaFechaDesde"
                                    [locale]="locale.es" appendTo="body"  showIcon="true"></p-calendar>
                            </div>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{ 'text-align':'center'}" colspan="1">
                        <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                            <div class="ui-g-12 ui-fluid">
                                <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="fechaHasta" name="nuevaFechaHasta"
                                    showIcon="true" [locale]="locale.es" appendTo="body"></p-calendar>
                            </div>

                        </ng-template>
                    </p-column>
                    <p-column [style]="{ 'text-align':'center'}" colspan="1">
                        <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                            <div class="ui-g-12">
                                <button pButton icon="fa fa-refresh" class="ui-button-success" (click)="actualizarFechas()"
                                    title="Aplicar Cambio en Fechas"></button>
                            </div>

                        </ng-template>
                    </p-column>
                    <!--p-column [style]="{ 'text-align':'center'}" colspan="1">
                        <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                            <div class="dia global" *ngFor="let dia of locale.es.dayNamesMin; index as i "
                                [ngClass]="{'selected': tieneDia(i+1)}" (click)="toggleDia(i+1)">
                                <span>{{dia}}</span>
                            </div>
                        </ng-template>
                    </p-column-->
                    <p-column header="" [style]="{ 'text-align':'right'}" colspan="2">
                        <ng-template let-col let-tt="rowData" let-ri="rowIndex" pTemplate="header">
                            <div class="ui-inputgroup">
                                <p-selectButton [options]="operaciones" [(ngModel)]="operacionSeleccionada">
                                </p-selectButton>
                                <input type="number" class="currency" pInputText placeholder="Operación Global"
                                    [(ngModel)]="precioGlobal">
                                <button pButton type="button" icon="fa-refresh" class="ui-button-success"
                                    (click)="actualizarPrecioGlobal(precioGlobal)"></button>
                            </div>

                        </ng-template>
                    </p-column>
                </p-row>
                <p-row>
                    <p-column [style]="{'width':'25%', 'text-align':'center'}" field="codProd" header="Nombre"
                        [sortable]="true">
                    </p-column>
                    <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaDesde"
                        header="Vigencia Desde">
                    </p-column>
                    <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaHasta" header="Hasta">
                    </p-column>
                    <p-column
                        [style]="{'width':'20%', 'text-align':'left', 'overflow':'hidden', 'text-overflow':'ellipsis'}"
                        field="salones" header="Tipo Listado"> </p-column>
                    <!--p-column
                        [style]="{'width':'20%', 'text-align':'left', 'overflow':'hidden', 'text-overflow':'ellipsis'}"
                        field="diasSemana" header="Días"> </p-column-->

                    <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaDesde"
                        header="Ultima Modificación"></p-column>
                    <p-column [style]="{'width':'15%', 'text-align':'right'}" field="fechaDesde" header="Precio">
                    </p-column>
                </p-row>
            </p-headerColumnGroup>
            <p-column [style]="{'width':'25%', 'text-align':'center'}" field="codProd" header="Nombre"
                [sortable]="true">
                <ng-template let-col let-precio="rowData" pTemplate="body">
                    <span>{{precio.producto.codigo}} - {{precio.producto.descripcion}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaDesde" header="Vigencia Desde"
                editable="true">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span>{{precio.fechaDesde | date : 'dd/MM/yyyy'}} </span>
                </ng-template>
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="editor">
                    <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="precio.fechaDesde" name="{{'fecha_desde' + ri}}"
                        [locale]="locale.es" appendTo="body"></p-calendar>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaHasta" header="Hasta"
                editable="true">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span *ngIf="precio.fechaHasta">{{precio.fechaHasta | date : 'dd/MM/yyyy'}}</span>
                    <span *ngIf="!precio.fechaHasta">En adelante</span>
                </ng-template>
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="editor">
                    <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="precio.fechaHasta" name="{{'fecha_hasta' + ri}}"
                        [minDate]="precio.fechaDesde" [locale]="locale.es" appendTo="body"></p-calendar>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'20%', 'text-align':'left', 'overflow':'hidden', 'text-overflow':'ellipsis'}"
                field="listaPrecios" header="Tipo Listado" editable="false">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span [title]="precio.tipoListadoResumen">{{precio.tipoListadoResumen}}</span>
                </ng-template>
                <!--ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="editor">
                    <div class="ui-g-12 salon">
                        <p-checkbox [(ngModel)]="precio.todosListados" name="{{'todosListados' + ri}}" [binary]="true"
                            label="Todos"></p-checkbox>
                    </div>
                    <div class="ui-g-12" *ngIf="!precio.todosListados">
                        
                    </div>

                </ng-template-->
            </p-column>
            <!--p-column [style]="{'width':'20%', 'text-align':'left', 'overflow':'hidden', 'text-overflow':'ellipsis'}"
                field="diasSemana" header="Días" editable="true">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span [title]="precio.diasResumen">{{precio.diasResumen}}</span>
                </ng-template>
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="editor">
                    <div class="dia" *ngFor="let dia of locale.es.dayNamesMin; index as i "
                        [ngClass]="{'selected': precio.tieneDia(i+1)}" (click)="precio.toggleDia(i+1)">
                        <span>{{dia}}</span>
                    </div>
                </ng-template>

            </p-column-->

            <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaAlta" header="Ultima Modificación">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span>{{precio.fechaAlta | date : 'dd/MM/yyyy'}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'15%', 'text-align':'right'}" field="fechaDesde" header="Precio"
                editable="true">
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                    <span>{{precio.valor | currency : 'USD' : 'symbol-narrow'}}</span>
                </ng-template>
                <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="editor">
                    <input type="number" style="text-align: right;" [(ngModel)]="precio.valor" name="{{'valor_' + ri}}"
                        min="0" (focusin)="onFocus($event)">
                </ng-template>
            </p-column>

        </p-dataTable>
    </div>
    <div class="ui-g-12 text-right print-hide footer-acciones " [hidden]="verConflictos">
        <button pButton label="Limpiar" (click)="limpiar()" title="Deshacer todos los cambios"></button>
        <button pButton label="Cancelar" (click)="cancelar()"></button>
        <button pButton label="Guardar" (click)="guardarPrecios()"></button>
    </div>
    <div class="ui-g-12" *ngIf="verConflictos">
        <conflicto-bebidas [conflictos]="conflictos" (finConflictos)="finConflictos($event)"
            [autoResolverMerge]="esNuevoListado" (onCancelarConflictos)="cancelarConflictos()"></conflicto-bebidas>
    </div>
</div>