<div class="content has-header">
  
    <div class="ui-header ui-g">
        <div class="ui-g-6">
            <h3>{{ titulo }}</h3>
        </div>
        <div  class="ui-g-6 pull-right">
            <button pButton label="Nuevo Empleado" icon="fa-plus" class="" (click)="nuevoEmpleado()"></button>
        </div>

    </div>

  <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">
    <div class="ui-g">
      <div class="ui-g-10">
        <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
      </div>
    </div>

  </div>
  <p-dataTable [value]="listaEmpleados"
  sortMode="multiple"
    [globalFilter]="gb" emptyMessage="No se encontraron Empleados">
    <p-column [style]="{'width':'8%', 'text-align':'center'}" field="id" header="#" sortable="true"></p-column>
    <p-column [style]="{'text-align': 'center','width':'30%'}" field="nombre" header="Nombre" sortable="true"></p-column>
    <p-column [style]="{'text-align': 'center','width':'20%'}" field="tipo" header="Tipo Empleado" sortable="true"></p-column>
    <p-column [style]="{'text-align': 'center','width':'20%'}" field="sector" header="Sector" sortable="true"></p-column>
    <p-column [style]="{'text-align': 'center','width':'30%'}" header="Contacto">
        <ng-template let-col let-empleado="rowData" let-ri="rowIndex" pTemplate="body">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-6 overflow" *ngIf="empleado.email">
                    <i class="fa fa-envelope-o "></i>
                    <a target="_blank" href="mailto:{{empleado.email}}" title="Email: {{empleado.email}}">
                        {{empleado.email}} </a>
                </div>
                <div class="ui-g-6 overflow" *ngIf="empleado.telefono">
                    <span title="Teléfono: {{empleado.telefono}}">
                        <i class="fa fa-phone "></i> {{empleado.telefono}} </span>
                </div>
            </div>
        </ng-template>
    </p-column>
    <p-column [style]="{'text-align': 'center','width':'7%'}" field="cantidadAltas" header="Altas"></p-column>
    <p-column [style]="{'text-align': 'center', 'width':'110px'}" *ngIf="esAuditor">
      <ng-template let-col let-Empleado="rowData" let-ri="rowIndex" pTemplate="body">
        <button pButton icon="fa-pencil" (click)="editarEmpleado(Empleado)" title="Editar Empleado"></button>
        <button pButton class="ui-button-danger" icon="fa-trash" (click)="confirmarEliminar(Empleado)" title="Borrar Empleado"></button>
      </ng-template>
    </p-column>
    <p-column [style]="{'text-align': 'center', 'width':'20%'}" field="mensaje" *ngIf="!esAuditor"></p-column>
  </p-dataTable>
</div>

<p-confirmDialog header="Confirmar" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
