

:host /deep/ .ui-tabview-nav.ui-widget-header,
:host /deep/ .ui-tabview.ui-widget-content{
    background: transparent;
    border: none;
}
:host /deep/ .ui-fluid .small-row{
    line-height: 1em;
    padding: 0.25em;
    input{
        line-height: 1em;
        padding: 0.25em;
    }
    label{
        line-height: 1.5em;
    }
}

