<div class="content has-header">
    
    <div class="ui-header">
        <h3>{{ titulo }}</h3>

    </div>

    <div class="ui-fluid">
        <form #centroForm="ngForm" (ngSubmit)="guardarCentro()">
            <p-tabView [activeIndex]="defaultView">
                <p-tabPanel header="Datos de Centro">
                    <div class="ui-g-9 ui-g-offset-1">
                        <div class="ui-g">
                            <div class="ui-g-2 required">
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="ui-g-6">
                                <input [disabled]="!editable" [(ngModel)]="centroCosto.descripcion" type="text" name="nombre"
                                    pInputText required> </div>
                            <div class="ui-g-2 required">
                                <label for="codigo">Código</label>
                            </div>
                            <div class="ui-g-2">
                                <input [disabled]="!editable" maxlength="4" [(ngModel)]="centroCosto.codigo" type="text" name="codigo"
                                    pInputText required> </div>

                        </div>
                        <div class="ui-g">
                            <div class="ui-g-2 required">
                                <label for="cuit">CUIT</label>
                            </div>
                            <div class="ui-g-4">
                                <p-inputMask mask="99-99999999-9" [disabled]="!editable" [(ngModel)]="centroCosto.cuit" type="text"
                                    name="cuit" placeholder="__-________-_" required></p-inputMask>
                            </div>
                            <div class="ui-g-2">
                                <p-dropdown name="tipoIIBB" [options]="tiposIIBB" [(ngModel)]="centroCosto.tipoIIBB"></p-dropdown>
                            </div>
                            <div class="ui-g-4">
                                <p-inputMask *ngIf="centroCosto.tipoIIBB == 'C'" mask="999-999999-9" placeholder="___-______-_" [disabled]="!editable" [(ngModel)]="centroCosto.iibb"
                                    type="text" name="iibbC"> </p-inputMask>
                                <p-inputMask *ngIf="centroCosto.tipoIIBB == 'I'" mask="9999999-99" placeholder="_______-__" [disabled]="!editable" [(ngModel)]="centroCosto.iibb"
                                    type="text" name="iibbI"> </p-inputMask>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-2 required">
                                <label for="razonSocial">Razón Social</label>
                            </div>
                            <div class="ui-g-10">
                                <input [disabled]="!editable" [(ngModel)]="centroCosto.razonSocial" type="text" name="razonSocial"
                                    pInputText required> </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-g-2 required">
                                <label for="provincia">Provincia</label>
                            </div>
                            <div class="ui-g-6">
                                <p-dropdown [dataKey]="'codigo'" placeholder="Elija una..." [style]="{'width':'100%'}" name="provincia"
                                    [options]="provincias" [(ngModel)]="centroCosto.provincia"></p-dropdown>
                            </div>
                            <div class="ui-g-2">
                                <label for="codigoPostal">C.P.</label>
                            </div>
                            <div class="ui-g-2">
                                <p-inputMask mask="9999" [disabled]="!editable" [(ngModel)]="centroCosto.codigoPostal" type="text"
                                    name="codigoPostal" placeholder="____"></p-inputMask>
                            </div>

                        </div>
                        <div class="ui-g">
                            <div class="ui-g-2">
                                <label for="domicilioFiscal">Domicilio</label>
                            </div>
                            <div class="ui-g-10">
                                <input [disabled]="!editable" [(ngModel)]="centroCosto.domicilioFiscal" type="text" name="domicilioFiscal"
                                    pInputText> </div>
                        </div>


                    </div>
                </p-tabPanel>
                <p-tabPanel header="Comprobantes">
                            <div class="ui-g-9 ui-g-offset-1 small-row" *ngFor="let conf of centroCosto.comprobantes">
                                <div class="ui-g-2">
                                    <label>{{conf.descripcion}}</label>
                                </div>
                                <div class="ui-g-3">
                                    <p-inputMask mask="9999-99999999" [disabled]="!editable" [(ngModel)]="conf.numeracion" type="text" name="{{conf.descripcion}}"
                                        placeholder="____-________"></p-inputMask>
                                </div>
                                <div class="ui-g-2">
                                    <p-inputSwitch onLabel="SI" [ngModelOptions]="{standalone: true}" offLabel="NO" [(ngModel)]="conf.activo"></p-inputSwitch>
                                </div>
                            </div>
                </p-tabPanel>
                <p-tabPanel header="Plan de Cuentas" >
                    <div class="ui-g-9 ui-g-offset-1">
                        <div class="ui-g">
                            <p-treeTable [value]="planCuentas" selectionMode="single" [(selection)]="cuentaSeleccionada" [contextMenu]="cm">
                                <p-column field="codigo" header="Código" [style]="{'width':'20%', 'padding':'10px'}">
                                    <ng-template let-col let-cuenta="rowData" pTemplate="body">

                                        <input [disabled]="!editable || !cuenta.eliminable || cuenta.tipoCuenta != 'A'" *ngIf="cuenta.tipoCuenta === 'A'" type="text" required pInputText
                                            [(ngModel)]="cuenta.codigo" [ngModelOptions]="{standalone:true}" />
                                        <span *ngIf="cuenta.tipoCuenta != 'A'">{{cuenta.codigo}}</span>

                                    </ng-template>
                                </p-column>
                                <p-column field="descripcion" header="Nombre" [style]="{'width':'50%', 'padding':'10px'}">
                                    <ng-template let-col let-cuenta="rowData" pTemplate="body">

                                        <input [disabled]="!editable || !cuenta.eliminable || cuenta.tipoCuenta != 'A'" *ngIf="cuenta.tipoCuenta === 'A'" type="text" required pInputText
                                            [(ngModel)]="cuenta.descripcion" [ngModelOptions]="{standalone:true}" />
                                        <span *ngIf="cuenta.tipoCuenta != 'A'">{{cuenta.descripcion}}</span>

                                    </ng-template>
                                </p-column>
                                <p-column field="activo" header="Está Activa" [style]="{'width':'20%', 'text-align':'center', 'padding':'10px'}">
                                    <ng-template let-col let-cuenta="rowData" pTemplate="body">
                                        <p-inputSwitch 
                                        [disabled]="!editable || !cuenta.eliminable"
                                        (onChange)="handleActivacionCuenta(cuenta)" [(ngModel)]="cuenta.activo" [ngModelOptions]="{standalone: true}"></p-inputSwitch>
                                    </ng-template>
                                </p-column>
                                <p-column [style]="{'width':'60px', 'padding':'5px'}">
                                    <ng-template let-col let-cuenta="rowData" pTemplate="body">
                                        <button pButton type="button" class="ui-button-danger" icon="fa-trash" (click)='confirmDelete(cuenta)' title="Borrar cuenta"
                                            *ngIf="cuenta.eliminable && cuenta.tipoCuenta === 'A'"></button>
                                    </ng-template>
                                </p-column>
                            </p-treeTable>
                        </div>
                    </div>

                </p-tabPanel>

            </p-tabView>

            <div class="ui-g-9 ui-g-offset-1" style="margin-top:20px">
                <div class="ui-g-2 ui-g-offset-8 ">
                    <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton label="Guardar" type="submit" class="ui-button-success" [disabled]="finalizado"></button>
                </div>
            </div>

        </form>
    </div>



</div>

<p-contextMenu #cm [model]="menuItems"></p-contextMenu>
<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>