
@import "./../../app.variables.less";
.botonera{
    margin-top: 1.5em;
}
.saldo{
    span, label{
        color:@main-brand;
        font-size:12pt;
        font-weight: bold;
        font-variant: small-caps;
    }
}

:host /deep/ .inner-component{
    .has-header{
        margin-top: 1em !important;
    }
}