<div class="content">

  <div class="ui-header has-header" [hidden]="currentView !== 'lista'">
    <div class="ui-g">
      <div class="ui-g-10">
        <h3>{{ titulo }}</h3>
      </div>
      <div class="ui-g-2" style="text-align: right">
        <p-menubar [model]="acciones"></p-menubar>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-g-nopad" [hidden]="currentView !== 'lista'">
    <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">
      <div class="ui-g">
        <div class="ui-g-10">
          <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
        </div>

      </div>

    </div>
    <p-dataTable [value]="listaProveedores"   [globalFilter]="gb" [paginator]="true"
      [rows]="15" [emptyMessage]="'No hay Proveedores'">

      <p-column [style]="{'width':'5%', 'text-align':'center'}" field="id" header="#"></p-column>
      <p-column [style]="{'width':'10%', 'text-align':'center'}" field="tipoProveedor" header="Tipo Proveedor"></p-column>
      <p-column [style]="{'width':'20%', 'text-align':'left'}" field="nombre" header="Nombre Proveedor"></p-column>
      <p-column [style]="{'text-align': 'left','width':'60%'}" field="contacto" header="Contacto">
        <ng-template pTemplate="body" let-col let-proveedor="rowData" let-ri="rowIndex">
          <div class="ui-g">
            <div class="ui-g-3 overflow">
              <span title="Nombre de Contacto: {{proveedor.contacto}}">
                <i class="fa  fa-user-o"></i> {{proveedor.contacto}} </span>
            </div>
            <div class="ui-g-4 overflow">
              <i class="fa fa-envelope-o "></i>
              <a target="_blank" href="mailto:{{proveedor.email}}" title="Email: {{proveedor.email}}"> {{proveedor.email}} </a>
            </div>
            <div class="ui-g-3 overflow">
              <span title="Celular: {{proveedor.celular}}">
                <i class="fa fa-mobile fa-2"></i> {{proveedor.celular}} </span>
            </div>
            <div class="ui-g-2 overflow">
              <span title="Teléfono: {{proveedor.telefono}}">
                <i class="fa fa-phone "></i> {{proveedor.telefono}} </span>
            </div>
          </div>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align': 'right','width':'10%'}" header="Saldo">
        <ng-template let-col let-proveedor="rowData" let-ri="rowIndex" pTemplate="body">
          <span>{{proveedor.saldo | currency : 'USD':'symbol-narrow'}}</span>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align': 'center', 'width':'50px'}" *ngIf="esAuditor">
        <ng-template let-col let-proveedor="rowData" let-ri="rowIndex" pTemplate="body">
          <button pButton class="small" icon="fa-cog" (click)="mostrarAcciones($event, proveedor)" title="Mostrar Ordenes de Pago"></button>
        </ng-template>
      </p-column>
      <p-column [style]="{'text-align': 'center', 'width':'20%'}" field="mensaje" *ngIf="!esAuditor"></p-column>
    </p-dataTable>
  </div>
</div>

<div class="ui-g-12 ui-g-nopad">


  <div class="ui-g-12 ui-g-nopad documentos" *ngIf="currentView === 'ops-lista' || currentView === 'ops-gestion' || currentView === 'planilla-pagos'">
    <div class="ui-g-12 ui-g-nopad  inner-component">
      <ordenes-pago [filtro]="filtro" [mostrarfiltrosProveedor]="false" (docsActualizados)="onDocsActualizados()"></ordenes-pago>
    </div>



  </div>
  <div class="ui-g-12 ui-g-nopad" *ngIf="currentView === 'facturas-lista' || currentView === 'facturas-gestion'">
    <div class="ui-g-12 ui-g-nopad inner-component">
      <facturas [filtro]="filtro" [mostrarfiltrosProveedor]="false"  (docsActualizados)="onDocsActualizados()"></facturas>
    </div>

  </div>
  <div class="ui-g-12 ui-g-nopad botonera ui-fluid print-hide" [hidden]="ocultarVolver()">
    <div class="ui-g-6 saldo">
      <label for="saldo">Saldo: </label>
      <span >{{saldoProveedor  | currency : 'USD':'symbol-narrow'}}</span>
    </div>
    <div class="ui-g-2 ui-g-offset-4">
      <button pButton label="Volver" (click)="currentView = 'lista';" icon="fa-chevron-left" iconPos="left" class="ui-button-transparente"></button>
    </div>
  </div>
</div>
<p-confirmDialog header="Confirmar" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
<p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"></p-menu>