
  <div class="header"  *ngIf="userLogged">
    <div class="logo">
        <img class="menu-logo" src="assets/images/logo.png"/>
    </div>
    <div class="menu">
      <p-menubar [model]="menuItems"></p-menubar>
    </div>
    <div class="username">
      <span style="line-height: 4em; font-weight: bold">{{username}}</span>
    </div>
    <div class="logout">
      <button pButton class="logout-button" (click)="logout()" icon="fa-close" label="Salir"></button>
    </div>
    

  </div>


  <messages ></messages>
  <loading-panel #gloading></loading-panel>
  <p-confirmDialog [key]="'genConf'" [appendTo]="'body'" header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si"
  rejectLabel="No"></p-confirmDialog>
  
<div class="container">
  <router-outlet></router-outlet>
</div>