


@main-selected: rgb(132, 151, 136);
@main-brand-light: #69696b;
//@main-brand-opaque: #d38989;
@main-border-light: #87928a;
@main-border-dark: #626962;
@main-brand-opaque: #323233;
@main-brand: #323233;
@main-light-contrast: #e7f0da;
@main-brand-text: #517413;


/* As RGBa codes */
@main-brand-0: rgba( 50, 50, 51,1);	/* Main Primary color */
@main-brand-1: rgba(119,119,123,1);
@main-brand-2: rgba( 86, 86, 87,1);
@main-brand-3: rgb(99, 100, 99);
@main-brand-4: rgba(  7,  7, 11,1);


@main-light-0: rgba(118,155, 51,1);	/* Main Primary color */
@main-light-1: #f1eedd;
@main-light-2: rgba(157,193, 94,1);
@main-light-3: rgba( 81,116, 19,1);
@main-light-4: rgba( 49, 77,  0,1);

@secondary-0: rgba(166,  6,183,1);	/* Main Secondary color (2) */
@secondary-1: rgba(191, 81,202,1);
@secondary-2: rgba(175, 44,189,1);
@secondary-3: rgba(130,  2,144,1);
@secondary-4: rgba(102,  1,113,1);

@main-dark: #1d3b1f;
@error: #ed6262;
@error-dark: #c04f4f;
@error-light: #ddb4b4;
@success: #6e8e32;
@warning: orange;
@danger: #ed6262;
@disabled: rgba(199,168,195,1);;
