<div [hidden]="!liquidacion">
    <form #liquidacionForm="ngForm" (ngSubmit)="guardar()" class="">
        <div class="ui-g-12 ui-fluid">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-2 ui-md-1 required">
                    <label for="cliente" required>Comisionista</label>
                </div>
                <div class="ui-g-3">
                    <descriptivo-selector name="comisionistas" required [limpiable]=false [data]="comisionistas"
                        nombre="Comisionistas" labelClass="hide" [(ngModel)]="comisionista"
                        [editable]="mostrarFiltrosSeleccionados()"></descriptivo-selector>
                </div>

                <div class="ui-g-2 ui-md-1 required">
                    <label for="centro">Centro</label>
                </div>
                <div class="ui-g-3">
                    <descriptivo-selector [editable]="mostrarFiltrosSeleccionados()" name="centros" required
                        [limpiable]=false [data]="centros" nombre="Centros" labelClass="hide" [(ngModel)]="centroCosto">
                    </descriptivo-selector>
                </div>

            </div>
        </div>
        <div class="ui-g-12 ui-fluid">

            <div class="ui-g-2 ui-md-1 ">
                <label for="centro" required>Evento</label>
            </div>
            <div class="ui-g-3" *ngIf=" comisionista && liquidacion">
                <descriptivo-selector name="eventos" [limpiable]=false [data]="eventos" nombre="Evento"
                    labelClass="hide" [(ngModel)]="eventoSeleccionado" [editable]="mostrarFiltrosSeleccionados()">
                </descriptivo-selector>
            </div>
            <div class="ui-g-3" *ngIf="!comisionista">
                <span class="error-message">Seleccione un Comisionista</span>
            </div>
            <div class="ui-g-2 ui-md-1 required">
                <label for="fecha">Fecha</label>
            </div>
            <div class="ui-g-2">
                <p-calendar [disabled]="!mostrarFiltrosSeleccionados()" required [showIcon]="true"
                    [(ngModel)]="liquidacion.fecha" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" name="fecha">
                </p-calendar>
            </div>

            <div class="ui-g-2 ui-md-1">
                <label for="fecha">Fecha Pago</label>
            </div>
            <div class="ui-g-2">
                <p-calendar [disabled]="!editable || liquidacion.pagosLiquidacion.length <= 0 " [showIcon]="true"
                    [(ngModel)]="liquidacion.fechaPago" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" name="fechaPago">
                </p-calendar>
            </div>
        </div>
        <div class="ui-g-12 ui-fluid">
            <div class="ui-g-12 ui-g-nopad">


                <div class="ui-g-2 ui-md-1 ">
                    <label for="descripcion">Comprobante</label>
                </div>
                <div class="ui-g-4">
                    <input [disabled]="!mostrarFiltrosSeleccionados()" placeholder="Comprobante de la Liquidación"
                        title="Comrpobante" pInputText type="text" name="numeroComprobante"
                        [(ngModel)]="liquidacion.numeroComprobante" />
                </div>

            </div>
        </div>
        <div class="ui-g-12 ui-fluid">

            <div class="ui-g-2 ui-md-1 ">
                <label for="descripcion">Descripción</label>
            </div>
            <div class="ui-g-3">
                <input [disabled]="!mostrarFiltrosSeleccionados()" placeholder="Descripción de la Liquidación"
                    title="Descripción de la Liquidación" pInputText type="text" name="descripcion"
                    [(ngModel)]="liquidacion.descripcion" />
            </div>
            <div class="ui-g-2 ui-md-1">
                <label for="observaciones">Observaciones</label>
            </div>
            <div class="ui-g-3">
                <input [disabled]="!editable" placeholder="Observaciones de la Liquidación"
                    title="Observaciones de la Liquidación" pInputText type="text" name="observaciones"
                    [(ngModel)]="liquidacion.observaciones" />
            </div>


        </div>
        <div class="ui-g-12 ui-fluid">

        </div>


        <div class="ui-g-12 ui-fluid ui-g-nopad" style="margin-top:1em">

            <div class="ui-widget-header thead-default print-hide">
                <div class="ui-g ui-fluid">
                    <div class="ui-g-2 label">
                        <h4>Comisiones por liquidar</h4>
                    </div>
                    <div class="ui-g-5" *ngIf="editable &&  comisionista && centroCosto ">
                        <input name="gb" autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..."
                            class="form-control">
                    </div>
                    <div class="ui-g-4 text-right" *ngIf="mostrarFiltrosSeleccionados()">
                        <p-checkbox [binary]="true" name="filtrarSeleccionados" [(ngModel)]="soloSeleccionados"
                            label="Solo seleccionados"></p-checkbox>
                    </div>
                    <div class="ui-g-7" *ngIf="editable && (!comisionista || !centroCosto)">
                        <span class="error-message light">Seleccione Comisionista y Centro de Costo </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid ui-g-nopad" *ngIf="comisionista && centroCosto">
            <p-dataTable [value]="items" [(selection)]="liquidacion.items" [globalFilter]="gb" dataKey="pagoComision.id"
                (onRowSelect)="updatePremio()" (onRowUnselect)="updatePremio()"
                (onHeaderCheckboxToggle)="updatePremio()" [paginator]="true" [rows]="20"
                [rowsPerPageOptions]="[5,10,20,100]" [headerCheckboxToggleAllPages]="true"
                [editable]="editable && liquidacion.estado !== 'PP'"
                [emptyMessage]="'No hay Comisiones pendientes de liquidación'">
                <p-column [styleClass]="'print-hide'" *ngIf="mostrarFiltrosSeleccionados()"
                    [style]="{'width':'38px', 'text-align':'center'}" selectionMode="multiple"></p-column>

                <p-column [style]="{'width':'25%','text-align':'center'}" field="pagoComision.evento.descripcion"
                    header="Evento" [sortable]="true"></p-column>
                <p-column [style]="{'text-align': 'center','width':'7%'}" field="pagoComision.tipoPago.descripcion"
                    header="T. Comisión"></p-column>
                <p-column [style]="{'width':'10%','text-align':'center'}" field="pagoComision.nombreProducto"
                    header="Servicio"></p-column>
                <p-column [style]="{'text-align': 'center','width':'7%'}" field="pagoComision.cantidadBase"
                    header="Cant">
                    <ng-template let-item="rowData">
                        <span>{{item.cantidadBase | number:'1.0-2'}}</span>
                    </ng-template>
                </p-column>

                <p-column [style]="{'text-align': 'right','width':'10%'}" header="Costo Unitario">
                    <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{item.pagoComision.precioUnitario | currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align': 'right','width':'7%'}" header="% Com.">
                    <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{item.pagoComision.porcentajeComision}} %</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align': 'right','width':'15%'}" header="Total Comisión">
                    <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{item.pagoComision.totalComision| currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align': 'right','width':'15%'}" header="Total Liquidado">
                    <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{item.pagoComision.totalLiquidado | currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align': 'right','width':'15%'}" [editable]="true"
                    header="{{editable?'A Pagar' : 'Pagado'}}">
                    <ng-template pTemplate="editor" let-ri="rowIndex" let-item="rowData">
                        <div class="ui-inputgroup" *ngIf="editable">
                            <span class="ui-inputgroup-addon">$</span>
                            <input type="number" max="item.pagoComision.saldo" [(ngModel)]="item.importe"
                                [disabled]="!editable" (focusin)="onFocus($event)" name="{{'item.importe' + ri}}" />
                        </div>

                        <span class="error-float-right" *ngIf=" editable && (item.pagoComision.saldo < item.importe)">El
                            valor tiene que ser menor al saldo</span>
                    </ng-template>
                    <ng-template pTemplate="body" let-ri="rowIndex" let-item="rowData">
                        <span>{{item.importe | currency :'USD':'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>
                <p-footerColumnGroup>
                    <p-row>
                        <p-column [styleClass]="'print-hide'" *ngIf="mostrarFiltrosSeleccionados()"
                            [style]="{'text-align':'right'}" footer="Total a Pagar:" colspan="9"></p-column>
                        <p-column [styleClass]="'print-hide'" *ngIf="!mostrarFiltrosSeleccionados()"
                            [style]="{'text-align':'right'}" footer="Total:" colspan="8"></p-column>
                        <p-column [styleClass]="'print-only'" [style]="{'text-align':'right'}" footer="Total:"
                            colspan="8"></p-column>
                        <p-column [style]="{'text-align':'right'}">
                            <ng-template pTemplate="footer">
                                <span>{{liquidacion.getTotalItems() | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                        </p-column>
                    </p-row>
                </p-footerColumnGroup>
            </p-dataTable>

        </div>

        <div class="ui-g-12 ui-fluid ui-g-nopad" style="margin-top:2em" *ngIf="esVendedor()">
            <div class="ui-widget-header thead-default">
                <div class="ui-g ui-fluid ui-g-nopad">
                    <div class="ui-g-2 label">
                        <h4>Premio por Ventas</h4>

                    </div>
                    <div class="ui-g-4" *ngIf="editable && (!comisionista || !centroCosto)">
                        <span class="error-message light">Seleccione Comisionista y Centro de Costo </span>
                    </div>
                    <div class="ui-g-2 pull-right" tabindex="4" *ngIf="comisionista && centroCosto">
                        <h4>Base cubiertos: {{liquidacion.totalCubiertos}}</h4>
                    </div>
                    <div class="ui-g-4 pull-right" tabindex="4">
                        <h4 *ngIf="comisionista && centroCosto && escalaAplicada">Escala: desde
                            {{escalaAplicada.desde}} hasta {{escalaAplicada.hasta}} cubiertos</h4>
                    </div>

                    <div class="ui-g-4 pull-right" tabindex="4" *ngIf="comisionista && centroCosto">
                        <span class="premio">$</span>
                        <input type="number" class="premio" [(ngModel)]="premio"
                            [disabled]="!editable || !esAdministrador" name="premio" (focusin)="onFocus($event)">
                    </div>

                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid ui-g-nopad" style="margin-top:2em">

            <div class="ui-widget-header thead-default print-hide">
                <div class="ui-g ui-fluid ui-g-nopad">
                    <div class="ui-g-2 label">
                        <h4>Formas de Pago</h4>
                    </div>
                    <div class=" ui-g-offset-8 ui-g-2 pull-right" tabindex="4"
                        *ngIf="editable && comisionista && centroCosto">
                        <button [disabled]="!editable" type="button" pButton class="" (click)="agregarNuevoPago()"
                            label="Nuevo Pago" icon="fa fa-plus"></button>
                    </div>
                    <div class="ui-g-7" *ngIf="editable && (!comisionista || !centroCosto)">
                        <span class="error-message light">Seleccione Comisionista y Centro de Costo </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui-g-12 ui-fluid ui-g-nopad" #container *ngIf="comisionista && centroCosto">
            <p-dataTable [editable]="editable" [(value)]="liquidacion.pagosLiquidacion"
                [emptyMessage]="'No hay pagos registrados'">

                <p-column [style]="{'width':'7%'}" field="tipoOperacion" header="Tipo Pago*">
                    <ng-template let-col let-pago="rowData" pTemplate="body">
                        <p-dropdown [dataKey]="'codigo'" [disabled]="!editable" placeholder="Elija un tipo de Pago"
                            [ngModelOptions]="{standalone:true}" [(ngModel)]="pago.tipoOperacion"
                            (onChange)="updateTipoPago(pago)" [options]="tiposPago" [autoWidth]="false"></p-dropdown>
                    </ng-template>

                </p-column>
                <p-column [style]="{'width':'10%'}" field="centro" header="Centro*">
                    <ng-template let-col let-pago="rowData" pTemplate="body">
                        <descriptivo-selector [editable]="editable" name="centros" required [limpiable]=false
                            [data]="centros" nombre="Centro" labelClass="hide" [(ngModel)]="pago.centroCosto">
                        </descriptivo-selector>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'10%'}" field="cuenta" header="Cuenta*">
                    <ng-template let-col let-op="rowData" pTemplate="body">
                        <p-dropdown *ngIf="op.centroCosto" [dataKey]="'codigo'" [disabled]="!editable"
                            placeholder="Elija una Cuenta" [ngModelOptions]="{standalone:true}" [(ngModel)]="op.cuenta"
                            [options]="getCuentas(op)" [autoWidth]="false"></p-dropdown>
                    </ng-template>

                </p-column>

                <p-column [style]="{'width':'20%'}" field="comprobante" header="Cheque">
                    <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                        <div class="ui-g-12 ui-fluid" *ngIf="op.tipoOperacion.codigo === 'C'">
                            <div class="ui-g-6 ui-g-nopad">
                                <input type="text" name="'banco' + ri" [(ngModel)]="op.comprobante.banco"
                                    placeholder="Banco emisor">
                            </div>
                            <div class="ui-g-6 ui-g-nopad">
                                <input type="text" name="'numero' + ri" [(ngModel)]="op.comprobante.numero"
                                    placeholder="N° Cheque">
                            </div>
                            <div class="ui-g-6 ui-g-nopad">
                                <input type="text" name="'titular' + ri" [(ngModel)]="op.comprobante.titularCuenta"
                                    placeholder="Titular de la Cuenta">
                            </div>
                            <div class="ui-g-6 ui-g-nopad">
                                <input type="text" name="'cuenta' + ri" [(ngModel)]="op.comprobante.numeroCuenta"
                                    placeholder="N° Cuenta">
                            </div>
                            <div class="ui-g-6 ui-g-nopad">
                                <p-inputMask mask="99-99999999-9" title="CUIT" [(ngModel)]="op.comprobante.cuit"
                                    type="text" name="'cuit' + ri" placeholder="__-________-_"></p-inputMask>
                            </div>
                            <div class="ui-g-6" *ngIf="op.comprobante">
                                <p-calendar [disabled]="!editable" [(ngModel)]="op.comprobante.fechaEmision"
                                    placeholder="Fecha Emisión" dateFormat="dd/mm/yy" name="fecha"></p-calendar>
                            </div>

                        </div>


                    </ng-template>

                </p-column>
                <p-column [style]="{'width':'10%', 'text-align':'right'}" header="Importe" [editable]="true">
                    <ng-template let-col let-op="rowData" pTemplate="body">
                        <span>{{op.monto | currency : 'USD':'symbol-narrow'}}</span>
                    </ng-template>
                    <ng-template let-col let-op="rowData" pTemplate="editor">
                        <input [disabled]="!editable" pIntputText [(ngModel)]="op.monto" type="number"
                            [ngModelOptions]="{standalone:true}" (focusin)="onFocus($event)" />
                    </ng-template>

                </p-column>
                <p-column [style]="{'text-align': 'center', 'width':'30px'}">
                    <ng-template let-col let-pago="rowData" let-ri="rowIndex" pTemplate="body">
                        <button type="button" *ngIf="editable" pButton class="ui-button-danger" icon="fa-trash"
                            (click)="liquidacion.quitarPago(pago)" title="Eliminar Pago"></button>
                    </ng-template>
                </p-column>
                <p-footerColumnGroup>
                    <p-row>
                        <p-column [style]="{'text-align':'right'}" footer="Total Pagos:" colspan="4"></p-column>
                        <p-column [style]="{'text-align':'right'}" colspan="1">
                            <ng-template let-col let-op="rowData" pTemplate="footer">
                                <span>{{liquidacion.totalPagos | currency : 'USD':'symbol-narrow'}}</span>
                            </ng-template>

                        </p-column>
                        <p-column [style]="{'text-align':'right'}" footer="" colspan="1"></p-column>
                    </p-row>
                </p-footerColumnGroup>
            </p-dataTable>

        </div>

        <div class="ui-g-12 ui-widget-header thead-default totales  ui-g-nopad">

            <div class="ui-g-2 ui-g-offset-6 ">
                <h4>TOTAL</h4>
            </div>
            <div class="ui-g-4 pull-right importe">
                <h4>{{liquidacion.total | currency :'USD':'symbol-narrow' }}</h4>
                <span class="error" *ngIf="editable && (liquidacion.pagosLiquidacion && 
                liquidacion.totalPagos !== liquidacion.total )">Los
                    Pagos no suman el total a pagar</span>
            </div>


        </div>
        <div class="ui-g-12 ui-fluid  ui-g-nopad" style="margin-top:20px">
            <div class="ui-g-2 ui-g-offset-8 " *ngIf="editable">
                <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()'
                    class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-2 ui-g-offset-8 " *ngIf="!editable">
                <button pButton type="button" [disabled]="finalizado" label="Volver" (click)='volver()'
                    class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-2">
                <button pButton label="Guardar" type="submit" [disabled]="!liquidacionForm.form.valid || 
                    liquidacion.total === 0 || 
                    finalizado || !editable" class="ui-button-success"></button>
            </div>
        </div>
    </form>
</div>