
@import "./../../../app.variables.less";
span.premio{
    display: inline-block;
    width: 2em;
    line-height: 2;
}
input.premio{
    color:@main-light-1;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid @main-light-1;
    text-align: right;
    font-weight: bolder;
    padding: 0.5em 0.25em;
    &:focus,&:active{
        background-color:@main-light-1;
        color: @main-dark;
    }
}
:host /deep/ .ui-menuitem-icon,
:host /deep/ .ui-submenu-icon{
    color : @main-dark;
    font-size: 14pt;
}

:host /deep/  input[type='number'] {
    -moz-appearance:textfield;
}

:host /deep/ input::-webkit-outer-spin-button,
:host /deep/ input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

:host /deep/ tbody tr{
    .ui-inputgroup {
        .ui-inputgroup-addon{
            padding: 0.25em;
            font-size: 10pt;
            background: none;
            border:none;
            color:black;
        }
        input{
            font-size: 10pt;
            padding: 0.5em
        }
    }
}
.totales{
    line-height: 1;
    background-color: @main-light-1;
    color: @main-dark;
    margin-top: 20px;
    border: none;
    font-size: 18pt;
    padding: 0;
    h4{
        margin-top:10px;
        margin-bottom: 10px;
    }
    span.error{
        font-size: 10pt;
        transform: translate(5%, -120%);
        line-height: 2;
    }
}
.impuestos{
    .ui-g{
        line-height: 1;
        font-size: 12pt;    
        border: 1px solid @main-light-1;
        border-top:none;
    }
    .ui-g:first-child{
        border-top: 1px solid @main-light-1;
    }
   
    
    input{
        text-align: right;
        max-width: 80%;
    }
}

.ui-widget-header{
    h4{
        margin: 0;
    }
}
.thead-default{
    padding:4px 10px;
    border-bottom: 0 none;
    

}
:host /deep/ .adicional{
    width: 10%;
    
}
:host /deep/ .adicional.cheque{
    width: 40%;
}

:host /deep/ .error-message{
        font-size: 10pt;
        display: inline-block;
        line-height: 2.5em;
        color: @error;
        
        &.light{
            color : @error-light;
            line-height: 1em;
        }
    }
    

