<a *ngIf="!iconOnly" target="_blank" href="{{url}}" title="{{url}}"> {{baseUrl}}</a>
<a *ngIf="iconOnly" target="_blank" href="{{url}}" title="{{url}}"> <i class="fa " [ngClass]="{'fa-facebook':type === 'F', 'fa-instagram':type==='I'}"></i></a>