<div class="content has-header">
	
	<div class="ui-header">
		<h3>{{ titulo }}</h3>

	</div>

	<div class="ui-fluid">
		<form #chequeraForm="ngForm" (ngSubmit)="guardarChequera()">
			<div class="ui-g-8">
				<div class="ui-g">
					<div class="ui-g-2 required">
						<label for="cuentaBancaria">Cuenta Bancaria</label>
					</div>
					<div class="ui-g-5">
						<p-dropdown [dataKey]="'codigo'" placeholder="Seleccione una..." [style]="{'width':'100%'}" name="cuentaBancaria" [options]="cuentasBancarias"
						    [(ngModel)]="chequera.cuentaBancaria" [ngModelOptions]="{standalone: true}" required [disabled]="!editable"></p-dropdown>
					</div>
				</div>
				<div class="ui-g">
					<div class="ui-g-2">
						<label for="esDiferido">Cheques Diferidos?</label>
					</div>
					<div class="ui-g-2">
						<p-inputSwitch [(ngModel)]="chequera.esDiferido" [ngModelOptions]="{standalone: true}" onLabel="Si" offLabel="No"></p-inputSwitch>
					</div>
				</div>
				<br/>
				<br/>
				<div class="ui-g">
					<div class="ui-g-4">
						<h4>Secuencia/s de números
							<button pButton label="Nueva secuencia" icon="fa-plus" type="button" (click)="agregarSecuencia()"></button>
						</h4>
					</div>
				</div>

				<div class="ui-g" *ngFor="let secuencia of chequera.secuencias">
					<div class="ui-g-3">
						<div class="ui-inputgroup">
							<span class="ui-inputgroup-addon">Inicio</span>
							<input min="0" [ngModelOptions]="{standalone: true}" type="number" pInputText [(ngModel)]="secuencia.minNumeracion">
						</div>
					</div>
					<div class="ui-g-3">
						<div class="ui-inputgroup">
							<span class="ui-inputgroup-addon">Fin</span>
							<input min="0" [ngModelOptions]="{standalone: true}" type="number" pInputText [(ngModel)]="secuencia.maxNumeracion">
						</div>
					</div>
					<div class="ui-g-1">
						<button pButton type="button" class="ui-button-danger" icon="fa-trash" (click)="eliminarSecuencia(secuencia)" title="Borrar Secuencia"></button>
					</div>
				</div>


				<div class="ui-g-8 ui-fluid" style="margin-top:20px">
					<div class="ui-g-2 ui-g-offset-8 ">
						<button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
					</div>
					<div class="ui-g-2">
						<button pButton label="Guardar" type="submit" [disabled]="!chequeraForm.form.valid || finalizado || !editable" class="ui-button-success"></button>
					</div>
				</div>
			</div>
		</form>
	</div>
	
	<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>