<div class="content has-header">

    <div class="ui-header ui-g">

        <div class="ui-g-6">
            <h3>{{ titulo }}</h3>
        </div>
        <div [hidden]="vista === 'gestion-producto'" class="ui-g-6 pull-right">
            <button pButton label="Nuevo Producto" icon="fa-plus" class="" (click)="nuevoProducto()"></button>
        </div>

    </div>
    <div class="ui-g-12 ui-g-nopad" [hidden]="vista === 'gestion-producto'">
        <div class="ui-widget-header thead-default">
            <div class="ui-g">
                <div class="ui-g-10">
                    <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..."
                        class="form-control">
                </div>
            </div>
        </div>
        <p-dataTable [value]="productos" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]"
            [responsive]="true" [globalFilter]="gb" [emptyMessage]="'Sin Items'" sortMode="multiple">
            <p-column [style]="{'width':'10%', 'text-align':'center'}" field="codigo" header="Código" [sortable]="true">
                <ng-template let-col let-producto="rowData" pTemplate="codigo">
                    {{producto.codigo}}
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'35%', 'text-align':'center'}" field="nombre" header="Nombre" [sortable]="true">
                <ng-template let-col let-producto="rowData" pTemplate="nombre">
                    {{producto.nombreFull()}}
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'35%', 'text-align':'center'}" field="datosGenerales" header="Info general">
                <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="body">
                    <div class="ui-g-nopad ui-g-12">
                        <div class="ui-g-5">
                            <strong>Categoria:</strong>
                            <span>{{producto.categoria.descripcion}}</span>
                        </div>
                        <div class="ui-g-4">
                            <strong>Unidad:</strong>
                            <span>{{producto.unidad.descripcion}}</span>
                        </div>
                        <div class="ui-g-3">
                            <strong>Imputa IVA:</strong>
                            <span>{{producto.imputaIVA?'SI':'NO'}}</span>
                        </div>
                    </div>


                </ng-template>
            </p-column>
            <p-column [style]="{'width':'10%', 'text-align':'center'}" field="estado" header="Estado">
                <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="body">
                    {{producto.estado}}
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'10%', 'text-align':'center'}" field="direccionCompleta" header="Acciones">
                <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="body">
                    <button pButton icon="fa-pencil" (click)="editarProducto(producto)"
                        title="Editar Producto"></button>
                    <button pButton *ngIf="producto.activo" class="ui-button-danger" icon="fa-trash"
                        (click)="eliminar(producto)" title="Borrar producto"></button>
                    <button pButton *ngIf="!producto.activo" class="ui-button-success" icon="fa-check-square"
                        (click)="habilitar(producto)" title="Habilitar producto"></button>
                </ng-template>
            </p-column>
        </p-dataTable>


    </div>
</div>


<div class="ui-g-8 ui-g-offset-2 ui-g-nopad " style="background-color: #eaf1ea" [hidden]="vista !== 'gestion-producto'">
    <gestionar-producto [(producto)]="productoEditado" [editable]="editandoProducto"
        (onCancelar)="cancelarEdicionProducto($event)" (onGuardar)="productoGuardado($event)"></gestionar-producto>
</div>