<div class="ui-g-12 ui-g-nopad">
    <div class="ui-g-1 required">
        <label for="salonNombre">Locación</label>
    </div>
    <div class="ui-g-10 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad">
            <descriptivo-selector *ngIf="editable" name="salon" required [limpiable]=false [data]="salones" nombre="Salon" inputClass="ui-g-3"
                labelClass="hide" [(ngModel)]="salon" (onSelect)="salonSeleccionado($event)"></descriptivo-selector>
            <div class="ui-g-1" *ngIf="esAlternativo && editable">
                <label for="nombreAlternativo">Nombre</label>
            </div>
            <div class="ui-g-2" *ngIf="esAlternativo || !editable">
                <input pInputText [disabled]="!editable" type="text" type="text" [(ngModel)]="salon.nombre" title="Nombre del salón" placeholder="Nombre del salón"
                />
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad" *ngIf="salon">
            <div class="ui-g-3">

                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                        <i class="fa fa-map"></i>
                    </span>
                    <input pInputText type="text" type="text" [disabled]="!editable" [(ngModel)]="salon.direccion" title="Dirección del salón"
                        placeholder="Dirección del salón" />
                </div>
            </div>
            <div class="ui-g-2">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                        <i class="fa fa-phone"></i>
                    </span>
                    <input [disabled]="!editable" pInputText type="text" type="text" [(ngModel)]="salon.telefono" title="Teléfono del salón"
                        placeholder="Teléfono del salón" />
                </div>
            </div>
            <div class="ui-g-2">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">
                        <i class="fa fa-at"></i>
                    </span>
                    <input [disabled]="!editable" pInputText type="text" type="text" [(ngModel)]="salon.email" title="Email del salón" placeholder="Email del salón"
                    />
                </div>
            </div>
        </div>
    </div>

</div>