<div class="content has-header">

    <div class="ui-header ui-g" *ngIf="currentView !== 'calendario'">

        <div class="ui-g-12 ui-md-12 ui-lg-8" *ngIf="currentView !== 'gestionar-contrato'">
            <h3>{{ titulo }}</h3>
        </div>
        <div class="ui-g-4 pull-right print-hide" [hidden]="currentView !== 'visualizar-contrato'">
            <p-toggleButton [(ngModel)]="verAgrupado" offLabel="Ver agrupado" onLabel="Desagrupar"></p-toggleButton>
            <p-toggleButton [(ngModel)]="mostrarComisiones" offLabel="Mostrar Comisiones" [onLabel]="'Ocultar Comisiones'"></p-toggleButton>
            <button pButton class="ui-button-success" label="Volver" (click)="volverListado();" icon="fa-chevron-left"
                iconPos="left"></button>
        </div>

        <div *ngIf="currentView === 'listado'" class="ui-g-4 pull-right  print-hide">
            <!--button pButton label="Ver Calendario" (click)="goTo('calendario');" icon="fa-calendar" iconPos="left"></button-->
            <button pButton label="Nuevo Contrato" icon="fa-plus" class="" (click)="nuevoContrato()"></button>
        </div>

    </div>
    <div class="ui-g-12 ui-g-nopad" [hidden]="currentView !== 'calendario'">
        <p-schedule #cal [events]="eventos" locale="es" [header]="headerConfig" [options]="options" (onEventClick)="eventClick($event,cal)">

        </p-schedule>
    </div>
    <div [hidden]="currentView !== 'listado'">

        <div class="ui-widget-header  thead-default" style="padding:4px 10px;border-bottom: 0 none">
            <div class="ui-g ui-fluid">

                <div class="ui-g-6">
                    <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                </div>
                <div class="ui-g-6 ui-nopad ui-g ui-fluid checks">
                    <p-checkbox name="estados_g" label="Pendiente" value="P" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Aprobado" value="A" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Rechazado" value="R" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Completo" value="L" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>




                </div>



            </div>
        </div>

        <div class="ui-g-12 ui-g-nopad" [hidden]="currentView !== 'listado'">
            <p-dataTable [value]="contratos" [rows]=20 [emptyMessage]="'No se encontraron contratos'" [globalFilter]="gb"
                [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" sortMode="multiple">
                <p-column [style]="{'width':'40px', 'text-align':'center'}" field="estado" header="">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span *ngIf="contrato.estado.codigo" title="{{contrato.estado.descripcion + '- N°: ' + contrato.id}}">
                            <i class="fa {{contrato.estado.codigo}}"></i>
                        </span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'8%','text-align':'center'}" header="Vendedor" field="nombreVendedor"
                    [sortable]="true">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{contrato.nombreVendedor}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'8%','text-align':'center'}" header="Contratación" field="fechaContratacion"
                    [sortable]="true">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{contrato.fechaContratacion | date : 'dd/MM/yyyy'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'10%','text-align':'center'}" header="Fecha Evento" [sortable]="true" field="fechaEvento">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{contrato.fechaEvento | date : 'dd/MM/yyyy'}}
                            <i *ngIf="contrato.codigoHorario" class="fa icon-{{contrato.codigoHorario}}"></i>
                        </span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'text-align': 'center','width':'15%'}" header="Locación" field="locacion">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span *ngIf="contrato.locacion">{{contrato.locacion}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'10%','text-align':'center'}" header="T. Evento" field="contrato.tipoEvento">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span *ngIf="contrato.tipoEvento">{{contrato.tipoEvento}}</span>
                    </ng-template>
                </p-column>

                <p-column [style]="{'text-align': 'center','width':'15%'}" header="Cliente" field="contrato.cliente.descripcion">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span *ngIf="contrato.cliente">{{contrato.cliente.descripcion}}</span>
                    </ng-template>
                </p-column>


                <p-column [style]="{'text-align': 'center','width':'10%'}" header="Total Servicios">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{contrato.total | currency : 'USD' : 'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>


                <p-column [style]="{'text-align': 'center','width':'10%'}" header="Cobros">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{contrato.cobros | currency : 'USD' : 'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>

                <p-column [style]="{'text-align': 'center','width':'10%'}" header="Saldo">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{(contrato.total - contrato.cobros) | currency : 'USD' : 'symbol-narrow'}}</span>
                    </ng-template>
                </p-column>

                <p-column [style]="{'text-align': 'center', 'width':'160px'}" field="lookUp">
                    <ng-template let-col let-contrato="rowData" let-ri="rowIndex" pTemplate="body">
                        <button *ngIf="aprobable(contrato)" pButton class="ui-button-success" icon="fa-check" (click)="aprobar(contrato)"
                            title="Aprobar Contrato"></button>
                        <button *ngIf="rechazable(contrato)" pButton class="ui-button-danger" icon="fa-close" (click)="rechazar(contrato)"
                            title="Rechazar Contrato"></button>
                        <button *ngIf="reaplicable(contrato)" pButton class="ui-button-warning" icon="fa-recycle"
                            (click)="reaplicar(contrato)" title="Rechazar Contrato"></button>
                        <button pButton class="small" icon="fa-cog" (click)="mostrarAcciones($event, contrato)" title="Mostrar Acciones"></button>

                    </ng-template>
                </p-column>

            </p-dataTable>
        </div>

    </div>
    <div *ngIf="currentView === 'visualizar-contrato' && contratoEditado">
        <div class="ui-fluid ui-g-12">
            <contrato-visualizacion [(contrato)]="contratoEditado" [verAgrupado]="verAgrupado" [mostrarComisiones]="mostrarComisiones"
                [editable]="false"></contrato-visualizacion>
        </div>
    </div>

    <div *ngIf="currentView === 'gestionar-contrato' && contratoEditado">
        <div class=" ui-g-12">
            <alta-contrato [(contrato)]="contratoEditado" (onCancelar)="volverListado()" (onGuardar)="contratoGuardado()"></alta-contrato>
        </div>
    </div>
    <div *ngIf="currentView === 'gestionar-pago' && contratoSeleccionado">
        <div class=" ui-g-12">
            <gestion-oc [editable]="true" [(contrato)]="contratoSeleccionado" [cliente]="contratoSeleccionado.cliente"
                (onCancelar)="volverListado()" (onOrdenCobranzaGuardada)="contratoGuardado()"></gestion-oc>
        </div>
    </div>


    <p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
    <p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"></p-menu>