<div class="grafico" [style.width]="indicador.width" [style.height]="indicador.height">
        <cubierto-promedio [globalData]="globalData" [(indicador)]="indicador" [(loading)]="graphLoading" *ngIf="indicador && indicador.tipo.codigo === 'C'"></cubierto-promedio>
        <div class="ui-g-12" *ngIf="tipo && tipo.codigo === 'TV'" > 
            <div>
                    <autosize-text [text] ="'HOLA Mundo'"></autosize-text>
            </div>
        </div>
        <total-gasto [globalData]="globalData" [(indicador)]="indicador" [(loading)]="graphLoading" *ngIf="indicador && indicador.tipo.codigo === 'TG'"></total-gasto>
        
        <div class="loading-panel" *ngIf="graphLoading">
                <div class="gif"><i class="fa fa-spinner fa-spin fa-fw fa-2x"></i></div>
          </div>
</div>

