.grafico {
    position: relative;
    height: 100%;
    width: 100%;
    margin:auto;
    resize: both;
    overflow: hidden;
    .loading-panel{
        position: absolute;
        top:0;
        bottom: -20%;
        left:0;
        
        right: 0;
        opacity: 0.6;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        .gif{
            align-self: center;
            margin: auto;
        }
    }
}