<div class="content has-header">

	<div class="ui-header ui-g">

		<div class="ui-g-6">
			<h3>Chequeras</h3>
		</div>
		<div class="ui-g-6 pull-right">
			<button pButton label="Nueva" icon="fa-plus" class="" (click)="nuevaChequera()"></button>
		</div>

	</div>
	<div class="ui-g-12">
		<p-dataTable [value]="listaChequeras"   [rows]="5" [paginator]="true" [pageLinks]="3"
		    [rowsPerPageOptions]="[5,10,20]" [emptyMessage]="'No hay Chequeras'">
			<p-column [style]="{'width':'30%', 'text-align':'center'}" field="cuentaBancaria.centroCosto.descripcion" header="Centro de costo"></p-column>
			<p-column [style]="{'text-align': 'center','width':'25%'}" field="cuentaBancaria.nombre" header="Cuenta bancaria"></p-column>
			<p-column [style]="{'text-align': 'center','width':'40%'}" field="secuenciasStr" header="Secuencia/s"></p-column>
			<p-column [style]="{'text-align': 'center', 'width':'10%'}" header="Es diferido">
				<ng-template let-col let-chequera="rowData" let-ri="rowIndex" pTemplate="body">
					{{chequera.esDiferido ? 'Si' : 'No'}}
				</ng-template>
			</p-column>
			<p-column [style]="{'text-align': 'center', 'width':'100px'}">
				<ng-template let-col let-chequera="rowData" let-ri="rowIndex" pTemplate="body">
					<button pButton icon="fa-pencil" (click)="editarChequera(chequera)" title="Editar Chequera"></button>
					<button pButton class="ui-button-danger" icon="fa-trash" (click)="confirmarEliminar(chequera)" title="Borrar Chequera"></button>
				</ng-template>
			</p-column>
		</p-dataTable>
	</div>


	<div class="ui-header ui-g">

		<div class="ui-g-6">
			<h3>Cheques</h3>
		</div>
		<div  class="ui-g-6 pull-right">
			<!--button pButton label="Ver calendario" icon="fa-calendar" class="" (click)="goTo('calendario')"></button-->
			<button pButton label="Nuevo" icon="fa-plus" class="" (click)="nuevoCheque()"></button>
		</div>

	</div>
	<div class="ui-g-12 ui-g-nopad" [hidden]="currentView !== 'calendario'">
		<p-schedule #cal [events]="eventos" locale="es" [header]="headerConfig" [options]="options" (onEventClick)="eventClick($event,cal)">

		</p-schedule>
	</div>
	<div class="ui-widget-header thead-default ui-g-nopad" [hidden]="currentView !== 'listado'">
		<div class="ui-g">
			<div class="ui-g-8">
				<input #gb type="text" pInputText size="50" placeholder="Buscar ...">
			</div>
			<div class="ui-g-4 filter">
				<p-checkbox name="tiposCheques_g" label="Propios" value="P" [(ngModel)]="tiposSeleccionados" (onChange)="updateSeleccionados()"></p-checkbox>
				<p-checkbox name="tiposCheques_g" label="De Clientes" value="C" [(ngModel)]="tiposSeleccionados" (onChange)="updateSeleccionados()"></p-checkbox>
				<p-checkbox name="tiposCheques_g" label="Otros" value="O" [(ngModel)]="tiposSeleccionados" (onChange)="updateSeleccionados()"></p-checkbox>
			</div>
		</div>

	</div>
	<div class="ui-g-12 ui-g-nopad" [hidden]="currentView === 'calendario'">
		<p-dataTable [value]="listaChequesAMostrar"   [rows]="10" [paginator]="true"
			sortMode="multiple"
		    [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gb" [emptyMessage]="'No hay Cheques'" #dt>


			<p-column [style]="{'width':'10%', 'text-align':'left'}" field="banco" header="Banco"></p-column>
			<p-column [style]="{'text-align': 'right','width':'6%'}" field="numero" header="N° Cheque" [sortable]=true></p-column>
			<p-column [style]="{'text-align': 'left','width':'14%'}" field="origen" header="Origen"></p-column>
			<p-column [style]="{'text-align': 'right','width':'10%'}" field="importeStr" header="Importe"></p-column>
			<p-column [filter]="true" filterMatchMode="equals" [style]="{'text-align': 'center','width':'6%'}" field="estado.descripcion"
			    header="Estado">
				<ng-template pTemplate="filter" let-col>
					<p-dropdown [options]="estados" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value.descripcion,col.field,col.filterMatchMode)"
					    styleClass="ui-column-filter"></p-dropdown>
				</ng-template>
			</p-column>
			<p-column [style]="{'text-align': 'left','width':'20%'}" field="destinoStr" header="Destino"></p-column>

			<p-column [style]="{'text-align': 'center', 'width':'100px'}">
				<ng-template let-col let-cheque="rowData" let-ri="rowIndex" pTemplate="body">
					<button pButton icon="fa-pencil" (click)="editarCheque(cheque)" title="Editar Cheque"></button>
					<button pButton *ngIf="cheque.esBorrable()" class="ui-button-danger" icon="fa-trash" (click)="confirmarEliminarCheque(cheque)"
					    title="Borrar Cheque"></button>
				</ng-template>
			</p-column>
		</p-dataTable>
	</div>

</div>
<p-confirmDialog header="Borrar Chequera" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>