@import "./../../app.variables.less";
:host /deep/ .ui-dropdown.ui-column-filter{
    label{
        line-height: 1em;
        font-size: 8pt;
    }
    
}

:host /deep/ .evento{
    &.evento_E{
        border-left : 6px solid @warning !important;
    }
}