<div class="ui-fluid ui-g-12 has-header">
    <form #clienteForm="ngForm">
        <div class="ui-g-8">
            <div class="ui-g-12">
                <div class="ui-g-2 required">
                    <label for="tipoCliente">Tipo Cliente</label>
                </div>
                <div class="ui-g-3">
                    <p-dropdown [dataKey]="'codigo'" placeholder="Seleccione uno..." [style]="{'width':'100%'}" name="tipoCliente"
                        [options]="tiposCliente" [(ngModel)]="cliente.tipoCliente" required (onChange)="updateTipoCliente($event)"></p-dropdown>
                </div>
                <div class="ui-g-1 required">
                    <label for="tipoCliente">Nombre</label>
                </div>
                <div class="ui-g-6">
                    <input [disabled]="!editable" [(ngModel)]="cliente.nombreCliente" type="text" name="nombreCliente"
                        pInputText required> </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-2 required">
                    <label for="nombreContacto">Datos de Contacto</label>
                </div>
                <div class="ui-g-10  ui-g-nopad">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-4">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-at"></i>
                                </span>
                                <input type="text" pInputText placeholder="Email" name="email" [(ngModel)]="cliente.email">
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input type="text" pInputText placeholder="Teléfono" name="telefono" [(ngModel)]="cliente.telefono">
                            </div>
                        </div>
                        <div class="ui-g-4">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-whatsapp"></i>
                                </span>
                                <input type="text" pInputText placeholder="Celular" name="celular" [(ngModel)]="cliente.celular">
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-facebook"></i>
                                </span>
                                <input type="text" pInputText placeholder="Facebook" name="facebook" [(ngModel)]="cliente.facebook">
                            </div>
                        </div>
                        <div class="ui-g-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-instagram"></i>
                                </span>
                                <input type="text" pInputText placeholder="Instagram" name="instagram" [(ngModel)]="cliente.instagram">
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-g-nopad" *ngIf="cliente.esSocial">
                        <div class="ui-g-6">
                            <div class="ui-inputgroup">
                                <span class="ui-inputgroup-addon">
                                    <i class="fa fa-id-card"></i>
                                </span>
                                <input type="text" pInputText placeholder="Dni Firmante" name="dniFirmante" [(ngModel)]="cliente.dniFirmante">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-2 required">
                    <label for="nombreContacto">Dirección</label>
                </div>
                <div class="ui-g-3">
                    <input placeholder="Localidad" title="Localidad" [disabled]="!editable" [(ngModel)]="cliente.localidad"
                        type="text" name="localidad" pInputText>
                </div>
                <div class="ui-g-7">
                    <input placeholder="Domicilio" title="Domicilio" [disabled]="!editable" [(ngModel)]="cliente.domicilio"
                        type="text" name="domicilio" pInputText> </div>
            </div>


            <div class="ui-g-12">
                <div class="ui-g-2 " [ngClass]="{'required':cliente && !cliente.esSocial }">
                    <label for="nombreContacto">Datos Facturación</label>
                </div>
                <div class="ui-g-4">
                    <input placeholder="Razón Social" title="Razón Social" [disabled]="!editable" [(ngModel)]="cliente.razonSocial"
                        type="text" name="razonSocial" pInputText>
                </div>
                <div class="ui-g-2">
                    <p-inputMask mask="99-99999999-9" title="CUIT" [disabled]="!editable" [(ngModel)]="cliente.cuit"
                        type="text" name="cuit" placeholder="__-________-_"  ></p-inputMask>
                </div>
                <div class="ui-g-4">
                    <p-dropdown [dataKey]="'codigo'" placeholder="Categoría IVA" [style]="{'width':'100%'}" name="iva"
                        [options]="tipoIVA" [(ngModel)]="cliente.iva"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-3 ui-g-offset-2">
                    <input placeholder="Localidad Facturación" title="Localidad Facturación" [disabled]="!editable"
                        [(ngModel)]="cliente.localidadFacturacion" type="text" name="localidad" pInputText>
                </div>
                <div class="ui-g-7">
                    <input placeholder="Domicilio Facturación" title="Domicilio Facturación" [disabled]="!editable"
                        [(ngModel)]="cliente.domicilioFacturacion" type="text" name="domicilioFacturacion" pInputText>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="cliente.tipoCliente.codigo === 'SA'">
                <div class="ui-g-2 required">
                    <label for="porcComision">Particularidades de Convenio General</label>
                </div>
                <div class="ui-g-3 ">
                    <label for="porcComision">Porcentaje Comisiones</label>
                </div>
                <div class="ui-g-2">
                    <div class="ui-inputgroup">
                        <input style="text-align:right" placeholder="0" title="Porcentaje Comisión" [disabled]="!editable"
                            [(ngModel)]="cliente.convenio.porcComision" type="number" maxlength="2" name="porcComision"
                            pInputText>
                        <span class="ui-inputgroup-addon">%</span>
                    </div>
                </div>
                <div class="ui-g-2">
                    <label for="valorComision">Valor Comisiones</label>
                </div>
                <div class="ui-g-3">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">$</span>
                        <input style="text-align:right" placeholder="0" title="Valor Comisión" [disabled]="!editable"
                            [(ngModel)]="cliente.convenio.valorComision" type="number" name="valorComision" pInputText>
                    </div>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="cliente.tipoCliente.codigo === 'SA'">
                <div class="ui-g-3  ui-g-offset-2">
                    <label for="porcDescuentos">Porcentaje Descuentos</label>
                </div>
                <div class="ui-g-2">

                    <div class="ui-inputgroup">
                        <input style="text-align:right" placeholder="0" title="Porcentaje Descuento" [disabled]="!editable"
                            [(ngModel)]="cliente.convenio.porcDescuentos" type="number" maxlength="2" name="porcDescuentos"
                            pInputText>
                        <span class="ui-inputgroup-addon">%</span>
                    </div>
                </div>
                <div class="ui-g-2">
                    <label for="valorComision">Valores Adicionales</label>
                </div>
                <div class="ui-g-3">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon">$</span>
                        <input style="text-align:right" placeholder="0" title="Valores Adicionales" [disabled]="!editable"
                            [(ngModel)]="cliente.convenio.valorAdicional" type="number" name="valorAdicional"
                            pInputText>
                    </div>
                </div>
            </div>

        </div>
    </form>

</div>
<div class="ui-fluid ui-g-8">
    <p-dataTable emptyMessage="No hay contactos" class="form-group" [value]="cliente.contactos" [rows]="10" [paginator]="false"
        [responsive]="true">
        <p-header>
            <div class="ui-g print-hide">
                <div class="ui-g-2 label print-hide">
                    <h4>Contactos</h4>
                </div>

                <div class=" ui-g-offset-8 ui-g-2 pull-right print-hide" tabindex="4" *ngIf="editable">
                    <button [disabled]="!editable" type="button" pButton class="" (click)="nuevoContacto()" label="Nuevo Contacto"
                        icon="fa fa-plus"></button>
                </div>
            </div>

        </p-header>
        <p-column field="relacionContacto" header="Relacion" [style]="{'width':'10%', 'text-align':'center'}"></p-column>
        <p-column header="Datos personales" [style]="{'width':'40%', 'text-align':'center'}">
            <ng-template let-col let-contacto="rowData" let-ri="rowIndex" pTemplate="body">
                <strong>Nombre y Apellido:</strong> {{contacto.nombre}}
                <br />
                <strong *ngIf="contacto.numeroDocumento">DNI:</strong> {{contacto.numeroDocumento}}
                <br *ngIf="contacto.numeroDocumento" />
                <strong>Email:</strong>
                <a target="_blank" href="mailto:{{contacto.email}}">{{contacto.email}}</a>
                <br />
                <strong>Teléfono:</strong> {{contacto.telefono}}
                <strong *ngIf="contacto.celular">Celular:</strong> {{contacto.celular}}
            </ng-template>
        </p-column>
        <p-column header="Redes Sociales" [style]="{'width':'20%', 'text-align':'center'}">
            <ng-template let-col let-contacto="rowData" let-ri="rowIndex" pTemplate="body">
                <div class="ui-g-12 ui-g-nopad">

                    <social-link [baseUrl]="contacto.facebook" [iconOnly]="true"></social-link>
                    <social-link [baseUrl]="contacto.instagram" [type]="'I'" [iconOnly]="true"></social-link>
                </div>

            </ng-template>
        </p-column>
        <p-column [style]="{'width':'10%', 'text-align':'center'}">
            <ng-template let-col let-contacto="rowData" let-ri="rowIndex" pTemplate="body">
                <button pButton class="small-button" icon="fa-pencil" (click)="editarContacto(contacto)" title="Editar Contacto"></button>
                <button pButton class="small-button ui-button-danger" icon="fa-trash" (click)="deleteContacto(contacto)"
                    title="Borrar Contacto"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>
<div class="ui-g-8 ui-fluid" style="margin-top:20px">
    <div class="ui-g-2 ui-g-offset-8 ">
        <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
    </div>
    <div class="ui-g-2">
        <button pButton label="Guardar" type="button" (click)="guardarCliente()" [disabled]="!clienteForm.form.valid || finalizado || !editable"
            class="ui-button-success"></button>
    </div>
</div>
<p-dialog [header]="tituloContacto" [(visible)]="displayContactoDialog" responsive="false" showEffect="true" [modal]="true"
    width="600" height="400">

    <gestion-contacto [(contacto)]="contactoEditado" [editable]="editable" (onCancelar)="displayContactoDialog = false; contactoEditado = null"
        (onContactoGuardado)="guardarContacto($event)"></gestion-contacto>
</p-dialog>

<p-confirmDialog [key]="'conf'" header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si"
    rejectLabel="No"></p-confirmDialog>