<div class="nuevo-precio-alquiler">
    <div class="data" [hidden]="verConflictos" *ngIf="listado">
        <div class="ui-g ui-fluid">
            <div class="ui-g-6 ui-sm-12 ui-g-nopad">


                <div class="ui-g-6 ui-g-nopad">
                    <descriptivo-selector [data]="tListados" [(ngModel)]="tListadoSeleccionado" nombre="T. Listado"
                        inputClass="ui-g-9" labelClass="ui-g-3">
                    </descriptivo-selector>
                </div>
                <div class="ui-g-6 ui-g-nopad">
                    <descriptivo-selector [data]="salones" [(ngModel)]="salonSeleccionado" nombre="Salón"
                        inputClass="ui-g-9" labelClass="ui-g-3" [disabled]="!tListadoSeleccionado">
                    </descriptivo-selector>
                </div>


            </div>
            <div class="ui-g-6 ui-sm-12 ui-g-nopad">

                <div class="ui-g-2"> <label for="dateRange">Vigencia</label></div>
                <div class="ui-g-5">
                    <p-calendar [(ngModel)]="listado.fechaDesde" required dateFormat="dd/mm/yy" [showIcon]="true"
                        [locale]="locale.es" placeholder="Valido Desde" title="Valido Desde">
                    </p-calendar>
                </div>

                <div class="ui-g-5">
                    <p-calendar [(ngModel)]="listado.fechaHasta" required dateFormat="dd/mm/yy" [showIcon]="true"
                        [locale]="locale.es" placeholder="Valido Hasta" title="Valido Desde"
                        [minDate]="listado.fechaDesde"></p-calendar>
                </div>
                <!--div class="ui-g-6 ui-g-nopad" *ngIf="!esDependiente">
                    <div class="ui-g-2" *ngIf="!esDependiente"><label for=""> %Variable</label></div>
                    <div class="ui-g-2" *ngIf="!esDependiente"> <input pInputText type="number" scale="0.1" max="100"
                            [(ngModel)]="pVariable">
                    </div>
                    <div class="ui-g-2"><label for=""> %Incre.</label></div>
                    <div class="ui-g-2"><input pInputText type="number" scale="0.01" max="100"
                            [(ngModel)]="pIncremento"></div>
                </div>
                <div class="ui-g-6 ui-g-nopad" *ngIf="esDependiente">
                    <div class="ui-g-3"><label for=""> Operaciones Generales</label></div>
                    <div class="ui-g-9 ui-g ui-fluid ui-g-nopad">
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <p-selectButton [options]="tiposOperacion" [(ngModel)]="tipoOperacion">
                                </p-selectButton>
                                <input type="number" pInputText placeholder="Valor" [(ngModel)]="valorOperacion">
                                <button pButton icon="fa fa-refresh" (click)="aplicarOperacion()"></button>
                            </div>
                        </div>
                    </div>
                </div-->
            </div>

            <div class="ui-g-12 ui-sm-12 precios">
                <div class="ui-g-12 ui-widget-header ui-g-nopad header-tabla">
                    <div class="ui-g-4">
                        <h4>Precios Social o Corporativo </h4>
                    </div>
                    <div class="ui-g-2 text-right"><label for=""> Operaciones Generales</label></div>
                    <div class="ui-g-3 ui-g ui-fluid ui-g-nopad">
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <p-selectButton [options]="tiposOperacion" [(ngModel)]="tipoOperacionSocial">
                                </p-selectButton>
                                <input type="number" pInputText placeholder="Valor" [(ngModel)]="valorOperacionSocial">
                                <button pButton icon="fa fa-refresh" (click)="aplicarOperacion('S')"></button>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-3 ui-fluid text-right">
                        <button pButton (click)="agregarProductosSocial()" class="ui-small-button" icon="fa fa-plus"
                            title="Agregar Productos"></button>
                        <button pButton (click)="quitarPrecios(preciosMarcadosSocial)" class="ui-small-button"
                            title="Quitar Productos" icon="fa fa-trash"
                            [disabled]="preciosMarcadosSocial?.length <= 0"></button>

                    </div>
                </div>
                <div class="ui-g-12 ui-g-nopad">
                    <p-dataTable [value]="listado.precios | tipoAlquiler : 'S'" [editable]="true"
                        [rowStyleClass]="conflictoPeriodos" sortField="descripcion"
                        [emptyMessage]="'Sin Productos seleccionados'" #tablaSocial
                        [(selection)]="preciosMarcadosSocial" rowGroupMode="rowspan">
                        <p-column selectionMode="multiple" [style]="{'width':'5%'}"></p-column>
                        <p-column [style]="{'width':'15%'}" header="Producto" [sortable]="true" field="descripcion">
                            <ng-template let-col let-item="rowData" pTemplate="body">
                                <div class="ui-g-12" style="overflow: hidden; text-overflow: ellipsis">
                                    <span title="item.descripcion">{{item.descripcion}}</span>
                                </div>
                                <div class="ui-g-12 text-center">
                                    <button pButton icon="fa fa-plus" class="small-button"
                                        (click)="nuevoPrecio(item.producto, 'S')"></button>
                                </div>

                            </ng-template>
                        </p-column>
                        <p-column field="codProd" header="Periodo" [style]="{'width':'23%'}" [editable]="true">
                            <ng-template let-col let-item="rowData" pTemplate="body">
                                <span>{{item.periodoStr}}</span>
                            </ng-template>
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="editor">
                                <div class="ui-g ui-fluid ui-g-nopad">
                                    <div class="ui-g-12 ui-g-nopad">
                                        <div class="ui-g-4">Desde</div>
                                        <div class="ui-g-8">
                                            <p-calendar [(ngModel)]="item.fechaDesde" required dateFormat="dd/mm/yy"
                                                styleClass="periodo" [showIcon]="true" [locale]="locale.es"
                                                placeholder="Valido Desde" title="Valido Desde" name="{{'fhasta'+ ri}}"
                                                [minDate]="startYear" [maxDate]="endYear">
                                            </p-calendar>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-g-nopad">
                                        <div class="ui-g-4">Hasta</div>
                                        <div class="ui-g-8">
                                            <p-calendar [(ngModel)]="item.fechaHasta" required dateFormat="dd/mm/yy"
                                                styleClass="periodo" [showIcon]="true" [locale]="locale.es"
                                                placeholder="Valido Hasta" title="Valido Hasta" name="{{'fhasta'+ ri}}"
                                                [minDate]="minDateValue" [maxDate]="maxDateValue">
                                            </p-calendar>
                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </p-column>

                        <p-column field="lunes" header="Lunes" editable="true"
                            [style]="{'width':'8%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.lunes | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="producto.lunes"
                                    name="{{'lunes' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>
                        <p-column field="martes" header="Martes" editable="true"
                            [style]="{'width':'8%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.martes | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="producto.martes"
                                    name="{{'martes' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>
                        <p-column field="miercoles" header="Miercoles" editable="true"
                            [style]="{'width':'8%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.miercoles | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="producto.miercoles"
                                    name="{{'miercoles' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>
                        <p-column field="jueves" header="Jueves" editable="true"
                            [style]="{'width':'8%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.jueves | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="producto.jueves"
                                    name="{{'jueves' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>
                        <p-column field="viernes" header="Viernes" editable="true"
                            [style]="{'width':'8%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.viernes | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="producto.viernes"
                                    name="{{'viernes' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>
                        <p-column field="sabado" header="Sabado" editable="true"
                            [style]="{'width':'8%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.sabado | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="producto.sabado"
                                    name="{{'sabado' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>
                        <p-column field="domingo" header="Domingo" editable="true"
                            [style]="{'width':'8%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.domingo | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="producto.domingo"
                                    name="{{'domingo' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>

                        <p-column field="busqueda" [style]="{'width':'5%', 'text-align':'center'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <button pButton class="ui-button-danger" icon="fa-trash" (click)="quitarPrecio(item)"
                                    title="Borrar precio"></button>
                            </ng-template>

                        </p-column>
                    </p-dataTable>
                </div>
            </div>

            <div class="ui-g-12 ui-sm-12 precios">
                <div class="ui-g-12 ui-widget-header ui-g-nopad header-tabla">
                    <div class="ui-g-4">
                        <h4>Precios Jornada </h4>
                    </div>
                    <div class="ui-g-2 text-right"><label for=""> Operaciones Generales</label></div>
                    <div class="ui-g-3 ui-g ui-fluid ui-g-nopad">
                        <div class="ui-g-12">
                            <div class="ui-inputgroup ">
                                <p-selectButton [options]="tiposOperacion" [(ngModel)]="tipoOperacionJornada">
                                </p-selectButton>
                                <input type="number" pInputText placeholder="Valor" [(ngModel)]="valorOperacionJornada">
                                <button pButton icon="fa fa-refresh" (click)="aplicarOperacion('J')"></button>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-3 text-right">
                        <button pButton (click)="agregarProductosJornada()" class="ui-small-button" icon="fa fa-plus"
                            title="Agregar Productos"></button>
                        <button pButton (click)="quitarPrecios(preciosMarcadosJornada)" class="ui-small-button"
                            title="Quitar Productos" icon="fa fa-trash"
                            [disabled]="preciosMarcadosJornada?.length <= 0"></button>

                    </div>
                </div>
                <div class="ui-g-12 ui-g-nopad">
                    <p-dataTable [value]="listado.precios | tipoAlquiler : 'J'" [editable]="true"
                        sortField="descripcion" [emptyMessage]="'Sin Productos seleccionados'" #tabla
                        [(selection)]="preciosMarcadosJornada" rowGroupMode="rowspan">
                        <p-column selectionMode="multiple" [style]="{'width':'5%'}"></p-column>
                        <p-column [style]="{'width':'30%'}" header="Producto" [sortable]="true" field="descripcion">
                            <ng-template let-col let-item="rowData" pTemplate="body">
                                <div class="ui-g-12" style="overflow: hidden; text-overflow: ellipsis">
                                    <span title="item.descripcion">{{item.descripcion}}</span>
                                </div>
                                <div class="ui-g-12 text-center">
                                    <button pButton icon="fa fa-plus" class="small-button"
                                        (click)="nuevoPrecio(item.producto, 'J')"></button>
                                </div>

                            </ng-template>
                        </p-column>
                        <p-column field="codProd" header="Periodo" [style]="{'width':'20%'}" [editable]="true">
                            <ng-template let-col let-item="rowData" pTemplate="body">
                                <span>{{item.periodoStr}}</span>
                            </ng-template>
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="editor">
                                <div class="ui-g ui-fluid ui-g-nopad">
                                    <div class="ui-g-12 ui-g-nopad">
                                        <div class="ui-g-4">Desde</div>
                                        <div class="ui-g-8">
                                            <p-calendar [(ngModel)]="item.fechaDesde" required dateFormat="dd/mm/yy"
                                                styleClass="periodo" [showIcon]="true" [locale]="locale.es"
                                                placeholder="Valido Desde" title="Valido Desde" name="{{'fhastaJ'+ ri}}"
                                                [minDate]="startYear" [maxDate]="endYear">
                                            </p-calendar>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-g-nopad">
                                        <div class="ui-g-4">Hasta</div>
                                        <div class="ui-g-8">
                                            <p-calendar [(ngModel)]="item.fechaHasta" required dateFormat="dd/mm/yy"
                                                styleClass="periodo" [showIcon]="true" [locale]="locale.es"
                                                placeholder="Valido Hasta" title="Valido Hasta" name="{{'fhastaJ'+ ri}}"
                                                [minDate]="minDateValue" [maxDate]="maxDateValue">
                                            </p-calendar>
                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="minPersonas" header="Cantidad Personas" editable="true"
                            [style]="{'width':'20%', 'text-align':'center'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.personas}}</span>
                            </ng-template>
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="editor">
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Desde</div>
                                    <div class="ui-g-8">
                                        <input type="number" min="0" required [(ngModel)]="item.minPersonas"
                                            name="{{'minPersonasJ'+ ri}}">
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-g-nopad">
                                    <div class="ui-g-4">Hasta</div>
                                    <div class="ui-g-8">
                                        <input type="number" [min]="item.minPersonas" required
                                            [(ngModel)]="item.maxPersonas" name="{{'maxPersonasJ'+ ri}}">
                                    </div>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="lunes" header="Lunes a Jueves" editable="true"
                            [style]="{'width':'15%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.lunes | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="producto.lunesAJueves"
                                    name="{{'lunesAjueves' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>

                        <p-column field="viernes" header="Viernes" editable="true"
                            [style]="{'width':'15%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.viernes | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-producto="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="producto.viernes"
                                    name="{{'viernesJ' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>


                        <p-column field="busqueda" [style]="{'width':'5%', 'text-align':'center'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <button pButton class="ui-button-danger" icon="fa-trash" (click)="quitarPrecio(item)"
                                    title="Borrar precio"></button>
                            </ng-template>

                        </p-column>
                    </p-dataTable>
                </div>
            </div>

            <!--    
                <div class="ui-g-12 ui-sm-12">
                    <div class="seccion">
                        <div class="ui-g-3">
                            <p-checkbox [(ngModel)]="todosListados" [binary]="true" label="Todos los Tipos de Listado">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-9 opciones">
                            <div class="salon" *ngFor="let t of tListados; index as i ">
                                <p-checkbox name="{{'tLista' + i}}" [value]="t.codigo" [(ngModel)]="tListadoSeleccionados"
                                    [label]="t.descripcion"></p-checkbox>
                            </div>
                        </div>
    
                    </div>
                </div>
                -->
        </div>
    </div>
    <div class="ui-g-12 footer-acciones" [hidden]="verConflictos">
        <button pButton label="Preview" (click)="preview()"></button>
        <button pButton label="Cancelar" (click)="cancelar()"></button>
        <button pButton label="Guardar" (click)="generarPrecios()"></button>
    </div>

    <div class="ui-g-12" *ngIf="verConflictos">
        <conflictos-alquiler [conflictos]="conflictosAlquiler" (finConflictos)="finConflictos($event)"
            (onCancelarConflictos)="cancelarConflictos()"></conflictos-alquiler>
    </div>
</div>

<p-dialog header="Selección de Productos Jornada" [(visible)]="mostrarProductosJornada" [modal]="true">
    <div class="ui-g-12 ui-g ui-fluid">
        <p-pickList [source]="productosBase" [target]="productosSeleccionadosJornada" [responsive]="true"
            sourceHeader="Disponibles" targetHeader="Seleccionados" filterBy="descripcion" [showSourceControls]="false"
            [showTargetControls]="false" (onMoveToTarget)="agregarProductoJornada($event)"
            (onMoveToSource)="quitarProducto($event)">
            <ng-template let-precio pTemplate="item">
                <div class="ui-helper-clearfix">
                    <span>{{precio.descripcion}}</span>
                </div>
            </ng-template>
        </p-pickList>
    </div>
</p-dialog>


<p-dialog header="Selección de Productos Social o Corporativo" [(visible)]="mostrarProductosSocial" [modal]="true">
    <div class="ui-g-12 ui-g ui-fluid">
        <p-pickList [source]="productosBase" [target]="productosSeleccionadosSocial" [responsive]="true"
            sourceHeader="Disponibles" targetHeader="Seleccionados" filterBy="descripcion" [showSourceControls]="false"
            [showTargetControls]="false" (onMoveToTarget)="agregarProductoSocial($event)"
            (onMoveToSource)="quitarProducto($event)">
            <ng-template let-precio pTemplate="item">
                <div class="ui-helper-clearfix">
                    <span>{{precio.descripcion}}</span>
                </div>
            </ng-template>
        </p-pickList>
    </div>
</p-dialog>