.nuevo-precio-alquiler {

    .error {
        span {
            font-size: 10pt;
            font-style: italic;
        }

    }

    .meses {
        min-width: 10em;
    }

    .error.floating {
        position: absolute;
        color: red;
    }

}

:host /deep/ .meses.ui-multiselect {
    .ui-multiselect-label {
        padding: 0em 2em 0em .25em;
    }
}

:host /deep/ .ui-inputgroup {
    line-height: inherit;
    font-size: inherit;
}

:host /deep/ .ui-datatable {
    .ui-inputgroup {
        line-height: inherit;
        font-size: inherit;
    }

    .conflicto {
        background-color: red;
        border: 1px solid red;
    }



}