<div class="ui-fluid">
    <div class="ui-g-12">
        <div class="ui-g-1 required">
            <label for="fechaEvento">Tipo Evento</label>
        </div>

        <descriptivo-selector name="tipoEvento" required [limpiable]=false [data]="tiposEvento" nombre="Tipo Evento" inputClass="ui-g-2"
            labelClass="hide" [(ngModel)]="contrato.tipoEvento" [editable]="editable && !contrato.esAprobado"></descriptivo-selector>
        <div class="ui-g-1  required ">
            <label for="baseInvitados">Base Invitados</label>
        </div>
        <div class="ui-g-1">
            <input type="number" name="baseInvitados" [(ngModel)]="baseInvitados" [disabled]="!editable || contrato.esAprobado" pInputText/>
        </div>
        <div class="ui-g-1 required ">
            <label class="middle-label" for="fechaEvento">Evento</label>
        </div>
        <div class="ui-g-2">
            <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" [disabled]="!editable || contrato.esAprobado" [(ngModel)]="contrato.fechaEvento" name="fechaEvento"
                required> </p-calendar>
        </div>
        <div class="ui-g-1 required">
            <label for="horario">Horario</label>

        </div>
        <div class="ui-g-1">
            <p-toggleButton [disabled]="!editable || contrato.esAprobado" [styleClass]="'horario'" onLabel="Día" offLabel="Noche" onIcon="fa-sun" offIcon="fa-moon" (onChange)="changeHorario($event)"></p-toggleButton>
        </div>




    </div>
    <div class="ui-g-12">
        <selector-salon required [(salon)]="contrato.salon" [editable]="editable && !contrato.esAprobado"></selector-salon>

    </div>

    <div class="ui-g-12 ui-fluid" *ngIf="esPaqueteArmable()">
        <div class="ui-g-2">
            <p-checkbox name="incluyeAlquiler" [(ngModel)]="incluyeAlquiler" binary="true" label="Inlcuye Alquiler" [disabled]="incluyeAlquilerDisabled"></p-checkbox>
        </div>
        <descriptivo-selector *ngIf="incluyeAlquiler && servicioSalon.producto" [limpiable]=false name="centro" [data]="servicioSalon.producto.centros"
        nombre="centro" labelClass="hide" inputClass="ui-g-3" [(ngModel)]="servicioSalon.centroCosto" ></descriptivo-selector>

        <div class="ui-g-3  pull-right" *ngIf="incluyeAlquiler">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">$</span>
                <input required [disabled]="incluyeAlquilerDisabled" type="number" name="valorAlquiler" [(ngModel)]="servicioSalon.costoUnitario"
                    pInputText>
            </div>

        </div>
    </div>
    <div class="ui-g-12 ui-fluid" *ngIf="esPaqueteArmable()">
        <div class="ui-g-2">
            <p-checkbox [(ngModel)]="incluyeMenu" binary="true" label="Inlcuye Menu"></p-checkbox>
        </div>
       
        <descriptivo-selector *ngIf="servicioMenu && incluyeMenu" [limpiable]=false name="paqueteMenu" [data]="productos | productoCategoria : 'MENU'"
            nombre="Menú" labelClass="hide" inputClass="ui-g-3" [(ngModel)]="servicioMenu.producto" (onSelect)="seleccionarMenu($event)"></descriptivo-selector>
        
        <descriptivo-selector *ngIf="servicioMenu && incluyeMenu && servicioMenu.producto" [limpiable]=false name="centro" [data]="servicioMenu.producto.centros"
            nombre="centro" labelClass="hide" inputClass="ui-g-3" [(ngModel)]="servicioMenu.centroCosto" ></descriptivo-selector>

        <div class="ui-g-3 pull-right" *ngIf="incluyeMenu">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">$</span>
                <input required type="number" name="valorMenu" [(ngModel)]="servicioMenu.costoUnitario" pInputText>
            </div>

        </div>
    </div>
    <!--div class="ui-g-12 ui-fluid" *ngIf="esPaqueteArmable()">
        <div class="ui-g-2">
            <p-checkbox [(ngModel)]="incluyeBebida" binary="true" label="Inlcuye Bebida"></p-checkbox>
        </div>
        <descriptivo-selector *ngIf="incluyeBebida" [limpiable]=false name="paqueteMenu" [data]="productos | productoCategoria : 'BEBIDA'"
            nombre="Menú" labelClass="hide" inputClass="ui-g-3" [(ngModel)]="servicioBebida.producto" (onSelect)="seleccionarBebida($event)"></descriptivo-selector>
        
            <descriptivo-selector *ngIf="incluyeBebida && servicioBebida.producto" [limpiable]=false name="centro" [data]="servicioBebida.producto.centros"
            nombre="centro" labelClass="hide" inputClass="ui-g-3" [(ngModel)]="servicioBebida.centroCosto" ></descriptivo-selector>
    
        <div class="ui-g-3 pull-right" *ngIf="incluyeBebida">
            <div class="ui-inputgroup">
                <span class="ui-inputgroup-addon">$</span>
                <input required type="number" name="valorBebida" [(ngModel)]="servicioBebida.costoUnitario" pInputText>
            </div>
        </div>

    </div-->

</div>