@import "./../../../app/app.variables.less";
:host /deep/ .horario.ui-button.ui-togglebutton{
    border: 1px solid @main-brand-opaque;
    
    background: @main-brand;
    color: @main-light-1;
    &.ui-state-active{
            
            background: white;
            color: @main-brand-opaque;
        
    }
}