<div class="content has-header home-listados-precios listado-precios-menu">

    <div class="ui-header ui-g" [hidden]="currentView =='impresion'">

        <div class="ui-g-3">
            <h3>Precios - {{grupo?.descripcion}}</h3>
        </div>
        <div class="ui-g-9 text-right" *ngIf="currentView !='listadoMenu'">
            <button pButton label="Volver" (click)="volver()"></button>
        </div>

    </div>

    <div class="listado" [hidden]="currentView !=='listadoMenu'">

        <div class="ui-g-12">
            <filtro [filtro]="filtro" (onBuscar)="getListados()">
                <div class="ui-g-12">

                    <div class="ui-g-3 ui-sm-8 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad ui-fluid">
                            <div class="ui-g-6">
                                <p-calendar [(ngModel)]="filtro.fechaVigencia" dateFormat="dd/mm/yy" [showIcon]="true"
                                    [readonlyInput]="false" [locale]="locale.es" placeholder="Vigencia"
                                    title="Fecha de Vigencia de la lista de precios. Vacío es TODOS"></p-calendar>
                            </div>
                            <div class="ui-g-6">
                                <button pButton label="HOY" (click)="vigenciaHoy()"></button>
                                <button pButton label="TODOS" (click)="vigenciaTodos()"></button>
                            </div>
                        </div>

                    </div>
                    <div class="ui-g-1 ui-sm-4">
                        <label for="">Listado</label>

                    </div>
                    <div class="ui-g-2 ui-sm-8">
                        <p-multiSelect selectedItemsLabel='{0} items elegidos' defaultLabel='Todos'
                            [options]="tiposLista" [(ngModel)]="filtro.listaPrecios" [filter]="true"></p-multiSelect>
                    </div>
                    <div class="ui-g-1 ui-sm-4">
                        <label for="">Productos</label>

                    </div>
                    <div class="ui-g-2 ui-sm-8">
                        <p-multiSelect selectedItemsLabel='{0} items elegidos' defaultLabel='Todos'
                            [options]="productosFiltrados" [(ngModel)]="filtro.productos" [filter]="true">
                        </p-multiSelect>
                    </div>
                    <div class="ui-g-1 ui-sm-4">
                        <label for="">Marcas</label>

                    </div>
                    <div class="ui-g-2 ui-sm-8">
                        <p-multiSelect selectedItemsLabel='{0} items elegidos' defaultLabel='Todos'
                            [options]="marcasFiltradas" [(ngModel)]="filtro.marcas" [filter]="true"></p-multiSelect>
                    </div>
                </div>
            </filtro>

        </div>
        <div class="ui-g-12">
            <div class="ui-widget-header thead-default">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <input autocomple="off" [(ngModel)]="filtro.buscador" type="text" pInputText size="50"
                            placeholder="Buscar..." class="form-control">
                    </div>
                    <div class="ui-g-2 ui-g acciones">
                        <button pButton (click)="nuevoListado()" title="Crear nuevo listado" icon="fa fa-plus"></button>

                    </div>
                </div>
            </div>
            <div class="listados">
                <div class="listado " *ngFor="let listado of listadosFiltrados"
                    [ngClass]="{'pendiente': listado?.estado?.codigo != 'A'}">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad titulo">
                            <div class="ui-g-6"><span class="">{{listado?.descripcion}}</span></div>
                            <div class="ui-g-6 text-right parametros" *ngIf="!listado.esHeredado">

                                <span pTooltip="Parte Variable"
                                    tooltipPosition="bottom">{{listado?.parteVariable * 100 |  number : '1.0-2'}}%</span>
                                <span pTooltip="Incremento"
                                    tooltipPosition="bottom">{{listado?.incremento * 100 |  number : '1.0-2'}}%</span>
                            </div>
                            <div class="ui-g-6 text-right parametros" *ngIf="listado.esHeredado">
                                <span>{{listado?.listadoPadre?.descripcion}}</span>
                            </div>

                        </div>
                        <div class="ui-g-12 ui-g-nopad periodo">
                            <span class="">{{listado?.rango}}</span>
                        </div>

                    </div>
                    <div class="ui-g-12 ui-g-nopad precios" [ngClass]="{'expandido': listado.verMas}"
                        *ngIf="( listado?.precios | preciosFiltrados : filtro) as pFiltrados">
                        <div class="precio ui-g ui-fluid" *ngFor="let p of pFiltrados">
                            <label class="producto"
                                title="{{p.producto.descripcion}}">{{p.producto.descripcion}}</label>
                            <span *ngIf="!listado.esHeredado"
                                class="valor">{{p.valor | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                            <span *ngIf="listado.esHeredado && p.tipoOperacion === 'V'"
                                class="valor">{{p.valor | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                            <span *ngIf="listado.esHeredado && p.tipoOperacion === 'P'" class="valor">+
                                {{p.valor | number : '1.0-2'}} %</span>
                            <span *ngIf="listado.esHeredado && p.tipoOperacion === 'A'" class="valor">+
                                {{p.valor | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                        </div>

                    </div>
                    <div class="ui-g-12 ver-mas">
                        <button pButton class="link" label="{{listado.verMas? 'Ver menos' : 'Ver más' }}"
                            (click)="listado.verMas = !listado.verMas"></button>

                    </div>

                    <div class="botonera ">
                        <button pButton icon="fa fa-check" class="ui-button-success" (click)="aprobar(listado)"
                            pTooltip="Aprobar Listado"
                            *ngIf="esAdminPrecios && listado?.estado?.codigo !== 'A'"></button>
                        <button pButton icon="fa fa-sitemap" (click)="heredar(listado)"
                            pTooltip="Crear Listado Dependiente" *ngIf="!listado.listadoPadre"></button>
                        <button pButton icon="fa fa-print" (click)="ver(listado)" pTooltip="Ver Listado"></button>
                        <button pButton icon="fa fa-pencil" (click)="editar(listado)"
                            pTooltip="Editar Listado"></button>
                        <button pButton icon="fa fa-copy" (click)="copiar(listado)" pTooltip="Copiar Listado"></button>
                        <button pButton icon="fa fa-trash" (click)="borrar(listado)" pTooltip="Borrar Listado"></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="ui-g-12" *ngIf="currentView === 'nuevos'">
        <nuevo-precio-menu [grupo]="grupo" [productos]="productos" [listado]="listadoEditado"
            (onCancelar)="cancelarEdicion($event)" (onGuardado)="finGuardado($event)"></nuevo-precio-menu>
    </div>

    <!--
        <div class="ui-g-12" *ngIf="currentView === 'editarItems'">
            <gestion-precio-bebida [(precios)]="listadosFiltrados" (onCancelar)="cancelarEdicion($event)" (onGuardado)="finGuardado($event)"></gestion-precio-bebida>
        </div>
       
    
        <div class="ui-g-12" *ngIf="currentView === 'impresion'">
            <impresion-lista-bebidas [precios]="listadosFiltrados"></impresion-lista-bebidas>
            <div class="ui-g-12 text-right print-hide navigation-footer">
                    <button pButton (click)="volver()" label="Volver" class="pull-right"></button>
            </div>
              
        </div>
        -->
</div>
