
@import "./../../../app.variables.less";
:host /deep/ .ui-menuitem-icon,
:host /deep/ .ui-submenu-icon{
    color : @main-dark;
    font-size: 14pt;
}

label.subtitulo{
    color : @main-dark;
    font-size: 10pt;
    font-weight: bold;
    line-height: 2em;
}