<div class="content" *ngIf="comisionista">
    <div class="ui-g-12 ui-fluid">
        <form #comisionistaForm="ngForm" (ngSubmit)="guardarComisionista()">
            <div class="ui-g-10">
                <div class="ui-g-12">
                    <div class="ui-g-2 required">
                        <label class="subtitulo" for="nombre">Nombre</label>
                    </div>
                    <div class="ui-g-10">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4">
                                <input [disabled]="!editable" [(ngModel)]="comisionista.nombre" type="text" name="nombre" pInputText required> </div>

                            <div class="ui-g-2 required">
                                <label for="tipoComisionista">Tipo Comisionista</label>
                            </div>
                            <descriptivo-selector [editable]="editable && !comisionista.id" name="tipoComisionista" required [limpiable]=false [data]="tiposComisionista" nombre="Tipo" inputClass="ui-g-2 "
                                labelClass="hide" [(ngModel)]="comisionista.tipoComisionista"></descriptivo-selector>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="comisionista.tipoComisionista && comisionista.tipoComisionista.codigo === 'SALON'">
                                <descriptivo-selector [editable]="editable && !comisionista.id"  name="salon" [limpiable]=false [data]="salones" nombre="Salon Asociado" inputClass="ui-g-4 "
                                labelClass="ui-g-2" required [(ngModel)]="comisionista.salon"></descriptivo-selector>
                        </div>
                        <div class="ui-g-12 ui-g-nopad" *ngIf="comisionista.tipoComisionista && comisionista.tipoComisionista.codigo === 'VEND'">
                                <descriptivo-selector [editable]="editable && !comisionista.id"  name="vendedor" [limpiable]=false [data]="vendedores" nombre="Vendedor Asociado" inputClass="ui-g-4 "
                                labelClass="ui-g-2" required [(ngModel)]="comisionista.vendedor"></descriptivo-selector>
                        </div>
                    </div>


                </div>

                <div class="ui-g-12">
                    <div class="ui-g-2 required">
                        <label class="subtitulo" for="nombreContacto">Contacto</label>
                    </div>
                    <div class="ui-g-10">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-4">
                                <input placeholder="Nombre Contacto" title="Nombre de Contacto" [disabled]="!editable" [(ngModel)]="comisionista.contacto"
                                    type="text" name="contacto" pInputText>
                            </div>
                            <div class="ui-g-2">
                                <input placeholder="Teléfono" title="Teléfono" [disabled]="!editable" [(ngModel)]="comisionista.telefono" type="phone" name="telefono"
                                    pInputText>
                            </div>
                            <div class="ui-g-2">
                                <input placeholder="Celular" title="Celular" [disabled]="!editable" [(ngModel)]="comisionista.celular" type="phone" name="celular"
                                    pInputText>
                            </div>
                            <div class="ui-g-2">
                                <input placeholder="Email" title="Email" [disabled]="!editable" [(ngModel)]="comisionista.email" type="email" name="email"
                                    pInputText>
                            </div>

                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-3">
                                <input placeholder="Localidad" title="Localidad" [disabled]="!editable" [(ngModel)]="comisionista.localidad" type="text"
                                    name="localidad" pInputText>
                            </div>
                            <div class="ui-g-7">
                                <input placeholder="Domicilio" title="Domicilio" [disabled]="!editable" [(ngModel)]="comisionista.domicilio" type="text"
                                    name="domicilio" pInputText> </div>
                        </div>
                    </div>

                </div>
                <div class="ui-g-12">
                    <div class="ui-g-2">
                        <label class="subtitulo" for="nombreContacto">Datos Facturación</label>
                    </div>
                    <div class="ui-g-10">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-6">
                                <input placeholder="Razón Social" title="Razón Social" [disabled]="!editable" [(ngModel)]="comisionista.razonSocial" type="text"
                                    name="razonSocial" pInputText>
                            </div>
                            <div class="ui-g-2">
                                <p-inputMask mask="99-99999999-9" title="CUIT" [disabled]="!editable" [(ngModel)]="comisionista.cuit" type="text" name="cuit"
                                    placeholder="__-________-_" ></p-inputMask>
                            </div>

                            <descriptivo-selector name="tipoIVA" [limpiable]=false [data]="tipoIVA" nombre="Tipo IVA" inputClass="ui-g-2 " labelClass="hide"
                                [(ngModel)]="comisionista.iva"></descriptivo-selector>
                        </div>
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-3 ">
                                <input placeholder="Localidad Facturación" title="Localidad Facturación" [disabled]="!editable" [(ngModel)]="comisionista.localidadFacturacion"
                                    type="text" name="localidad" pInputText>
                            </div>
                            <div class="ui-g-7">
                                <input placeholder="Domicilio Facturación" title="Domicilio Facturación" [disabled]="!editable" [(ngModel)]="comisionista.domicilioFacturacion"
                                    type="text" name="domicilioFacturacion" pInputText>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-2">
                        <label for="datosBancarios" class="subtitulo">Datos Bancarios</label>
                    </div>
                    <div class="ui-g-10">
                        <div class="ui-g-12 ui-g-nopad">
                            <div class="ui-g-3">
                                <input placeholder="Nombre del Banco" title="Nombre del Banco" [disabled]="!editable" 
                                [(ngModel)]="comisionista.nombreBanco" type="text"
                                    name="nombreBanco" pInputText>
                            </div>
                            <div class="ui-g-2">
                                    <input placeholder="CBU" title="CBU" [disabled]="!editable" 
                                    [(ngModel)]="comisionista.cbu" type="text"
                                        name="cbu" pInputText>
                            </div>
                            <div class="ui-g-2">
                                    <input placeholder="Número de Cuenta" title="Número de Cuenta" [disabled]="!editable" 
                                    [(ngModel)]="comisionista.numeroCuenta" type="text"
                                        name="numeroCuenta" pInputText>
                            </div>
                            <div class="ui-g-3">
                                    <input placeholder="Alias Bancario" title="Alias Bancario" [disabled]="!editable" 
                                    [(ngModel)]="comisionista.aliasBancario" type="text"
                                        name="aliasBancario" pInputText>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="ui-g-8 ui-fluid" style="margin-top:20px">
                <div class="ui-g-2 ui-g-offset-8 ">
                    <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
                </div>
                <div class="ui-g-2">
                    <button pButton label="Guardar" type="submit" [disabled]="!comisionistaForm.form.valid || finalizado || !editable" class="ui-button-success"></button>
                </div>
            </div>
        </form>
    </div>
</div>




<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>