<div class="content has-header home-listados-precios">

    <div class="ui-header ui-g">

        <div class="ui-g-6">
            <h3>Precios</h3>
        </div>

    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-6 ui-sm-12" *ngFor="let g of grupos">
            <div class="big-button" (click)="navegar(g)">
                <span>{{g.descripcion}}</span>
            </div>
        </div>
    </div>
</div>