.home-listados-precios {
    .big-button{
        padding: 1.5em;
        margin: 10px 15px;
        height: auto;
        -webkit-box-shadow: 2px 2px 6px lightgray;
        box-shadow: 2px 2px 6px lightgray;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        background-color: #f5f5f5;
        transition: all 0.3s ease-in-out;
        &:hover{
            cursor: pointer;
            background-color: #637e33;
            span,i{
                color:#f5f5f5;
            }
        }
        
       span{
        display: block;
        font-size: 4vh;
        font-variant: all-petite-caps;
        font-family: Helvetica;
        color: #637e33;
       }
       i{
           
        font-size: 8vh;
        margin-bottom: 1em;
        color: #637e33;
       }
    }
}