<div class="content has-header home-listados-precios precios-bebidas">

    <div class="ui-header ui-g" [hidden]="currentView =='impresion'">

        <div class="ui-g-6">
            <h3>{{nombre}}</h3>
        </div>

    </div>

    <div class="listado" [hidden]="currentView !=='listado'">

        <div class="ui-g-12">
            <filtro [filtro]="filtro" (onBuscar)="getPrecios()">
                <div class="ui-g-12">

                    <div class="ui-g-3 ui-sm-8 ui-g-nopad">
                        <div class="ui-g-12 ui-g-nopad ui-fluid">
                            <div class="ui-g-6">
                                <p-calendar [(ngModel)]="filtro.fechaVigencia" dateFormat="dd/mm/yy" [showIcon]="true"
                                    [readonlyInput]="true" [locale]="locale.es" placeholder="Vigencia" title="Fecha de Vigencia de la lista de precios. Vacío es TODOS"></p-calendar>
                            </div>
                            <div class="ui-g-6">
                                <button pButton label="HOY" (click)="vigenciaHoy()"></button>
                                <button pButton label="TODOS" (click)="vigenciaTodos()"></button>
                            </div>
                        </div>

                    </div>
                    <div class="ui-g-1 ui-sm-4">
                        <label for="">Tipo de Lista</label>

                    </div>
                    <div class="ui-g-2 ui-sm-8">
                        <p-multiSelect selectedItemsLabel='{0} items elegidos' defaultLabel='Todos' [options]="tiposLista"
                            [(ngModel)]="filtro.listaPrecios" [filter]="true"></p-multiSelect>
                    </div>
                    <div class="ui-g-1 ui-sm-4">
                        <label for="">Productos</label>

                    </div>
                    <div class="ui-g-2 ui-sm-8">
                        <p-multiSelect selectedItemsLabel='{0} items elegidos' defaultLabel='Todos' [options]="productosFiltrados"
                            [(ngModel)]="filtro.productos" [filter]="true"></p-multiSelect>
                    </div>
                    <div class="ui-g-1 ui-sm-4">
                        <label for="">Marcas</label>

                    </div>
                    <div class="ui-g-2 ui-sm-8">
                        <p-multiSelect selectedItemsLabel='{0} items elegidos' defaultLabel='Todos' [options]="marcasFiltradas"
                            [(ngModel)]="filtro.marcas" [filter]="true" (onChange)="filtrarMarcas($event)"></p-multiSelect>
                    </div>
                </div>
            </filtro>

        </div>
        <div class="ui-g-12">
            <div class="ui-widget-header thead-default">
                <div class="ui-g">
                    <div class="ui-g-10">
                        <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                    </div>
                    <div class="ui-g-2 ui-g acciones">
                        <button pButton [disabled]="preciosEditados.length > 0" (click)="nuevoPrecio()" title="Crear nuevos precios"
                            icon="fa fa-plus"></button>
                        <button pButton [disabled]="preciosEditados.length == 0" (click)="editarPrecios(preciosEditados)"
                            title="Editar los precios seleccionados" icon="fa fa-pencil"></button>
                        <button pButton [disabled]="preciosEditados.length == 0" (click)="nuevoListado()"
                             icon="fa fa-copy" title="Crear un nuevo listado desde la selección"></button>
                        <button pButton [disabled]="!validoImpresion()" (click)="imprimir(preciosEditados)"
                            title="Imprimir listado con los items seleccionados" icon="fa fa-print"></button>
                        <button pButton [disabled]="preciosEditados.length == 0" class="ui-button-danger" (click)="eliminarPrecios(preciosEditados)"
                            title="Eliminar los precios seleccionados" icon="fa fa-trash"></button>
                    </div>
                </div>
            </div>
            <p-dataTable [value]="preciosFiltrados" [responsive]="true" [globalFilter]="gb" [emptyMessage]="'Sin Precios'"
                sortField="codProd" dataKey="id" #tabla rowGroupMode="rowspan" [(selection)]="preciosEditados">
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column [style]="{'width':'35%', 'text-align':'left'}" field="codProd" header="Nombre" [sortable]="true">
                    <ng-template let-col let-precio="rowData" pTemplate="body">
                        <span>{{precio.producto.codigo}} - {{precio.producto.nombre}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaDesde" header="Vigencia Desde">
                    <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{precio.fechaDesde | date : 'dd/MM/yyyy'}} </span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaHasta" header="Hasta">
                    <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                        <span *ngIf="precio.fechaHasta">{{precio.fechaHasta | date : 'dd/MM/yyyy'}}</span>
                        <span *ngIf="!precio.fechaHasta">En adelante</span>
                    </ng-template>
                </p-column>

                <p-column [style]="{'width':'20%', 'text-align':'left', 'overflow':'hidden', 'text-overflow':'ellipsis'}"
                    field="tipoListado" header="Tipo Listado">
                    <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                        <span [title]="precio.tipoListadoResumen">{{precio.tipoListadoResumen}}</span>
                    </ng-template>

                </p-column>
                <!--p-column [style]="{'width':'20%', 'text-align':'left', 'overflow':'hidden', 'text-overflow':'ellipsis'}"
                    field="diasSemana" header="Días">
                    <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                        <span [title]="precio.diasResumen">{{precio.diasResumen}}</span>
                    </ng-template>
                </p-column-->

                <p-column [style]="{'width':'10%', 'text-align':'center'}" field="fechaDesde" header="Ultima Modificación">
                    <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{precio.fechaAlta | date : 'dd/MM/yyyy'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'15%', 'text-align':'right'}" field="fechaDesde" header="Precio">
                    <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                        <span>{{precio.valor | currency : 'USD' : 'symbol-narrow'  : '1.0'}}</span>
                    </ng-template>
                </p-column>
                <p-column [style]="{'width':'10%', 'text-align':'center'}" header="Acciones" field="busqueda">
                    <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">
                        <button pButton icon="fa-pencil" (click)="editarPrecio(precio)" title="Editar Precio"></button>
                        <button pButton *ngIf="precio.activo" class="ui-button-danger" icon="fa-trash" (click)="eliminar(precio)"
                            title="Borrar precio"></button>
                    </ng-template>
                </p-column>
            </p-dataTable>

        </div>
    </div>
    <div class="ui-g-12" *ngIf="currentView === 'editarItems'">
        <gestion-precio-adicionales [grupo] ="grupo" [(precios)]="preciosEditados" (onCancelar)="cancelarEdicion($event)" (onGuardado)="finGuardado($event)"></gestion-precio-adicionales>
    </div>
    <div class="ui-g-12" *ngIf="currentView === 'nuevos'">
        <nuevo-precio-adicionales [grupo]="grupo" [productos]="productos" (onCancelar)="cancelarEdicion($event)" (onGuardado)="finGuardado($event)" ></nuevo-precio-adicionales>
    </div>

    <div class="ui-g-12" *ngIf="currentView === 'impresion'">
        <impresion-lista-adicionales  [precios]="preciosEditados"></impresion-lista-adicionales>
        <div class="ui-g-12 text-right print-hide navigation-footer">
                <button pButton (click)="volver()" label="Volver" class="pull-right"></button>
        </div>
          
    </div>
</div>