<div class="content">

    <div class="ui-header  has-header" [hidden]="currentView !== 'listaClientes'">
        <h3>{{ titulo }}</h3>

    </div>
    
    <div [hidden]="currentView !== 'listaClientes'">
        <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">
            <div class="ui-g">
                <div class="ui-g-10">
                    <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                </div>
                <div class="ui-g-2" style="text-align:center">
                    <button pButton label="Nuevo Cliente" icon="fa-plus" class="" (click)="nuevoCliente()"></button>
                </div>
            </div>

        </div>
        <p-dataTable emptyMessage="No hay clientes" class="form-group" [value]="listaClientes" [rows]="10" [paginator]="true" [responsive]="true"
            [globalFilter]="gb" sortMode="multiple" >
            <p-column field="id" header="#" [style]="{'width':'2%', 'text-align':'center'}" [sortable]="true"></p-column>
            <p-column field="nombreCliente" header="Nombre" [style]="{'width':'10%', 'text-align':'left'}" [sortable]="true"></p-column>
            <p-column header="Datos de Contacto" [style]="{'width':'35%', 'text-align':'center'}">
                <ng-template let-col let-cliente="rowData" let-ri="rowIndex" pTemplate="body">
                    <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-4 overflow">
                            <i class="fa fa-envelope-o "></i>
                            <a target="_blank" href="mailto:{{cliente.email}}" title="Email: {{cliente.email}}">
                                {{cliente.email}} </a>
                        </div>
                        <div class="ui-g-4 overflow">
                            <span title="Teléfono: {{cliente.telefono}}">
                                <i class="fa fa-phone "></i> {{cliente.telefono}} </span>
                        </div>
                        <div class="ui-g-4 overflow">
                            <span title="Celular: {{cliente.celular}}">
                                <i class="fa fa-whatsapp "></i> {{cliente.celular}} </span>
                        </div>
                    </div>
                </ng-template>
            </p-column>
            <p-column header="Redes Sociales" [style]="{'width':'5%', 'text-align':'center'}">
                <ng-template let-col let-cliente="rowData" let-ri="rowIndex" pTemplate="body">
                    <div class="ui-g-6 ui-g-nopad">
                        <social-link [baseUrl]="cliente.facebook" [iconOnly]="true"></social-link>
                    </div>
                    <div class="ui-g-6 ui-g-nopad">
                        <social-link [baseUrl]="cliente.instagram" [type]="'I'" [iconOnly]="true"></social-link>
                    </div>

                </ng-template>
            </p-column>
            <p-column header="Contactos" [style]="{'width':'40%', 'text-align':'center'}">
                <ng-template let-col let-cliente="rowData" let-ri="rowIndex" pTemplate="body">
                 
                            <div class="ui-g-12 ui-g-nopad" *ngFor="let contacto of cliente.contactos">
                                <div class="ui-g-3 small">
                                    <strong>{{contacto.nombre}}</strong>
                                </div>
                                <div class="ui-g-2 small">
                                    <span>{{contacto.relacionContacto}}</span>
                                </div>
                                <div class="ui-g-2 overflow small">
                                    <i class="fa fa-envelope-o "></i>
                                    <a target="_blank" href="mailto:{{contacto.email}}" title="Email: {{contacto.email}}">
                                        {{contacto.email}} </a>
                                </div>
                                <div class="ui-g-2 overflow small">
                                    <span title="Teléfono: {{contacto.telefono}}">
                                        <i class="fa fa-phone "></i> {{contacto.telefono}} </span>
                                </div>
                                <div class="ui-g-3 overflow small">
                                    <span title="Celular: {{contacto.celular}}">
                                        <i class="fa fa-whatsapp "></i> {{contacto.celular}} </span>
                                </div>
                            </div>
                </ng-template>

            </p-column>
            <p-column [style]="{'width':'7%', 'text-align':'center'}">
                <ng-template let-col let-proveedor="rowData" let-ri="rowIndex" pTemplate="body">
                    <button pButton class="small" icon="fa-cog" (click)="mostrarAcciones($event, proveedor)" title="Acciones"></button>
                  </ng-template>
            </p-column>
        </p-dataTable>

    </div>

</div>
<div class="ui-g-12 ui-g-nopad" *ngIf="clienteEditado && currentView === 'cliente-gestion'">
    <gestion-cliente [(cliente)]="clienteEditado" [editable]="editable" (onCancelar)="onCancelarEdicionCliente($event)" (onGuardar)="clienteGuardado($event)"></gestion-cliente>
</div>
<div class="ui-g-12 ui-g-nopad" *ngIf="currentView=== 'contratos-lista' || currentView === 'contrato-gestion'">
    <lista-contrato [cliente]="clienteEditado" (onVolver)="volver()"></lista-contrato>
</div>
<div class="ui-g-12 ui-g-nopad" *ngIf="currentView=== 'ocs-lista' || currentView === 'gestion-oc'">
    <ordenes-cobranza [filtro]="filtro" [mostrarFiltrosCliente]="false" [(vista)]="currentView" (docsActualizados)="onDocsActualizados()"></ordenes-cobranza>
</div>
<div class="ui-g-12 ui-g-nopad botonera ui-fluid print-hide" [hidden]="ocultarVolver()">
    <div class="ui-g-2 ui-g-offset-10">
      <button pButton label="Volver" (click)="currentView = 'listaClientes';" icon="fa-chevron-left" iconPos="left" class="ui-button-transparente"></button>
    </div>
  </div>
<p-confirmDialog header="Borrar Cliente" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
<p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"></p-menu>