<div class="nuevo-precio-menu">
    <div class="data" [hidden]="verConflictos" *ngIf="listado">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-sm-12 ui-g-nopad">
                <div class="ui-g-6 ui-g-nopad">
                    <div class="ui-g-2"><label for="nombreLista">Listado</label></div>
                    <div class="ui-g-5 ui-g-nopad">
                        <descriptivo-selector [data]="tListados" [(ngModel)]="tListadoSeleccionado">
                        </descriptivo-selector>
                    </div>
                    <div class="ui-g-5">
                        <p-checkbox [(ngModel)]="esDependiente" binary="true" label="Dependiente"></p-checkbox>
                    </div>



                </div>
                <div class="ui-g-6 ui-g-nopad ui-g ui-fluid" style="justify-content: space-between">
                    <div class="ui-g-6 ui-g-nopad" *ngIf="esDependiente">
                        <descriptivo-selector [data]="tListados" [(ngModel)]="tListadoPadreSeleccionado"
                            inputClass="ui-g-8" labelClass="ui-g-4" nombre="Listado Padre">
                        </descriptivo-selector>

                    </div>
                    <div class="ui-g-2"><label for="">Tipo Cálculo</label></div>
                    <div class="ui-g-4 ui-g ui-fluid ui-g-nopad">
                        <descriptivo-selector [data]="tiposCalculo" [(ngModel)]="tipoCalculoSeleccionado">
                        </descriptivo-selector>

                    </div>
                    <div class="ui-g-2" *ngIf="!esDependiente"><label for="">Mes T. Baja</label></div>
                    <div class="ui-g-4" *ngIf="!esDependiente">
                        <p-multiSelect defaultLabel="Meses de Temporada Baja" styleClass="meses" [options]="meses"
                            [(ngModel)]="mesesBaja" [panelStyle]="{minWidth:'12em'}" dataKey="codigo"></p-multiSelect>
                    </div>



                </div>
            </div>
            <div class="ui-g-12 ui-sm-12 ui-g-nopad">

                <div class="ui-g-6  ui-g-nopad">
                    <div class="ui-g-2"> <label for="dateRange">Vigencia</label></div>
                    <div class="ui-g-5">
                        <p-calendar [(ngModel)]="listado.fechaDesde" required dateFormat="dd/mm/yy" [showIcon]="true"
                            [locale]="locale.es" placeholder="Valido Desde" title="Valido Desde">
                        </p-calendar>
                    </div>

                    <div class="ui-g-5">
                        <p-calendar [(ngModel)]="listado.fechaHasta" required dateFormat="dd/mm/yy" [showIcon]="true"
                            [locale]="locale.es" placeholder="Valido Hasta" title="Valido Desde"
                            [minDate]="listado.fechaDesde"></p-calendar>
                    </div>
                </div>
                <div class="ui-g-6 ui-g-nopad" *ngIf="!esDependiente">
                    <div class="ui-g-2" *ngIf="!esDependiente"><label for=""> %Variable</label></div>
                    <div class="ui-g-2" *ngIf="!esDependiente"> <input pInputText type="number" scale="0.1" max="100"
                            [(ngModel)]="pVariable">
                    </div>
                    <div class="ui-g-2"><label for=""> %Incre.</label></div>
                    <div class="ui-g-2"><input pInputText type="number" scale="0.01" max="100"
                            [(ngModel)]="pIncremento"></div>
                </div>
                <div class="ui-g-6 ui-g-nopad" *ngIf="esDependiente">
                    <div class="ui-g-3"><label for=""> Operaciones Generales</label></div>
                    <div class="ui-g-9 ui-g ui-fluid ui-g-nopad">
                        <div class="ui-g-12">
                            <div class="ui-inputgroup">
                                <p-selectButton [options]="tiposOperacion" [(ngModel)]="tipoOperacion">
                                </p-selectButton>
                                <input type="number" pInputText placeholder="Valor" [(ngModel)]="valorOperacion">
                                <button pButton icon="fa fa-refresh" (click)="aplicarOperacion()"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui-g-12 ui-sm-12">
                <div class="ui-g-12 ui-widget-header ui-g-nopad">
                    <div class="ui-g-8">
                        <h4 *ngIf="tienePadre || !esDependiente">Precios Base</h4>
                        <h4 *ngIf="!tienePadre && esDependiente">Complete los datos de cabecera</h4>
                    </div>
                    <div class="ui-g-4" *ngIf="tienePadre || !esDependiente">
                        <div class="ui-g ui-fluid ui-g-nopad">
                            <div class="ui-g-6 text-center"><button pButton (click)="agregarProductos()"
                                    class="ui-small-button" icon="fa fa-plus" title="Agregar Productos"></button></div>
                            <div class="ui-g-6 text-center"> <button pButton (click)="eliminarItems(productosMarcados)"
                                    class="ui-small-button" title="Quitar Productos" icon="fa fa-trash"
                                    [disabled]="productosSeleccionados?.length <= 0"></button></div>


                        </div>
                    </div>
                </div>
                <div class="ui-g-12 ui-g-nopad" *ngIf="!esDependiente">
                    <p-dataTable [value]="productosSeleccionados" [editable]="true"
                        [emptyMessage]="'Sin Productos seleccionados'" #tabla [(selection)]="productosMarcados">

                        <p-column selectionMode="multiple" [style]="{'width':'10%'}"></p-column>
                        <p-column field="codProd" header="Nombre" [sortable]="true" [style]="{'width':'50%'}">
                            <ng-template let-col let-item="rowData" pTemplate="body">
                                <span>{{item?.producto?.codigo}} - {{item?.producto?.nombre}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="base" header="Precio" editable="true"
                            [style]="{'width':'20%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item?.valor | currency : 'USD' : 'symbol-narrow'}}</span>
                            </ng-template>
                            <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="editor">
                                <input type="number" style="text-align: right;" [(ngModel)]="precio.valor"
                                    name="{{'valor_' + ri}}" min="0" (focusin)="onFocus($event)">
                            </ng-template>
                        </p-column>
                        <p-column header="Acciones" field="busqueda" [style]="{'width':'10%', 'text-align':'center'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <button pButton class="ui-button-danger" icon="fa-trash" (click)="eliminarItem(item)"
                                    title="Borrar precio"></button>
                            </ng-template>

                        </p-column>
                    </p-dataTable>
                </div>

                <div class="ui-g-12 ui-g-nopad" *ngIf="esDependiente">

                    <p-dataTable [value]="productosSeleccionados" [editable]="true"
                        [emptyMessage]="'Sin Productos seleccionados'" #tabla [(selection)]="productosMarcados"
                        *ngIf="tienePadre">

                        <p-column selectionMode="multiple" [style]="{'width':'5%'}"></p-column>
                        <p-column field="codProd" header="Nombre" [sortable]="true" [style]="{'width':'30%'}">
                            <ng-template let-col let-item="rowData" pTemplate="body">
                                <span>{{item?.producto?.codigo}} - {{item?.producto?.nombre}}</span>
                            </ng-template>
                        </p-column>
                        <p-column field="base" header="Base" [style]="{'width':'15%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item.base | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                            </ng-template>

                        </p-column>
                        <p-column field="base" header="Precio" [style]="{'width':'25%', 'text-align':'right'}">
                            <ng-template let-col let-precio="rowData" let-ri="rowIndex" pTemplate="body">

                                <div class="ui-g ui-fluid">
                                    <div class="ui-g-12">
                                        <div class="ui-inputgroup">
                                            <p-selectButton [options]="tiposOperacion"
                                                [(ngModel)]="precio.tipoOperacion">
                                            </p-selectButton>
                                            <input type="number" style="text-align: right;" [(ngModel)]="precio.valor"
                                                name="{{'valor_' + ri}}" min="0" (focusin)="onFocus($event)">
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-column>
                        <p-column field="base" header="Base Calculada" [style]="{'width':'15%', 'text-align':'right'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <span>{{item.precio | currency : 'USD' : 'symbol-narrow' : '1.0'}}</span>
                            </ng-template>

                        </p-column>
                        <p-column header="Acciones" field="busqueda" [style]="{'width':'10%', 'text-align':'center'}">
                            <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                                <button pButton class="ui-button-danger" icon="fa-trash" (click)="eliminarItem(item)"
                                    title="Borrar precio"></button>
                            </ng-template>

                        </p-column>
                    </p-dataTable>
                </div>


            </div>
            <!--    
                <div class="ui-g-12 ui-sm-12">
                    <div class="seccion">
                        <div class="ui-g-3">
                            <p-checkbox [(ngModel)]="todosListados" [binary]="true" label="Todos los Tipos de Listado">
                            </p-checkbox>
                        </div>
                        <div class="ui-g-9 opciones">
                            <div class="salon" *ngFor="let t of tListados; index as i ">
                                <p-checkbox name="{{'tLista' + i}}" [value]="t.codigo" [(ngModel)]="tListadoSeleccionados"
                                    [label]="t.descripcion"></p-checkbox>
                            </div>
                        </div>
    
                    </div>
                </div>
                -->
        </div>
    </div>
    <div class="ui-g-12 footer-acciones" [hidden]="verConflictos">
        <button pButton label="Preview" (click)="preview()"></button>
        <button pButton label="Cancelar" (click)="cancelar()"></button>
        <button pButton label="Guardar" (click)="generarPrecios()"></button>
    </div>

    <div class="ui-g-12" *ngIf="verConflictos">
        <conflictos-menu [conflictos]="conflictosMenu" (finConflictos)="finConflictos($event)"
            (onCancelarConflictos)="cancelarConflictos()"></conflictos-menu>
    </div>
</div>

<p-dialog header="Selección de Productos" [(visible)]="mostrarProductos" (onHide)="updateSeleccionados()">
    <div class="ui-g-12 ui-g ui-fluid">
        <p-pickList [source]="productosBase" [target]="productosSeleccionados" [responsive]="true"
            sourceHeader="Disponibles" targetHeader="Seleccionados" filterBy="descripcion" [showSourceControls]="false"
            [showTargetControls]="false">
            <ng-template let-precio pTemplate="item">
                <div class="ui-helper-clearfix">
                    <span>{{precio.descripcion}}</span>
                </div>
            </ng-template>
        </p-pickList>
    </div>
</p-dialog>