@import "../app.variables.less";

.listados {
    display: flex;
    flex-wrap: wrap;
    font-family: Helvetica, Arial;

    .listado {
        margin: 0.25em;
        width: calc(25% - 0.5em);
        border: 1px solid lightgray;
        padding: 0.25em;
        border-radius: 3px;
        box-shadow: 1px 1px 3px lightgrey;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;

        &.comparado {
            width: calc(100% - 0.5em);
        }

        &:hover {
            background-color: rgb(247, 247, 247);
        }

        .parametros {
            font-weight: normal;

            span {
                margin: 0 0.25em;

                &:hover {
                    font-weight: bold;
                    text-shadow: 1px 0 1px lightgray;
                }
            }
        }

        .titulo {
            font-size: 10pt;
            font-variant: small-caps;
            font-weight: bold;
            padding-left: 0.25em;
            padding-top: 0.25em;
        }

        .periodo {
            font-size: 9pt;
            font-style: italic;
            padding-left: 1em;
            padding-top: 0.5em;
        }

        .botonera {
            position: absolute;
            right: 0.25em;
            bottom: 0.25em;
        }

        .ver-mas {

            margin-bottom: 4em;
        }

        .precios {
            margin-top: 0.75em;
            max-height: 4em;
            overflow: hidden;
            transition: all 1s ease-in-out;

            &.expandido {
                max-height: 15em;
                overflow: auto;

            }

            .precio {
                font-size: 9pt;
                margin: 0 auto;
                padding: 0.25em 2em;

                label,
                span {
                    line-height: 1.25;
                }

                .producto {
                    font-weight: bold;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 12em;
                    white-space: nowrap;
                }

                .valor {
                    margin-left: auto;
                }
            }
        }

        &.pendiente {
            border: 3px solid @warning;
        }
    }
}