@import "./../app.variables.less";

.ui-inputgroup {
    line-height: 0;
    font-size: 10pt;

    input {
        text-align: right;
    }

    .currency {
        text-align: right;
    }

    .ui-button.ui-small-button {
        max-width: 5em;
    }
}

.header-tabla {
    .ui-button.ui-small-button {
        max-width: 5em;
    }

    h4 {
        margin: 0.5em;
    }
}

.seccion {
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 3px;
    min-height: 18vh;
    height: auto;

    .opciones {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;

        .salon,
        .dia {
            min-width: 7em;
            margin-right: 1em;
        }

    }
}



.tabla-edicion {
    .ui-inputgroup {
        .ui-selectbutton.ui-buttonset {
            display: flex;

            .ui-buttonset {
                width: 5em;
            }
        }
    }

    input.currency {
        background-color: white;
        text-align: left;

        &:focus {
            color: black;
        }
    }

    .dia {
        border-radius: 50%;
        background-color: transparent;
        width: 2em;
        height: 2em;
        display: inline-block;
        padding: 0;
        ;
        line-height: 2;
        text-align: center;
        border: 1px solid @main-light-3;
        box-shadow: 2px 2px 4px lightgrey;
        margin: 0 0.25em;
        cursor: pointer;

        &.selected {
            background-color: @main-light-3;
            color: @main-light-contrast;
        }

        &.global {
            box-shadow: none;
            background-color: white;
            color: @main-brand;

            &.selected {
                color: @main-brand;
                background-color: @main-selected;
            }
        }

    }
}


:host /deep/ .tabla-edicion .ui-inputgroup .ui-selectbutton {
    display: flex;

    &.ui-buttonset {
        width: 5em;
    }
}