<div class="ui-g-12 filters ui-fluid" [ngClass]="{'show':mostrarFiltros}">
    <div class="ui-g-12 ui-g-nopad" [hidden]="!mostrarFiltros">

        <div class="ui-g-3">
            <label for="centro">Centro</label>
        </div>
        <div class="ui-g-9">
            <descriptivo-selector [appendTo]="'body'" name="centros" required [limpiable]=false [data]="globalData.centros"
                nombre="Centro" labelClass="hide" [(ngModel)]="filtro.centro"></descriptivo-selector>
        </div>
    </div>
    <div class="ui-g-12  ui-g-nopad" [hidden]="!mostrarFiltros">
        <div class="ui-g-3">
            <label for="centro">Periodo</label>
        </div>
        <div class="ui-g-9">
            <descriptivo-selector [appendTo]="'body'" name="periodo" required [limpiable]=false [data]="globalData.periodos"
                nombre="Periodo" labelClass="hide" [(ngModel)]="filtro.periodo"></descriptivo-selector>
        </div>

        <div class="ui-g-12" *ngIf="filtro.periodo && filtro.periodo.codigo ==='R'">
            <p-calendar [(ngModel)]="filtro.rangeDate" selectionMode="range" [readonlyInput]="true" [appendTo]="'body'"></p-calendar>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" [hidden]="!mostrarFiltros">
        <div class="ui-g-3 ">
            <label for="centro">Grupo</label>
        </div>
        <div class="ui-g-9">
            <descriptivo-selector name="grupo" required [limpiable]=false [data]="globalData.grupos" nombre="Grupos"
                labelClass="hide" [(ngModel)]="filtro.grupo"></descriptivo-selector>
        </div>
       

    </div>
    <div class="ui-g-12 ui-g-nopad" [hidden]="!mostrarFiltros " *ngIf="filtro.grupo">
            <div class="ui-g-3 ">
                <label for="centro">Gasto</label>
            </div>
            <div class="ui-g-7">
                <descriptivo-selector name="subgrupo" required [limpiable]=false [data]="filtro.grupo.subGrupos" nombre="Gastos"
                    labelClass="hide" [(ngModel)]="filtro.gasto"></descriptivo-selector>
            </div>
            <div class="ui-g-2">
                    <button pButton icon="fa fa-search" (click)="buscarItem()"></button>
                </div>
        
    
        </div>
   
</div>
<div class="total-gasto ui-g-12">
    <div class="ui-g-12 no-data" *ngIf="!data">
        <svg viewBox="0 0 320 150">
            <text text-anchor="middle" x="160" y="125">Sin Información</text>
        </svg>
    </div>
    <div class="titulo" *ngIf="data">
        <label>Total de {{data.gasto.descripcion}}</label>
    </div>
    <div class="numero" *ngIf="data">
            <svg viewBox="0 0 320 75" >
                    <text text-anchor="middle" x="160" y="50">{{data.total | currency : 'USD' : 'symbol-narrow'}}</text>
            </svg>
    </div>
    
</div>