@import "./../../../../app.variables.less";
.total-gasto {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: @main-brand-light;
    padding: 2em;
    
    .titulo{
        position: absolute;
        top:0;
        left:0; 
        right:0;
        padding: 0.2em 1em;
        label{
            font-size: 1vw;
            color: @main-light-1;
            font-weight: bold;
            font-variant: small-caps;
        }
    }
    .no-data{
        flex:100%;
        align-self: center;
        svg{
            text{
                font-size: 2vw;
                fill: @main-light-1;
                font-variant: small-caps;
                text-align: center;
            }
            
        }
       }
       .numero{
           margin: auto;
           align-self: center;
           width: 100%;
           height: auto;
           
            svg{
                flex:100%;
                align-self: center;
               
                text{
                    font-size: 2vw;
                    fill: @main-light-1;
                    font-variant: small-caps;
                    text-align: center;
                }
            }
    
    }  
}