@import "app/app.variables.less";

/*  PRINT  */
.pagebreak {
  page-break-before: always;
  margin-left: 10px;
  margin-top: 20px;
}

@font-face {
  font-family: Century-Gothic;
  src: url(assets/fonts/CenturyGothic.ttf);
}


@media print {
  @page {
    margin: 0;
  }

  .page-break {
    display: block;
    page-break-after: always !important;
  }

  
  .impresion-lista-bebidas,
  .impresion-lista-adicionales {

    .page-header,
    .header-space {
      height: 3cm;
      background-color: transparent;
    }

    .footer,
    .footer-space {
      height: 1cm;
      background-color: transparent;

    }

    .agrupado {
      margin-bottom: 22px;
    }

    table {
      page-break-after: auto;
      width: 100%;

      tfoot {
        display: table-footer-group
      }

      thead {
        display: table-header-group;

        .page-header {
          th {
            text-align: center;
          }
        }

      }

      tr {
        border: none !important;

        .ui-g,
        .ui-fluid {
          .producto {
            line-height: 1em ;
          }
        }


        td,
        th {
          border: none !important;
          background-color: white !important;

          span {
            font-size: 10pt !important;

            &.agrupador {
              letter-spacing: normal;
              font-size: 9pt !important;
            }
          }

        }
      }
    }

    .page-header {
      position: fixed;
      top: 0.25cm;
      left: 0;
      right: 0;
    }

    .page-footer {
      position: fixed;
      bottom: 0.25cm;
      left: 7.5em;
      right: 7.5em;
    }

    .precios {
      .categoria {
        page-break-inside: avoid;

        h2 {
          font-size: 18pt;
        }

        &.primera {
          margin-top: -1cm;
        }

        &.new-page {
          page-break-before: always !important;
        }

      }

      .marca-wrap {
        page-break-inside: avoid;
        margin-top: 0.5cm;
        margin-bottom: 0.5cm;

        &.barra {
          margin-top: 0;
          margin-bottom: 0;
        }

        .marca {
          margin-top: 0.35cm;
          margin-bottom: 0.25cm;

          .producto {
            .opcion {
              font-size: 9pt !important;
              padding-left: 3em !important;
            }
          }
        }
      }

      .propuesta {
        margin-top: 0.5cm;
      }
    }

  }

  body {
    margin: 1.6cm;

    .new-page {
      page-break-before: always;
    }

    .listados {
      display: flex;
      flex-wrap: wrap;
      font-family: Helvetica, Arial;

      .listado {
        margin: 0.25em;
        width: calc(25% - 0.5em);
        border: 1px solid lightgray;
        padding: 0.25em;
        border-radius: 3px;
        box-shadow: 1px 1px 3px lightgrey;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;

        &:hover {
          background-color: rgb(247, 247, 247);
        }

        .titulo {
          font-size: 10pt;
          font-variant: small-caps;
          font-weight: bold;
          padding-left: 0.25em;
          padding-top: 0.25em;
        }

        .periodo {
          font-size: 9pt;
          font-style: italic;
          padding-left: 0.25em;
          padding-top: 0.5em;
        }

        .botonera {
          position: absolute;
          right: 0.25em;
          bottom: 0.25em;
        }

        .ver-mas {

          margin-bottom: 4em;
        }

        .precios {
          margin-top: 0.75em;
          max-height: 4em;
          overflow: hidden;
          transition: all 1s ease-in-out;

          &.expandido {
            max-height: 15em;
            overflow: auto;

          }

          .precio {
            font-size: 9pt;
            margin: 0 auto;
            padding: 0.25em 2em;

            label,
            span {
              line-height: 1.25;
            }

            .producto {
              font-weight: bold;
              text-overflow: ellipsis;
              overflow: hidden;
              max-width: 12em;
              white-space: nowrap;
            }

            .valor {
              margin-left: auto;
            }
          }
        }
      }
    }
    
  }

  .ui-fluid,
  .ui-g {
    line-height: 1 !important;
  }

  label {
    font-weight: bold;
    font-size: 8pt;
  }

  .ui-autocomplete,
  .ui-calendar,
  .ui-dropdown,
  input,
  span,
  label {
    border: none !important;
    font-size: 8pt !important;
  }

  .cabecera-evento {
    .row-cabecera {
      line-height: 1em;

    }
  }

  span.print-only {
    font-size: 8pt;
    line-height: 2;
  }

  .container {
    margin-top: 10px !important;
    margin-left: 1em !important;
    margin-right: 1em !important;
  }

  .ui-widget-header {
    border: none !important;

  }

  .ui-g-1,
  .ui-g-2,
  .ui-g-3,
  .ui-g-4,
  .ui-g-5,
  .ui-g-6,
  .ui-g-7,
  .ui-g-8,
  .ui-g-9,
  .ui-g-10,
  .ui-g-11,
  .ui-g-12 {
    padding: 1px;

    &.ui-g-nopad {
      padding: 0 !important;
    }

    &.label {
      padding: 10px !important;
    }
  }

  .required:after {
    content: "" !important;
  }

  .step {
    top: 6em !important;
  }

  .header,
  .ui-dropdown-trigger,
  button,
  .ui-paginator {
    display: none !important;
  }

  /* box-shadow: none !important;
    border-bottom: 1px solid lightgray;
    .menu, .logout{
      display: none;
    }
    .username{
      position: absolute;
      right: 0px;
      text-align: right;
    }
    
  }
 
  */
  .print-only {
    display: inherit !important;
  }

  .print-hide {
    display: none !important;
  }

  table {
    font-size: 8pt;
    color: black !important;

    tfoot tr {
      td {
        background-color: #f2f2f2 !important;
        color: black !important;

        &.normal {
          background-color: white !important;
          color: black !important;
        }
      }
    }

    tr {
      border: 1px solid @main-border-light  !important;

      th {
        color: black !important;
        background-color: #f2f2f2 !important;
      }

      th,
      td {
        border: 1px solid @main-border-light  !important;
      }

      .ui-dropdown {
        background-color: transparent !important;
      }

      .print-only {
        display: table-cell !important;
      }

      &.ui-datatable-odd {
        background-color: white !important;
        color: black !important;

        &.ui-state-highlight {
          background-color: @main-light-1  !important;
          color: black !important;
        }
      }

      &.ui-datatable-even {
        background-color: #f5f5f5 !important;
        color: black !important;

        &.ui-state-highlight {
          background-color: @main-light-1  !important;
          color: black !important;
        }
      }
    }

  }

  .ui-datatable-header {
    background-color: #f5f5f5 !important;
    border: 1px solid @main-border-light  !important;
    border-bottom: none !important;
    color: black !important;
  }

  .totales {
    padding: 4px !important;
  }

}

.print-only {
  display: none;
}

body {
  button.ui-button.link {
    border: none;
    text-decoration: underline !important;
    color: @main-brand;
    background-color: transparent;
  }

  .navigation-footer {
    position: fixed;
    bottom: 1em;
    padding: 0.25em;
    width: 90%;
    margin: 0 auto;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.15);

  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }

  .has-header {
    margin-top: 70px;
  }

  .hide {
    display: none;
  }

  background-color: rgba(255, 255, 255, .05);
  font-family: sans-serif;

  .money::before {
    content: "$ ";
  }

  th.money::before {
    content: "";
  }

  .money {
    text-align: right;
  }

  .fa {
    &.A:before {
      content: "\F00C";
      color: @success;
    }

    &.R:before {
      content: "\F00D";
      color: @error-dark;
    }

    &.P:before {
      content: "\F128";
      color: @warning;
    }

    &.PP:before {
      content: "\f0d6";
      color: @main-brand;
    }

    &.L:before {
      content: "\f11e";
      color: @success;
    }
  }

  .no-gaps {
    padding: 0;
  }
}

label {
  line-height: 2.5em;
}

.ui-treetable>div.ui-treetable-tablewrapper>table>tbody.ui-treetable-data {
  background: #dadac8 !important;

  tbody {
    background-color: #d6d6cc;

    tbody {
      background-color: #e8e8e2;

      tbody {
        background-color: #f1f1ef;
        border-bottom: 1px solid lightgrey;

        tbody {
          background-color: #f6f6f6;
          border-bottom: 1px solid lightgrey;
        }
      }
    }
  }
}

.center-content {
  text-align: center;
}

.container-flex {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @main-brand;

  h3 {
    color: @main-light-1;
    margin: 0 auto;
  }

  .ui-jumbotron {
    border: none;
    padding: 20px;
    border-radius: 15px;
    align-self: center;
    background-color: transparent;
    z-index: 30;
  }

  .form-actions {

    a {
      font-size: 8pt;
      color: @main-light-0;

      &.ui-button {
        font-size: 10pt;
      }
    }
  }
}

.container {
  margin-top: 20px;
}

.ui-inputgroup-addon {
  background-color: @main-brand;
  color: @main-light-1;
}

.login-logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  left: 0;
  top: 8em;

  img {
    align-self: center;
    width: 200px;
    height: auto;
    z-index: 20;
    margin: 0 auto;
  }
}

.login-footer {
  z-index: 35;
  position: absolute;
  padding: 5px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 2em;
  background-color: @main-light-1;

  a {
    text-decoration: none;
    color: @main-dark;
    font-size: 10pt;
    font-weight: bold;
  }
}



.container {
  margin-top: 85px;
  margin-left: 5em;
  margin-right: 5em;

}

.pull-right {
  text-align: right;
}

label {
  font-size: 10pt;
}

.ui-header {
  color: @main-light-3;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 1em;

  h3,
  h4 {
    margin: 0 0 5px 0;
    font-weight: bold;
    font-variant: small-caps;
  }
}

.ui-g.small-row {
  line-height: 1;
}

.ui-g,
.ui-fluid {
  .middle-label {
    padding-left: 30px;
  }

  &.no-padding {
    padding: 0;
    line-height: 1;

    .ui-g-1,
    .ui-g-2,
    .ui-g-3,
    .ui-g-4,
    .ui-g-5,
    .ui-g-6,
    .ui-g-7,
    .ui-g-8,
    .ui-g-9,
    .ui-g-10,
    .ui-g-11,
    .ui-g-12 {
      padding: 0;
    }
  }
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

.fa.fa-2 {
  font-size: 1.5em;
}

.header {
  position: fixed !important;
  top: 0;
  z-index: 20;
  left: 0;
  right: 0;
  color: @main-light-1;
  display: flex;
  border: none !important;
  background-color: @main-brand;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);

  .menu {
    width: 100%;
    margin: auto;
  }

  .logo {
    margin-left: 20px;
    width: 10%;
    align-self: flex-start;

    img {
      width: 70px;
      height: auto;
    }
  }

  .logout,
  .username {
    padding: 2px;
    align-self: center;
    float: right;
    width: 10%;

    button.logout-button {
      float: right;
      margin-right: 10px;
    }
  }

  .username {
    font-size: 10pt;
    text-align: right;
    min-width: 200px;
  }
}

.ui-menuitem-icon,
.ui-submenu-icon {
  color: @main-brand;
  font-size: 14pt;
}

.ui-menuitem-active .ui-menuitem-icon {
  color: @main-light-1;
  font-size: 14pt;
}

.ui-menuitem-active .ui-submenu {
  text-align: left;

  .ui-menuitem-icon {
    color: @main-light-1;
    font-size: 10pt;
  }

  .ui-menuitem:hover {
    background-color: @main-selected;
    color: @main-light-1;
  }

}

.filtros {
  margin-bottom: 10px;
}

.searchbar {
  padding: 1.5em 1em;
  background-color: @main-brand-light;

}

.thead-default {
  padding: 4px 10px;
  border-bottom: 0 none;
  background-color: @main-brand-light;
  border: 1px solid @main-border-dark;
  color: @main-light-1;

  h4 {
    margin: 0;
  }

  .ui-g {
    button {
      flex-grow: 1;
    }
  }
}

.ui-fluid {
  button.small-button {
    width: auto;
  }
}

p-header {
  .label {
    padding: 0 2px 0 2px;
  }

  h4 {
    margin: 0;
    text-align: left;
    font-variant: petite-caps;
  }

}

span.subtitle {
  font-size: 10pt;
  display: inline-block;
  padding: 1em;
}


.sub-title {
  color: @main-dark;
  font-size: 10pt;
  display: block;
  font-weight: bold;
  line-height: 2em;

}

//ICONS

.fa.icon-N:before {
  content: "\f186";
}

.fa.icon-D:before {
  content: "\f185";
}

.footer-acciones {
  display: flex;
  text-align: right;

  button {
    width: 7em;
    align-self: flex-end;

    &:first-child {
      margin-left: auto;
    }
  }

}

//DRAGULA
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

[hidden] {
  display: none !important;
}