<div class="content has-header">

    <div class="ui-header">
        <div class="ui-g">
            <div class="ui-g-10">
                <h3>{{ titulo }}</h3>
            </div>
            <div class="ui-g-2" style="text-align: right">
                <p-menubar [model]="acciones" *ngIf="filtro.cuenta"></p-menubar>
            </div>
        </div>


    </div>

    <div class="ui-g ui-fluid filtros">
        <div class="ui-g-1 "><label for="caja">Caja</label></div>
        <div class="ui-g-3">
            <descriptivo-selector name="caja" required [limpiable]=false [data]="cajas" nombre="Tipo Evento"
                labelClass="hide" [(ngModel)]="filtro.cuenta" (onSelect)="buscarMovimientos()"></descriptivo-selector>
            <small *ngIf="estadoCajaId!==0">La caja esta {{estadoCajaId===1?'abierta':'cerrada'}}</small>
        </div>
        <div class="ui-g-1 "><label for="fechaDesde">Fecha Desde</label></div>
        <div class="ui-g-2">
            <p-calendar [showIcon]="true" [maxDate]="filtro.fechaHasta" [(ngModel)]="filtro.fechaDesde"
                dateFormat="dd/mm/yy" name="fecha"></p-calendar>
        </div>
        <div class="ui-g-1 "><label for="fechaHasta"> Hasta</label></div>
        <div class="ui-g-2">
            <p-calendar [showIcon]="true" [minDate]="filtro.fechaDesde" [maxDate]="fechaMaxima"
                [(ngModel)]="filtro.fechaHasta" dateFormat="dd/mm/yy" name="fecha"></p-calendar>
        </div>
        <div class="ui-g-2">
            <button [disabled]="!filtro.cuenta" pButton label="Buscar" icon="fa fa-search"
                (click)="buscarMovimientos()"></button>
        </div>

    </div>
    <div class="ui-widget-header thead-default" *ngIf="traspasos && traspasos.length > 0" style="border-bottom: 0 none">
        <div class="ui-g">
            <div class="ui-g-10">
                <span>Traspasos Pendientes</span>
            </div>
        </div>

    </div>

    <p-dataTable *ngIf="traspasos && traspasos.length > 0" [value]="traspasos" #dtTraspasos>
        <p-column [style]="{'width':'40px', 'text-align':'center'}" field="estado" header="">
            <ng-template let-col let-operacion="rowData" let-ri="rowIndex" pTemplate="body">
                <span title="{{operacion.estado.descripcion}} {{operacion.mensaje}}"><i
                        class="fa {{operacion.estado.codigo}}"></i></span>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'15%','text-align':'center'}" field="origen" header="Origen"></p-column>
        <p-column [style]="{'width':'15%','text-align':'center'}" field="destino" header="Destino"></p-column>
        <p-column [style]="{'width':'10%','text-align':'center'}" field="fechaFormateada" header="Fecha"></p-column>
        <p-column [style]="{'text-align': 'left','width':'30%'}" field="descripcion" header="Descripcion"></p-column>
        <p-column [style]="{'text-align': 'center','width':'20%'}" field="responsable" header="Responsable"></p-column>
        <p-column [style]="{'text-align': 'right','width':'10%'}" header="Monto">
            <ng-template let-col let-cuenta="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{cuenta.monto | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column [style]="{'text-align': 'center', 'width':'110px'}">
            <ng-template let-col let-traspaso="rowData" let-ri="rowIndex" pTemplate="body">
                <button *ngIf="traspaso.idCajaDestino+'' === filtro.cuenta.codigo" pButton class="" icon="fa-check"
                    (click)="confirmarTraspaso(traspaso)" title="Confirmar Traspaso"></button>
                <button pButton class="ui-button-danger" icon="fa-close" (click)="rechazarTraspaso(traspaso)"
                    title="Rechazar Traspaso"></button>
            </ng-template>
        </p-column>
    </p-dataTable>

    <div class="ui-widget-header thead-default" style="border-bottom: 0 none;">
        <div class="ui-g">
            <div class="ui-g-10">
                <span>Operaciones</span>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-10">
                <input (focusin)="onFocus($event)" autocomple="off" #buscador type="text" pInputText size="50"
                    placeholder="Buscar..." class="form-control">
            </div>
            <div class="ui-g-1">
                <span>Saldo:</span>
            </div>
            <div class="ui-g-1">
                <span>{{saldoCaja | currency :'USD':'symbol-narrow'}}</span>

            </div>
        </div>

    </div>
    <p-dataTable [value]="operaciones" emptyMessage="No hay operaciones" [globalFilter]="buscador" [rows]="100"
        #dtOperaciones [paginator]="true">

        <p-column [style]="{'width':'10%', 'text-align':'center'}" field="numeroAsiento" header="N° Asiento"></p-column>
        <p-column [style]="{'width':'10%','text-align':'center'}" field="fechaFormateada" header="Fecha"></p-column>
        <p-column [style]="{'text-align': 'left','width':'20%'}" field="descripcion" header="Descripcion"></p-column>
        <p-column [style]="{'text-align': 'left','width':'20%'}" field="comprobante" header="Comprobante"></p-column>
        <p-column [style]="{'text-align': 'right','width':'10%'}" header="Debe">
            <ng-template let-col let-cuenta="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{cuenta.debe | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column [style]="{'text-align': 'right','width':'10%'}" header="Haber">
            <ng-template let-col let-cuenta="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{cuenta.haber | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column [style]="{'text-align': 'right','width':'10%'}" header="Saldo">
            <ng-template let-col let-cuenta="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{cuenta.saldo | currency :'USD':'symbol-narrow'}}</span>
            </ng-template>
        </p-column>
        <p-column [style]="{'text-align': 'center','width':'20%'}" field="responsable" header="Responsable"></p-column>
        <p-column [style]="{'text-align': 'center','width':'40px'}" field="tipoGenerador" header="T.G."></p-column>
    </p-dataTable>
</div>
<p-dialog [contentStyle]="{'overflow':'visible'}" [(visible)]="displayTraspaso" modal="modal" width="400"
    [responsive]="true">
    <p-header>
        Traspaso de Caja
    </p-header>
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-4"><label for="cajaDestino">Caja destino</label></div>
            <div class="ui-g-8">
                <descriptivo-selector name="cajaDestino" required [limpiable]=false [data]="cajasDestino"
                    nombre="Cajas Destino" labelClass="hide" [(ngModel)]="traspasoDestino"></descriptivo-selector>

            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"><label for="fecha">Fecha</label></div>
            <div class="ui-g-8">
                <p-calendar [showIcon]="true" [(ngModel)]="traspaso.fecha" dateFormat="dd/mm/yy" name="fecha">
                </p-calendar>

            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"><label for="cantidad">Monto</label></div>
            <div class="ui-g-8">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">$</span>
                    <input (focusin)="onFocus($event)" required style="text-align:right" placeholder="0"
                        title="Monto a traspasar" [(ngModel)]="traspaso.monto" type="number" step="0.01"
                        name="montoTraspaso" pInputText>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4"><label for="descripcion">Descripción</label></div>
            <div class="ui-g-8">
                <input (focusin)="onFocus($event)" required placeholder="" title="Motivo de Traspaso"
                    [(ngModel)]="traspaso.descripcion" name="descripcionTraspaso" pInputText>

            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="displayTraspaso=false" label="Cancelar"></button>
        <button type="button" pButton icon="fa-check" (click)="traspasoCaja()" label="Traspasar"></button>
    </p-footer>
</p-dialog>

<p-dialog [contentStyle]="{'overflow':'visible'}" [(visible)]="displayAperturaCierre" modal="modal" width="400"
    [responsive]="true">
    <p-header>
        {{ tituloTransaccion }}
    </p-header>
    <div class="ui-fluid">
        <div class="ui-g">
            <div class="ui-g-4"><label for="cantidad">Monto en la caja</label></div>
            <div class="ui-g-8">
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon">$</span>
                    <input (focusin)="onFocus($event)" required style="text-align:right" placeholder="0"
                        title="Monto en la caja" [(ngModel)]="montoCaja" type="number" name="montoCaja" pInputText>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="displayAperturaCierre=false" label="Cancelar"></button>
        <button type="button" pButton icon="fa-check" (click)="efectuarAperturaCierreCaja()" label="Aceptar"></button>
    </p-footer>
</p-dialog>
<p-confirmDialog header="Cancelar Asiento" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No">
</p-confirmDialog>