@import "./../app.variables.less";
.menu{
    text-align: right;
}
.traspasos{
    margin-bottom:  2em;
}
.fa{
    &.A:before {
        content: "\F00C";
        color: @success;
    }
    &.R:before{
        content: "\F00D";
        color: @error-dark;
    }
    &.P:before{
        content: "\F128";
        color: @warning;
    }
}

small {
    font-size: x-small;
    color: @main-light-1;
}