<div class="background"></div>
<div class="commands">
    <button pButton class="ui-button-transparente" (click)="mostrarMenu($event)" icon="fa-plus"></button>
    <button pButton class="ui-button-transparente" (click)="save($event)" icon="fa-save"></button>
</div>
<div #charts class="ui-g-12 charts " dragula="INDICADORES" [(dragulaModel)]="indicadores">


    <div class="indicador" *ngFor="let ind of indicadores; let i = index; trackBy:trackByIndex"  >
            
           
        <p-card class="card" styleClass="graph" >
               <p-header>
                    <div class="ui-g-12 ui-g-nopad titulo handle">
                            <div class="handle ui-g-9 ui-g-nopad">
                                <label class="handle" title="{{ind.getTitulo()}}">{{indicadores[i].getTitulo()}}</label>
                            </div>
                            <div class="ui-g-3 ui-g-nopad buttons">
                                <button [ngClass]="{'seleccionado' : ind.mostrarFiltros}" pButton class="ui-button-transparente"
                                    (click)="ind.mostrarFiltros = !ind.mostrarFiltros" icon="fa-filter"></button>
        
                                <button pButton class="ui-button-transparente" (click)="deleteIndicador(indicadores[i])" icon="fa-times"></button>
                            </div>
        
                    </div>
               </p-header>
            <grafico [globalData]="globalData" [(indicador)]="indicadores[i]"></grafico>

        </p-card>
    </div>

    

</div>
<p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'"></p-menu>