@import "./../../app.variables.less";
.filters{
    overflow: visible;
}
.background{
    background-color: @main-light-1 !important;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: -10;
}
    :host /deep/ .tipo-indicador.ui-dropdown{
                width: 100% !important;
                padding: 2px 4px;

                label{
                    padding: 1px 4px;
                    line-height: 1.5em;
                }
                .ui-dropdown-trigger{
                    background: none;
                    /* padding: 2px 5px; */
                    border: none;
                    height: auto;
                    overflow: hidden;
                    color: black;
                }
    } 

    .commands{
        position: absolute;
        top:5em;
        right: 2em;
        z-index: 20;
        padding: 0.25em;


        button{
            font-size:1vw;
            color:@main-brand-light;
            background-color: white;
            border-radius: 20px;
            box-shadow: 2px 2px 4px rgba(105,105,107,0.33);
            border:none;
            width: 30px;
            height: 30px;
            
        }
    }
    .charts{
        
        padding: 0 4px;
        max-width: 100vw;
        height: 40vw;
        display: flex;
       flex-wrap: wrap;
       flex-direction: column;
       flex-basis: auto;
       
        
        .indicador{
            transition: all 0.1s ease-in-out;
            margin: 0.25em;
            width: auto;
            height: auto;         
            box-shadow: 1px 1px 4px rgba(105,105,107,0.33);
            
        }
        .titulo {
            background-color: @main-brand-light;
            color: @main-light-1;
            padding: 0px 0px 0px 15px;
            z-index: 100;
            overflow: hidden;
            text-overflow: ellipsis;
            label{
                width: 80%;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis; 
                font-size: 9pt;
                font-weight: bold;
                font-variant: small-caps;
                line-height: 2em;
                display: inline-block;
                
            }
        }
        .buttons{
            text-align: right;
            padding: 2px;
            .ui-button, .ui-button.ui-togglebutton{
                max-width: 20px;
                color: @main-light-1;
                display: inline-block;
                padding: 0;
            }
            button.seleccionado{
                color:@main-light-3;
                text-shadow: 0px 0px 1px @main-light-1;
            }
        }

        
    }

    :host /deep/ .resumen-filtro{
        background-color: @main-brand-light;
        color: @main-light-1;
        height: 3em;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        padding: 0px 0px 0px 15px;
        line-height: 2.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        .ui-g-nopad{
            padding:0 0.25em;
        }
        button{
            background-color: transparent;
            color:@main-light-1;
            border:none;
            padding: 0;
            
        }
        &.show{
            
            opacity: 1;
        }
    }

    :host /deep/ .filters{
        height: 0em;
        position: relative;
        margin: 0 auto;
        background-color: @main-brand-light;
        border:none;
        padding: 0 1em;
        color:@main-light-1;
        div{
            transition: opacity 0.1s ease-in-out;
            opacity: 0;
        }
        button{
            background-color: @main-brand-light;
            color:@main-light-1;
        }
        transition: height 0.2s ease-in-out;
        overflow:hidden;
        &.show{
            div{
                
                opacity: 1;
            }
            background-color: @main-brand-light;
            overflow: visible;
            padding: 0.5em 1em;
            height: 15em;
            z-index:10;
            
           
            
        }
        
    }
    :host /deep/ .graph.ui-card{
        /* width: 100% !important; */
        /* height: 100% !important; */
        border: none;
        border-radius: 2px;
        background-color: white;
        width: 100%;
        height: 100%;
        overflow: hidden;

    }

    :host /deep/ .card{
        
        .ui-card-body{
            padding: 0;
            margin-top: 2em;
            height:  calc(100% - 2em);
            overflow: visible;
            .ui-card-content{
                height: 100%;
            }

        }
       
    }
    
