@import "./../../../app/app.variables.less";



:host /deep/  input[type='number'] {
    -moz-appearance:textfield;
}

:host /deep/ input::-webkit-outer-spin-button,
:host /deep/ input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.no-paquete{
    transition: all 0.25s;
    min-height: 60px;
}
.paquete{
    transition: all 0.25s;
    min-height: 150px;
    
}
:host /deep/ .ui-expanded-row-content > td{
    padding: 0 !important;
}
:host /deep/ table{
    .fa-bold{
        color:@main-light-0;
        font-weight: bold;
    }
    td {
        transition: all 0.25s;
        .error{
        
        color: @error;
        font-weight: bold;
        font-size: 1.1em;
        text-shadow: 0 0 12px white;
        }
    }
}

.thead-default{
    text-align: right;
    button{
        width: 10%;
    }
}
:host /deep/ .subtable{
    thead{
        display:none;
    }
    tbody{
        border:none;
    }
    tr {
        border: none;
        border-color: #ccc;
        
        td{
            border:none;
            background-color: #fcfefc;
            border-right: 1px solid;
        }
        td:last-child{
            border:none;
        }
        
        
    }
}

:host /deep/ .ui-steps-item.ui-state-highlight{
    background-color: @main-brand-3;
    a{
        color: @main-light-contrast;
    }
}
:host /deep/ .ui-steps .ui-steps-item {
            width: 20%;
            border:none;
            transition: all 0.25s;
        }
        
:host /deep/ .ui-steps.steps-custom {
            margin-bottom: 30px;
        }
         
:host /deep/ .ui-steps .ui-steps-item .ui-menuitem-link{
          
            padding: 0.5em;
        }
         
:host /deep/ .ui-steps.steps-custom .ui-steps-item .ui-steps-number {
            background-color: #0081c2;
            color: #FFFFFF;
            display: inline-block;
            width: 36px;
            margin-top: -14px;
            margin-bottom: 10px;
        }
        
:host /deep/ .ui-steps.steps-custom .ui-steps-item .ui-steps-title {
            color: @main-light-1;
        }
    
:host /deep/ .ui-steps{
           
            transition: all 0.1s;
            border-bottom: 2px solid #323233;
            position: fixed;
            left: 6.5em;
            right: 6em;
            top: 9.5em;
            bottom: auto;
            height: 4.5em;
            z-index: 5;
            background-color: rgba(255,255,255,0.8);
            
        }
        
        .step{
            background-color: white;
            z-index: 1;
            &.hide{
                display: none;
            }
            .step-content{
                padding: 2em 1em 2em 1em;
                
            }
            border: none;
            /* display: inline-block; */
            overflow-y: auto;
            width: auto;
            /* margin: 0 auto; */
            position: absolute;
            top: 11.5em;
            bottom: 4.5em;
            right: 5em;
            left: 5em;
        }

        .buttons{
            display: inline-block;
            text-align: right;
            left: 5em;
            right: 5em;
            border-top: 2px solid #323233;
            bottom: 1.5em;
            top: auto;
            z-index: 5;
            position: absolute;
            background-color: rgba(255,255,255,0.9);
            .ui-button{
                display: inline-block;
                border:none;
                background-color: transparent;
                min-width: 5em;
                padding: 1em;
                color: @main-dark;
            }
            .ui-button:hover, .ui-button:focus{
                font-weight: bold;
            }
            .ui-button:disabled, {
                color: #ccc;
                text-shadow: none;
                font-weight: normal;
            }

            
            

        }
        