<div class="content has-header">
    <p-steps [model]="pasos" [(activeIndex)]="activeIndex" [styleClass]="'print-hide'"></p-steps>



    <div class="step " *ngIf="activeIndex === 0">
        <div class="step-content" *ngIf="contrato">
            <contrato-datos-cabecera [(contrato)]="contrato" [editable]="editable"></contrato-datos-cabecera>
        </div>
    </div>
    <!-- DATOS DEL SERVICIO-->
    <div class="step" *ngIf="activeIndex === 1">

        <div class="step-content ui-fluid ui-g-12">
            <contrato-datos-evento [(contrato)]="contrato" [editable]="editable"></contrato-datos-evento>
        </div>
    </div>
    <div class="step" *ngIf="activeIndex === 2">
        <div class="step-content ui-fluid ui-g-12">
            <contrato-detalle-servicios [(contrato)]="contrato" [editable]="editable"></contrato-detalle-servicios>
        </div>

    </div>
    <div class="step" *ngIf="activeIndex === 3">
        <div class="step-content ui-fluid ui-g-12">
            <contrato-detalle-comisiones [(contrato)]="contrato" [editable]="editable"></contrato-detalle-comisiones>
        </div>

    </div>
    <div class="step ui-fluid" *ngIf="activeIndex === 4">
        <div class="step-content ui-fluid ui-g-12">
            <contrato-visualizacion [(contrato)]="contrato" [editable]="editable"></contrato-visualizacion>
        </div>

    </div>
    <div class="buttons print-hide">
        <button pButton [disabled]="activeIndex === 0" label="Anterior" (click)="activeIndex = activeIndex - 1;" icon="fa-chevron-left"
            iconPos="left"></button>
        <button pButton [disabled]="!stepIsValid" label="Siguiente" (click)="activeIndex = activeIndex + 1;" icon="fa-chevron-right"
            iconPos="right"></button>
        <button pButton [disabled]="activeIndex < 4" label="Guardar" (click)="guardarContrato()" icon="fa-save" iconPos="left"></button>
        <button pButton label="Cancelar" (click)="cancelarContrato()" icon="fa-times" iconPos="left"></button>
    </div>
    <form #contratoForm="ngForm" (ngSubmit)="guardarContrato()" class="form-horizontal">







    </form>

</div>

<p-confirmDialog [key]="'acConf'" header="Cancelar Contrato" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>