
@import "./../../../app.variables.less";
:host /deep/ .ui-menuitem-icon,
:host /deep/ .ui-submenu-icon{
    color : @main-dark;
    font-size: 14pt;
}

:host /deep/  input[type='number'] {
    -moz-appearance:textfield;
}

:host /deep/ input::-webkit-outer-spin-button,
:host /deep/ input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

:host /deep/ tbody{
    .small-row{
        line-height: 1;
    }
    .ui-inputgroup {
        .ui-inputgroup-addon{
            padding: 0.25em;
            font-size: 10pt;
            background: none;
            border:none;
            color:black;
        }
        input{
            font-size: 10pt;
            padding: 0.5em
        }
    }
    
}
.totales{
    line-height: 1;
    background-color: @main-light-1;
    color: @main-dark;
    margin-top: 20px;
    border: none;
    font-size: 16pt;
    padding: 2px 10px;
}
.impuestos{
    .small-row{
        line-height: 1em;
        font-size: 12pt;    
        border: 1px solid @main-light-1;
        border-top:none;
        input{
            font-size: 10pt;    
            border: none;
            padding: 0.25em 0.5em;
           
        }
        .ui-inputgroup{
            input{
                border:none;
                border-bottom: 1px solid @main-light-1;
                text-align: right;
            }
            .ui-inputgroup-addon {
                color: black;
                background-color: transparent;
                border: none;
            }
        }
        label, span{
            display: block;
            font-size: 10pt;    
            padding: 3px;
            line-height: 1;
        }
     
    }
    .ui-g:first-child{
        border-top: 1px solid @main-light-1;
    } 
    
    
}