<div *ngIf="visible && factura" (keypress)="keyPressHandler($event)">
    <form #facturaForm="ngForm" (ngSubmit)="guardar()">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-8 ">
                <div class="ui-g-2 required">
                    <label for="fecha">Proveedor</label>
                </div>
                <div class="ui-g-4">
                    <descriptivo-selector name="proveedores" required [limpiable]=false [data]="proveedores" nombre="Proveedor" labelClass="hide"
                        [(ngModel)]="factura.proveedor" [editable]="editable"></descriptivo-selector>
                </div>

                <div class="ui-g-2 ui-g-offset-1 required ">
                    <label for="centro">Centro Csto.</label>
                </div>
                <div class="ui-g-3">
                    <descriptivo-selector name="centros" required [limpiable]=false [data]="centros" nombre="Centros" labelClass="hide"
                    [(ngModel)]="factura.centroCosto" [editable]="editable"></descriptivo-selector>
                   
                </div>

            </div>
            <div class="ui-g-12 ui-md-8 ">
                <div class="ui-g-2 required">
                    <label for="fecha">Fecha Factura</label>
                </div>
                <div class="ui-g-4">
                    <p-calendar [disabled]="!editable" [showIcon]="true" [(ngModel)]="factura.fecha" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"
                        name="fecha"></p-calendar>
                </div>
                <div class="ui-g-2 ui-g-offset-1 required">
                    <label for="fecha">Periodo IVA</label>
                </div>
                <div class="ui-g-3">
                    <p-calendar [disabled]="!editable" [showIcon]="true" [(ngModel)]="factura.fechaIVA" placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy"
                        name="fecha"></p-calendar>
                </div>

            </div>
            <div class="ui-g-12 ui-md-8 ">
                <div class="ui-g-2 required">
                    <label for="centro">Comprobante</label>
                </div>
                <div class="ui-g-4">
                        <descriptivo-selector name="tipoComprobante" required [limpiable]=false [data]="tiposComprobante" nombre="Tipos Comprobante" labelClass="hide"
                        [(ngModel)]="factura.tipoComprobante" [editable]="editable" ></descriptivo-selector>
                </div>
                <div class="ui-g-2 ui-g-offset-1 " [ngClass]="{'required' : factura && factura.esComprobanteNumerado}">
                    <label for="numero">Número</label>
                </div>
                <div class="ui-g-3">
                    <p-inputMask [disabled]="!editable" [(ngModel)]="factura.numero" name="numeroFactura" mask="9999-99999999" slotChar="_" placeholder="____-________"></p-inputMask>
                </div>


            </div>
            <div class="ui-g-12 ui-md-8 ">
                <div class="ui-g-2 ">
                    <label for="descripcion">Descripción</label>
                </div>
                <div class="ui-g-10">
                    <input [disabled]="!editable " placeholder="Descripción de la Factura" title="Descripción de la Factura" pInputText type="text"
                        name="descripcion" [(ngModel)]="factura.descripcion" />
                </div>


            </div>
        </div>
        <div class="ui-g  ui-fluid">

            <div class="ui-g-12 ui-md-8 items-factura">
                <p-dataTable [(value)]="factura.items" [editable]="true" [emptyMessage]="'No hay items en la factura'">
                    <p-header >

                        <div class="ui-g print-hide">
                            <div class="ui-g-2 label print-hide">
                                <h4>Items</h4>
                            </div>

                            <div class=" ui-g-offset-8 ui-g-2 pull-right print-hide" tabindex="4" *ngIf="habilitarItems()">
                                <button [disabled]="!editable" type="button" pButton class="" (click)="nuevoItemFactura()" label="Nuevo Item" icon="fa fa-plus"></button>
                            </div>
                        </div>

                    </p-header>
                    <p-column [style]="{'width':'20%'}" field="cuenta" header="Cuenta *">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <p-autoComplete *ngIf="editable" #autoFocus [dataKey]="'key'" field="descripcion" [disabled]="!editable" placeholder="Elija una Cuenta" focusInput
                                [suggestions]="cuentasFiltradas" (completeMethod)="searchCuentas($event)" [dropdown]="true" [style]="{'width':'100%'}"
                                [styleClass]="'cuenta'" [(ngModel)]="item.cuenta" [ngModelOptions]="{standalone:true}" [forceSelection]="true">

                            </p-autoComplete>
                            <span *ngIf="!editable">{{item.cuenta.descripcion}}</span>
                        </ng-template>

                    </p-column>
                    <p-column [style]="{'width':'25%'}" header="Detalle " field="descripcion">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <div class="ui-g-12 ui-inputgroup"  *ngIf="editable">
                                    <input  [disabled]="!editable" [(ngModel)]="item.descripcion" [ngModelOptions]="{standalone:true}" required/>
                            </div>
                            
                            <span *ngIf="!editable">{{item.descripcion}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'center','width':'20%'}" header="Importe" field="importe">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                                <div *ngIf="editable" class="ui-inputgroup">
                                        <span class="ui-inputgroup-addon">$</span>
                                        <input *ngIf="editable" type="number" [(ngModel)]="item.importe" [ngModelOptions]="{standalone:true}" />
                                    </div>
                                <span *ngIf="!editable">{{item.importe | currency :'USD':'symbol-narrow' }}</span>
                        </ng-template>
                    </p-column>

                    <p-column [style]="{'text-align': 'center','width':'10%'}" header="Tipo IVA">
                        <ng-template let-col let-item="rowData" pTemplate="body">
                            <p-dropdown [dataKey]="'codigo'" *ngIf="editable" [ngModelOptions]="{standalone:true}" [(ngModel)]="item.tipoIVA" [options]="tiposIVA"
                                [autoWidth]="false" [style]="{'width':'100%'}"></p-dropdown>
                                <span *ngIf="!editable">{{item.tipoIVA.descripcion }}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'center', 'width':'50px'}" [styleClass]="'print-hide'" *ngIf="editable" >
                        <ng-template let-col let-item="rowData" let-ri="rowIndex" pTemplate="body">
                            <button tabindex="1000" type="button" *ngIf="editable" pButton class="ui-button-danger" icon="fa-trash" (click)="factura.quitarItem(item)"
                                title="Eliminar Factura"></button>
                        </ng-template>
                    </p-column>

                </p-dataTable>
            </div>

        </div>
        <div class="ui-g ui-fluid" style="margin-top:10px">
            <div class="ui-g-12 ui-md-8 impuestos">
                <div class="ui-g small-row">
                    <div class="ui-g-2 ">
                        <label for="fecha">IVA 10,5%</label>
                    </div>
                    <div class="ui-g-4">
                        <span>{{factura.iva105 | currency :'USD':'symbol-narrow' }}</span>
                    </div>
                    <div class="ui-g-2 split">
                        <label for="fecha">IIBB CABA</label>
                    </div>
                    <div class="ui-g-4 pull-right">
                        <div *ngIf="editable" class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">$</span>
                            <input *ngIf="editable" type="number" [(ngModel)]="factura.iibbCABA" name="iibbCABA" [disabled]="!editable" />
                        </div>

                        <span *ngIf="!editable">{{factura.iibbCABA | currency :'USD':'symbol-narrow' }}</span>

                    </div>
                </div>
                <div class="ui-g small-row">

                    <div class="ui-g-2 ">
                        <label for="fecha">IVA 21%</label>
                    </div>
                    <div class="ui-g-4">
                        <span>{{factura.iva21 | currency :'USD':'symbol-narrow' }}</span>
                    </div>
                    <div class="ui-g-2 split">
                        <label for="fecha">IIBB BSAS</label>
                    </div>
                    <div class="ui-g-4 pull-right">
                        <div *ngIf="editable" class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">$</span>
                            <input *ngIf="editable" type="number" [(ngModel)]="factura.iibbBSAS" name="iibbBSAS" [disabled]="!editable" />
                        </div>

                        <span *ngIf="!editable">{{factura.iibbBSAS | currency :'USD':'symbol-narrow' }}</span>

                    </div>

                </div>
                <div class="ui-g small-row">

                    <div class="ui-g-2 ">
                        <label for="fecha">IVA 27%</label>
                    </div>
                    <div class="ui-g-4 ">
                        <span>{{factura.iva27 | currency :'USD':'symbol-narrow' }}</span>
                    </div>
                    <div class="ui-g-2 split">
                        <label for="fecha">IIBB OTROS</label>
                    </div>
                    <div class="ui-g-4 pull-right">
                        <div *ngIf="editable" class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">$</span>
                            <input *ngIf="editable" type="number" [(ngModel)]="factura.iibbOtros" name="iibbOtros" [disabled]="!editable" />
                        </div>

                        <span *ngIf="!editable">{{factura.iibbOtros | currency :'USD':'symbol-narrow' }}</span>

                    </div>

                </div>
                <div class="ui-g small-row">

                    <div class="ui-g-2 ">
                        <label for="fecha">Total IVA</label>
                    </div>
                    <div class="ui-g-4 ">
                        <span>{{factura.iva21 + factura.iva27 + factura.iva105 | currency :'USD':'symbol-narrow' }}</span>
                    </div>
                    <div class="ui-g-2 split">
                        <label for="fecha">Sellos</label>
                    </div>
                    <div class="ui-g-4 pull-right">
                        <div *ngIf="editable" class="ui-inputgroup">
                            <span class="ui-inputgroup-addon">$</span>
                            <input *ngIf="editable" type="number" [(ngModel)]="factura.impuestoSellos" name="impuestoSellos" [disabled]="!editable" />
                        </div>

                        <span *ngIf="!editable">{{factura.impuestoSellos | currency :'USD':'symbol-narrow' }}</span>

                    </div>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-8 ui-widget-header thead-default totales">

            <div class="ui-g-2 ui-g-offset-6 ">
                <h4>TOTAL</h4>
            </div>
            <div class="ui-g-4 pull-right importe">
                <h4>{{factura.total | currency :'USD':'symbol-narrow' }}</h4>
            </div>


        </div>
        <div class="ui-g-12 ui-md-8 ui-fluid" style="margin-top:20px">
            <div class="ui-g-2 ui-g-offset-8 " *ngIf="editable">
                <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()' class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-2 ui-g-offset-8 " *ngIf="!editable">
                <button pButton type="button" [disabled]="finalizado" label="Volver" (click)='volver()' class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-2">
                <button pButton label="Guardar" type="submit" [disabled]="!facturaForm.form.valid || 
                            !factura.centroCosto ||
                            !factura.proveedor || 
                            !factura.items || factura.items.length == 0 ||
                            finalizado ||
                            factura.total === 0 ||
                                !editable" class="ui-button-success"></button>
            </div>
        </div>
    </form>
</div>