<div class="content ">

    <div class="ui-header ui-g has-header">

        <div class="ui-g-6">
            <h3>{{ titulo }}</h3>
        </div>
        <div *ngIf="!editandoOrdenCobranza" class="ui-g-6 pull-right">
            <button pButton label="Nuevo Cobro" icon="fa-plus" class="" (click)="nuevaOrdenCobranza()"></button>

        </div>


    </div>
    <div [hidden]="editandoOrdenCobranza">
        <div class="ui-g ui-fluid filtros">
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-1 ">
                        <label for="centro">Centro</label>
                    </div>
                    <div class="ui-g-2">
                        <descriptivo-selector name="centros" required [limpiable]=false [data]="centros" nombre="Centro" labelClass="hide" [(ngModel)]="filtro.centro"></descriptivo-selector>
                    </div>
                    <div class="ui-g-1 " *ngIf="mostrarFiltrosCliente">
                        <label for="cliente">Cliente</label>
                    </div>
                    <div class="ui-g-2" *ngIf="mostrarFiltrosCliente">
                        <descriptivo-selector name="clientes" required [limpiable]=false [data]="clientes" nombre="Cliente" labelClass="hide" [(ngModel)]="filtro.cliente"></descriptivo-selector>
                    </div>
                    <div class="ui-g-1 ">
                        <label for="salon">Salón</label>
                    </div>
                    <div class="ui-g-2">
                        <descriptivo-selector name="salones" required [limpiable]=false [data]="salones" nombre="Salón" labelClass="hide" [(ngModel)]="filtro.salon"></descriptivo-selector>
                    </div>
                    <div class="ui-g-1 ">
                        <label for="horario">Horario</label>
                    </div>
                    <div class="ui-g-2">
                        <descriptivo-selector name="horarios" required [limpiable]=false [data]="horarios" nombre="Horario" labelClass="hide" [(ngModel)]="filtro.horario"></descriptivo-selector>
                    </div>
                </div>

                <div class="ui-g-12 ui-g-nopad">
                    <div class="ui-g-1">
                        <label for="fechaDesde">Desde</label>
                    </div>
                    <div class="ui-g-2">
                        <p-calendar [showIcon]="true" [maxDate]="filtro.fechaHasta" [(ngModel)]="filtro.fechaDesde" dateFormat="dd/mm/yy" name="fecha"></p-calendar>
                    </div>
                    <div class="ui-g-1">
                        <label for="fechaHasta"> Hasta</label>
                    </div>
                    <div class="ui-g-2">
                        <p-calendar [showIcon]="true" [minDate]="filtro.fechaDesde"[(ngModel)]="filtro.fechaHasta" dateFormat="dd/mm/yy"
                            name="fecha"></p-calendar>
                    </div>
                    <div class="ui-g-1">
                        <button type="button" [disabled]="!filtro.cliente" pButton icon="fa fa-search" (click)="updateOrdenCobranzas()"></button>
                    </div>
                </div>


            </div>
        </div>
        <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">


            <div class="ui-g">

                <div class="ui-g-7">
                    <input autocomple="off" #gboc type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
                </div>

                <div class="ui-g-5 filter">
                    <p-checkbox name="estados_g" label="Por Cobrar" value="PP" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Pendiente" value="P" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Aprobado" value="A" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                    <p-checkbox name="estados_g" label="Rechazado" value="R" (onChange)="filtrar()" [(ngModel)]="estadosSeleccionados"></p-checkbox>
                </div>

            </div>
        </div>
        <p-dataTable [styleClass]="'ordenes'" [value]="ordenesCobranza" [rows]=20 [emptyMessage]="'No se encontraron Cobros'" [globalFilter]="gboc"
            [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [(selection)]="ordenSeleccionada"
            dataKey="id" sortMode="multiple">
            <p-column [style]="{'width':'40px', 'text-align':'center'}" field="estado" header="">
                <ng-template let-col let-ordenCobranza="rowData" let-ri="rowIndex" pTemplate="body">
                    <span title="{{ordenCobranza.estado}}">
                        <i class="fa {{ordenCobranza.estado}}"></i>
                    </span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'5%','text-align':'center'}" field="numero" header="#"></p-column>
            <p-column [style]="{'width':'15%','text-align':'center'}" field="fecha" header="Fecha" [sortable]="true">
                <ng-template let-col let-oc="rowData" let-ri="rowIndex" pTemplate="body">
                    <span >{{oc.fechaFormateada}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'15%','text-align':'center'}" field="cliente.descripcion" header="Cliente" [sortable]="true"></p-column>
            <p-column [style]="{'width':'25%','text-align':'center'}" field="contrato.descripcion" header="Evento" [sortable]="true"></p-column>
            <p-column [style]="{'text-align': 'center','width':'20%'}" field="descripcion" header="Descripcion"></p-column>
            <p-column [style]="{'text-align': 'center','width':'15%'}" field="responsable" header="Responsable"></p-column>
            <p-column [style]="{'text-align': 'right','width':'10%'}" field="importe" header="Importe">
                <ng-template let-col let-oc="rowData" let-ri="rowIndex" pTemplate="body">
                    <span>{{oc.total | currency : 'USD' : 'symbol-narrow'}}</span>
                </ng-template>
            </p-column>
            <p-column [style]="{'text-align': 'center', 'width':'160px'}">
                <ng-template let-col let-oc="rowData" let-ri="rowIndex" pTemplate="body">
                    <button *ngIf="aprobable(oc)" pButton class="ui-button-success" icon="fa-check" (click)="aprobar(oc)" title="Aprobar Cobro"></button>
                    <button *ngIf="rechazable(oc)" pButton class="ui-button-danger" icon="fa-close" (click)="rechazar(oc)" title="Rechazar Cobro"></button>
                    <button *ngIf="esVisualizable(oc)" pButton class="" icon="fa-eye" (click)="editar(oc)" title="Ver Cobro"></button>
                    <button *ngIf="esEditable(oc)" pButton class="" icon="fa-pencil" (click)="editar(oc)" title="Editar Cobro"></button>
                    <button *ngIf="eliminable(oc)" pButton class="ui-button-danger" icon="fa-trash" (click)="eliminar(oc)" title="Eliminar Cobro"></button>
                </ng-template>
            </p-column>
            <p-footerColumnGroup>
                <p-row>
                    <p-column [style]="{'text-align':'right'}" footer="Total:" colspan="7"></p-column>
                    <p-column [style]="{'text-align':'right'}" footer="{{saldo}}">
                        <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="footer">
                            <span>{{saldo | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align':'right'}" footer="" colspan="1"></p-column>
                </p-row>
            </p-footerColumnGroup>
        </p-dataTable>

        <div *ngIf="itemsOrden.length > 0" class="ui-g">
            <div>
                <h4>Cuotas Imputadas</h4>
            </div>
            <div class="ui-g-12">
                <p-dataTable [value]="itemsOrden" [emptyMessage]="'No hay Cuotas'">
                    <p-column [style]="{'text-align': 'center','width':'10%'}" field="cuotaServicio.cantidadFormateada" header="Cant. / %"></p-column>
                    <p-column [style]="{'text-align': 'center','width':'20%'}" field="cuotaServicio.descripcion" header="Descripción"></p-column>
                    <p-column [style]="{'text-align': 'right','width':'15%'}" field="cuotaServicio.total" header="Importe">
                        <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{op.cuotaServicio.total | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'right','width':'15%'}" field="cabeceraFactura.saldo" header="Saldo">
                        <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{op.cuotaServicio.saldo | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                    <p-column [style]="{'text-align': 'right','width':'20%'}" field="importe" header="Importe Pagado">
                        <ng-template let-col let-op="rowData" let-ri="rowIndex" pTemplate="body">
                            <span>{{op.importe | currency : 'USD' : 'symbol-narrow'}}</span>
                        </ng-template>
                    </p-column>
                </p-dataTable>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-g-nopad" *ngIf="vista === 'ocs-gestion'">
        <gestion-oc [cabeceraOrdenCobranza]="ordenCobranzaEditada" [centroCosto]="filtro.centro" [cliente]="filtro.cliente" [(visible)]="editandoOrdenCobranza"
            (onOrdenCobranzaGuardada)="onOrdenCobranzaGuardada()" (onCancelar)="onEdicionCancelada()">
        </gestion-oc>

    </div>
    <p-confirmDialog [key]="'opConf'" [appendTo]="'body'" header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si"
        rejectLabel="No"></p-confirmDialog>