
@import "./../../../app.variables.less";
:host /deep/ .ui-menuitem-icon,
:host /deep/ .ui-submenu-icon{
    color : @main-dark;
    font-size: 14pt;
}

:host /deep/ .ordenes{
    tr{
        cursor: pointer;
    }
}