<div class="content has-header">
    
    <div class="cabecera">
        <div class="row">
            <div class="col-xs-12">
                <h3>SALONES</h3>
            </div>
            <div class="col-xs-12">

            </div>
        </div>
    </div>

    <div class="ui-widget-header thead-default" style="padding:4px 10px;border-bottom: 0 none">
        <div class="ui-g">
            <div class="ui-g-10">
              <input autocomple="off" #gb type="text" pInputText size="50" placeholder="Buscar..." class="form-control">
            </div>
            <div class="ui-g-2" style="text-align:center">
              <button pButton label="Nuevo Salon" icon="fa-plus" class="" (click)="nuevoSalon()"></button>
            </div>
          </div>        
    </div>

    <p-dataTable [value]="salones" [rows]="10" [paginator]="true" [pageLinks]="4" [rowsPerPageOptions]="[5,10,20]" [responsive]="true"
        [globalFilter]="gb">
        <p-column [style]="{'width':'20%', 'text-align':'center'}" field="nombre" header="Nombre"  [sortable]="true">
            <ng-template let-col let-salon="rowData" pTemplate="nombre">
                {{salon.nombre}}
                <a *ngIf="salon.website" href="{{salon.website}}" title="{{salon.website}}" target="_blank">
                    <i class="icon-mundo"></i>
                </a>
                <a *ngIf="salon.facebook" href="{{salon.facebook}}" title="{{salon.facebook}}" target="_blank">
                    <i class="icon-facebook"></i>
                </a>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'30%', 'text-align':'center'}" field="contactoCompleto" header="Contacto" >
                <ng-template pTemplate="body" let-col let-salon="rowData" let-ri="rowIndex">
                        <div class="ui-g no-padding">
                          <div class="ui-g-4 overflow"><span title="Nombre de Contacto: {{salon.nombreContacto}}"><i class="fa  fa-user-o"></i>  {{salon.nombreContacto}} </span></div>
                          <div class="ui-g-4 overflow"><i class="fa fa-envelope-o "></i> <a target="_blank" href="mailto:{{salon.email}}" title="Email: {{salon.email}}">  {{salon.email}} </a></div>
                          <div class="ui-g-4 overflow"><span title="Teléfono: {{salon.telefono}}"><i class="fa fa-phone "></i>  {{salon.telefono}} </span></div>
                        </div>   
                      </ng-template>
        </p-column>
        <p-column [style]="{'width':'30%', 'text-align':'center'}" field="direccionCompleta" header="Dirección" >
            <ng-template let-col let-salon="rowData" let-ri="rowIndex" pTemplate="body">
                <a *ngIf="salon.latitud" title="Ver en mapa" href="http://www.google.com/maps/place/{{salon.latitud}},{{salon.longitud}}"
                    target="_blank">
                    <i class="fa fa-map-marker"></i>
                </a> {{salon.direccionCompleta.split("##")[0]}}
                <br/> {{salon.direccionCompleta.split("##")[1]}}
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'10%', 'text-align':'center'}" field="estado" header="Estado" >
            <ng-template let-col let-salon="rowData" let-ri="rowIndex" pTemplate="body">
                 {{salon.estado}}                
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'10%', 'text-align':'center'}" field="direccionCompleta" header="Acciones">
            <ng-template let-col let-salon="rowData" let-ri="rowIndex" pTemplate="body">
                <button pButton icon="fa-pencil" (click)="editarSalon(salon)" title="Editar Salon"></button>
                <button pButton *ngIf="salon.activo"  class="ui-button-danger" icon="fa-trash" (click)="eliminar(salon)" title="Borrar Salon"></button>
                <button pButton *ngIf="!salon.activo"  class="ui-button-success" icon="fa-check-square" (click)="habilitar(salon)" title="Habilitar Salon"></button>
            </ng-template>
        </p-column>
    </p-dataTable>
    <p-confirmDialog header="Confirmar" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
    
</div>