@import "./../../app.variables.less";


.selector .options .option-clumple-15 {
    color: black;
    cursor: pointer;
    padding: 10px 0 10px 0;
     i{
        font-size: 4em;
        font-weight: bold;
    }
    span{
        line-height: 30px;
        font-weight: bolder;
    }
    
}


.selector .options .option-boda {
    color: black;
    padding: 10px 0 10px 0;
    cursor: pointer;
    i{
        font-size: 4em;
        font-weight: bold;
    }
    span{
        line-height: 30px;
        font-weight: bolder;

    }
}
.selector{
    width: 100%;
    height: 100%;
}
.selector-template .template{
    text-align: center;
    padding: 5px;
    margin-top: 10px; 
    textarea{
        height: 340px;
        width: 450px;
    }
}
.selector .options{
    padding: 5px;
    text-align: center;
}