<div class="ui-fluid gestion-marca">
    <form #itemForm="ngForm" (ngSubmit)="guardarItem()">

        <div class="ui-g-12">
            <div class="ui-g-12 ui-g ui-fluid">
                <div class="ui-g-12 imagen">
                    <img [src]="imagenVisible" alt="" (click)="fileSelector.click()">

                    <input type="file" #fileSelector [hidden]="true" (change)="readURL($event)" name="file">
                </div>
                <div class="ui-g-12 ui-nopad ">
                    <span class="legend">Haga clic sobre la imágen para seleccionar una</span>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-8">
                        <span class="ui-float-label">
                            <input title="Descripción" [disabled]="!editable" [(ngModel)]="item.descripcion" type="text"
                                name="descripcion" pInputText required>
                            <label for="float-input">Descripción</label>
                        </span>
                    </div>
                    <div class="ui-g-4">
                            <span class="ui-float-label">
                                <input title="Peso para ordenar las marcas" [disabled]="!editable" [(ngModel)]="item.peso" type="number"
                                    name="peso" pInputText required>
                                <label for="float-input">Peso</label>
                            </span>
                        </div>



                </div>
            </div>

        </div>


        <div class="ui-g-12 ui-fluid" style="margin-top:20px">
            <div class="ui-g-4 ui-g-offset-4 ">
                <button pButton type="button" [disabled]="finalizado" label="Cancelar" (click)='confirmarCancelar()'
                    class="ui-button-secondary"></button>
            </div>
            <div class="ui-g-4">
                <button pButton label="Guardar" type="submit"
                    [disabled]="!itemForm.form.valid || finalizado || !editable" class="ui-button-success"></button>
            </div>
        </div>



    </form>

</div>



<p-confirmDialog header="Cancelar Edición" icon="fa fa-question-circle" width="425" acceptLabel="Si" rejectLabel="No">
</p-confirmDialog>