.gestion-marca{
    .imagen{
        width: 350px;
        height: 250px;
        overflow: hidden;
        display: flex;
        margin:0 auto;
        border:1px solid black;
        background-color: white;
        img{
            width: 100%;
            max-height: 100%;
            align-self: center;
        }
       
    }
    span.legend{
        display: block;
        width: 100%;
        align-self: center;
        margin: 0 auto;
        text-align: center;
    }
}